@model Ocuda.Promenade.Controllers.ViewModels.Help.ScheduleTimesViewModel

@if (Model?.SegmentText != null)
{
    if (!string.IsNullOrEmpty(Model.SegmentText.Header))
    {
        <h1>@Model.SegmentText.Header</h1>
    }
    @Html.Raw(Model.SegmentText.Text)
}
else
{
    <h1>@Localizer[Promenade.ScheduleYourTime]</h1>
}

<div class="row">
    <div class="col-12">
        <form method="post"
              asp-action="@nameof(HelpController.ScheduleTimes)"
              asp-controller="@HelpController.Name"
              asp-route-culture=""
              type="date"
              formgroup>
            <input type="hidden" name="ScheduleRequestTime" value="@Model.ScheduleRequestTime">

            <input asp-for="DisplayTime" formgroup readonly />
            @foreach (var suggestedTime in Model.SuggestedTimes)
            {
                <div class="row justify-content-end my-1">
                    <div class="col-md-9">
                        <input type="radio"
                               id="@suggestedTime.ToString("s", System.Globalization.CultureInfo.InvariantCulture)"
                               name="@nameof(Model.SelectedTime)"
                               value="@suggestedTime.ToString("s", System.Globalization.CultureInfo.InvariantCulture)" />
                        <label for="@suggestedTime.ToString("s", System.Globalization.CultureInfo.InvariantCulture)">
                            @suggestedTime.ToString("f")
                        </label>
                    </div>
                </div>
            }
            <div>
                <div class="row justify-content-end my-1">
                    <div class="col-md-9">
                        <input type="radio"
                               id="requestedDateTime"
                               name="@nameof(Model.SelectedTime)"
                               value=""
                               required />
                        <label for="requestedDateTime">@Localizer[Promenade.ScheduleRequestDifferentTime]</label>
                    </div>
                </div>

                <input asp-for="RequestedDate"
                       type="date"
                       formgroup />
                <select asp-for="RequestedTime"
                        asp-items="Model.TimeBlocks"
                        formgroup>
                </select>
            </div>
            <div>
                <a asp-action="@nameof(HelpController.Schedule)"
                   asp-controller="@HelpController.Name"
                   asp-route-culture=""
                   class="btn btn-outline-dark m-2 btn-lg float-start">
                    <span class="fa-solid fa-chevron-left"></span>
                    @Localizer[Promenade.ButtonBack]
                </a>
                <button type="submit"
                        class="btn btn-outline-dark m-2 btn-lg float-end">
                    @Localizer[Promenade.ButtonNext]
                    <span class="fa-solid fa-chevron-right"></span>
                </button>
            </div>
        </form>
    </div>
</div>
