@model Ocuda.Ops.Controllers.Areas.SiteManagement.ViewModels.Segment.IndexViewModel
@section styles{
    <link rel="stylesheet" href="~/css/md.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/dt-picker.min.css" asp-append-version="true" />
}
<div class="row">
    <div class="modal fade"
         id="deleteModal"
         tabindex="-1"
         role="dialog"
         aria-labelledby="deleteModalLabel">
        <div class="modal-dialog" role="document">
            <form asp-action="@nameof(LocationsController.DeleteLocation)"
                  method="post"
                  role="form"
                  style="display:inline">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title" id="deleteModalLabel">Delete Location</h4>
                        <button type="button"
                                class="close"
                                data-dismiss="modal"
                                aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <span class="fa fa-exclamation-triangle" aria-hidden="true"></span>
                        <span id="modal-text">Unable to Delete Segments for now</span>
                    </div>
                    <div class="modal-footer">
                        <button type="button"
                                class="btn btn-default"
                                data-dismiss="modal"
                                style="margin-right: 1em;">
                            Cancel
                        </button>
                        <button type="submit"
                                class="btn btn-danger btn-spinner pull-right"
                                disabled
                                aria-label="Confirm">
                            <span class="fas fa-spinner fa-times" aria-hidden="true"></span>
                            Delete
                            <span class="fa fa-spinner fa-pulse fa-lg fa-fw d-none"></span>
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="modal fade" id="addSegmentModal" tabindex="-1" role="dialog" aria-labelledby="listModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="row">
            <div class="col-12 col-sm-10 col-sm-offset-1">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="addModalTitle">Add Segment</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <form asp-action="@nameof(SegmentsController.CreateSegment)"
                          method="post"
                          role="form">
                        <div class="modal-body">
                            <div id="modalItemList" class="col-12">
                                <div class="col-sm-9">
                                    <input asp-for="Segment.Name"
                                           formgroup
                                           autocomplete="off" />
                                    <div class="col">
                                        <input asp-for="Segment.StartDate"
                                               formgroup
                                               datetime-picker="DateTimePickerType.DateTime"
                                               autocomplete="off" />
                                    </div>
                                    <div class="col">
                                        <input asp-for="Segment.EndDate"
                                               formgroup
                                               datetime-picker="DateTimePickerType.DateTime"
                                               autocomplete="off" />
                                    </div>
                                    <div class="row form-group">
                                        <label class="col-form-label text-md-right col-md-3">
                                            Is Active?
                                        </label>
                                        <div class="flex-md-grow-0 form-group-inner col-md-9">
                                            <div class="custom-control custom-switch">
                                                <input type="checkbox"
                                                       class="custom-control-input segmentIsActive"
                                                       asp-for="Segment.IsActive"
                                                       value="false"
                                                       id="segmentIsActive" />
                                                <label class="col-form-label text-md-right col-md-3 custom-control-label text-hide" for="segmentIsActive"></label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="submit" value="Submit" class="btn btn-primary">Save</button>
                            <button type="button"
                                    class="btn btn-default"
                                    data-dismiss="modal"
                                    style="margin-right: 1em;">
                                Close
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="editSegmentModal" tabindex="-1" role="dialog" aria-labelledby="listModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="row">
            <div class="col-12 col-sm-10 col-sm-offset-1">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="editModalTitle">Edit Segment</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <form asp-action="@nameof(SegmentsController.EditSegment)"
                          method="post"
                          role="form">
                        <div class="modal-body">
                            <div id="modalItemList" class="col-12">
                                <div class="col-sm-9">
                                    <input asp-for="Segment.Id"
                                           autocomplete="off"
                                           type="hidden" />
                                    <input asp-for="Segment.Name"
                                           formgroup
                                           autocomplete="off" />
                                    <div class="col">
                                        <input asp-for="Segment.StartDate"
                                               formgroup
                                               autocomplete="off"
                                               datetime-picker="DateTimePickerType.DateTime"
                                               id="Segment_EditStartDate" />
                                    </div>
                                    <div class="col">
                                        <input asp-for="Segment.EndDate"
                                               formgroup
                                               autocomplete="off"
                                               datetime-picker="DateTimePickerType.DateTime"
                                               id="Segment_EditEndDate" />
                                    </div>
                                    <div class="row form-group">
                                        <label class="col-form-label text-md-right col-md-3">
                                            Is Active?
                                        </label>
                                        <div class="flex-md-grow-0 form-group-inner col-md-9">
                                            <div class="custom-control custom-switch">
                                                <input type="checkbox"
                                                       class="custom-control-input segmentIsActive"
                                                       asp-for="Segment.IsActive"
                                                       value="false"
                                                       id="editSegmentIsActive" />
                                                <label class="col-form-label text-md-right col-md-3 custom-control-label text-hide" for="editSegmentIsActive"></label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="submit" value="Submit" class="btn btn-primary">Update</button>
                            <button type="button"
                                    class="btn btn-default"
                                    data-dismiss="modal"
                                    style="margin-right: 1em;">
                                Close
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="addSegmentTextModal" tabindex="-1" role="dialog" aria-labelledby="listModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="row">
            <div class="col-12 col-sm-10 col-sm-offset-1">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="addModalTitle">Add SegmentText</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <form asp-action="@nameof(SegmentsController.CreateSegmentText)"
                          method="post"
                          role="form">
                        <div class="modal-body">
                            <div id="modalSegmentTextList" class="col-12">
                                <div class="col-sm-9">
                                    <input asp-for="SegmentText.SegmentId"
                                           autocomplete="off"
                                           type="hidden" />
                                    <div class="row" style="padding-top: 1rem;">
                                        <div class="col-12">
                                            <select asp-for="SegmentText.LanguageId"
                                                    asp-items="Model.LanguageList"
                                                    formgroup>
                                                <option></option>
                                            </select>
                                        </div>
                                    </div>
                                    <input asp-for="SegmentText.Header"
                                           formgroup
                                           autocomplete="off" />
                                    <div class="form-group row" id="content-div">
                                        <label asp-for="SegmentText.Text"
                                               class="col-md-3 col-form-label text-md-right"></label>
                                        <div class="col-md-9">
                                            <ul class="nav nav-tabs">
                                                <li class="nav-item">
                                                    <a class="nav-link active"
                                                       data-toggle="tab"
                                                       href="#md-edit"
                                                       role="tab">Edit</a>
                                                </li>
                                                <li class="nav-item">
                                                    <a class="nav-link"
                                                       data-toggle="tab"
                                                       href="#md-preview"
                                                       role="tab">Preview</a>
                                                </li>
                                            </ul>
                                            <div class="tab-content" id="md-edit-preview">
                                                <div class="tab-pane show active"
                                                     id="md-edit"
                                                     role="tabpanel">
                                                    <div id="wmd-button-bar"
                                                         class="wmd-button-row"></div>
                                                    <textarea asp-for="SegmentText.Text"
                                                              class="form-control wmd-input"
                                                              id="wmd-input">
                                                    </textarea>
                                                </div>
                                                <div class="tab-pane" id="md-preview" role="tabpanel">
                                                    <div id="preview" class="wmd-preview"></div>
                                                </div>
                                                <span asp-validation-for="SegmentText.Text"
                                                      class="text-danger"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="submit" value="Submit" class="btn btn-primary">Save</button>
                            <button type="button"
                                    class="btn btn-default"
                                    data-dismiss="modal"
                                    style="margin-right: 1em;">
                                Close
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<div>
    <div class="row">
        <div>
            <div class="card">
                <div class="card-header">
                    <span class="h5">Segments</span>
                    <a role="button"
                       class="text-success align-middle float-right"
                       id="addFileLibrary"
                       data-toggle="modal"
                       data-target="#addSegmentModal">
                        <span class="fas fa-plus-circle fa-lg align-middle"></span>
                    </a>
                </div>
                @if (Model.Segments.Count() == 0)
                {
                    <div class="alert alert-warning">No Locations found.</div>
                }
                else
                {

                    <div class="card-body">
                        <table class="table table-sm table-bordered link-table">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Languages</th>
                                    <th>Is Active?</th>
                                    <th>&nbsp;</th>
                                    <th>&nbsp;</th>
                                    <th>&nbsp;</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var segment in Model.Segments)
                                {
                                    <tr>
                                        <td class="td-class">
                                            <a asp-action="@nameof(SegmentsController.SegmentDetails)"
                                               asp-route-id="@segment.Id">
                                                @segment.Name
                                            </a>
                                        </td>
                                        <td>
                                            @string.Join(", ", segment.SegmentLanguages)
                                        </td>
                                        <td class="text-center"
                                            style="vertical-align:middle;">
                                            <span class="text-success @(segment.IsActive ? "fas fa-check" : "")"></span>
                                        </td>
                                        <td>
                                            <button data-segmentId="@segment.Id"
                                                    class="btn btn-link text-primary editSegment"
                                                    data-toggle="modal"
                                                    data-target="#editSegmentModal">
                                                <span class="fas fa-edit fa-lg align-middle"></span>
                                            </button>
                                        </td>
                                        <td>
                                            <button data-segmentId="@segment.Id"
                                                    @if (Model.AvailableLanguages.Except(segment.SegmentLanguages).Any()) { @: class="btn btn-link text-success addSegmentText"
                                                     @: data-toggle="modal"
                                                     @: data-target="#addSegmentTextModal"
                                                    } else { @: class="btn btn-link text-secondary disabled"
                                                    }>
                                                <span class="fas fa-plus-circle fa-lg align-middle"></span>
                                            </button>
                                        </td>
                                        <td class="on-top gra-mc-icon">
                                            <button type="button"
                                                    class="btn btn-link text-danger"
                                                    data-toggle="modal"
                                                    data-target="#deleteModal"
                                                    data-id="@segment.Id">
                                                <span class="far fa-times-circle fa-lg"
                                                      aria-hidden="true"></span>
                                            </button>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                    @if (Model.PaginateModel.MaxPage > 1)
                    {
                        <div class="card-footer">
                            <paginate paginateModel="@Model.PaginateModel"></paginate>
                        </div>
                    }

                }
            </div>
        </div>
    </div>
</div>

@section scripts {
    <script src="~/js/md.min.js" asp-append-version="true"></script>
    <script src="~/js/dt-picker.min.js" asp-append-version="true"></script>
    <script>

        $(".segmentIsActive").click(function () {
            if ($(this).val().toLowerCase() == "false") {
                $(this).val("true");
            }
            else {
                $(this).val("false");
            }
        });

        $(".addSegmentText").click(function () {
            @foreach (var segment in Model.Segments)
            {
                <text>
                if (@segment.Id == $(this).data("segmentid"))
                {
                    var segmentId = $("#addSegmentTextModal").find("#SegmentText_SegmentId");
                    segmentId.val(@segment.Id);
                }
                </text>
            }
        });
        $(".editSegment").click(function () {
            @foreach (var segment in Model.Segments)
            {
                <text>
                if (@segment.Id == $(this).data("segmentid"))
                {
                    var modal = $("#editSegmentModal");
                    modal.find("#Segment_Id").val(@segment.Id);
                    modal.find("#Segment_Name").val("@segment.Name");
                    modal.find("#Segment_EditStartDate").val("@segment.StartDate?.ToString()");
                    modal.find("#Segment_EditEndDate").val("@segment.EndDate?.ToString()");
                    if ("@segment.IsActive.ToString().ToLower()" !=  modal.find("#editSegmentIsActive").val()) {
                        modal.find(".segmentIsActive").click()
                    }
                }
                </text>
            }
        });
            $(function () {
                $("#addSegmentModal").find('#Segment_StartDate').datetimepicker(
                    {
                        format: 'MM/dd/yyyy hh:mm a',
            allowInputToggle: true,
            sideBySide: true,
            icons: {
                time: "far fa-clock",
                date: "fa fa-calendar",
                up: "fa fa-arrow-up",
                down: "fa fa-arrow-down",
                previous: "fa fa-arrow-left",
                next: "fa fa-arrow-right"
                    }
            });
                $("#addSegmentModal").find('#Segment_StartDate').datetimepicker(
                    {
                        format: 'MM/dd/yyyy hh:mm a',
            allowInputToggle: true,
            sideBySide: true,
            icons: {
                time: "far fa-clock",
                date: "fa fa-calendar",
                up: "fa fa-arrow-up",
                down: "fa fa-arrow-down",
                previous: "fa fa-arrow-left",
                next: "fa fa-arrow-right"
                    }
            });
                $("#editSegmentModal").find('#Segment_EditStartDate').datetimepicker(
                    {
                        format: 'MM/dd/yyyy hh:mm a',
            allowInputToggle: true,
            sideBySide: true,
            icons: {
                time: "far fa-clock",
                date: "fa fa-calendar",
                up: "fa fa-arrow-up",
                down: "fa fa-arrow-down",
                previous: "fa fa-arrow-left",
                next: "fa fa-arrow-right"
                    }
            });
                $("#editSegmentModal").find('#Segment_EditStartDate').datetimepicker(
                    {
                        format: 'MM/dd/yyyy hh:mm a',
            allowInputToggle: true,
            sideBySide: true,
            icons: {
                time: "far fa-clock",
                date: "fa fa-calendar",
                up: "fa fa-arrow-up",
                down: "fa fa-arrow-down",
                previous: "fa fa-arrow-left",
                next: "fa fa-arrow-right"
                    }
                });
            });
    </script>
}