@model Ocuda.Ops.Controllers.Areas.Incident.ViewModel.DetailsViewModel

<div class="row mb-2">
    <div class="col-sm-8">
        <h1>
            @Model.Heading
            @if (!string.IsNullOrEmpty(Model.SecondaryHeading))
            {
                <small class="text-muted">@Model.SecondaryHeading</small>
            }
        </h1>
    </div>
    <div class="col-sm-4">
        <a class="btn btn-outline-dark mt-2 mb-1 ml-2 float-right d-print-none"
           asp-controller="@Ocuda.Ops.Controllers.Areas.Incident.HomeController.Name"
           asp-action="@nameof(Ocuda.Ops.Controllers.Areas.Incident.HomeController.Mine)"
           asp-route-page="@(Model.Page > 1 ? Model.Page : null)">Back</a>
        @if (Model.CanAdd)
        {
            <button class="btn btn-outline-success mt-2 mb-1 mr-2 float-right">
                <span class="fas fa-plus-circle" aria-hidden="true"></span>
                Add Follow-up
            </button>
            <button class="btn btn-outline-success mt-2 mb-1 mr-2 float-right">
                <span class="fas fa-plus-circle" aria-hidden="true"></span>
                Add Relationship
            </button>
        }
    </div>
</div>

@if (Model.CanAdd)
{
    <form asp-action="@nameof(HomeController.AddFollowup)" method="post" role="form">
        <input type="hidden" name="incidentId" value="@Model.Incident.Id" />
        <div modal
         isLarge="true"
         id="addFollowup"
         name="Follow-up"
         type="Ocuda.Utility.TagHelpers.ModalTypes.Add"
         data-backdrop="static">
            <div class="form-group">
                <label for="followupText">Incident follow-up</label>
                <textarea class="form-control"
                      name="followupText"
                      id="followupText"
                      required
                      data-val="true"
                      data-val-required="Please enter follow-up text."></textarea>
                <span class="validation-message text-danger field-validation-valid"
                  data-valmsg-for="followupText"
                  data-valmsg-replace="true"></span>
            </div>
        </div>
    </form>

    <form asp-action="@nameof(HomeController.AddRelationship)" method="post" role="form">
        <input type="hidden" name="incidentId" value="@Model.Incident.Id" />
        <div modal
         isLarge="true"
         id="addRelationship"
         name="Relationship"
         type="Ocuda.Utility.TagHelpers.ModalTypes.Add"
         data-backdrop="static">
            <div class="form-group">
                <label for="relatedIncidentId">Incident id</label>
                < type="number"
            class="form-control"
            name="relatedIncidentId"
            id="relatedIncidentId"
            required
            data-val="true"
            data-val-required="Please enter an Incident Report id." />
                <span class="validation-message text-danger field-validation-valid"
                  data-valmsg-for="relatedIncidentId"
                  data-valmsg-replace="true"></span>
            </div>
        </div>
    </form>
}

<div class="row">
    <div class="col-12 col-md-8 offset-md-2">
        <table class="table table-sm table-bordered">
            <tr>
                <th colspan="2" class="table-secondary">Incident report information</th>
            </tr>
            <tr>
                <th class="fieldname">Incident number</th>
                <td>@Model.Incident.Id</td>
            </tr>
            <tr>
                <th>Date &amp; time report filed</th>
                <td>@Model.Incident.CreatedAt</td>
            </tr>
            <tr>
                <th>Report filed by</th>
                <td>
                    @if (!string.IsNullOrEmpty(Model.Incident.ReportedByName))
                    {
                        @Model.Incident.ReportedByName
                    }
                    else
                    {
                        @Model.Incident.CreatedByUser?.Name
                    }
                </td>
            </tr>
        </table>
    </div>
</div>


<div class="row mt-2">
    <div class="col-12 col-md-8 offset-md-2">
        <table class="table table-sm table-bordered">
            <tr>
                <th colspan="2" class="table-secondary">Incident information</th>
            </tr>
            <tr>
                <th class="fieldname">Date &amp; time of incident</th>
                <td>@Model.Incident.IncidentAt</td>
            </tr>
            <tr>
                <th>Incident type</th>
                <td>@Model.IncidentTypes[Model.Incident.IncidentTypeId]</td>
            </tr>
            <tr>
                <th>Location</th>
                <td>
                    @Model.Locations[Model.Incident.LocationId]
                    <br />
                    @Model.Incident.LocationDescription
                </td>
            </tr>
        </table>
    </div>
</div>

<div class="row mt-2">
    <div class="col-12 col-md-8 offset-md-2">
        <table class="table table-sm table-bordered table-striped">
            <tr>
                <th colspan="3" class="table-secondary">Description</th>
            </tr>
            <tr>
                <td colspan="3">
                    @Model.Incident.Description
                </td>
            </tr>
        </table>
    </div>
</div>


@if (Model.Witnesses?.Count > 0)
{
    <div class="row mt-2">
        <div class="col-12 col-md-8 offset-md-2">
            <table class="table table-sm table-bordered table-striped">
                <tr>
                    <th colspan="3" class="table-secondary">Witnesses</th>
                </tr>
                <tr>
                    <th class="typefieldname">Type</th>
                    <th class="namefieldname">Name/Barcode</th>
                    <th>Description</th>
                </tr>
                @foreach (var witness in Model.Witnesses)
                {
                    <tr>
                        @if (witness.Id == default)
                        {
                            <td>Non-staff</td>
                        }
                        else
                        {
                            <td>Staff</td>
                        }
                        <td>
                            @witness.Name
                            @if (!string.IsNullOrEmpty(witness.Name) && !string.IsNullOrEmpty(witness.Barcode))
                            {
                                <br />
                            }
                            @witness.Barcode
                        </td>
                        <td>@witness.Description</td>
                    </tr>
                }
            </table>
        </div>
    </div>
}

<div class="row mt-2">
    <div class="col-12 col-md-8 offset-md-2">
        <table class="table table-sm table-bordered table-striped">
            <tr>
                <th colspan="3" class="table-secondary">Injuries/Damage</th>
            </tr>
            <tr>
                <td colspan="3">
                    @Model.Incident.InjuriesDamages
                </td>
            </tr>
        </table>
    </div>
</div>

@if (Model.Witnesses?.Count > 0)
{
    <div class="row mt-2">
        <div class="col-12 col-md-8 offset-md-2">
            <table class="table table-sm table-bordered table-striped">
                <tr>
                    <th colspan="3" class="table-secondary">Affected People</th>
                </tr>

                <tr>
                    <th class="typefieldname">Type</th>
                    <th class="namefieldname">Name/Barcode</th>
                    <th>Description</th>
                </tr>
                @foreach (var participant in Model.Participants)
                {
                    <tr>
                        @if (participant.Id == default)
                        {
                            <td>Non-staff</td>
                        }
                        else
                        {
                            <td>Staff</td>
                        }
                        <td>
                            @participant.Name
                            @if (!string.IsNullOrEmpty(participant.Name) && !string.IsNullOrEmpty(participant.Barcode))
                            {
                                <br />
                            }
                            @participant.Barcode
                        </td>
                        <td>@participant.Description</td>
                    </tr>
                }
            </table>
        </div>
    </div>
}

@if (Model.Incident.Followups?.Count > 0)
{
    <div class="row mt-2">
        <div class="col-12 col-md-8 offset-md-2">
            <table class="table table-sm table-bordered table-striped">
                <tr>
                    <th colspan="3" class="table-secondary">Follow-ups</th>
                </tr>

                <tr>
                    <th class="namefieldname">Name &amp; Date</th>
                    <th>Description</th>
                </tr>
                @foreach (var followup in Model.Incident.Followups)
                {
                    <tr>
                        <td>
                            @followup.CreatedByName
                            <br />@followup.CreatedAt
                        </td>
                        <td>@followup.Description</td>
                    </tr>
                }
            </table>
        </div>
    </div>
}

@if (Model.Incident.RelatedIncidents?.Count > 0)
{
    <div class="row mt-2">
        <div class="col-12 col-md-8 offset-md-2">
            <table class="table table-sm table-bordered table-striped">
                <tr>
                    <th colspan="3" class="table-secondary">Related incidents</th>
                </tr>
                <tr>
                    <th class="namefieldname">Related By &amp; At</th>
                    <th>Incident At</th>
                    <th>Location</th>
                    <th>Type</th>
                </tr>
                @foreach (var relatedIncident in Model.Incident.RelatedIncidents)
                {
                    <tr>
                        <td>
                            @relatedIncident.CreatedByName
                            <br />@relatedIncident.CreatedAt
                        </td>
                        <td>@relatedIncident.IncidentAt</td>
                        <td>@Model.Locations[relatedIncident.LocationId]</td>
                        <td>@Model.IncidentTypes[relatedIncident.IncidentTypeId]</td>
                    </tr>
                }
            </table>
        </div>
    </div>
}


@section styles {
<style type="text/css">
    th.fieldname {
        width: 13rem;
    }

    th.typefieldname {
        width: 8rem;
    }

    th.namefieldname {
        width: 10rem;
    }
</style>
}