@model Ocuda.Ops.Controllers.Areas.Incident.ViewModel.IndexViewModel

<div class="row mb-2">
    <div class="col-sm-6">
        <h1>Incident Reports</h1>
    </div>
    <div class="col-sm-6">
        <a class="btn btn-outline-dark mt-2 mb-1 ml-2 float-right"
           asp-controller="@Ocuda.Ops.Controllers.HomeController.Name"
           asp-action="@nameof(Ocuda.Ops.Controllers.HomeController.Index)">Back</a>
        @if (Model.CanViewAll)
        {
            <a class="btn btn-outline-info mt-2 mb-1 mr-2 float-right"
           asp-controller="@HistoricalController.Name"
           asp-action="@nameof(HistoricalController.Index)">
                Historical
            </a>
            <a class="btn btn-outline-info mt-2 mb-1 mr-2 float-right"
           asp-action="@nameof(HomeController.All)">
                All
            </a>
            <a class="btn btn-outline-info mt-2 mb-1 mr-2 float-right"
           asp-action="@nameof(HomeController.Index)">
                Mine
            </a>
        }
    </div>
</div>

<partial name="_IncidentPartial" model="Model.CanViewAll" />

@if (!string.IsNullOrEmpty(Model.SearchText))
{
    <div class="row">
        <div class="col-12">
            <div class="alert alert-info">
                Search results for: @Model.SearchText
                <a asp-action="@nameof(HistoricalController.Index)"
               class="close"
               aria-label="Close">&times;</a>
            </div>
        </div>
    </div>

}

<form asp-controller="@HistoricalController.Name"
      asp-action="@nameof(HistoricalController.Index)"
      method="get"
      role="form">
    <div class="row mb-3">
        <div class="col-12">
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text">Search:</span>
                </div>
                <input asp-for="SearchText"
                       type="text"
                       class="form-control"
                       aria-label="Search text" />
                <div class="input-group-append">
                    <button class="btn btn-outline-success">Go</button>
                </div>
            </div>
        </div>
    </div>
</form>

@if (!(Model.Incidents?.Count() > 1))
{
    <div class="alert alert-warning">No incidents found.</div>
}
else
{
    <div class="row">
        <div class="col-12">
            <table class="table table-sm table-bordered table-hover table-striped">
                <thead>
                    <tr>
                        <th>Date &amp; Time</th>
                        <th>Branch</th>
                        <th>Type</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var incident in Model.Incidents)
                    {
                        <tr>
                            <td class="align-middle">
                                <a asp-action="@nameof(HistoricalController.Details)"
                           asp-route-historicalIncidentId="@incident.Id"
                           asp-route-page="@(Model.CurrentPage > 1 ? Model.CurrentPage : null)"
                           asp-route-searchText="@Model.SearchText">
                                    @incident.IncidentAt.ToString("g")
                                </a>
                            </td>
                            <td class="align-middle">
                                @incident.Branch
                            </td>
                            <td class="align-middle">
                                @incident.IncidentType
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
    @if (Model.MaxPage > 1)
    {
        <paginate paginateModel="@Model"></paginate>
    }
}
