@model BooksByMail.ViewModels.Home.HistoryViewModel

@if (Model.Items.Count == 0)
{
    <div class="alert alert-warning">No recorded checkouts.</div>
}
else
{
    <div>
        <table class="table table-sm table-bordered table-striped">
            <thead>
                <tr>
                    <th>
                        <div class="sortable-column" data-orderBy="0" data-OrderDesc="@(Model.OrderBy == 0 && Model.OrderDesc == false ? "true" : "false")">
                            Title
                            @if (Model.OrderBy == 0)
                            {
                                <span class="fas fa-lg @(Model.OrderDesc ? "fa-sort-down" : "fa-sort-up")"></span>
                            }
                        </div>
                    </th>
                    <th>
                        <div class="sortable-column" data-orderBy="1" data-OrderDesc="@(Model.OrderBy == 1 && Model.OrderDesc == false ? "true" : "false")">
                            Author
                            @if (Model.OrderBy == 1)
                            {
                                <span class="fas fa-lg @(Model.OrderDesc ? "fa-sort-down" : "fa-sort-up")"></span>
                            }
                        </div>
                    </th>
                    <th>Category</th>
                    <th>
                        <div class="sortable-column" data-orderBy="2" data-OrderDesc="@(Model.OrderBy == 2 && Model.OrderDesc == false ? "true" : "false")">
                            Date
                            @if (Model.OrderBy == 2)
                            {
                                <span class="fas fa-lg @(Model.OrderDesc ? "fa-sort-down" : "fa-sort-up")"></span>
                            }
                        </div>
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Items)
                {
                    <tr>
                        <td>@item.Title</td>
                        <td>@item.Author</td>
                        <td>@item.Category</td>
                        <td style="white-space: nowrap;">@item.CheckoutDate.ToShortDateString()</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    @if (Model.PaginateModel.MaxPage > 1)
    {
        <paginate paginateModel="@Model.PaginateModel" asButtons="true"></paginate>
    }
}

<script>
    var historySearchCount = @Model.PaginateModel.ItemCount;
</script>