@model Ocuda.Ops.Controllers.Areas.BooksByMail.ViewModels.Home.IndexViewModel

<nav class="navbar navbar-expand-sm navbar-dark bg-dark oc-navbar">
    <a class="navbar-brand" asp-area="" asp-route-section="" asp-controller="Home" asp-action="@(nameof(HomeController.Index))">
        <span class="fas fa-mail-bulk"></span>
        <span class="fw-light oc-navbrand">Books By Mail</span>
    </a>
    <button class="navbar-toggler" type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarCollapsableContent"
            aria-controls="navbarCollapsableContent"
            aria-expanded="false"
            aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapsableContent">
        <span class="me-auto"></span>
        <form asp-controller="Home" asp-action="Index" method="get" role="form" class="d-flex">
            <input type="search" id="search" name="search" class="form-control me-2 mb-1 mb-sm-0" placeholder="Name/Barcode" value="@ViewData["Search"]" />
            <input type="submit" value="Search" class="btn btn-info" />
        </form>
    </div>
</nav>

<div class="container-fluid">
    @if (TempData[Ocuda.Ops.Controllers.Areas.BooksByMail.Keys.TempData.AlertDanger] != null)
    {
        <div class="row">
            <div class="col-12 col-md-6 offset-md-3">
                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                    @Html.Raw(TempData[Ocuda.Ops.Controllers.Areas.BooksByMail.Keys.TempData.AlertDanger])
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            </div>
        </div>
    }
    @if (TempData[Ocuda.Ops.Controllers.Areas.BooksByMail.Keys.TempData.AlertWarning] != null)
    {
        <div class="row">
            <div class="col-12 col-md-6 offset-md-3">
                <div class="alert alert-warning alert-dismissible fade show" role="alert">
                    @Html.Raw(TempData[Ocuda.Ops.Controllers.Areas.BooksByMail.Keys.TempData.AlertWarning])
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            </div>
        </div>
    }
    @if (TempData[Ocuda.Ops.Controllers.Areas.BooksByMail.Keys.TempData.AlertSuccess] != null)
    {
        <div class="row">
            <div class="col-12 col-md-6 offset-md-3">
                <div class="alert alert-success alert-dismissible fade show" role="alert">
                    @Html.Raw(TempData[Ocuda.Ops.Controllers.Areas.BooksByMail.Keys.TempData.AlertSuccess])
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            </div>
        </div>
    }
    @if (TempData[Ocuda.Ops.Controllers.Areas.BooksByMail.Keys.TempData.AlertInfo] != null)
    {
        <div class="row">
            <div class="col-12 col-md-6 offset-md-3">
                <div class="alert alert-info alert-dismissible fade show" role="alert">
                    @Html.Raw(TempData[Ocuda.Ops.Controllers.Areas.BooksByMail.Keys.TempData.AlertInfo])
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            </div>
        </div>
    }
</div>


@if (!string.IsNullOrEmpty(Model.Search))
{
    <div class="row">
        <div class="col-12">
            <div class="alert alert-info alert-dismissible">
                Search for '<strong>@Model.Search</strong>' found @Model.SearchCount
                @(Model.SearchCount == 1 ? "match." : "matches.")
                <button type="button" class="btn-close" id="clearSearch" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        </div>
    </div>
}
<div class="row">
    <div class="col-12">
        @if (Model.Patrons.Count() == 0)
        {
            <div class="alert alert-warning">No customers found.</div>
        }
        else
        {
            <div>
                <table class="table table-sm table-bordered table-hover table-striped">
                    <thead>
                        <tr>
                            <th>
                                <a class="sortable-column" asp-route-Search="@Model.Search" asp-route-OrderBy="0" asp-route-OrderDesc="@(Model.OrderBy == 0 && Model.OrderDesc == false ? "true" : "false")">
                                    First Name
                                    @if (Model.OrderBy == 0)
                                    {
                                        <span class="fas fa-lg @(Model.OrderDesc ? "fa-sort-down" : "fa-sort-up")"></span>
                                    }
                                </a>
                            </th>
                            <th>
                                <a class="sortable-column" asp-route-Search="@Model.Search" asp-route-OrderBy="1" asp-route-OrderDesc="@(Model.OrderBy == 1 && Model.OrderDesc == false ? "true" : "false")">
                                    Last Name
                                    @if (Model.OrderBy == 1)
                                    {
                                        <span class="fas fa-lg @(Model.OrderDesc ? "fa-sort-down" : "fa-sort-up")"></span>
                                    }
                                </a>
                            </th>
                            <th>
                                <a class="sortable-column" asp-route-Search="@Model.Search" asp-route-OrderBy="2" asp-route-OrderDesc="@(Model.OrderBy == 2 && Model.OrderDesc == false ? "true" : "false")">
                                    Last Activity Date
                                    @if (Model.OrderBy == 2)
                                    {
                                        <span class="fas fa-lg @(Model.OrderDesc ? "fa-sort-down" : "fa-sort-up")"></span>
                                    }
                                </a>
                            </th>
                            <th>Barcode</th>
                            <th>Patron ID</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var patron in Model.Patrons)
                        {
                            <tr class="row-link" data-id="@patron.PatronID">
                                <td>@patron.NameFirst</td>
                                <td>@patron.NameLast</td>
                                <td class="@patron.LastActivityClass">
                                    @patron.LastActivityDate
                                    @if (!string.IsNullOrEmpty(patron.LastActivityClass))
                                    {
                                        <span class="fa fa-exclamation-triangle"
                                              data-bs-toggle="tooltip"
                                              title="More than 3 weeks!"></span>
                                    }
                                </td>
                                <td>@patron.Barcode</td>
                                <td>@patron.PatronID</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            @if (Model.PaginateModel.MaxPage > 1)
            {
                <paginate paginateModel="@Model.PaginateModel"></paginate>
            }
        }
    </div>
</div>

@section scripts {
    <script>
        $(".row-link").on("click", function () {
            var patronId = $(this).data("id");
            if (patronId) {
                window.location.href = "@Url.Action(nameof(HomeController.BooksByMailCustomer), new { id = "__ID__" })".replace("__ID__", patronId);
            } else {
                console.error("Patron ID is undefined!");
            }
        });
        $("#clearSearch").click(function () {
            window.location.href = "@Url.Action(nameof(HomeController.Index))";
        });
    </script>
}
