@using Ocuda.Ops.Controllers.Areas.BooksByMail.ViewModels
@model IndexViewModel

<partial name="_BooksByMailPartial" model="Model" />

@if (!string.IsNullOrEmpty(Model.Search))
{
    <div class="row">
        <div class="col-12">
            <div class="alert alert-info alert-dismissible">
                Search for '<strong>@Model.Search</strong>' found @Model.SearchCount
                @(Model.SearchCount == 1 ? "match." : "matches.")
                <button type="button" class="btn-close" id="clearSearch" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        </div>
    </div>
}
<div class="row">
    <div class="col-12">
        @if (Model.CustomerLookup.Count() == 0)
        {
            <div class="alert alert-warning">No customers found.</div>
        }
        else
        {
            <div>
                <table class="table table-sm table-bordered table-hover table-striped">
                    <thead>
                        <tr>
                            <th>
                                <a class="sortable-column"
                                   asp-route-Search="@Model.Search"
                                   asp-route-OrderBy="0"
                                   asp-route-OrderDesc="@(Model.OrderBy == 0 && Model.OrderDesc == false ? "true" : "false")">
                                    First Name
                                    @if (Model.OrderBy == 0)
                                    {
                                        <span class="fa-solid fa-fw @(Model.OrderDesc ? "fa-sort-down" : "fa-sort-up")"></span>
                                    }
                                </a>
                            </th>
                            <th>
                                <a class="sortable-column"
                                   asp-route-Search="@Model.Search"
                                   asp-route-OrderBy="1"
                                   asp-route-OrderDesc="@(Model.OrderBy == 1 && Model.OrderDesc == false ? "true" : "false")">
                                    Last Name
                                    @if (Model.OrderBy == 1)
                                    {
                                        <span class="fa-solid fa-fw @(Model.OrderDesc ? "fa-sort-down" : "fa-sort-up")"></span>
                                    }
                                </a>
                            </th>
                            <th>
                                <a class="sortable-column"
                                   asp-route-Search="@Model.Search"
                                   asp-route-OrderBy="2"
                                   asp-route-OrderDesc="@(Model.OrderBy == 2 && Model.OrderDesc == false ? "true" : "false")">
                                    Last Activity Date
                                    @if (Model.OrderBy == 2)
                                    {
                                        <span class="fa-solid fa-fw @(Model.OrderDesc ? "fa-sort-down" : "fa-sort-up")"></span>
                                    }
                                </a>
                            </th>
                            <th>Barcode</th>
                            <th>Customer Lookup ID</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var customerLookup in Model.CustomerLookup)
                        {
                            <tr class="row-link" data-id="@customerLookup.CustomerLookupID">
                                <td>@customerLookup.NameFirst</td>
                                <td>@customerLookup.NameLast</td>
                                <td class="@customerLookup.LastActivityClass">
                                    @customerLookup.LastActivityDate
                                    @if (!string.IsNullOrEmpty(customerLookup.LastActivityClass))
                                    {
                                        <span class="fa fa-exclamation-triangle"
                                              data-bs-toggle="tooltip"
                                              title="More than 3 weeks!"></span>
                                    }
                                </td>
                                <td>@customerLookup.Barcode</td>
                                <td>@customerLookup.CustomerLookupID</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        }
    </div>
</div>

@section scripts {
    <script>
        $(".row-link").on("click", function () {
            var customerLookupId = $(this).data("id");
            if (customerLookupId) {
                window.location.href = "@Url.Action(nameof(HomeController.BooksByMailCustomer), new { id = "__ID__" })".replace("__ID__", customerLookupId);
            } else {
                console.error("Customer Lookup ID is undefined!");
            }
        });
        $("#clearSearch").click(function () {
            window.location.href = "@Url.Action(nameof(HomeController.Index))";
        });
    </script>
}
