@model Ocuda.Promenade.Controllers.ViewModels.EmployeeSignup.EmployeeSignupViewModel

@if (Model?.SegmentText != null)
{
	if (!string.IsNullOrEmpty(Model.SegmentText.Header))
	{
		<h1 class="prom-title">@Model.SegmentText.Header</h1>
	}
	@Html.Raw(Model.SegmentText.Text)
}
else
{
	<h1 class="prom-title">@Localizer[Promenade.EmployeeSignupHeader]</h1>
}

<div class="row mt-4">
	<div class="col-12">
		<form method="post"
			  role="form"
			  asp-action="@nameof(EmployeeSignupController.Index)"
			  asp-controller="@EmployeeSignupController.Name"
			  asp-route-culture="">
			<div class="row mb-3">
				<label class="col-form-label text-md-end col-md-3 pt-0">@Localizer[Promenade.EmployeeSignupRenewLabel]</label>
				<div class="col-md-9">
					<div class="form-check form-check-inline">
						<label class="form-check-label" for="ExistingCardYes">@Localizer[Promenade.LabelYes]</label>
						<input asp-for="CardRequest.ExistingAccount" id="ExistingAccountYes" class="form-check-input" type="radio" value="true" />
					</div>
					<div class="form-check form-check-inline">
						<label class="form-check-label" for="ExistingCardNo">@Localizer[Promenade.LabelNo]</label>
						<input asp-for="CardRequest.ExistingAccount" id="ExistingAccountNo" class="form-check-input" type="radio" value="false" />
					</div>
					<em>@Localizer[Promenade.EmployeeSignupRenewInfo]</em>
				</div>
			</div>
			<div id="cardNumberInputContainer" class="row mb-3 @(ViewData.ModelState["CardRequest.ExistingAccount"]?.AttemptedValue == "true" ? "" : "d-none")">
				<label asp-for="CardRequest.CardNumber" class="col-form-label text-md-end col-md-3">
					@Localizer[Promenade.PromptLibraryCardNumber]
					<span class="fa-solid fa-asterisk fa-xs d-inline-block ms-2 text-danger oc-required-field-marker"></span>
				</label>
				<div class="col-md-9">
					<input asp-for="CardRequest.CardNumber" class="form-control" />
					<span asp-validation-for="CardRequest.CardNumber" class="validation-message text-danger"></span>
				</div>
			</div>

			<hr class="col-md-9 offset-md-3" />

			<div class="row mb-1">
				<label class="form-label text-md-end col-md-3"><strong>@Localizer[Promenade.EmployeeSignupPersonalLabel]</strong></label>
			</div>

			<input asp-for="CardRequest.FirstName" formgroup />
			<input asp-for="CardRequest.LastName" formgroup />
			<input asp-for="CardRequest.BirthDate" formgroup />
			<input asp-for="CardRequest.Email" formgroup />
			<input asp-for="CardRequest.Phone" formgroup />

			<div class="row mb-1">
				<label class="form-label text-md-end col-md-3"><strong>@Localizer[Promenade.EmployeeSignupAddressLabel]</strong></label>
				<div class="col-md-9">
					<em>@Localizer[Promenade.EmployeeSignupAddressInfo]</em>
				</div>
			</div>

			<input asp-for="CardRequest.StreetAddress" formgroup />
			<input asp-for="CardRequest.City" formgroup />
			<input asp-for="CardRequest.ZipCode" formgroup />

			<div class="row mb-1">
				<label class="form-label text-md-end col-md-3"><strong>@Localizer[Promenade.EmployeeSignupEmployeeLabel]</strong></label>
			</div>

			<input asp-for="CardRequest.EmployeeNumber" formgroup />
			<select asp-for="CardRequest.DepartmentId" asp-items="Model.Departments" formgroup>
				<option></option>
			</select>

			<button type="submit"
					class="btn btn-outline-success m-2 btn-lg float-end">
				<span class="fa-regular fa-circle-check"></span>
				@Localizer[Promenade.ButtonSubmit]
			</button>
		</form>
	</div>
</div>

@section scripts
{
	<script>
		$('input[name="CardRequest.ExistingAccount"]').on('change', function() {
			if ($(this).val() == "true") {
				$('#cardNumberInputContainer').removeClass('d-none');
			}
			else {
				$('#cardNumberInputContainer').addClass('d-none');
			}
		});
	</script>
}