@model Ocuda.Ops.Controllers.Areas.SiteManagement.ViewModels.Location.LocationViewModel;
<div id="modalItemInfo">
    <input value="@Model.LocationFeature.LocationId"
           asp-for="LocationFeature.LocationId"
           type="hidden" />
    <input value="@Model.LocationFeature.FeatureId"
           asp-for="LocationFeature.FeatureId"
           type="hidden" />
    @foreach (var feature in Model.Features.Where(_ => _.Id == Model.LocationFeature.FeatureId))
    {
        if (string.IsNullOrEmpty(feature.Stub))
        {
            <input value="@Model.LocationFeature.Text"
                   asp-for="LocationFeature.Text"
                   type="hidden" />
            <input value="@Model.LocationFeature.RedirectUrl"
                   asp-for="LocationFeature.RedirectUrl"
                   formgroup
                   autocomplete="off" />
            <select value="@Model.LocationFeature.NewTab"
                    asp-for="LocationFeature.NewTab"
                    formgroup>
                <option value="false">No</option>
                <option value="true">Yes</option>
            </select>
        }
        else
        {
            <input value="@Model.LocationFeature.RedirectUrl"
                    asp-for="LocationFeature.RedirectUrl"
                    type="hidden" />
            <div class="form-group" id="text-div">
                <textarea asp-for="LocationFeature.Text"
                            class="form-control"
                            markdown-editor
                            rows="16"></textarea>
                <span asp-validation-for="LocationFeature.Text"
                        class="text-danger"></span>
            </div>
            <script>
                $().ready(function () {
                    var editor = new Markdown.Editor($("#LocationFeature_Text"), { allowUploads: false });
                    editor.run();
                });
            </script>
        }
    }
</div>
