@model Ocuda.Ops.Controllers.Areas.SiteManagement.ViewModels.Location.LocationPartialViewModel

<div class="row">
    <div class="col-12">
        <ul class="nav nav-pills">
            <li class="nav-item">
                <a asp-action="@nameof(LocationsController.Location)"
                   asp-route-locationStub="@Model.LocationStub"
                   class="nav-link"
                   ActiveBy routeKey="Action" value="@nameof(LocationsController.Location)">
                    Details
                </a>
            </li>
            <li class="nav-item">
                <a asp-action="@nameof(LocationsController.Hours)"
                   asp-route-locationStub="@Model.LocationStub"
                   class="nav-link"
                   ActiveBy routeKey="Action"
                   value="@nameof(LocationsController.Hours)">
                    Hours
                </a>
            </li>
        </ul>
    </div>
</div>