@model Ocuda.Ops.Controllers.Areas.SiteManagement.ViewModels.Location.LocationImagesViewModel

<div class="row">
    <div class="col-sm-7">
        <h1>
            Images
            <small class="text-muted">
                @Model.LocationName
            </small>
        </h1>
    </div>
    <div class="col-sm-5">
        <a class="btn btn-outline-dark mt-2 mb-1 ml-2 float-right"
           asp-controller="@Ocuda.Ops.Controllers.Areas.SiteManagement.LocationsController.Name"
           asp-action="@(nameof(Ocuda.Ops.Controllers.Areas.SiteManagement.LocationsController.Index))">Back</a>
    </div>
</div>

@await Html.PartialAsync("_LocationPartial")

<div class="row mt-2">
    <h3>Exterior Image</h3>
    <div class="col-md-10 offset-md-2 d-flex flex-column gap-2">
        <img class="img-fluid w-100" style="max-width: 500px" src="@Url.Action(nameof(LocationsController.Image), LocationsController.Name, new { promImagePath = Model.Location.ImagePath })">
        <div>
            <form asp-action="@nameof(LocationsController.UpdateExteriorImage)"
                  asp-controller="@LocationsController.Name"
                  asp-route-locationStub="@Model.LocationStub"
                  enctype="multipart/form-data">
                <input class="mb-2" asp-for="Image" type="file" />
                <button type="submit" class="btn btn-primary">Update</button>
            </form>
        </div>
    </div>
</div>

<div class="row mt-2">
    <h3>Location Map</h3>
    <div class="col-md-10 offset-md-2 d-flex flex-column gap-2">
        <div>
            <img class="img-fluid w-100" style="max-width: 500px" src="@Url.Action(nameof(LocationsController.Image), LocationsController.Name, new { promImagePath = Model.Location.MapImagePath })">
        </div>
        <div>
            <a class="btn btn-primary" href="@Url.Action(nameof(LocationsController.MapImageGenerator), LocationsController.Name, new { locationStub = Model.Location.Stub })">
                New Map
            </a>
        </div>
    </div>
</div>

<div class="row mt-2">
    <h3>Interior Images</h3>
    <div class="col-md-10 offset-md-2">
        <div class="pb-3 mb-3 border-3 border-bottom border-light-subtle">
            <h5>Add Interior Image</h5>
            <img id="image-preview" class="img-fluid d-none" style="max-height: 300px" />
            <form asp-action="@nameof(LocationsController.AddInteriorImage)"
                  asp-controller="@LocationsController.Name"
                  asp-route-locationStub="@Model.LocationStub"
                  enctype="multipart/form-data">

                <input asp-for="Languages" hidden />
                <input asp-for="Location" hidden />
                <input class="image-input mb-2" asp-for="Image" type="file" />

                <div>
                    <strong><label asp-for="NewInteriorImage.SortOrder">Sort Order</label></strong>
                </div>
                <input class="form-control" asp-for="NewInteriorImage.SortOrder" type="number" />

                @for (int i = 0; i < Model.Languages.Count; i++)
                {
                    <input asp-for="NewInteriorImage.AllAltTexts[i].LanguageId" value="@Model.Languages[i].Id" hidden />
                    <div class="mb-2">
                        <label asp-for="NewInteriorImage.AllAltTexts[i]"><strong>@Model.Languages[i].Description</strong> Alt Text</label>
                        <input class="form-control" asp-for="NewInteriorImage.AllAltTexts[i].AltText" value="" type="text" />
                    </div>
                }
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
        <h5>Existing Interior Images</h5>
        @foreach (var interiorImage in Model.InteriorImages)
        {
            <div class="pb-3 mb-3 border-3 d-flex justify-content-between align-items-end border-bottom border-light-subtle">
                <form asp-action="@nameof(LocationsController.UpdateInteriorImage)"
                      asp-controller="@LocationsController.Name"
                      asp-route-locationStub="@Model.LocationStub"
                      asp-route-imageId="@interiorImage.Id"
                      enctype="multipart/form-data">
                    <div class="mb-2">
                        @interiorImage.ImagePath
                    </div>

                    <img class="img-fluid w-100" style="max-width: 500px" src="@Url.Action(nameof(LocationsController.Image), LocationsController.Name, new { promImagePath = interiorImage.ImagePath })">

                    <input asp-for="Languages" hidden />
                    <input asp-for="Location" hidden />
                    <input asp-for="UpdatedInteriorImage.Id" value="@interiorImage.Id" hidden />
                    <input asp-for="UpdatedInteriorImage.LocationId" hidden />
                    <input asp-for="UpdatedInteriorImage.ImagePath" value="@interiorImage.ImagePath" hidden />

                    <input class="mb-2" asp-for="Image" type="file" />

                    <div>
                        <strong><label asp-for="UpdatedInteriorImage.SortOrder">Sort Order</label></strong>
                    </div>

                    <input class="form-control" asp-for="UpdatedInteriorImage.SortOrder" value="@interiorImage.SortOrder" type="number" />

                    @for (int i = 0; i < interiorImage.AllAltTexts.Count; i++)
                    {

                        <input asp-for="UpdatedInteriorImage.AllAltTexts[i].LanguageId" value="@Model.Languages[i].Id" hidden />
                        <div class="mb-2">
                            <label asp-for="UpdatedInteriorImage.AllAltTexts[i].AltText"><strong>@Model.Languages[i].Description</strong> Alt Text</label>
                            <input class="form-control" asp-for="UpdatedInteriorImage.AllAltTexts[i].AltText" type="text" value="@interiorImage.AllAltTexts[i].AltText" />
                        </div>

                    }

                    <button type="submit" class="btn btn-primary">Update</button>
                </form>
                <form asp-action="@nameof(LocationsController.DeleteInteriorImage)"
                      asp-controller="@LocationsController.Name"
                      asp-route-locationStub="@Model.LocationStub"
                      asp-route-imageId="@interiorImage.Id">
                    <button type="submit" class="btn btn-danger">Delete</button>
                </form>
            </div>
        }

    </div>
</div>

<script>
    const imageInput = document.querySelector('.image-input');
    const imagePreview = document.querySelector('#image-preview');

    imageInput.addEventListener('change', updateImagePreview);

    function updateImagePreview() {
        imagePreview.classList.remove('d-none');

        const reader = new FileReader();

        reader.onload = function (e) {
            imagePreview.src = e.target.result;
        };

        reader.readAsDataURL(imageInput.files[0]);
    }
</script>