@model Ocuda.Ops.Controllers.Areas.SiteManagement.ViewModels.Location.LocationImagesViewModel

<div class="row">
    <div class="col-sm-7">
        <h1>
            Images
            <small class="text-muted">
                @Model.LocationName
            </small>
        </h1>
    </div>
    <div class="col-sm-5">
        <a class="btn btn-outline-dark mt-2 mb-1 ml-2 float-right"
           asp-controller="@Ocuda.Ops.Controllers.Areas.SiteManagement.LocationsController.Name"
           asp-action="@(nameof(Ocuda.Ops.Controllers.Areas.SiteManagement.LocationsController.Index))">Back</a>
    </div>
</div>

@await Html.PartialAsync("_LocationPartial")

<div class="row mt-2">
    <div>
        <h3>Location Photo</h3>
        <table class="table table-sm table-bordered table-hover">
            <tr>
                <td>
                    <img class="img-fluid w-100" style="max-width: 500px" src="@Url.Action(nameof(LocationsController.Image), LocationsController.Name, new { promImagePath = Model.Location.ImagePath })">
                </td>
                <td class="align-middle text-end">
                    <a class="btn btn-primary" href="@Url.Action(nameof(LocationsController.MapImageGenerator), LocationsController.Name, new { locationStub = Model.Location.Stub })">
                        TODO: This
                    </a>
                </td>
            </tr>
        </table>
    </div>
</div>

<div class="row mt-2">
    <div>
        <h3>Location map</h3>
        <table class="table table-sm table-bordered table-hover">
            <tr>
                <td>
                    <img class="img-fluid w-100" style="max-width: 500px" src="@Url.Action(nameof(LocationsController.Image), LocationsController.Name, new { promImagePath = Model.Location.MapImagePath })">
                </td>
                <td class="align-middle text-end">
                    <a class="btn btn-primary" href="@Url.Action(nameof(LocationsController.MapImageGenerator), LocationsController.Name, new { locationStub = Model.Location.Stub })">
                        New Map
                    </a>
                </td>
            </tr>
        </table>
    </div>
</div>

<div class="row mt-2">
    <div>
        <h3>Interior Photos</h3>
        <table class="table table-sm table-bordered table-hover">
            <tr>
                <td colspan="3">
                    <div class="mb-2">Add Interior Image:</div>
                    <form asp-action="@nameof(LocationsController.AddInteriorImage)"
                          asp-controller="@LocationsController.Name"
                          asp-route-locationStub="@Model.LocationStub">

                        <input asp-for="Languages" hidden />
                        <input asp-for="Location" hidden />
                        <input class="mb-2" asp-for="Image" type="file" />

                        @for (int i = 0; i < Model.Languages.Count; i++)
                        {
                            <input asp-for="NewInteriorImageAltTexts[i].Language" hidden />
                            <div class="mb-2">
                                <label asp-for="NewInteriorImageAltTexts[i]"><strong>@Model.Languages[i].Description</strong> Alt Text</label>
                                <input class="form-control" asp-for="NewInteriorImageAltTexts[i].AltText" type="text" />
                            </div>
                        }
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </td>
            </tr>
            <tr>
                <td>
                    <!-- TODO: display interior image -->
                    <img class="img-fluid w-100" style="max-width: 500px" src="@Url.Action(nameof(LocationsController.Image), LocationsController.Name, new { promImagePath = Model.Location.MapImagePath })">
                </td>
                <td>
                    <form>
                        <!-- TODO: update an image -->
                    </form>
                    <button>Update Image</button>
                </td>
            </tr>
        </table>
    </div>
</div>