@model Ocuda.Ops.Controllers.Areas.SiteManagement.ViewModels.Location.LocationViewModel
<div class="container">
    <div class="row">
        <div class="modal fade"
             id="deleteModal"
             tabindex="-1"
             role="dialog"
             aria-labelledby="deleteModalLabel">
            <div class="modal-dialog" role="document">
                <form asp-action="@nameof(LocationsController.DeleteLocation)"
                      method="post"
                      role="form"
                      style="display:inline">
                    <input asp-for="Location.Id" type="hidden" />
                    <input asp-for="Location.Name" type="hidden" />
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title" id="deleteModalLabel">Delete Location</h4>
                            <button type="button"
                                    class="close"
                                    data-dismiss="modal"
                                    aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <span class="fa fa-exclamation-triangle" aria-hidden="true"></span>
                            <span id="modal-text"></span>
                        </div>
                        <div class="modal-footer">
                            <button type="button"
                                    class="btn btn-default"
                                    data-dismiss="modal"
                                    style="margin-right: 1em;">
                                Cancel
                            </button>
                            <button type="submit"
                                    class="btn btn-danger pull-right"
                                    aria-label="Confirm"
                                    button-spinner>
                                <span class="fas fa-spinner fa-times" aria-hidden="true"></span>
                                Delete
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="row">
        <div>
            <div class="card">
                <div class="card-header">
                    <span class="h5">Locations</span>
                    <a asp-action="@nameof(LocationsController.AddLocation)"
                       class="text-success float-right">
                        <span class="fas fa-plus-circle fa-lg"></span>
                    </a>
                </div>
                @if (Model.AllLocations.Count() == 0)
                {
                    <div class="alert alert-warning">No Locations found.</div>
                }
                else
                {

                    <div class="card-body">
                        <table class="table table-sm table-bordered link-table">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Address</th>
                                    <th>Phone</th>
                                    <th>&nbsp;</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var location in Model.AllLocations)
                                {
                                    <tr>
                                        <td class="td-class">
                                            <a asp-action="@nameof(LocationsController.Location)"
                                               asp-route-locationStub="@location.Stub">
                                                @location.Name
                                            </a>
                                        </td>
                                        <td>
                                            @location.Address
                                            <br />
                                            @location.City,
                                            @location.State
                                            @location.Zip
                                        </td>
                                        <td>@location.Phone</td>
                                        <td class="on-top gra-mc-icon">
                                            <button type="button"
                                                    class="btn btn-link text-danger"
                                                    data-toggle="modal"
                                                    data-target="#deleteModal"
                                                    data-id="@location.Id"
                                                    data-name="@location.Name">
                                                <span class="far fa-times-circle fa-lg"
                                                      aria-hidden="true"></span>
                                            </button>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                    @if (Model.PaginateModel.MaxPage > 1)
                    {
                        <div class="card-footer">
                            <paginate paginateModel="@Model.PaginateModel"></paginate>
                        </div>
                    }

                }
            </div>
        </div>
    </div>
</div>

@section scripts
    {
    <script>
        $("#deleteModal").on("show.bs.modal", function (e) {
            var button = $(e.relatedTarget);
            var id = button.data("id");
            var name = button.data("name");
            var modal = $(this);
            modal.find("#modal-text").text("Are you sure you want to delete the location \"" + name + "\"?");
            modal.find("#Location_Id").val(id);
            modal.find("#Location_Name").val(name);
        });
    </script>
}
