@model Ocuda.Ops.Controllers.ViewModels.Links.IndexViewModel

<div class="row mb-2">
    <div class="col">
        <span>Category: </span>
        <a class="dropdown-toggle" href="#" role="button" id="dropdownCategory"
           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            @(Model.CategoryName ?? "Show All")
        </a>
        <ul class="dropdown-menu" aria-labelledby="dropdownCategory">
            <li><a class="dropdown-item" asp-route-categoryId="">Show All</a></li>
            @foreach (var category in Model.Categories)
            {
                <li><a class="dropdown-item" asp-route-categoryId="@category.Id">@category.Name</a></li>
            }
        </ul>
    </div>
</div>

@if (Model.Links.Count() == 0)
{
    <div class="alert alert-warning">No Links Found</div>
}
else
{
    <table class="table table-sm table-bordered">
        <thead>
            <tr>
                <th>Link</th>
                <th>Featured</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var link in Model.Links)
            {
                <tr>
                    <td><a href="@link.Url">@link.Name</a></td>
                    <td>@link.IsFeatured</td>
                </tr>
            }
        </tbody>
    </table>

    @if (Model.PaginateModel.MaxPage > 1)
    {
        <paginate paginateModel="@Model.PaginateModel"></paginate>
    }
}