@model Ocuda.Ops.Controllers.ViewModels.Links.LibraryViewModel

<table class="table table-sm table-bordered">
    <thead>
        <tr>
            <th>@Model.Library.Name Links</th>
        </tr>
    </thead>
    <tbody>
        @if (Model.Links.Count() == 0)
        {
            <tr>
                <td>
                    <div class="alert alert-warning">No Links Found</div>
                </td>
            </tr>
        }
        else
        {
            foreach (var link in Model.Links)
            {
                <tr>
                    <td>
                        <a class="card-link pl-0" href="@link.Url">
                            <div class="d-flex">
                                <span class="col-1 align-self-center fa @link.Icon"></span>
                                <div class="col-11">@link.Name</div>
                            </div>
                        </a>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>

@if (Model.PaginateModel.MaxPage > 1)
{
    <paginate paginateModel="@Model.PaginateModel"></paginate>
}