@model Ocuda.Ops.Controllers.ViewModels.Files.IndexViewModel

<div class="row mb-2">
    <div class="col">
        <span>Category: </span>
        <a class="dropdown-toggle" href="#" role="button" id="dropdownCategory"
           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            @(Model.CategoryName ?? "Show All")
        </a>
        <ul class="dropdown-menu" aria-labelledby="dropdownCategory">
            <li><a class="dropdown-item" asp-route-categoryId="">Show All</a></li>
            @foreach (var category in Model.Categories)
            {
                <li><a class="dropdown-item" asp-route-categoryId="@category.Id">@category.Name</a></li>
            }
        </ul>
    </div>
</div>

@if (Model.Files.Count() == 0)
{
    <div class="alert alert-warning">No Files Found</div>
}
else
{
    <table class="table table-sm table-bordered link-table">
        <thead>
            <tr>
                <th>File Name</th>
                <th>Description</th>
                <th>Creator</th>
                <th>Creation Date</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var file in Model.Files)
            {
                <tr>
                    <td class="rowlink-parent">
                        <a asp-action="ViewFile" asp-route-id="@file.Id" target="_blank" class="rowlink">
                            <span class="@file.Icon"></span> @file.Name
                        </a>
                    </td>
                    <td>@file.Description</td>
                    <td>@file.CreatedBy</td>
                    <td>@file.CreatedAt</td>
                </tr>
            }
        </tbody>
    </table>

    @if (Model.PaginateModel.MaxPage > 1)
    {
        <paginate paginateModel="@Model.PaginateModel"></paginate>
    }
}

@section scripts
    {
    <script>
        $(document).ready(function () {
            $('.rowlink-parent').each(function () {
                $(this).children('a.rowlink').height($(this).height() + 12);
            });
        });
        $(window).resize(function () {
            $('.rowlink-parent').each(function () {
                $(this).children('a.rowlink').height($(this).height() + 12);
            });
        });
    </script>
}