@model Ocuda.Ops.Controllers.ViewModels.Home.IndexViewModel

<div class="row">
    @* Blog Content *@
    <div class="col-sm-8 oc-blog">
        @foreach (var post in Model.Posts)
        {
            <div class="card">
                @if (post.IsPinned)
                {
                    <div class="card-header oc-pinned d-flex">
                        <h1 class="card-title flex-grow-1">@post.Title</h1>
                        <span class="fa fa-thumbtack align-self-center"></span>
                    </div>
                }
                else
                {
                    <div class="card-header d-flex">
                        <h1 class="card-title flex-grow-1">@post.Title</h1>
                    </div>
                }
                <div class="card-body">
                    @Html.Raw(post.Content)
                </div>
                <div class="card-footer d-flex">
                    <div class="flex-grow-1">Posted by <a href="#">@post.CreatedBy</a></div>
                    <div>@post.CreatedAt.ToString("MM/dd/yyyy hh:mm tt")</div>
                </div>
            </div>
        }

        <div class="d-flex justify-content-center">
            @if (Model.PaginateModel.MaxPage > 1)
            {
                <paginate paginateModel="@Model.PaginateModel"></paginate>
            }
        </div>
    </div>
    @* End Blog Content *@

    @* Sidebar *@
    <div class="col-sm-4 oc-sidebar">
        <div class="card">
            <div class="card-header d-flex justify-content-center">
                <h2 class="card-title">Department Staff</h2>
            </div>
            <div class="card-body">
                <div id="carouselDepartmentStaff" class="carousel slide" data-ride="carousel" data-interval="false">
                    <ul class="carousel-indicators">
                        <li data-target="#carouselDepartmentStaff" data-slide-to="0" class="active"></li>
                        <li data-target="#carouselDepartmentStaff" data-slide-to="1"></li>
                    </ul>
                    <div class="carousel-inner bg-secondary">
                        <div class="carousel-item active">
                            <div class="d-flex justify-content-center bg-danger" style="height:250px">
                                <span class="fa fa-smile mt-3" style="font-size:150px"></span>
                                <h5 class="carousel-caption">Harry Potter</h5>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="d-flex justify-content-center bg-success" style="height:250px">
                                <span class="fa fa-frown mt-3" style="font-size:150px"></span>
                                <h5 class="carousel-caption">Draco Malfoy</h5>
                            </div>
                        </div>
                    </div>
                    <a class="carousel-control-prev" href="#carouselDepartmentStaff" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselDepartmentStaff" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>
        </div>

        <div class="card">
            <div class="card-header d-flex justify-content-center">
                <h2 class="card-title">Department Links</h2>
            </div>
            <div class="card-body">
                <ul class="list-group list-group-flush">
                    @foreach (var link in Model.Links)
                    {
                        <li class="list-group-item">
                            <a href="@link.Url" class="card-link">@link.Name</a>
                        </li>
                    }
                </ul>
            </div>
            <div class="card-footer d-flex justify-content-center">
                <a href="#" class="card-link">All Links for Department</a>
            </div>
        </div>

        <div class="card">
            <div class="card-header d-flex justify-content-center">
                <h2 class="card-title">Department Files</h2>
            </div>
            <div class="card-body">
                <ul class="list-group list-group-flush">
                    @foreach (var file in Model.Files)
                    {
                        <li class="list-group-item">
                            <a href="@file.FilePath" class="card-link"><span class="fa @file.Icon"></span> @file.Name</a>
                        </li>
                    }
                </ul>
            </div>
            <div class="card-footer">
                <a href="#" class="card-link d-flex justify-content-center">Department File Directory</a>
            </div>
        </div>
    </div>
    @* End Sidebar *@
</div>