@model Ocuda.Ops.Controllers.ViewModels.Home.IndexViewModel

<div class="row">
    <div class="col-sm-8 offset-sm-2">
        @foreach (var post in Model.Posts)
        {
            <div class="card mb-4">
                <div class="card-header">
                    <h2 class="h3 mb-0">@post.Title</h2>
                </div>
                <div class="card-body pb-0">
                    @Html.Raw(post.Content)
                </div>
                <div class="card-footer d-flex flex-wrap">
                    <div class="flex-grow-1 mr-2">
                        Posted by
                        @if (post.CreatedByUser != null && !string.IsNullOrEmpty(post.CreatedByUser.Username))
                        {
                            <a asp-controller="@ProfileController.Name"
                               asp-action="@nameof(ProfileController.Index)"
                               asp-route-id="@post.CreatedByUser.Username">@post.CreatedByName</a>
                        }
                        else
                        {
                            @post.CreatedByName
                        }
                    </div>
                    <span title="@((DateTime.Now.Date - post.PublishedAt.Date).TotalDays) days ago">@post.PublishedAt.ToString("f")</span>
                </div>
            </div>
        }
        <paginate paginateModel="@Model"></paginate>
    </div>
</div>