@model Ocuda.Ops.Controllers.ViewModels.Home.IndexViewModel

<div class="row">
    <div class="col-sm-8 offset-sm-2">
        @foreach (var post in Model.Posts)
        {
            <div class="card mb-4">
                <div class="card-header">
                    <h2 class="lead mb-0">@post.Title</h2>
                </div>
                <div class="card-body pb-0 pt-3">
                    @Html.Raw(post.Content)
                </div>
                <div class="card-footer d-flex flex-wrap py-1">
                    <div class="flex-grow-1 mr-2">
                        <em>
                            <small class="text-muted">
                                Posted by
                                @if (!string.IsNullOrEmpty(post.CreatedByUsername))
                                {
                                    <a asp-controller="@ProfileController.Name"
                                       asp-action="@nameof(ProfileController.Index)"
                                       asp-route-id="@post.CreatedByUsername">@post.CreatedByName</a>
                                }
                                else
                                {
                                    @post.CreatedByName
                                }
                                @if (!string.IsNullOrEmpty(post.SectionStub) && !string.IsNullOrEmpty(post.SectionName))
                                {
                                    @:in
                                    <a asp-controller="@HomeController.Name"
                                       asp-action="@nameof(HomeController.SectionIndex)"
                                       asp-route-stub="@post.SectionStub">@post.SectionName</a>
                                }
                            </small>
                        </em>
                    </div>
                    <span title="@post.PublishedAgo">
                        <em>
                            <small class="text-muted">
                                @post.PublishedAt.ToString("f")
                            </small>
                        </em>
                    </span>
                </div>
            </div>
        }
        <paginate paginateModel="@Model"></paginate>
    </div>
</div>