@model Ocuda.Ops.Controllers.ViewModels.Home.IndexViewModel

@if (!string.IsNullOrEmpty(Model.SectionName))
{
    <div class="d-flex">
        <div class="flex-grow-1 align-middle">
            <h1 class="h2 ps-2 pb-2 flex-grow-1">
                @Model.SectionName
                @if (Model.SupervisorsOnly)
                {
                    <small class="text-muted">
                        (<span class="fas fa-lock oc-section-locked"></span> Supervisors only)
                    </small>
                }
            </h1>
        </div>
        @if (Model.SectionManager)
        {
            <div>
                <a asp-action="@nameof(Ocuda.Ops.Controllers.Areas.ContentManagement.SectionController.AddPost)"
                   asp-area="@Ocuda.Ops.Controllers.Areas.ContentManagement.SectionController.Area"
                   asp-controller="@Ocuda.Ops.Controllers.Areas.ContentManagement.SectionController.Name"
                   asp-route-sectionSlug="@Model.SectionSlug"
                   class="btn btn-sm btn-outline-success">
                    <span class="fas fa-plus-circle"></span>
                    Add Post
                </a>
            </div>
        }
    </div>
}

<div class="row">
    @if (Model.Posts?.Count > 0)
    {
        <div class="@Model.PostClasses">
            @foreach (var post in Model.Posts)
            {
                <div class="card @post.BorderColor mb-4">
                    <div class="card-header d-flex @post.TextColor">
                        <div class="flex-grow-1">
                            <h2 class="h5 mb-0">@post.Title</h2>
                        </div>
                        @if (post.ShowOnHomePage && !string.IsNullOrEmpty(Model.SectionName))
                        {
                            <span class="fas fa-home fa-fw text-muted mt-1"
                                  title="This post is shown on the Intranet home page."></span>
                        }
                        @if (post.IsPinned)
                        {
                            <span class="fas fa-map-pin fa-fw mt-1"
                                  title="This post is pinned to remain at the top until @post.PinnedUntil."></span>
                        }
                    </div>
                    @if (Model.SectionManager)
                    {
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item p-1 m-0 bg-light d-flex">
                                <span class="flex-grow-1">
                                    <a asp-action="@nameof(Ocuda.Ops.Controllers.Areas.ContentManagement.SectionController.EditPost)"
                                       asp-area="@Ocuda.Ops.Controllers.Areas.ContentManagement.SectionController.Area"
                                       asp-controller="@Ocuda.Ops.Controllers.Areas.ContentManagement.SectionController.Name"
                                       asp-route-postSlug="@post.Slug"
                                       asp-route-sectionSlug="@Model.SectionSlug"
                                       class="btn btn-sm btn-outline-secondary ms-3">
                                        <span class="fas fa-edit fa-xs fa-fw" title="Edit post"></span>
                                        Edit Post
                                    </a>
                                </span>
                                @if (post.UpdatedAt.HasValue)
                                {
                                    <em class="me-3 text-muted" title="@post.UpdatedAt.Value">
                                        <small>
                                            Last update
                                            @if (post.UpdatedBy.HasValue && !string.IsNullOrEmpty(post.UpdatedByName))
                                            {
                                                @:by
                                                <a asp-controller="@ProfileController.Name"
                                                   asp-action="@nameof(ProfileController.Index)"
                                                   asp-route-id="@post.UpdatedByUsername">@post.UpdatedByName</a>
                                            }
                                            @post.UpdatedAgo
                                        </small>
                                    </em>
                                }
                            </li>
                        </ul>
                    }

                    <div class="card-body pb-0 pt-3">
                        @Html.Raw(post.Content)
                    </div>
                    <div class="card-footer d-flex flex-wrap py-1">
                        <div class="flex-grow-1 me-2">
                            <em>
                                <small class="text-muted">
                                    Posted by
                                    @if (!string.IsNullOrEmpty(post.CreatedByUsername))
                                    {
                                        <a asp-controller="@ProfileController.Name"
                                           asp-action="@nameof(ProfileController.Index)"
                                           asp-route-id="@post.CreatedByUsername">@post.CreatedByName</a>
                                    }
                                    else
                                    {
                                        @post.CreatedByName
                                    }
                                    @if (!string.IsNullOrEmpty(post.SectionSlug) && !string.IsNullOrEmpty(post.SectionName))
                                    {
                                        @:in
                                        <a asp-controller="@HomeController.Name"
                                           asp-action="@nameof(HomeController.SectionIndex)"
                                           asp-route-stub="@post.SectionSlug">@post.SectionName</a>
                                    }
                                </small>
                            </em>
                        </div>
                        @if (post.PublishedAt.HasValue)
                        {
                            <span title="@post.PublishedAgo">
                                <em>
                                    <small class="text-muted">
                                        @post.PublishedAt.Value.ToString("f")
                                    </small>
                                </em>
                            </span>
                        }
                        else
                        {
                            <em><small class="text-muted">draft</small></em>
                        }
                    </div>
                </div>
            }
            <nav paginate="@Model"></nav>
        </div>
    }
    @if (Model.LinkLibraries?.Count > 0 || Model.FileLibraries?.Count > 0)
    {
        <div class="@Model.LibraryClasses">
            @if (Model.LinkLibraries?.Count > 0)
            {
                @foreach (var linkLibrary in Model.LinkLibraries)
                {
                    <div class="card mb-2">
                        <div class="card-header">
                            <h2 class="h5 mb-0">@linkLibrary.Name</h2>
                        </div>
                        <div class="card-body p-0 ps-2 m-0">
                            <table class="table table-borderless table-sm mt-1 mb-0">
                                @foreach (var link in linkLibrary.Links)
                                {
                                    <tr>
                                        <td>
                                            <a href="@link.Url">
                                                @if (!string.IsNullOrEmpty(link.Icon))
                                                {
                                                    <span class="@link.Icon fa-fw pe-1"></span>
                                                }
                                                <small>@link.Name</small>
                                            </a>
                                        </td>
                                    </tr>
                                }
                            </table>
                        </div>
                    </div>
                }
            }
            @if (Model.FileLibraries?.Count > 0)
            {
                @foreach (var fileLibrary in Model.FileLibraries)
                {
                    <div class="card mb-2">
                        <div class="card-header d-flex">
                            <div class="flex-grow-1">
                                <h2 class="h5 mb-0">@fileLibrary.Name</h2>
                            </div>
                            <a asp-controller="@Ocuda.Ops.Controllers.Areas.ContentManagement.SectionController.Name"
                               asp-action="@nameof(Ocuda.Ops.Controllers.Areas.ContentManagement.SectionController.FileLibrary)"
                               asp-area="@nameof(Ocuda.Ops.Controllers.Areas.ContentManagement)"
                               asp-route-sectionSlug="@Model.SectionSlug"
                               asp-route-fileLibrarySlug="@fileLibrary.Slug"
                               class="btn btn-sm btn-outline-secondary">
                                <span class="fas fa-tasks fa-fw"
                                      title="View this file library."></span>
                            </a>
                        </div>
                        <div class="card-body p-0 m-0">
                            <table class="table table-sm mb-0">
                                <tr>
                                    <th class="ps-2">File</th>
                                    <th style="width: 20%;">Size</th>
                                </tr>
                                @foreach (var file in fileLibrary.Files)
                                {
                                    <tr>
                                        <td class="ps-2">
                                            <a asp-action="@nameof(HomeController.GetFile)"
                                               asp-route-libraryId="@fileLibrary.Id"
                                               asp-route-fileId="@file.Id">
                                                @if (string.IsNullOrEmpty(file.FileType?.Icon))
                                                {
                                                    <span class="far fa-file fa-fw pe-1"></span>
                                                }
                                                else
                                                {
                                                    <span class="@file.FileType.Icon fa-fw pe-1"></span>
                                                }
                                                <small>@file.Name</small>
                                            </a>
                                        </td>
                                        <td>
                                            <small>
                                                @if (string.IsNullOrEmpty(file.Size))
                                                {
                                                    <span class="text-danger fas fa-exclamation-triangle"
                                                          title="This file appears to be missing."></span>
                                                }
                                                else
                                                {
                                                    @file.Size
                                                }
                                            </small>
                                        </td>
                                    </tr>
                                }
                                @if (fileLibrary.TotalFilesInLibrary > fileLibrary.Files.Count)
                                {
                                    <tr>
                                        <td colspan="2" class="text-center">
                                            <a asp-controller="@Ocuda.Ops.Controllers.Areas.ContentManagement.SectionController.Name"
                                               asp-action="@nameof(Ocuda.Ops.Controllers.Areas.ContentManagement.SectionController.FileLibrary)"
                                               asp-area="@nameof(Ocuda.Ops.Controllers.Areas.ContentManagement)"
                                               asp-route-sectionSlug="@Model.SectionSlug"
                                               asp-route-fileLibrarySlug="@fileLibrary.Slug">More files...</a>
                                        </td>
                                    </tr>
                                }
                            </table>
                        </div>
                    </div>
                }
            }
        </div>
    }
</div>