@model Ocuda.Ops.Controllers.Areas.CoverIssue.ViewModels.Management.DetailViewModel

<h1>Cover Issue - Bib ID @Model.Header.BibId</h1>
<hr />

<div class="row">
    <div class="col-12">
        <h2 class="d-inline-block">Reports</h2>
        @if (!string.IsNullOrWhiteSpace(Model.LeapPath))
        {
            <a href="@Model.LeapPath" target="_blank" class="btn btn-info float-right">View in Leap</a>
        }
    </div>
</div>
<div class="row">
    <div class="col-12">
        <div>
            <table class="table table-sm table-bordered table-striped">
                <thead>
                    <tr>
                        <th>Reported By</th>
                        <th>Reported On</th>
                        <th>Resolved</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var detail in Model.Details)
                    {
                        <tr>
                            <td>@detail.CreatedByUser.Name</td>
                            <td>@detail.CreatedAt.ToShortDateString()</td>
                            <td>
                                <span class="@(!detail.IsResolved ? null : "fas fa-check")"></span>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="row mb-2 mt-4">
    <div class="col-12">
        <a asp-action="Index" class="btn btn-outline-secondary text-dark">Return to list</a>
        @if (Model.Header.HasPendingIssue && Model.CanEdit)
        {
            <form asp-action="@nameof(ManagementController.ResolveIssue)" class="d-inline-block" method="post" role="form">
                <input asp-for="HeaderId" value="@Model.Header.Id" type="hidden" />

                <button type="submit" class="btn btn-success">Mark resolved</button>
            </form>
        }
    </div>
</div>