@model Ocuda.Ops.Controllers.Areas.CoverIssue.ViewModels.Management.IndexViewModel

<h3>Cover Issues</h3>

@if (Model.CoverIssueHeaders.Count == 0)
{
    <div class="alert alert-warning">No Issues Found</div>
}

<table class="table table-sm table-bordered link-table">
    <thead>
        <tr>
            <th>Bib ID</th>
            <th>Last Resolved</th>
            <th>Pending Issues</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var header in Model.CoverIssueHeaders)
        {
            <tr>
                <td>
                    <a asp-action="@(nameof(ManagementController.Issue))" asp-route-id="@header.Id" class="rowlink">
                        @header.BibId
                    </a>
                </td>
                <td>@header.LastResolved?.ToShortDateString()</td>
                <td><span class="@(header.HasPendingIssue ? "fas fa-exclamation-triangle" : "")"></span></td>
            </tr>
        }
    </tbody>
</table>

@if (Model.PaginateModel.MaxPage > 1)
{
    <paginate paginateModel="@Model.PaginateModel"></paginate>
}

@section scripts {
    <script>
        $(window).on("load", function () {
            $(".rowlink").each(function () {
                $(this).height($(this).parent().height() + 11);
            });
        });
        $(window).resize(function () {
            $(".rowlink").each(function () {
                $(this).height($(this).parent().height() + 11);
            });
        });
    </script>
}