@model Ocuda.Ops.Controllers.Areas.CoverIssue.ViewModels.Management.IndexViewModel

<h3>Cover Issues</h3>

@if (Model.CoverIssueHeaders.Count == 0)
{
    <div class="alert alert-warning">No Issues Found</div>
}

<div class="row mb-2">
    <div class="col-12">
        <ul class="nav nav-pills">
            <li class="nav-item">
                <a asp-action="@nameof(ManagementController.Index)"
                   asp-route-Type=""
                   class="nav-link"
                   ActiveBy routeKey="type" value=",@Ocuda.Utility.Models.CoverIssueType.New">
                    @Ocuda.Utility.Models.CoverIssueType.New.ToString()
                </a>
            </li>
            <li class="nav-item">
                <a asp-action="@nameof(ManagementController.Index)"
                   asp-route-Type="@Ocuda.Utility.Models.CoverIssueType.Closed"
                   class="nav-link"
                   ActiveBy routeKey="type"
                   value="@Ocuda.Utility.Models.CoverIssueType.Closed">
                    @Ocuda.Utility.Models.CoverIssueType.Closed.ToString()
                </a>
            </li>
        </ul>
        <hr />
    </div>
</div>
<table class="table table-sm table-bordered link-table">
    <thead>
        <tr>
            <th>Bib ID</th>
            <th>Last Resolved</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var header in Model.CoverIssueHeaders)
        {
            <tr>
                <td>
                    <a asp-action="@(nameof(ManagementController.Issue))" asp-route-id="@header.Id" class="rowlink">
                        @header.BibId
                    </a>
                </td>
                <td>@header.LastResolved?.ToShortDateString()</td>
            </tr>
        }
    </tbody>
</table>

@if (Model.PaginateModel.MaxPage > 1)
{
    <paginate paginateModel="@Model.PaginateModel"></paginate>
}

@section scripts {
    <script>
        $(window).on("load", function () {
            $(".rowlink").each(function () {
                $(this).height($(this).parent().height() + 11);
            });
        });
        $(window).resize(function () {
            $(".rowlink").each(function () {
                $(this).height($(this).parent().height() + 11);
            });
        });
    </script>
}
