@model Ocuda.Ops.Controllers.Areas.ContentManagement.ViewModels.Home.IndexViewModel
@using Ocuda.Ops.Controllers.Areas.ContentManagement

<h1>Intranet management</h1>

<div class="row">
    <div class="col-12 col-md-4 my-2">
        <div class="card">
            <div class="card-header lead fw-bold">
                Digital Displays
            </div>
            <div class="card-body">
                <a asp-area="@SectionController.Area"
                   asp-controller="@DigitalDisplaysController.Name"
                   asp-action="@nameof(DigitalDisplaysController.Index)"
                   class="btn btn-outline-dark mt-1">View Digital Displays</a>
            </div>
        </div>
    </div>
    @if (Model.IsSiteManager || Model.HasSectionManagerPermissions)
    {
        <div class="col-12 col-md-4 my-2">
            <div class="card">
                <div class="card-header lead fw-bold">
                    Sections
                </div>
                <div class="card-body">
                    <a asp-area="@SectionController.Area"
                       asp-controller="@SectionController.Name"
                       asp-action="@nameof(SectionController.Index)"
                       class="btn btn-outline-dark mt-1">View @SectionController.Name</a>
                </div>
            </div>
        </div>
    }
    @if (Model.IsSiteManager)
    {
        <div class="col-12 col-md-4 my-2">
            <div class="card">
                <div class="card-header lead fw-bold">
                    Site configuration
                </div>
                <div class="card-body">
                    <a asp-area="@ApplicationPermissionsController.Area"
                       asp-controller="@ApplicationPermissionsController.Name"
                       asp-action="@nameof(ApplicationPermissionsController.Index)"
                       class="btn btn-outline-dark mt-1">Application Permissions</a>
                    <a asp-area="@ExternalResourcesController.Area"
                       asp-controller="@ExternalResourcesController.Name"
                       asp-action="@nameof(ExternalResourcesController.Index)"
                       class="btn btn-outline-dark mt-1">External Resources</a>
                    <a asp-area="@SiteSettingsController.Area"
                       asp-controller="@SiteSettingsController.Name"
                       asp-action="@nameof(SiteSettingsController.Index)"
                       class="btn btn-outline-dark mt-1">Site Settings</a>
                </div>
            </div>
        </div>
    }
    @if (Model.IsSiteManager || Model.HasRosterPermissions)
    {
        <div class="col-12 col-md-4 my-2">
            <div class="card">
                <div class="card-header lead fw-bold">
                    User Management
                </div>
                <div class="card-body">
                    @if (Model.IsSiteManager)
                    {
                        <a asp-area="@UsersController.Area"
                           asp-controller="@UsersController.Name"
                           asp-action="@nameof(UsersController.Metadata)"
                           class="btn btn-outline-dark mt-1">User Metadata Types</a>
                        <a asp-area="@UsersController.Area"
                           asp-controller="@UsersController.Name"
                           asp-action="@nameof(UsersController.Permissions)"
                           class="btn btn-outline-dark mt-1">Permission Groups</a>
                        <a asp-area="@UsersController.Area"
                           asp-controller="@UsersController.Name"
                           asp-action="@nameof(UsersController.TitleClassList)"
                           class="btn btn-outline-dark mt-1">Title Classifications</a>
                        <a asp-controller="@Ocuda.Ops.Controllers.ProfileController.Name"
                           asp-action="@nameof(Ocuda.Ops.Controllers.ProfileController.BatchUploadPictures)"
                           class="btn btn-outline-dark mt-1">Profile Pictures</a>

                    }
                    @if (Model.HasRosterPermissions)
                    {
                        <a asp-area="@RosterController.Area"
                           asp-controller="@RosterController.Name"
                           asp-action="@nameof(RosterController.Index)"
                           class="btn btn-outline-dark mt-1">Roster Management</a>
                    }
                    @if (Model.HasUserSyncPermissions)
                    {
                        <a asp-area="@UserSyncController.Area"
                           asp-controller="@UserSyncController.Name"
                           asp-action="@nameof(UserSyncController.Index)"
                           class="btn btn-outline-dark mt-1">User Sync</a>
                    }
                </div>
            </div>
        </div>
    }

</div>