@model Ocuda.Ops.Controllers.Areas.Admin.ViewModels.CoverIssueManagement.CoverIssueManagementViewModel

<div class="col">
    <div class="row">
        <a href="https://mcldaz.org/LeapWebApp/circulation/index.html#bibrecords/@Model.Header.BibID">
            <h3>Cover Issue - @Model.Header.BibID</h3>
        </a>
    </div>
    <div class="row">
        <div>

        </div>
        <div class="col-2">
            <div class="col-xs-12">
                <img src="" class="img-responsive" id="item-cover-preview" style="margin: 0 auto;" />
            </div>
        </div>
        <div class="col-5">
            <h4>Open Issues</h4>
            <table class="table table-condensed table-bordered table-hover">
                <thead>
                    <tr>
                        <th>
                            Issue Type
                        </th>
                        <th>
                            Requested By
                        </th>
                        <th>
                            ISBN
                        </th>
                        <th>
                            UPC
                        </th>
                        <th>
                            OCLC
                        </th>
                        <th>
                            Additional Info.
                        </th>
                        @if (Model.Details.Any(_ => _.IsOpenIssue))
                        {
                            <th>
                            </th>
                        }
                    </tr>
                </thead>

                @if (!Model.Details.Any(_ => _.IsOpenIssue))
                {
                    <tr>
                        <td colspan="100">
                            No open issues
                        </td>
                    </tr>
                }
                else
                {
                    @foreach (var issue in Model.Details.Where(_ => _.IsOpenIssue))
                    {
                        <tbody>
                            <tr class="row-link" data-isbn="@issue.Isbn" data-upc="@issue.UPC" data-oclc="@issue.OCLC">
                                <td>
                                    @Model.Types.Where(_ => _.Id == issue.CoverIssueTypeId).FirstOrDefault().Name
                                </td>
                                <td>
                                    @issue.CreatedByUser.Name
                                </td>
                                <td>
                                    @issue.Isbn
                                </td>
                                <td>
                                    @issue.UPC
                                </td>
                                <td>
                                    @issue.OCLC
                                </td>
                                <td>
                                    @issue.Message
                                </td>
                                <td>
                                    <button class="resolveCoverIssue btn btn-primary" data-detail-id="@issue.Id">
                                        Resolve
                                        @if (!Model.Types.Where(_ => _.Id == issue.CoverIssueTypeId).FirstOrDefault().HasMessage)
                                        {
                                            @Model.Types.Where(_ => _.Id == issue.CoverIssueTypeId).FirstOrDefault().Name@:'s
                                        }
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    }
                }

            </table>
        </div>
        <div class="col-5">
            <h4>Historical Issues</h4>
            <table class="table table-condensed table-bordered table-hover">
                <thead>
                    <tr>
                        <th>
                            Issue Type
                        </th>
                        <th>
                            Requested By
                        </th>
                        <th>
                            ISBN
                        </th>
                        <th>
                            UPC
                        </th>
                        <th>
                            OCLC
                        </th>
                        <th>
                            Additional Info.
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model.Details.Where(_ => !_.IsOpenIssue).Count() == 0)
                    {
                        <tr>
                            <td colspan="100">
                                No historical issues
                            </td>
                        </tr>
                    }
                    else
                    {
                        @foreach (var issue in Model.Details.Where(_ => !_.IsOpenIssue))
                        {
                        <tbody>
                            <tr class="row-link" data-isbn="@issue.Isbn" data-upc="@issue.UPC" data-oclc="@issue.OCLC">
                                <td>
                                    @Model.Types.Where(_ => _.Id == issue.CoverIssueTypeId).FirstOrDefault().Name
                                </td>
                                <td>
                                    @issue.CreatedByUser.Name
                                </td>
                                <td>
                                    @issue.Isbn
                                </td>
                                <td>
                                    @issue.UPC
                                </td>
                                <td>
                                    @issue.OCLC
                                </td>
                                <td>
                                    @issue.Message
                                </td>
                            </tr>
                        </tbody>
                    }
                    }
                </table>
            </div>
            <div class="row">
                <a class="btn btn-primary"
                   id="return-home"
                   asp-action="@nameof(CoverIssueManagementController.Index)">Cover Issue Management Home</a>
            </div>
        </div>
    </div>
    @section scripts {
        <script>
        var resolveUrl = "@Url.Action(nameof(CoverIssueManagementController.ResolveIssues))";
        $(".row-link").on("click", function () {
            imgStr = "@Model.CoverIssueImg";
            imgArr = imgStr.split("isbn=");
            imgSrc = imgArr[0] + "isbn=" + $(this).data("isbn") + imgArr[1];
            if ($(this).data("upc") != "") {
                imgSrc += "&upc=" + $(this).data("upc");
            }
            if ($(this).data("oclc") != "") {
                imgSrc += "&oclc=" + $(this).data("oclc");
            }
            $("#item-cover-preview").attr('src', imgSrc);
            $('.selected').removeClass('selected');
            $(this).addClass('selected');
        });
        $(".resolveCoverIssue").on("click", function () {
            var id = $(this).data("detail-id");
            $.post(resolveUrl, { detailId: id }, function (response) {
                window.location.reload();
            });

        });
        $("#clearSearch").click(function () {
            window.location.href = "@Url.Action(nameof(CoverIssueManagementController.Index))";
        });

        </script>
    }