@using Ocuda.Ops.Controllers.Areas.CoverIssue

    <div class="justify-content-center d-flex align-items-center flex-wrap">
        <div class="col-xs-12 col-sm-4 space-above">
            <div class="col-xs-12 col-sm-4 space-above">
                <div class="card">
                    <div class="card-header">
                        <h3>@ManagementController.Name</h3>
                    </div>
                    <div class="card-body mx-auto">
                        <a asp-area="@ManagementController.Area"
                           asp-controller="@ManagementController.Name"
                           asp-action="@nameof(ManagementController.Index)"
                           class="btn btn-info">View CoverIssue @ManagementController.Name</a>
                    </div>
                </div>
            </div>
        </div>
    </div>