@model Ocuda.Ops.Controllers.Areas.ContentManagement.ViewModels.AddPostViewModel

@section styles {
    <link rel="stylesheet" href="~/css/md.min.css" asp-append-version="true" />
}

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a href="@Url.Action(nameof(SectionController.Index))" class="navbar-brand">Section</a>
    <span class="navbar-brand">/</span>
    <a href="@Url.Action(nameof(SectionController.Section),
            new { sectionStub = Model.SectionStub})"
       class="navbar-brand">@Model.SectionName</a>
    <a class="nav-link"
       href="@Url.Action(nameof(SectionController.Posts),
           new { sectionStub = Model.SectionStub, categoryStub = "", page=1})">
        Posts
    </a>
</nav>
<div class="col-6">
    <form id="modifyPostForm"
          method="post"
          role="form"
          action="@Url.Action(nameof(SectionController.AddPost))">
        <input asp-for="Post.SectionId" value="@Model.SectionId" hidden />
        <input asp-for="Post.Title" formgroup />
        <input asp-for="Post.Stub" formgroup />
        <select id="postCategoryIds" multiple="multiple" asp-for="CategoryIds" asp-items="Model.SelectionPostCategories" class="hidden" formgroup>
        </select>
        <div class="row form-group">
            <label class="col-form-label text-md-right col-md-3 custom-control-label">
                Show On HomePage
            </label>
            <div class="flex-md-grow-0">
                <div class="custom-control custom-switch">
                    <input type="checkbox"
                           class="custom-control-input"
                           asp-for="Post.ShowOnHomePage"
                           value="false" />
                    <label class="col-form-label text-md-right col-md-3 custom-control-label text-hide" for="Post_ShowOnHomePage">
                        Show On HomePage
                    </label>
                </div>
            </div>
        </div>
        <div class="form-group row" id="content-div">
            <label asp-for="Post.Content"
                   class="col-md-3 col-form-label text-md-right"></label>
            <div class="col-md-9">
                <ul class="nav nav-tabs">
                    <li class="nav-item">
                        <a class="nav-link active"
                           data-toggle="tab"
                           href="#md-edit"
                           role="tab">Edit</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link"
                           data-toggle="tab"
                           href="#md-preview"
                           role="tab">Preview</a>
                    </li>
                </ul>
                <div class="tab-content" id="md-edit-preview">
                    <div class="tab-pane show active"
                         id="md-edit"
                         role="tabpanel">
                        <div id="wmd-button-bar"
                             class="wmd-button-row"></div>
                        <textarea asp-for="Post.Content"
                                  class="form-control wmd-input"
                                  id="wmd-input">
                            </textarea>
                    </div>
                    <div class="tab-pane" id="md-preview" role="tabpanel">
                        <div id="preview" class="wmd-preview"></div>
                    </div>
                    <span asp-validation-for="Post.Content"
                          class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="row float-right">
            <button id="addPostBtn" type="submit" class="btn btn-primary col" aria-label="Confirm">
                Save
            </button>
            <a href="@Url.Action(nameof(SectionController.Posts), new { sectionStub = Model.SectionStub})"
               class="btn btn-secondary col">
                Cancel
            </a>
        </div>
    </form>
</div>

@section scripts {
    <script src="~/js/md.min.js" asp-append-version="true"></script>
    <script>
        $(document).ready(function () {
            var editor = new Markdown.Editor({ allowUploads: false });
            editor.run();
            @if (Model.CategoryIds != null)
            {
                <text>
                var categories = "@(string.Join<string>(",", Model.CategoryIds.Select(_=>_.ToString()).ToList()))";
                </text>
                @foreach (var id in Model.CategoryIds)
                {
                    @:$('#category-@id').click();
                }
            }
            $("#postCategoryIds").multiselect({
                nonSelectedText: "",
                buttonClass: "form-control",
                buttonWidth: "100%",
                disableIfEmpty: true
            });
        });

        $("#Post_ShowOnHomePage").click(function () {
            if ($(this).val().toLowerCase() == "false") {
                $(this).val("true");
            }
            else {
                $(this).val("false");
            }
        });
    </script>

}