@model Ocuda.Ops.Controllers.Areas.ContentManagement.ViewModels.Section.FileLibraryViewModel

@{
    var invalid = Microsoft.AspNetCore.Mvc.ModelBinding.ModelValidationState.Invalid;
}

<div class="modal fade"
     id="replaceModal"
     tabindex="-1"
     role="dialog"
     aria-labelledby="replaceModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="replaceModalLabel">Replace File</h4>
                <button type="button"
                        class="close"
                        data-bs-dismiss="modal"
                        aria-label="Close">
                    <span class="visually-hidden" aria-hidden="true">&times;</span>
                </button>
            </div>
            <form asp-action="@nameof(SectionController.ReplaceFile)"
                  method="post"
                  role="form"
                  enctype="multipart/form-data">
                <div class="modal-body">
                    <input asp-for="ReplaceFileId" type="hidden" />
                    <input asp-for="CurrentPage" type="hidden" />
                    <input asp-for="SectionSlug" type="hidden" />
                    <input asp-for="FileLibrarySlug" type="hidden" />
                    <input asp-for="FileLibraryId" type="hidden" />
                    <p>Replace file: <strong id="ReplaceFileName"></strong></p>
                    <div class="input-group">
                        <label class="input-group-btn">
                            <span class="btn btn-light btn-file">
                                <span class="far fa-file-image"></span> Select file...
                                <input type="file"
                                       id="ReplaceFileUpload"
                                       asp-for="UploadFile"
                                       style="display: none;" />
                            </span>
                        </label>
                        <input type="text"
                               class="form-control @(ViewData.ModelState.GetValidationState("UploadFile") == invalid ? "input-validation-error" : "")"
                               readonly />
                    </div>
                    <span asp-validation-for="UploadFile" class="text-danger"></span>
                </div>
                <div class="modal-footer">
                    <button type="button"
                            class="btn btn-outline-dark me-2"
                            data-bs-dismiss="modal">
                        Cancel
                    </button>
                    <button type="submit"
                            value="Submit"
                            class="btn btn-outline-success">
                        <span class="fas fa-file-upload" aria-hidden="true"></span>
                        Replace
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="modal fade"
     id="listAddModal"
     tabindex="-1"
     role="dialog"
     aria-labelledby="addModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="addModalLabel">Add File</h4>
                <button type="button"
                        class="close"
                        data-bs-dismiss="modal"
                        aria-label="Close">
                    <span class="visually-hidden" aria-hidden="true">&times;</span>
                </button>
            </div>
            <form asp-action="@nameof(SectionController.AddFileToLibrary)"
                  id="addFileLib"
                  method="post"
                  role="form"
                  enctype="multipart/form-data">
                <div class="modal-body">
                    <input asp-for="SectionSlug"
                           value="@Model.SectionSlug"
                           autocomplete="off"
                           type="hidden" />
                    <input asp-for="FileLibraryId"
                           value="@Model.FileLibraryId"
                           autocomplete="off"
                           type="hidden" />
                    <input asp-for="CurrentPage" type="hidden" />
                    <div class="input-group">
                        <label class="input-group-btn">
                            <span class="btn btn-light btn-file">
                                <span class="far fa-file-image"></span> Select file(s)...
                                <input type="file"
                                       multiple="multiple"
                                       asp-for="UploadFile"
                                       accept="@(string.Join(",",Model.FileTypes.Select(_=>_.Extension).ToList()))"
                                       style="display: none;" />
                            </span>
                        </label>
                        <input type="text"
                               class="form-control @(ViewData.ModelState.GetValidationState("UploadFile") == invalid ? "input-validation-error" : "")"
                               readonly />
                    </div>
                    <span asp-validation-for="UploadFile" class="text-danger"></span>
                    <input asp-for="File.Name" autocomplete="off" formgroup />
                    <input asp-for="File.Description" autocomplete="off" formgroup />
                </div>
                <div class="modal-footer">
                    <button type="button"
                            class="btn btn-outline-dark me-2"
                            data-bs-dismiss="modal">
                        Cancel
                    </button>
                    <button type="submit"
                            value="Submit"
                            class="btn btn-outline-success">
                        <span class="fas fa-file-upload" aria-hidden="true"></span>
                        Upload
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="modal fade"
     id="deleteModal"
     tabindex="-1"
     role="dialog"
     aria-labelledby="deleteModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <form id="delFileForm"
              method="post"
              role="form"
              asp-action="@nameof(SectionController.DeleteFileFromLibrary)">
            <input asp-for="SectionSlug" type="hidden" />
            <input asp-for="FileLibrarySlug" type="hidden" />
            <input asp-for="CurrentPage" type="hidden" />
            <input id="delFileId" asp-for="File.Id" type="hidden" />
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="deleteModalLabel">Delete Feature</h4>
                    <button type="button"
                            class="close"
                            data-bs-dismiss="modal"
                            aria-label="Close">
                        <span class="visually-hidden" aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body d-flex">
                    <span class="fa fa-exclamation-triangle text-danger fa-lg align-self-center me-3"
                          aria-hidden="true"></span>
                    <span class="d-flex-grow-1">
                        <p>
                            Are you sure you want to delete this file:
                            <strong><span id="deleteModalText"></span></strong>?
                        </p>
                    </span>
                </div>
                <div class="modal-footer">
                    <button type="button"
                            class="btn btn-outline-dark me-1"
                            data-bs-dismiss="modal">
                        Cancel
                    </button>
                    <button class="btn btn-outline-danger pull-right"
                            aria-label="Confirm"
                            id="deleteItem"
                            type="submit"
                            value="Submit"
                            button-spinner>
                        Delete
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>

<div class="row mb-2">
    <div class="col-sm-7">
        <h1>File library <small class="text-muted">@Model.FileLibraryName</small></h1>
    </div>
    <div class="col-sm-5">
        <a class="btn btn-outline-dark mt-2 mb-1 ms-2 float-end"
           asp-area=""
           asp-controller="@Ocuda.Ops.Controllers.HomeController.Name"
           asp-action="@(nameof(Ocuda.Ops.Controllers.HomeController.SectionIndex))"
           asp-route-slug="@Model.SectionSlug">Back</a>
        @if (Model.HasAdminRights)
        {
            <button class="btn btn-outline-primary mt-2 mb-1 me-2 float-end"
                data-bs-toggle="modal"
                data-target="#listAddModal">
                <span class="fas fa-file-upload" aria-hidden="true"></span>
                Add file
            </button>
        }
        @if (Context.User?.HasClaim(ClaimType.SiteManager, ClaimType.SiteManager) == true)
        {
            <a class="btn btn-outline-success mt-2 mb-1 me-2 float-end"
           asp-area="@Ocuda.Ops.Controllers.Areas.ContentManagement.SectionController.Area"
           asp-controller="@Ocuda.Ops.Controllers.Areas.ContentManagement.SectionController.Name"
           asp-action="@nameof(Ocuda.Ops.Controllers.Areas.ContentManagement.SectionController.FileLibraryPermissions)"
           asp-route-sectionSlug="@Model.SectionSlug"
           asp-route-fileLibrarySlug="@Model.FileLibrarySlug">
                <span class="fas fa-user-plus"></span>
                Permissions
            </a>
        }
    </div>
</div>

<div class="row pt-2">
    <div class="col-lg-10 offset-lg-1">
        <table class="table table-sm table-bordered table-hover">
            <thead>
                <tr>
                    <th>Icon</th>
                    <th>Name</th>
                    <th>Size</th>
                    <th>Last updated</th>
                    @if (Model.HasReplaceRights || Model.HasAdminRights)
                    {
                        <th>Actions</th>
                    }
                </tr>
            </thead>
            <tbody>
                @if (Model.Files.Count > 0)
                {
                    @foreach (var file in Model.Files)
                    {
                        <tr>
                            <td class="align-middle text-center">
                                <a asp-action="@nameof(Ocuda.Ops.Controllers.HomeController.GetFile)"
                           asp-controller="@Ocuda.Ops.Controllers.HomeController.Name"
                           asp-area=""
                           asp-route-libraryId="@Model.FileLibraryId"
                           asp-route-fileId="@file.Id"
                           title="Download file"
                           class="btn btn-outline-primary">
                                    @if (string.IsNullOrEmpty(file.FileType?.Icon))
                                    {
                                        <span class="far fa-file fa-fw fa-lg"></span>
                                    }
                                    else
                                    {
                                        <span class="@file.FileType.Icon fa-fw fa-lg"></span>
                                    }
                                </a>
                            </td>
                            <td class="align-middle">
                                @file.Name
                                @if (!string.IsNullOrEmpty(file.Description))
                                {
                                    <br />
                                    @file.Description
                                }
                            </td>
                            <td class="align-middle">
                                @file.Size
                            </td>
                            <td class="align-middle">
                                <small>
                                    <span title="@file.LastUpdateAt">
                                        @file.LastUpdateAt.ToString("d")
                                        <span class="d-none d-md-inline">@file.LastUpdateAt.ToString("t")</span>
                                    </span>
                                    <br />
                                    <span class="d-none d-md-inline">by </span>
                                    <a asp-controller="@Ocuda.Ops.Controllers.ProfileController.Name"
                               asp-action="@nameof(Ocuda.Ops.Controllers.ProfileController.Index)"
                               asp-route-id="@file.LastUpdateBy.Username">@file.LastUpdateBy.Name</a><br />
                                </small>
                            </td>
                            @if (Model.HasReplaceRights || Model.HasAdminRights)
                            {
                                <td class="align-middle text-nowrap">
                                    @if (Model.HasReplaceRights)
                                    {
                                        <button type="button"
                                class="btn btn-outline-warning"
                                data-bs-toggle="modal"
                                data-target="#replaceModal"
                                data-id="@file.Id"
                                data-name="@file.Name"
                                data-extension="@Model.FileTypes.Where(_ => _.Id == file.FileTypeId).FirstOrDefault().Extension"
                                title="Replace file">
                                            <span class="fas fa-sync-alt fa-fw"
                                  aria-hidden="true"></span>
                                        </button>
                                    }
                                    @if (Model.HasAdminRights)
                                    {
                                        <button type="button"
                                class="btn btn-outline-danger"
                                data-bs-toggle="modal"
                                data-target="#deleteModal"
                                data-id="@file.Id"
                                data-name="@file.Name"
                                title="Delete file">
                                            <span class="far fa-times-circle fa-fw"
                                  aria-hidden="true"></span>
                                        </button>
                                    }
                                </td>
                            }
                        </tr>
                    }
                }
                else
                {
                    <tr>
                        <td colspan="4">No Files in Library</td>
                    </tr>
                }
            </tbody>
        </table>
        <nav paginate="@Model"></nav>
    </div>
</div>

@section scripts {
<script>
    $("#deleteModal").on("show.bs.modal", function (e) {
        let button = $(e.relatedTarget);
        let id = button.data("id");
        let name = button.data("name");
        $(this).find("#deleteModalText").text(name);
        $(this).find("#delFileId").val(String(id));
    });
    $("#replaceModal").on("show.bs.modal", function (e) {
        let button = $(e.relatedTarget);
        let id = button.data("id");
        $(this).find("#ReplaceFileName").text(button.data("name"));
        $(this).find("#ReplaceFileId").val(String(id));
        $(this).find("#ReplaceFileUpload").attr("accept", button.data("extension"));
    });
</script>
}