@model Ocuda.Ops.Controllers.Areas.ContentManagement.ViewModels.Section.SectionIndexViewModel

<div class="row mb-2">
    <div class="col-sm-7">
        <h1>Sections</h1>
    </div>
    <div class="col-sm-5">
        <a class="btn btn-outline-dark mt-2 mb-1 ml-2 float-right"
           asp-controller="@Ocuda.Ops.Controllers.Areas.ContentManagement.HomeController.Name"
           asp-action="@(nameof(Ocuda.Ops.Controllers.Areas.ContentManagement.HomeController.Index))">Back</a>
        @if (Model.IsSiteManager)
        {
            <button class="btn btn-outline-success mt-2 mb-1 mr-2 float-right"
                    data-toggle="modal"
                    data-target="#addModal"
                    disabled>
                <span class="fas fa-plus-circle" aria-hidden="true"></span>
                Add Section
            </button>
            <form method="post"
                  role="form"
                  action="@Url.Action(nameof(SectionController.ClearSectionCache))">
                <button class="btn btn-outline-warning mt-2 mb-1 mr-2 float-right"
                        type="submit">
                    Clear cache
                </button>
            </form>
        }
    </div>
</div>

<div class="row">
    @if (Model.Sections != null)
    {
        @foreach (var userSection in Model.Sections)
        {
            <div class="col-12 col-sm-6 col-lg-4">
                <div class="card mb-1">
                    <div class="card-header d-flex flex-wrap">
                        <div class="flex-grow-1">
                            <h2 class="lead card-title mb-0">@userSection.Name</h2>
                        </div>
                        @if (!string.IsNullOrEmpty(userSection.Icon))
                        {
                            <div>
                                <span class="@userSection.Icon"></span>
                            </div>
                        }
                    </div>
                    <div class="card-body d-flex flex-wrap">
                        <a asp-action="@nameof(SectionController.Section)"
                           asp-route-sectionslug="@userSection.Slug"
                           class="btn btn-outline-primary mr-1 mb-1">
                            <span class="fas fa-tools"></span>
                            Admin
                        </a>
                        @if (Context.User?.HasClaim(ClaimType.SiteManager, ClaimType.SiteManager) == true)
                        {
                            <a asp-action="@nameof(SectionController.Permissions)"
                               asp-route-slug="@userSection.Slug"
                               class="btn btn-outline-primary mr-1 mb-1">
                                <span class="fas fa-user-plus"></span>
                                Permissions
                            </a>
                        }
                        <a asp-controller="@HomeController.Name"
                           asp-action="@nameof(Ocuda.Ops.Controllers.HomeController.SectionIndex)"
                           asp-area=""
                           asp-route-slug="@userSection.Slug"
                           class="btn btn-outline-primary mr-1 mb-1">
                            <span class="fas fa-list"></span>
                            View
                        </a>
                    </div>
                </div>
            </div>
        }
    }
    else
    {
        <div>
            You do not manage any sections.
        </div>
    }
</div>