@model Ocuda.Ops.Controllers.Areas.ContentManagement.ViewModels.Section.PermissionsViewModel

<div class="row mb-2">
    <div class="col-sm-7">
        <h1>Section management permissions</h1>
    </div>
    <div class="col-sm-5">
        <a class="btn btn-outline-dark mt-2 mb-1 ml-2 float-end"
           asp-controller="@Ocuda.Ops.Controllers.Areas.ContentManagement.SectionController.Name"
           asp-action="@(nameof(Ocuda.Ops.Controllers.Areas.ContentManagement.SectionController.Section))"
           asp-route-sectionSlug="@Model.Slug">Back</a>
    </div>
</div>

<div class="row pt-1">
    <div class="col-12">
        <input asp-for="Name" formgroup readonly />
        <input asp-for="Slug" formgroup readonly />
    </div>
</div>

<div class="row pt-1">
    <div class="col-12 col-sm-6">
        <div class="card">
            <div class="card-header px-3">
                Available Groups
            </div>
            <ul class="list-group list-group-flush">
                @if (Model.AvailableGroups?.Count > 0)
                {
                    foreach (var availableGroup in Model.AvailableGroups)
                    {
                        <li class="list-group-item px-3 py-2">
                            <form asp-controller="@SectionController.Name"
                                  asp-action="@(nameof(SectionController.AddPermissionGroup))"
                                  asp-route-slug="@Model.Slug"
                                  asp-route-permissionGroupId="@availableGroup.Key">
                                <span class="d-inline-block mt-1">@availableGroup.Value</span>
                                <button class="btn btn-outline-success float-end">
                                    <span class="fa fa-plus-circle"></span>
                                </button>
                            </form>
                        </li>
                    }
                }
                else
                {
                    <li class="list-group-item">No groups available.</li>
                }
            </ul>
        </div>
    </div>
    <div class="col-12 col-sm-6">
        <div class="card">
            <div class="card-header px-3">
                Assigned Groups
            </div>
            <ul class="list-group list-group-flush">
                @if (Model.AssignedGroups?.Count > 0)
                {
                    foreach (var availableGroup in Model.AssignedGroups)
                    {
                        <li class="list-group-item px-3 py-2">
                            <form asp-controller="@SectionController.Name"
                                  asp-action="@(nameof(SectionController.RemovePermissionGroup))"
                                  asp-route-slug="@Model.Slug"
                                  asp-route-permissionGroupId="@availableGroup.Key">
                                <span class="d-inline-block mt-1">@availableGroup.Value</span>
                                <button class="btn btn-outline-danger float-end">
                                    <span class="fa fa-minus-circle"></span>
                                </button>
                            </form>
                        </li>
                    }
                }
                else
                {
                    <li class="list-group-item">No groups assigned.</li>
                }
            </ul>
        </div>
    </div>
</div>