@model Ocuda.Ops.Controllers.Areas.ContentManagement.ViewModels.Section.PostDetailsViewModel
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a href="@Url.Action(nameof(SectionController.Index))" class="navbar-brand">Section</a>
    <span class="navbar-brand">/</span>
    <a href="@Url.Action(nameof(SectionController.Section), new { sectionSlug = Model.SectionSlug})" class="navbar-brand">@Model.SectionName</a>
    <a class="nav-link"
       href="@Url.Action(nameof(SectionController.Posts),
            new { sectionSlug = Model.SectionSlug,
            page=1})">
        Posts
    </a>
</nav>
<div class="modal fade"
     id="deleteModal"
     tabindex="-1"
     role="dialog"
     aria-labelledby="deleteModalLabel">
    <div class="modal-dialog" role="document">
        <form id="deleteForm"
              action="@Url.Action(nameof(SectionController.DeletePost),
                new { sectionSlug = Model.SectionSlug, postId = Model.Post.Id})"
              method="post"
              role="form">
            <input asp-for="Post.Id" value="@Model.SectionSlug" type="hidden" />
            <input asp-for="SectionSlug" type="hidden" />
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="deleteModalLabel">Delete Feature</h4>
                    <button type="button"
                            class="close"
                            data-dismiss="modal"
                            aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <span class="fa fa-exclamation-triangle" aria-hidden="true"></span>
                    <span id="modal-text">Are you sure you want to delete "@Model.Post.Title"</span>
                </div>
                <div class="modal-footer">
                    <button type="button"
                            class="btn btn-default"
                            data-dismiss="modal"
                            style="margin-right: 1em;">
                        Cancel
                    </button>
                    <button type="submit"
                            id="delModalButton"
                            class="btn btn-danger pull-right"
                            aria-label="Confirm"
                            button-spinner>
                        Delete
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="col-9 mx-auto">
    <div class="row">
        <div class="col-2 text-center">
            <div class="row">
                <div class="card mx-auto">
                    <div class="card-header">
                        By Category
                    </div>
                    @if (Model.SectionCategories.Count != 0)
                    {
                        <ul class="nav nav-pills flex-column">
                            @foreach (var category in Model.SectionCategories)
                            {
                                <li>
                                    <a href="@Url.Action(nameof(SectionController.Posts),
                                       new { sectionSlug = Model.SectionSlug, categorySlug = category.Stub, page=1})"
                                       class=" badge badge-light text-left"
                                       style="margin: 5px 10px; padding: 5px 10px; width:80%">
                                        @category.Name
                                    </a>
                                </li>
                            }
                        </ul>
                    }
                    else
                    {
                        <div class="col card-body">
                            No Categories
                        </div>
                    }
                </div>
            </div>
            <div class="row">
                <div class="card mx-auto">
                    <div class="card-header">
                        Recent Posts
                    </div>
                    @if (Model.SectionCategories.Count != 0)
                    {
                        <ul class="nav nav-pills flex-column">
                            @foreach (var post in Model.SectionsPosts)
                            {
                                <li>
                                    <a href="@Url.Action(nameof(SectionController.PostDetails),
                                       new { sectionSlug = Model.SectionSlug, postSlug = post.Slug })"
                                       class="badge badge-light text-left"
                                       style="margin: 5px 10px; padding: 5px 10px; width:80%">
                                        @post.Title
                                    </a>
                                </li>
                            }
                        </ul>
                    }
                    else
                    {
                        <div class="card-body">
                            No Posts
                        </div>
                    }
                </div>
            </div>
            <div class="row">
                <span class="mx-auto">
                    <a href="@Url.Action(nameof(SectionController.AddPost),new { sectionSlug = Model.SectionSlug})"
                       class="btn btn-success"
                       id="addPost">
                        Create Post
                    </a>
                </span>
            </div>
        </div>
        <div class="col-10">
            <div class="card">
                <div class="card-header">
                    <div class="float-left align-middle">
                        <h4>
                            @Model.Post.Title
                        </h4>
                    </div>
                    <div class="float-right align-middle h4">
                        <a href="@Url.Action(nameof(SectionController.EditPost), new { sectionSlug = Model.SectionSlug, postSlug = Model.Post.Slug})">
                            <span class="far fa-edit float-right"></span>
                        </a>
                    </div>
                </div>
                <div class="card-body">
                    @Html.Raw(Model.Post.Content)
                </div>
                <div class="card-footer">
                    <div class="float-left align-middle">
                        <div class="font-italic">
                            @if (Model.Post.PublishedAt.HasValue)
                            {
                                @:Posted: @Model.Post.PublishedAt.Value.ToString()
                            }
                            else
                            {
                                @:Draft
                            }
                        </div>
                        @if (Model.PostCategories.Count > 0)
                        {
                            <div class="font-italic">
                                Category:&nbsp;
                                <span>
                                    @foreach (var category in Model.PostCategories
                                         .Where(_ => _.PostId == Model.Post.Id)
                                         .Select(_ => Model.SectionCategories.Where(__ => __.Id == _.CategoryId).FirstOrDefault()).ToList())
                                    {
                                        <a class="badge badge-pill badge-info"
                                           href="@Url.Action(nameof(SectionController.Posts),
                                        new { sectionSlug = Model.SectionSlug,
                                        categorySlug = category.Stub, page = 1})">
                                            @category.Name
                                        </a>
                                    }
                                </span>
                            </div>
                        }
                    </div>
                    <div class="float-right align-middle">
                        <button class="btn btn-danger" type="submit" id="delPost">
                            Delete Post
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div>
    <div>

    </div>
</div>
@section scripts {
    <script>
        $("#delPost").on('click', function () {
            $("#deleteModal").modal("show");
        });
    </script>
}
