@model Ocuda.Ops.Controllers.Areas.Admin.ViewModels.Posts.DetailViewModel

@section styles {
    <link rel="stylesheet" href="~/css/md.min.css" asp-append-version="true" />
}

<form id="deleteForm" role="form">
    <input id="deleteName" type="hidden" />
    <input id="deleteExtension" type="hidden" />
    <input id="deleteId" type="hidden" />
    <div modal isNonSubmit="true" id="deleteModal" name="Post Attachment" type="Ocuda.Utility.TagHelpers.ModalTypes.Delete"></div>
</form>

<form asp-action="@nameof(PostsController.Detail)" method="post" role="form">
    <input id="contentId" asp-for="Post.Id" type="hidden" />
    <input id="contentType" value="@(nameof(Post))" type="hidden" />
    <input asp-for="SectionId" type="hidden" />

    <input asp-for="Post.Title" formgroup />
    <input asp-for="Post.Stub" formgroup readonly="@(Model.Post.IsDraft == false ? "readonly" : null)" />

    <div class="form-group row">
        <label asp-for="Post.Content" class="col-md-3 col-form-label text-md-right"></label>
        <div class="col-md-9">
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link active" data-toggle="tab" href="#md-edit" role="tab">Edit</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#md-preview" role="tab">Preview</a>
                </li>
            </ul>
            <div class="tab-content" id="md-edit-preview">
                <div class="tab-pane show active" id="md-edit" role="tabpanel">
                    <div id="wmd-button-bar" class="wmd-button-row"></div>
                    <textarea asp-for="Post.Content" class="form-control wmd-input" id="wmd-input"></textarea>
                </div>
                <div class="tab-pane" id="md-preview" role="tabpanel">
                    <div id="preview" class="wmd-preview"></div>
                </div>
                <span asp-validation-for="Post.Content" class="text-danger"></span>
            </div>
        </div>
    </div>

    @if (Model.Attachments?.Count() > 0)
    {
        <div id="attachmentsInputRow" class="form-group row">
            <label class="col-md-3 col-form-label text-md-right">Attachments</label>
            <div id="attachmentItemList" class="col-md-9">
                @foreach (var attachment in Model.Attachments)
                {
                    <div id="attachmentItem_@(attachment.Id)" class="input-group">
                        <input asp-for="@attachment.Id" type="hidden" />
                        <div class="input-group-prepend col-md-9 px-0">
                            <label class="form-control h-auto mb-0 mb-md-auto">@(attachment.Name)@(attachment.FileType.Extension)</label>
                        </div>
                        <div class="input-group-append col-md-3 px-0">
                            <label class="form-control rounded-0">file@(attachment.Id)@(attachment.FileType.Extension)</label>
                            <label class="btn btn-outline-danger"
                                   data-toggle="modal"
                                   data-target="#deleteModal"
                                   data-id="@attachment.Id"
                                   data-name="@attachment.Name"
                                   data-extension="@attachment.FileType.Extension">
                                <span class="fa fa-minus-circle"></span>
                            </label>
                        </div>
                    </div>
                }
            </div>
        </div>
    }

    <select class="w-auto" asp-for="Post.IsDraft" disabled="@(Model.Post.IsDraft == false ? true : false)" formgroup>
        <option value="false">No</option>
        <option value="true">Yes</option>
    </select>
    <select class="w-auto" asp-for="Post.IsPinned" formgroup>
        <option value="false">No</option>
        <option value="true">Yes</option>
    </select>

    <div class="row">
        <div class="offset-md-3 col-md-9">
            <a class="btn btn-outline-secondary text-dark" asp-action="@(nameof(PostsController.Index))">Cancel</a>
            <button type="submit" class="btn btn-success btn-spinner" aria-label="Confirm">
                <span class="fa fa-save" aria-hidden="true"></span>
                Save
                <span class="fa fa-spinner fa-pulse fa-fw d-none"></span>
            </button>
        </div>
    </div>
</form>


@section scripts {
    <script src="~/js/md.min.js" asp-append-version="true"></script>

    <script>
        var editor = new Markdown.Editor({ allowUploads: true });
        editor.run();

        @if(Model.Post.IsDraft == true)
        {
            <text>
                var title = $('#Post_Title');
                var stub = $("#Post_Stub");
                var id = $("#contentId");
                var currentStub;
                var stubCheckUrl = "@Url.Action("StubInUse", "Posts", new { Area = "Admin" })";

                $(document).ready(function () {
                    validateStub(stub, id, stubCheckUrl);
                    currentStub = stub.val();
                });

                title.on("keyup", function () {
                    updateStub(stub, title.val());
                    if (stub.val() != currentStub) {
                        clearStubValidation(stub);
                    }
                });

                title.on("blur", function () {
                    setTimeout(function () {
                        validateStub(stub, id, stubCheckUrl);
                        currentStub = stub.val();
                    }, 200);
                });

                stub.on("keyup", function () {
                    if (stub.val() != currentStub) {
                        clearStubValidation(stub);
                    }
                });

                stub.on("blur", function () {
                    updateStub(stub, stub.val());
                    setTimeout(function () {
                        validateStub(stub, id, stubCheckUrl);
                        currentStub = stub.val();
                    }, 200);
                });
            </text>
        }

        $("#deleteModal").on("show.bs.modal", function (e) {
            var button = $(e.relatedTarget);
            var id = button.data("id");
            var name = button.data("name");
            var extension = button.data("extension");
            var modal = $(this);
            $("#deleteId").val(id);
            $("#deleteName").val(name);
            $("#deleteExtension").val(extension);
            modal.find(".modal-text").text(" Are you sure you want to delete \"" + name + extension + "\"?");
        });

        $("#deleteModal").find(".modal-btn-confirm").on("click", function (e) {
            var url = "@(Url.Action("DeleteAttachment", "Files"))";
            var id = $("#deleteId").val();
            removeAttachmentItem(url, id);
            $("#deleteModal").modal("hide");
            ResetSpinners();
        });
    </script>
}