@model Ocuda.Ops.Controllers.Areas.Admin.ViewModels.Posts.DetailViewModel

@section styles
    {
    <link rel="stylesheet" href="~/css/md.min.css" asp-append-version="true" />
}

<form asp-action="@Model.Action" method="post" role="form">
    <input asp-for="SectionId" type="hidden" />
    @if (Model.Action == nameof(PostsController.Edit))
    {
        <input asp-for="Post.SectionId" type="hidden" />
        <input asp-for="Post.CreatedBy" type="hidden" />
        <input id="contentId" asp-for="Post.Id" type="hidden" />
        <input id="contentType" value="@(nameof(Post))" type="hidden" />
    }
    <input asp-for="Post.Title" formgroup />
    <input asp-for="Post.Stub" formgroup readonly="@(Model.IsDraft == false ? "readonly" : null)" />

    <div class="form-group row">
        <label asp-for="Post.Content" class="col-md-3 col-form-label text-md-right"></label>
        <div class="col-md-9">
            <nav class="nav nav-tabs">
                <a class="nav-link active" data-toggle="tab" href="#md-edit" role="tab">Edit</a>
                <a class="nav-link" data-toggle="tab" href="#md-preview" role="tab">Preview</a>
            </nav>
            <div class="tab-content" id="md-edit-preview">
                <div class="tab-pane show active" id="md-edit" role="tabpanel">
                    <div id="wmd-button-bar" class="wmd-button-row"></div>
                    <textarea asp-for="Post.Content" class="form-control wmd-input" id="wmd-input"></textarea>
                </div>
                <div class="tab-pane" id="md-preview" role="tabpanel">
                    <div id="preview" class="wmd-preview"></div>
                </div>
                <span asp-validation-for="Post.Content" class="text-danger"></span>
            </div>
        </div>
    </div>

    <select class="w-auto" asp-for="Post.IsDraft" disabled="@(Model.IsDraft == false ? true : false)" formgroup>
        <option value="false">No</option>
        <option value="true">Yes</option>
    </select>
    <select class="w-auto" asp-for="Post.IsPinned" formgroup>
        <option value="false">No</option>
        <option value="true">Yes</option>
    </select>
    <select class="w-auto" asp-for="Post.ShowOnHomepage" formgroup>
        <option value="false">No</option>
        <option value="true">Yes</option>
    </select>

    <div class="row">
        <div class="offset-md-3 col-md-9">
            <a class="btn btn-outline-secondary text-dark" asp-action="@(nameof(PostsController.Index))">Cancel</a>
            <button type="submit" class="btn btn-success btn-spinner" aria-label="Confirm">
                <span class="fa fa-save" aria-hidden="true"></span>
                Save
                <span class="fa fa-spinner fa-pulse fa-fw d-none"></span>
            </button>
        </div>
    </div>
</form>


@section scripts
    {
    <script src="~/js/md.min.js" asp-append-version="true"></script>

    <script>
        var editor = new Markdown.Editor({ allowUploads: true });
        editor.run();

        @if(Model.Post.IsDraft == true)
        {
            <text>
                var title = $('#Post_Title');
                var stub = $("#Post_Stub");
                var id = $("#contentId");
                var currentStub;
                var stubCheckUrl = "@Url.Action("StubInUse", "Posts", new { Area = "Admin" })";

                $(document).ready(function () {
                    validateStub(stub, id, stubCheckUrl);
                    currentStub = stub.val();
                });

                title.on("keyup", function () {
                    updateStub(stub, title.val());
                    if (stub.val() != currentStub) {
                        clearStubValidation(stub);
                    }
                });

                title.on("blur", function () {
                    setTimeout(function () {
                        validateStub(stub, id, stubCheckUrl);
                        currentStub = stub.val();
                    }, 200);      
                });

                stub.on("keyup", function () {
                    if (stub.val() != currentStub) {
                        clearStubValidation(stub);
                    }
                });

                stub.on("blur", function () {
                    updateStub(stub, stub.val());
                    setTimeout(function () {
                        validateStub(stub, id, stubCheckUrl);
                        currentStub = stub.val();
                    }, 200);   
                });
            </text>
        }
    </script>
}