@model Ocuda.Ops.Controllers.Areas.Admin.ViewModels.Posts.IndexViewModel

<form id="addForm" role="form">
    <input asp-for="@Model.SectionId" type="hidden" />
    <input id="addDraft" asp-for="Post.IsDraft" type="hidden" value="true" />
    <input id="addStub" asp-for="Post.Stub" type="hidden" readonly />
    <div modal id="addModal" name="Post" type="Ocuda.Utility.TagHelpers.ModalTypes.Add">
        <input id="addTitle" asp-for="Post.Title" formgroup />
    </div>
</form>

<form asp-controller="Posts" asp-action="@(nameof(PostsController.Delete))" method="post" role="form">
    <input id="deleteCurrentPage" asp-for="PaginateModel.CurrentPage" type="hidden" />
    <input id="deleteName" asp-for="Post.Title" type="hidden" />
    <input id="deleteId" asp-for="Post.Id" type="hidden" />
    <div modal id="deleteModal" name="Post" type="Ocuda.Utility.TagHelpers.ModalTypes.Delete"></div>
</form>

<div class="mb-2">
    <button class="btn btn-outline-secondary text-dark"
            data-toggle="modal"
            data-target="#addModal">
        Create Blog Post
    </button>
</div>

@if (Model.Posts.Count() == 0)
{
    <div class="alert alert-warning">No Blog Posts Found</div>
}
else
{
    <table class="table table-sm table-bordered link-table">
        <thead>
            <tr>
                <th>Title</th>
                <th>Author</th>
                <th>Date</th>
                <th>Draft</th>
                <th>Pinned</th>
                <th>&nbsp;</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var post in Model.Posts)
            {
                <tr>
                    <td class="rowlink-parent">
                        <a asp-action="@(nameof(PostsController.Edit))" asp-route-id="@post.Id" class="rowlink">
                            @post.Title
                        </a>
                    </td>
                    <td>@post.CreatedBy</td>
                    <td>@post.CreatedAt</td>
                    <td>@(post.IsDraft == true ? "Yes" : null)</td>
                    <td align="center">
                        @if (post.IsPinned)
                        {
                            <span class="fa fa-thumbtack"></span>
                        }
                    </td>
                    <td align="center" class="on-top">
                        <button type="button"
                                class="btn btn-danger btn-xs"
                                data-toggle="modal"
                                data-target="#deleteModal"
                                data-id="@post.Id"
                                data-title="@post.Title">
                            <span class="fa fa-times" aria-hidden="true"></span>
                        </button>
                    </td>
                </tr>
            }
        </tbody>
    </table>

    @if (Model.PaginateModel.MaxPage > 1)
    {
        <paginate paginateModel="@Model.PaginateModel"></paginate>
    }
}

@section scripts
    {
    <script>
        var title = $("#addTitle");
        var stub = $("#addStub");

        $("#addForm").submit(function (e) {
            e.preventDefault();
            var sectionId = $("#SectionId").val();

            $.post("@(Url.Action("Create", "Posts"))",
                { title: title.val(), stub: stub.val(), sectionId: sectionId },
                function (response) {
                    if (response.success == true) {
                        var url = "@(Url.Action("Edit", "Posts"))/" + response.id;
                        location.href = url;
                    }
                    else {
                        alert(response.message);
                    }
                });
        });

        $(document).ready(function () {
            $('.rowlink-parent').each(function () {
                $(this).children('a.rowlink').height($(this).height() + 12);
            });
        });
        $(window).resize(function () {
            $('.rowlink-parent').each(function () {
                $(this).children('a.rowlink').height($(this).height() + 12);
            });
        });

        title.on("keyup", function () {
            updateStub(stub, title.val());
        });

        $("#deleteModal").on("show.bs.modal", function (e) {
            var button = $(e.relatedTarget);
            var id = button.data("id");
            var title = button.data("title");
            var modal = $(this);
            $("#deleteName").val(title);
            $("#deleteId").val(id);
            modal.find(".modal-text").text(" Are you sure you want to delete \"" + title + "\"?");
        });
    </script>
}