@model Ocuda.Ops.Controllers.Areas.SiteManagement.ViewModels.Feature.FeatureViewModel
<div class="container">
    <div class="row">
        <div class="modal fade"
             id="deleteModal"
             tabindex="-1"
             role="dialog"
             aria-labelledby="deleteModalLabel">
            <div class="modal-dialog" role="document">
                <form asp-action="@nameof(FeaturesController.DeleteFeature)"
                      method="post"
                      role="form"
                      style="display:inline">
                    <input asp-for="Feature.Id" type="hidden" />
                    <input asp-for="Feature.Name" type="hidden" />
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title" id="deleteModalLabel">Delete Feature</h4>
                            <button type="button"
                                    class="btn-close"
                                    data-bs-dismiss="modal"
                                    aria-label="Close">
                                <span class="visually-hidden" aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <span class="fa-solid fa-triangle-exclamation" aria-hidden="true"></span>
                            <span id="modal-text"></span>
                        </div>
                        <div class="modal-footer">
                            <button type="button"
                                    class="btn btn-outline-dark"
                                    data-bs-dismiss="modal"
                                    style="margin-right: 1em;">
                                Cancel
                            </button>
                            <button type="submit"
                                    class="btn btn-danger float-end"
                                    aria-label="Confirm"
                                    button-spinner>
                                <span class="fa-solid fa-xmark" aria-hidden="true"></span>
                                Delete
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="row">
        <div>
            <div class="card">
                <div class="card-header">
                    <span class="h5">Features</span>
                    <a asp-action="@nameof(FeaturesController.CreateFeature)"
                       class="text-success float-end">
                        <span class="fa-solid fa-circle-plus fa-lg"></span>
                    </a>
                </div>
                @if (Model.AllFeatures.Count() == 0)
                {
                    <div class="alert alert-warning">No Features found.</div>
                }
                else
                {
                    <div class="card-body">
                        <table class="table table-sm table-bordered link-table">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Stub</th>
                                    <th>BodyText</th>
                                    <th>&nbsp;</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var feature in Model.AllFeatures)
                                {
                                    <tr>
                                        <td class="td-class">
                                            <a asp-action="@nameof(FeaturesController.Feature)" asp-route-featureName="@feature.Name.ToLower().Replace(" ", "")" class="rowlink">
                                                @feature.Name
                                            </a>
                                        </td>
                                        <td>@feature.Stub</td>
                                        <td>
                                            @if (!string.IsNullOrEmpty(feature.BodyText))
                                            {
                                                @if (feature.BodyText.Length > 200)
                                                {
                                                    @(feature.BodyText.Substring(0, 200) + "...")
                                                }
                                                else
                                                {
                                                    @feature.BodyText
                                                }
                                            }
                                        </td>
                                        <td class="on-top gra-mc-icon">
                                            <button type="button"
                                            class="btn btn-link text-danger"
                                            data-bs-toggle="modal"
                                            data-bs-target="#deleteModal"
                                            data-id="@feature.Id"
                                            data-name="@feature.Name">
                                                <span class="fa-regular fa-circle-xmark fa-lg"
                                              aria-hidden="true"></span>
                                            </button>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                    @if (Model.PaginateModel.MaxPage > 1)
                    {
                        <div class="card-footer">
                            <nav paginate="@Model.PaginateModel"></nav>
                        </div>
                    }
                }
            </div>
        </div>
    </div>
</div>

@section scripts
    {
<script>
    $("#deleteModal").on("show.bs.modal", function (e) {
        var button = $(e.relatedTarget);
        var id = button.data("id");
        var name = button.data("name");
        var modal = $(this);
        modal.find("#modal-text").text("Are you sure you want to delete the feature \"" + name + "\"?");
        modal.find("#Feature_Id").val(id);
        modal.find("#Feature_Name").val(name);
    });
    $(window).on("load", function () {
        $(".td-class").each(function () {
            $(this).children("a.rowlink").height($(this).height() + 11);
        });
    });
    $(window).resize(function () {
        $(".td-class").each(function () {
            $(this).children("a.rowlink").height($(this).height() + 11);
        });
    });
</script>
}
