@using Ocuda.Ops.Controllers.Areas.SiteManagement.ViewModels.Feature
@model FeatureViewModel

<div class="d-flex justify-content-between mb-2">
    <h1>
        Features
    </h1>
    <div>
        <a class="btn btn-outline-success me-2"
           asp-action="@nameof(FeaturesController.CreateFeature)">Add Feature</a>
        <a class="btn btn-outline-dark"
           asp-controller="@Ocuda.Ops.Controllers.Areas.ContentManagement.HomeController.Name"
           asp-action="@(nameof(Ocuda.Ops.Controllers.Areas.ContentManagement.HomeController.Index))">Back</a>
    </div>
</div>

<div class="row">
    <div class="col">
        <table class="table table-bordered">
            <tr>
                <th>Sort</th>
                <th>Name</th>
                <th>Slug</th>
                <th>Section</th>
                <th>Icon</th>
                <th>Action</th>
            </tr>
            @if (Model.AllFeatures?.Count > 1)
            {
                @foreach (var feature in Model.AllFeatures)
                {
                    <tr>
                        <td>@feature.SortOrder</td>
                        <td>@feature.Name</td>
                        <td>@feature.Stub</td>
                        <td>@(feature.IsAtThisLocation ? "At This Location" : "Services Available")</td>
                        <td>
                            @if (feature.Icon?.StartsWith("fa") == true)
                            {
                                <span class="@feature.Icon"></span>
                            }
                            else
                            {
                                <span>@feature.Icon</span>
                            }
                        </td>
                        <td class="text-end">
                            @if (Model.CanManageFeatures)
                            {
                                <form asp-action="@nameof(FeaturesController.DeleteFeature)"
                                class="d-inline">
                                    <input type="hidden" name="slug" value="@feature.Stub" />
                                    <button type="submit" class="btn btn-sm btn-outline-danger">
                                        <span class="fa-solid fa-circle-minus fa-fw" aria-hidden="true"></span>
                                    </button>
                                </form>
                                <a asp-action="@nameof(FeaturesController.Feature)"
                                    asp-route-slug="@feature.Stub"
                                    class="btn btn-sm btn-outline-primary">
                                    <span class="fa-regular fa-file-lines fa-fw" aria-hidden="true"></span>
                                </a>
                            }
                        </td>
                    </tr>
                }
            }
            else
            {
                <tr>
                    <td colspan="2"><em>No features.</em></td>
                </tr>
            }
        </table>
    </div>
</div>

<nav paginate="@Model"></nav>
