@model Ocuda.Promenade.Controllers.ViewModels.Locations.LocationDetailViewModel

@section styles {
    <link rel="canonical" href="@Model.CanonicalUrl" />
}

<div class="prom-location">
    <div class="row">
        <div class="col-12 col-md-5 order-md-2">
            <img src="@Model.Location.ImagePath"
                 class="img-fluid pb-2" />
        </div>
        <div class="col-12 col-md-7 order-md-1">
            <h1>@Model.Location.Name Library</h1>
            <a href="@Model.Location.MapLink"
               class="btn btn-outline-secondary text-dark float-right ml-2"
               target="_blank">
                <span class="fas fa-map-marker-alt"></span> Map
            </a>
            <address>
                @Model.Location.Address
                <br />
                @Model.Location.City,
                @Model.Location.State
                @Model.Location.Zip
                <br />
                <a href="tel:@Model.Location.Phone">@Model.Location.Phone</a>
            </address>
            @if (Model.Location.IsAlwaysOpen)
            {
                <p>Open</p>
            }
            else
            {
                <p>
                    @foreach (var dayGrouping in Model.Location.LocationHours)
                    {
                        <strong>@dayGrouping.Days</strong>
                        <span>@dayGrouping.Time</span>
                        <br />
                    }
                </p>
            }
        </div>
    </div>

    @if (Model.PreFeatureSegment != null)
    {
        <div class="row prom-feature-segment">
            <div class="col-12">
                @if (!string.IsNullOrEmpty(Model.PreFeatureSegment?.Header))
                {
                    <h2>@Model.PreFeatureSegment.Header</h2>
                }
                @Html.Raw(Model.PreFeatureSegment.Text)
            </div>
        </div>
    }

    <h2>Library Information</h2>

    @if (Model.Location.DescriptionSegment?.Text?.Length > 0)
    {
        <div class="row prom-feature-segment">
            <div class="col-12">
                @Html.Raw(Model.Location.DescriptionSegment.Text)
            </div>
        </div>
    }

    <div class="row prom-features">
        <div class="col-4 col-md-3 col-lg-2 mb-2">
            <a href="@Model.Location.EventLink" target="_blank">
                <span class="fa-stack fa-2x d-block mx-auto">
                    <span class="fas fa-square fa-stack-2x"></span>
                    <span class="fas fa-inverse fa-calendar-alt fa-stack-1x"></span>
                </span>
                Browse
                Events
            </a>
        </div>
        <div class="col-4 col-md-3 col-lg-2 mb-2">
            <a href="@Model.Location.SubscriptionLink" target="_blank">
                <span class="fa-stack fa-2x d-block mx-auto">
                    <span class="fas fa-square fa-stack-2x"></span>
                    <span class="far fa-inverse fa-envelope fa-stack-1x"></span>
                </span>
                Send&nbsp;me
                Events
            </a>
        </div>
        @foreach (var feature in Model.LocationFeatures)
        {
            <div class="col-4 col-md-3 col-lg-2 mb-2">
                @if (string.IsNullOrEmpty(feature.RedirectUrl))
                {
                    <a asp-action="@nameof(LocationsController.Locations)"
                       asp-route-locationStub="@Model.Location.Stub"
                       asp-route-featureStub="@feature.Stub"
                       class="feature-popup"
                       data-toggle="modal"
                       data-target="#featureModal"
                       target="_blank"
                       data-feature="@feature.Stub">
                        <span class="fa-stack fa-2x d-block mx-auto">
                            <span class="fa fa-square fa-stack-2x"></span>
                            <span class="@feature.Icon">@Html.Raw(feature.IconText)</span>
                        </span>
                        @feature.Name
                    </a>
                }
                else
                {
                    <a href="@feature.RedirectUrl" target="@(feature.NewTab == true ? "_blank" : null)">
                        <span class="fa-stack fa-2x d-block mx-auto">
                            <span class="fa fa-square fa-stack-2x"></span>
                            <span class="@feature.Icon"></span>
                        </span>
                        @feature.Name
                    </a>
                }
            </div>
        }
    </div>

    @if (Model.PostFeatureSegment != null)
    {
        <div class="row prom-feature-segment">
            <div class="col-12">
                @if (!string.IsNullOrEmpty(Model.PostFeatureSegment?.Header))
                {
                    <h2>@Model.PostFeatureSegment.Header</h2>
                }
                @Html.Raw(Model.PostFeatureSegment.Text)
            </div>
        </div>
    }

    @if (Model.NearbyCount > 1)
    {
        <div class="prom-location-nearby">
            <h2>Nearby Locations</h2>

            <p>
                Interested in updates from every library in this area?
                <a href="@Model.LocationNeighborGroup.SubscriptionUrl"
                   target="_blank">Subscribe to updates from all of these libraries.</a>
            </p>

            <div class="row">
                <div class="col-md-6 col-lg-5">
                    <a href="@Model.LocationNeighborGroup.MapImage"
                       class="map-popup"
                       data-toggle="modal"
                       data-target="#mapModal"
                       target="_blank">
                        <img src="@Model.LocationNeighborGroup.MapImage"
                             class="d-block img-fluid mx-auto"
                             alt="@Model.LocationNeighborGroup.Description">
                    </a>
                </div>
                <div class="col-md-6 col-lg-7">
                    <table class="table table-sm">
                        @foreach (var locationGroup in Model.NearbyLocationGroups)
                        {
                            <tr>
                                <td>@locationGroup.DisplayOrder.</td>
                                <td colspan="@(locationGroup.Location.HasEvents ? 1 : 2)">
                                    <a asp-action="@nameof(LocationsController.Locations)"
                                       asp-route-locationStub="@locationGroup.Location.Stub">@locationGroup.Location.Name</a>
                                </td>
                                @if (locationGroup.Location.HasEvents)
                                {
                                    <td>
                                        @if (!string.IsNullOrWhiteSpace(locationGroup.Location.EventLink))
                                        {
                                            <a href="@locationGroup.Location.SubscriptionLink"
                                               class="btn btn-sm btn-outline-secondary text-dark m-1 float-right">
                                                <span class="far fa-envelope"></span>
                                                Subscribe
                                            </a>
                                        }
                                        @if (!string.IsNullOrWhiteSpace(locationGroup.Location.SubscriptionLink))
                                        {
                                            <a href="@locationGroup.Location.EventLink"
                                               class="btn btn-sm btn-outline-secondary text-dark m-1 float-right">
                                                <span class="fas fa-calendar-alt"></span>
                                                Events
                                            </a>
                                        }
                                    </td>
                                }
                            </tr>
                        }
                        <tr>
                            <td colspan="3">
                                <a href="@Model.LocationNeighborGroup.SubscriptionUrl"
                                   class="btn btn-sm btn-outline-secondary text-dark m-1 float-right"
                                   target="_blank">
                                    <span class="far fa-envelope"></span>
                                    @if (Model.NearbyCount == Model.NearbyEventsCount)
                                    {
                                        <text>Updates from all @Model.NearbyEventsCount locations</text>
                                    }
                                    else
                                    {
                                        <text>Updates from @Model.NearbyEventsCount locations</text>
                                    }
                                </a>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    }

    <div class="modal fade"
         id="featureModal"
         tabindex="-1"
         role="dialog"
         aria-labelledby="modalTitle"
         aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalTitle">Details</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div id="modal-body"></div>
                    <div id="modal-text"></div>
                </div>
                <div class="modal-footer">
                    <button type="button"
                            class="btn btn-primary"
                            data-dismiss="modal">
                        Close
                    </button>
                </div>
            </div>
        </div>
    </div>

    @if (!string.IsNullOrEmpty(Model?.LocationNeighborGroup?.MapImage))
    {
        <div class="modal fade"
             id="mapModal"
             tabindex="-1"
             role="dialog"
             aria-labelledby="mapModalTitle"
             aria-hidden="true">
            <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="mapModalTitle">Nearby Locations Map</h5>
                        <button type="button"
                                class="close"
                                data-dismiss="modal"
                                aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <img src="@Model.LocationNeighborGroup.MapImage"
                             class="d-block img-fluid mx-auto"
                             alt="@Model?.LocationNeighborGroup?.Description">
                    </div>
                    <div class="modal-footer">
                        <button type="button"
                                class="btn btn-outline-primary"
                                data-dismiss="modal">
                            Close
                        </button>
                    </div>
                </div>
            </div>
        </div>
    }
</div>

@section Scripts{
    @if (Model.LocationFeatures.Any())
    {
        <script>
        $('.feature-popup').on('click', function () {
            @foreach (var feature in Model.LocationFeatures)
            {
                <text>
                if ('@feature.Stub' == $(this).data("feature"))
                {
                    $("#modalTitle").text("@Html.Raw(feature.Name)");

                    $("#modal-body").html($("#modal-body").html("@feature.BodyText").text());
                    $("#modal-text").html($("#modal-text").html("@feature.Text").text());
                }
                </text>
            }
        });
        </script>
    }
    <script type="application/ld+json">
        {
        "@@context": "http://schema.org",
        "@@type": "@Model.Location.Type",
        "name": "@Model.Location.Name",
        "areaServed": {
        "@@type": "@Model.Location.AreaServedType",
        "name": "@Model.Location.AreaServedName"
        },
        "email": "@Model.Location.Email",
        "address": {
        "@@id": "@Model.CanonicalUrl",
        "@@type": "@Model.Location.AddressType",
        "addressCountry": "@Model.Location.Country",
        "addressRegion": "@Model.Location.State",
        "addressLocality": "@Model.Location.City",
        "contactType": "@Model.Location.ContactType",
        "postalCode": "@Model.Location.Zip",
        "streetAddress": "@Model.Location.Address"
        },
        "location": { "@@id": "@Model.CanonicalUrl" },
        "parentOrganization": "@Model.Location.ParentOrganization",
        "telephone": "@Html.Raw(@Model.Location.Phone)",
        "openingHours": @Html.Raw(Json.Serialize(@Model.StructuredLocationHours)),
        @if (!string.IsNullOrEmpty(Model.Location.ImagePath))
        {
            @:"image": "@Model.Location.ImagePath",
        }
        "isAccessibleForFree": @Model.Location.IsAccessibleForFree.ToString().ToLowerInvariant(),
        @if (Model.Location.IsAccessibleForFree)
        {
            @:"priceRange" : "$000 - $000",
        }
        else
        {
            @:"priceRange" : "@Model.Location.PriceRange",
        }
        "sameAs": [
        "@Model.Location.MapLink"
        @if (!string.IsNullOrEmpty(Model.Location.Facebook))
        {
            @:, "@Model.Location.Facebook"
        }
        ]
        }
    </script>
}
