@model Ocuda.Promenade.Controllers.ViewModels.Locations.LocationViewModel
@using Ocuda.Promenade.Controllers;
@{
    ViewData["Title"] = "LocationDetails";
}
<html>
<body>
    <div id="content" class="location-page">
        <img src="@Model.Location.ImagePath" class="branch-image" />
        <h1>
            @Model.Location.Name
            <a href="@Model.Location.MapLink" class="btn btn-default map-button" target="_blank">
                <span class="fas fa-map-marker-alt"></span> Map
            </a>
        </h1>
        <table class="address-hours">
            <tbody>
                <tr>
                    <td class="address">
                        <p>
                            @Model.Location.Address
                            <br />
                            @Model.Location.City, @Model.Location.State @Model.Location.Zip
                            <br />
                            <a href="tel:@Model.Location.Phone">@Model.Location.Phone</a>
                        </p>
                    </td>
                    <td class="hours">
                        @if (Model.Location.IsAlwaysOpen)
                        {
                            <p>Open</p>
                        }
                        else
                        {
                            @foreach (var time in Model.Location.LocationHours)
                            {
                                <text>
                                    <p>@time</p><br />
                                </text>
                            }
                        }
                    </td>
                </tr>
            </tbody>
        </table>
        <h2>Information</h2>
        @Html.Raw(Model.Location.Description)
        <div>
            <div>
                <a href="@Model.Location.EventLink" target="_blank">Browse Events</a>
            </div>
            <div>
                <a href="@Model.Location.SubscriptionLink" target="_blank">Send Me Events</a>
            </div>
        </div>
        <div class="row branch-features text-center">
            @foreach (var feature in Model.LocationFeatures)
            {
                @if (string.IsNullOrEmpty(feature.RedirectUrl))
                {
                    <text>
                        <div class="col-xs-2">
                            <a asp-action="@nameof(LocationsController.Locations)" asp-route-locationStub="@Model.Location.Stub" asp-route-featureStub="@feature.Stub" class="bring-modal" data-toggle="modal" data-target="#featureModal" target="_blank" data-feature="@feature.Stub">
                                <span class="fa-stack fa-2x" style="color:#007bff">
                                    <span class="fa fa-square fa-stack-2x"></span>
                                    <span class="@feature.FontAwesome" @if(!string.IsNullOrEmpty(feature.InnerSpan)) { @:style="color:white"
                                          }>
                                        @if (!string.IsNullOrEmpty(feature.InnerSpan))
                                        {
                                            @Html.Raw(feature.InnerSpan.ToString());
                                        }
                                    </span>
                                </span>
                            </a>
                            <div>
                                <a class="bring-modal" data-toggle="modal" data-target="#featureModal" asp-action="@nameof(LocationsController.Locations)" asp-route-locationStub="@Model.Location.Stub" asp-route-featureStub="@feature.Stub" data-feature="@feature.Stub"> @feature.Name</a>
                            </div>
                        </div>
                    </text>
                }
                else
                {
                    <text>
                        <div class="col-xs-2">
                            <a href="@feature.RedirectUrl" target="_blank">
                                <span class="fa-stack fa-2x" style="color:#007bff">
                                    <span class="fa fa-square fa-stack-2x"></span>
                                    <span class="@feature.FontAwesome">
                                    </span>
                                </span>
                            </a>
                            <div>
                                <a href="@feature.RedirectUrl" data-feature="@feature.Stub" target="_blank">@feature.Name</a>
                            </div>
                        </div>
                    </text>
                }
            }
        </div>
        @if (!string.IsNullOrEmpty(Model.Location.PostFeatureDescription))
        {
            <div class="row">
                @Html.Raw(Model.Location.PostFeatureDescription)
            </div>
        }
        @if (Model.NearbyCount > 1)
        {
            <div>
                <a name="nearby"></a>
                <h2>Nearby Locations</h2>
                <p>The @Model.Location.Name has other locations nearby.</p>
                <div class="row">
                    <div class="col-xs-4">

                    </div>
                    <div class="col-xs-7">
                        <table class="neighbor-locations">
                            <tbody>
                                @{ int counter = 1;}
                                @foreach (var location in Model.NearbyLocations)
                                {
                                    <text>
                                        <tr>
                                            <td>@counter</td>
                                            <td>
                                                <a asp-action="@nameof(LocationsController.Locations)" asp-route-locationStub="@location.Stub">@location.Name</a>
                                            </td>
                                            <td>
                                                <a href="@location.EventLink"><span class="fa fa-calendar"></span> Events</a>
                                                <a href="@location.SubscriptionLink"><span class="fa fa-envelope-o"></span> Mailing List</a>
                                            </td>
                                        </tr>
                                    </text>
                                    counter++;
                                }
                                <tr>
                                    <td colspan="2">&nbsp;</td>
                                    <td>
                                        <a href="@Model.LocationNeighborGroup.SubscriptionUrl" class="btn btn-default btn-sm" target="_blank">
                                            <text><span class="fa fa-envelope-o"></span>Updates from all @Model.NearbyLocations.Count() locations</text>
                                        </a>
                                    </td>

                                </tr>

                            </tbody>

                        </table>

                    </div>

                </div>

            </div>
        }
    </div>
        <div class="modal fade" id="featureModal" tabindex="-1" role="dialog" aria-labelledby="ModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="modalTitle">Details</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div>
                            <div id="modal-body">
                            </div>
                        </div>
                        <div>
                            <div id="modal-text">

                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
        @section Scripts{
            <script>
                $('.bring-modal').on('click', function () {
                    @foreach (var feature in Model.LocationFeatures)
                    {
                        <text>
                        if ("@feature.Stub" == $(this).data("feature"))
                        {
                            $("#modalTitle").text("@Html.Raw(feature.Name)");


                            $("#modal-body").html($("#modal-body").html("@feature.BodyText").text());
                            $("#modal-text").html($("#modal-text").html("@feature.Text").text());
                    }
                        </text>
                    }
                    $('#featureModal').on('shown.bs.modal', function () {
                        $('#myInput').trigger('focus')
                    });
                });
            </script>
            <script type="application/ld+json">
                {
                "@@context": "http://schema.org",
                "@@type": "@Model.Location.SDType",
                "name": "@Model.Location.Name",
                "areaServed": {
                "@@type": "@Model.Location.SDAreaServedType",
                "name": "@Model.Location.SDAreaServedName"
                },
                "email": "@Model.Location.SDEmail",
                "address": {
                "@@id": "_:@Model.Location.SDLocationId",
                "@@type": "PostalAddress",
                "addressCountry": "US",
                "addressRegion": "@Model.Location.State",
                "addressLocality": "@Model.Location.City",
                "contactType": "Location address",
                "postalCode": "@Model.Location.Zip",
                "streetAddress": "@Model.Location.Address"
                },
                "location": { "@@id": "_:@Model.Location.SDLocationId" },
                "parentOrganization": "@Model.Location.SDParentOrganization",
                "telephone": "@Html.Raw(@Model.Location.Phone)",
                "openingHours": @Html.Raw(Json.Serialize(@Model.StructuredLocationHours)),
                "image": "@Model.Location.ImagePath",
                "isAccessibleForFree": true,
                "priceRange" : "$000 - $000",
                "sameAs": ["@Model.Location.MapLink"
                @if (!string.IsNullOrEmpty(Model.Location.Facebook))
                {
                    @:, "@Model.Location.Facebook"
                }]
                }

            </script>
        }
    </body>
</html>
