@model Ocuda.Promenade.Controllers.ViewModels.Locations.LocationViewModel

<h1>@Localizer[Promenade.LocationsHeader]</h1>

@if (Model.CanSearchAddress)
{
    @if (!string.IsNullOrEmpty(Model.Warning))
    {
        <div class="row">
            <div class="col-12 col-sm-6 offset-sm-3">
                <div class="alert alert-warning">@Model.Warning</div>
            </div>
        </div>
    }
    @if (!string.IsNullOrEmpty(Model.Info))
    {
        <div class="row">
            <div class="col-12 col-sm-6 offset-sm-3">
                <div class="alert alert-info">@Model.Info</div>
            </div>
        </div>
    }

    <div class="row">
        <div class="col-12 mb-2">
            <form asp-action="@nameof(LocationsController.Find)"
              method="get"
              role="form"
              id="ZipForm">
                <div class="input-group">
                    <input asp-for="Zip"
                       placeholder="@Localizer[Promenade.ZipCodePrompt]"
                       class="form-control default-text search-box" />
                    <div class="input-group-append">
                        <button class="btn btn-outline-dark search-button"
                            type="submit"
                            id="GoButton"
                            button-spinner>
                            @Localizer[Promenade.ButtonGo]
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="row d-block d-sm-none">
        <div class="col-12 mb-2">
            <form asp-action="Location" method="get" role="form" id="GeoForm">
                <input asp-for="Latitude" id="Latitude" hidden />
                <input asp-for="Longitude" id="Longitude" hidden />
                <button class="btn btn-outline-dark btn-block"
                    id="GeoButton"
                    button-spinner>
                    <span class="fas fa-map-marker-alt"></span>
                    @Localizer[Promenade.ButtonUseMyLocation]
                </button>
            </form>
        </div>
    </div>
}

<div class="row">
    @if (Model?.Locations?.Count > 0)
    {
        @foreach (var location in Model.Locations)
        {
            <div class="col-12 col-md-6 col-lg-4 mt-2 mb-3 d-flex">
                <div class="prom-location-tile flex-fill w-100">
                    @if (!string.IsNullOrEmpty(location.MapLink)
                   && !string.IsNullOrEmpty(location.MapImagePath))
                    {
                        <a href="@location.MapLink">
                            <img src="@location.MapImagePath"
                     class="img-fluid"
                     style="width: 100%;" />
                        </a>
                    }
                    <div class="status-bar @(location.CurrentStatus.IsCurrentlyOpen ? "bg-success" : location.CurrentStatus.IsSpecialHours ? "bg-primary" : "bg-danger")">&nbsp;</div>
                    <div class="px-3 pt-2 pb-3">
                        <span class="item-title">
                            @if (!string.IsNullOrWhiteSpace(location.LocatorName))
                            {
                                @Html.Raw(location.LocatorName)
                            }
                            else
                            {
                                @location.Name
                            }
                        </span>
                        @if (location.Distance != 0)
                        {
                            <em class="h3"><small>(@location.Distance mi.)</small></em>
                        }
                        <p class="mb-1">
                            @location.Address<br />
                            @location.City,
                            @location.State
                            @location.Zip
                        </p>
                        <p class="@(location.CurrentStatus.IsCurrentlyOpen ? "text-success" : location.CurrentStatus.IsSpecialHours ? "text-primary" : "text-danger")">
                            <strong>@location.CurrentStatus.StatusMessage</strong>
                        </p>
                        <div class="row">
                            <div class="col-6">
                                <a asp-action="@nameof(LocationsController.Locations)"
                           asp-route-locationStub="@location.Stub"
                           class="btn btn-outline-dark">
                                    @Localizer[Promenade.LocationButtonDetails]
                                </a>
                            </div>
                            <div class="col-6 text-right">
                                @if (location.HasEvents)
                                {
                                    <a href="@location.EventLink"
                           class="btn btn-outline-dark">
                                        @Localizer[Promenade.LocationButtonEvents]
                                    </a>
                                }
                                else
                                {
                                    <em class="text-dark align-middle">@location.LocatorNotes</em>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    }
    else
    {
        <script>
            var noResults = true;
        </script>
    }
</div>

@section scripts {
    <script>
        var useMyLocation = '@Localizer[Promenade.ButtonUseMyLocation]';

        var geoSuccess = function (position) {
            $('#Latitude').val(position.coords.latitude);
            $('#Longitude').val(position.coords.longitude);
            $('#GeoForm').submit();
        }

        var geoFailure = function (error) {
            $('#GeoButton').html(useMyLocation);
            $('#GeoButton').prop('disabled', false);
            alert('@Localizer[Promenade.LocationProblem]');
            console.log(error.message);
        }

        $('#GeoButton').on('click', function () {
            var geoOptions = {
                enableHighAccuracy: true,
                maximumAge: 30000,
                timeout: 27000
            };
            navigator.geolocation.getCurrentPosition(geoSuccess, geoFailure, geoOptions);
        });

        $('#GoButton').on('click', function () {
            $('#ZipForm').submit();
            return false;
        });
    </script>
}