@model Ocuda.Promenade.Controllers.ViewModels.Home.LocationDetailViewModel

<div>
    <table width="100%" cellpadding="0" cellspacing="0" border="0">
        <tbody>
            <tr>
                <td>
                    <div id="content">
                        @foreach (var feature in Model.LocationFeatures)
                        {
                            <h1>@Model.Location.Name @feature.Name</h1>
                            <div id="feature-body">@Html.Raw(feature.BodyText)</div>
                            <div id="feature-text">@Html.Raw(feature.Text)</div>
                        }
                    </div>
                    <p style="margin-left: 1rem;">
                        <a asp-action="@nameof(HomeController.Location)"
                           asp-route-locationSlug="@Model.Location.Stub"
                           asp-route-featureSlug="" class="btn btn-outline-dark">
                            <span class="fa fa-arrow-circle-left" aria-hidden="true"></span>
                            @Localizer[Promenade.LocationBackToLocationName, Model.Location.Name]
                        </a>
                    </p>
                </td>
            </tr>
        </tbody>
    </table>
</div>
