@model Ocuda.Ops.Controllers.Areas.SiteManagement.ViewModels.Schedule.LimitsViewModel

<div class="d-flex justify-content-between">
    <h1>
        Scheduling Limits
    </h1>
    <div class="pt-2">
        <a class="btn btn-outline-dark float-end"
           asp-controller="@(HomeController.Name)"
           asp-action="@(nameof(HomeController.Index))">
            <span class="fa-solid fa-backward"></span>
            Back
        </a>
    </div>
</div>


<div class="row">
    <div class="col-12">
        <ul class="nav nav-pills">
            @foreach (var day in Model.AvailableDays)
            {
                <li class="nav-item">
                    <a asp-action="@nameof(ScheduleController.Limits)"
                   asp-route-day="@day"
                   class="nav-link"
                   ActiveBy
                   routeKey="day"
                   value="@(day == Model.AvailableDays.First() ? "," : null)@day">
                        @day
                    </a>
                </li>
            }
        </ul>
    </div>
</div>

<form asp-action="@nameof(ScheduleController.Limits)"
      method="post"
      role="form">
    <input asp-for="SelectedDay" type="hidden" />
    <div class="row">
        <div class="col-12">
            @foreach (var limit in Model.DayLimits)
            {
                <div class="row mb-3 my-3">
                    <label class="col-md-2 col-form-label text-md-end">@DateTime.Now.Date.AddHours(limit.Key).ToShortTimeString()</label>
                    <div class="mb-3-inner col-md-9">
                        <input name="DayLimits.@limit.Key"
                           value="@(ViewData.ModelState[$"DayLimits.{limit.Key}"]?.RawValue ?? limit.Value)"
                           class="form-control"
                           type="number" />
                        <span class="validation-message text-danger"
                          data-valmsg-for="DayLimits.@limit.Key"
                          data-valmsg-replace="true"></span>
                    </div>
                </div>
            }
            <div class="row justify-content-end">
                <div class="col-md-10">
                    <button type="submit"
                            class="btn btn-outline-success"
                            aria-label="Confirm"
                            button-spinner>
                        Save
                    </button>
                </div>
            </div>
        </div>
    </div>
</form>
