@model Ocuda.Ops.Controllers.Areas.CoverIssues.ViewModels.CoverIssueReporting.CoverIssueReportingViewModel

<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-5 col-md-4">
            <div class="row" style="padding-bottom:15px;">
                <div class="col-xs-12">
                    <img src="@Model.ItemImagePath" class="img-responsive" style="margin: 0 auto;" />
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-7 col-md-8">
            <div class="form-group">
                <label>Title:</label>
                <div>@Model.Title</div>
            </div>
            <div class="form-group">
                <label>Author(s):</label>
                <div>@Model.Author</div>
            </div>
            <div class="form-group">
                <label>Summary:</label>
                <div>@Model.Summary</div>
            </div>
            <div class="form-group">
                <label>ISBN:</label>
                <div>@Model.ISBN</div>
            </div>
            <div class="form-group">
                <label>Format:</label>
                <div>@Model.Format</div>
            </div>
            <div class="form-group">
                <label>LCCN:</label>
                <div>@Model.LCCN</div>
            </div>
            <div class="form-group">
                <label>OCLC:</label>
                <div>@Model.OCLC</div>
            </div>
            <div class="form-group">
                <label>UPC:</label>
                <div>@Model.UPC</div>
            </div>
        </div>
    </div>
    <div>
        <form id="createIssueForm" asp-controller="@CoverIssueReportingController.Name"
              asp-action="@nameof(CoverIssueReportingController.AddCoverIssue)"
              method="post"
              role="form">
            <h4>Whats wrong with this item?</h4>
            <input asp-for="Detail.CoverIssueTypeId" value="1" id="detailTypeId" type="hidden" />
            <input asp-for="Detail.Isbn" id="detailIsbn" value="@Model.ISBN" type="hidden" />
            <input asp-for="Detail.Message" id="detailMessage" type="hidden" />
            <input asp-for="Header.BibID" id="headerBibid" value="@Model.BibID" type="hidden" />
            @foreach (var type in Model.CoverIssueTypes.Where(_ => !_.HasMessage))
            {
                <div class="custom-control custom-radio">
                    <input class="custom-control-input"
                            type="radio"
                            name="syndCover"
                            id="coverIssue@(type.Id)"
                            value="@type.Id"
                            @(type.Id == Model.CoverIssueTypes.FirstOrDefault()?.Id ? "checked" : "")>
                    <label class="custom-control-label" for="coverIssue@(type.Id)">@(type.Name)</label>
                </div>
                @if (type.HasMessage)
                {
                    <div class="row">
                        <textarea rows="3" cols="36" id="coverFeedback" disabled></textarea>
                    </div>
                }
            }
            <div class="row">
                <button id="submitCover" type="submit" class="btn btn-primary">Send Feedback</button>
            </div>
        </form>
    </div>
</div>
@section scripts
    {
    <script>
    $('input[name="syndCover"]').on('change', function () {
        $("#detailTypeId").val(parseInt($(this).val()));
        if ($(this).val() == "3") {
            $("#coverFeedback").removeAttr("disabled");
        }
        else {
            $("#detailMessage").val(null);
            $("#coverFeedback").attr('disabled', true);
        }
    });
        $('#createIssueForm').submit(function() {
            if ($("#coverIssue3").is(":checked")) {
                $("#detailMessage").val($("#coverFeedback").val());
            }
        });
    </script>

}