@model Ocuda.Ops.Controllers.Areas.Admin.ViewModels.Pages.DetailViewModel

@section styles {
    <link rel="stylesheet" href="~/css/md.min.css" asp-append-version="true" />
}

<form asp-action="@nameof(PagesController.Edit)" method="post" role="form">
    @if (Model.Action == nameof(PagesController.Edit))
    {
        <input asp-for="Page.Id" type="hidden" />
    }

    <input asp-for="Page.Stub" formgroup readonly="@(Model.Page.IsPublished ? " readonly" : null)" />
    <select asp-for="Page.Type" formgroup readonly="@(Model.Page.IsPublished ? " readonly" : null)">
        @foreach (var type in (PageType[])Enum.GetValues(typeof(PageType)))
        {
            <option value="@Convert.ToInt32(type)">@type</option>
        }
    </select>

    <div class="form-group row">
        <label asp-for="Page.Content" class="col-md-3 col-form-label text-md-right"></label>
        <div class="form-group-inner col-md-9">
            <textarea asp-for="Page.Content" markdown-editor></textarea>
            <span asp-validation-for="Page.Content" class="validation-message text-danger"></span>
        </div>
    </div>

    <select asp-for="Page.SocialCardId" asp-items="Model.SocialCardList" formgroup>
        <option></option>
    </select>

    <div class="row">
        <div class="offset-md-3 col-md-9">
            <a class="btn btn-outline-secondary text-dark" asp-action="@(nameof(PagesController.Index))">Cancel</a>
            @if (Model.Page.IsPublished)
            {
                <button type="submit" class="btn btn-success" aria-label="Confirm" buttonspinner>
                    <span class="fa fa-save" aria-hidden="true"></span>
                    Save
                </button>
            }
            else
            {
                <button type="submit" name="Publish" value="False" class="btn btn-success" aria-label="Confirm" button-spinner>
                    <span class="fa fa-save" aria-hidden="true"></span>
                    Save as Draft
                </button>
                <button type="submit" name="Publish" value="True" class="btn btn-success" aria-label="Confirm" button-spinner>
                    <span class="fa fa-save" aria-hidden="true"></span>
                    Save and Publish
                </button>
            }
        </div>
    </div>
</form>

@section scripts {
    <script src="~/js/md.min.js" asp-append-version="true"></script>

    <script>
        var editor = new Markdown.Editor($("#Page_Content"), { allowUploads: true });
        editor.run();

        @if (!Model.Page.IsPublished)
        {
        <text>
                var id = $("#Page_Id");
                var stub = $("#Page_Stub");
                var type = $("Page_Type")
                var currentStub = stub.val();
                var stubCheckUrl = "@Url.Action(nameof(PagesController.StubInUse), PagesController.Name)";

                stub.on("blur", function () {
                    if (stub.val() != currentStub) {
                        if (stub.valid()) {
                            updateStub(stub, stub.val());
                            setTimeout(function () {
                                ValidateField(stub, stubCheckUrl, [id.serialize(), stub.serialize(), type.serialize()].join("&"));
                                currentStub = stub.val();
                            }, 200);
                        }
                    }
                });
            </text>
        }
    </script>
}