@model Ocuda.Ops.Models.RosterUpdate

<div class="row">
    <div class="col-sm-7">
        <h1>
            Roster
            <small class="text-muted">Changes</small>
        </h1>
    </div>
    <div class="col-sm-5">
        <a class="btn btn-outline-dark mt-2 mb-1 ml-2 float-right"
           asp-controller="@Ocuda.Ops.Controllers.Areas.ContentManagement.RosterController.Name"
           asp-action="@(nameof(Ocuda.Ops.Controllers.Areas.ContentManagement.RosterController.Index))">Back</a>
        <a class="btn btn-outline-success mt-2 mb-1 mr-2 float-right"
           asp-action="@nameof(RosterController.UnitMapping)">
            Unit/Location Mapping
        </a>
    </div>
</div>

<table class="table table-sm table-bordered">
    <thead>
        <tr>
            <th colspan="6" class="@Model.NewClass">New users: @Model.New.Count</th>
        </tr>
        <tr>
            <th>Username</th>
            <th>Name</th>
            <th>Email</th>
            <th>Job Title</th>
            <th>Created At</th>
            <th>Service start date</th>
        </tr>
    </thead>
    <tbody>
        @if (Model.New.Count == 0)
        {
            <tr><td colspan="6">No new users.</tr>
        }
        else
        {
            @foreach (var user in Model.New)
            {
                <tr>
                    <td>@user.Username</td>
                    <td>@user.Name</td>
                    <td>@user.Email</td>
                    <td>@user.Title</td>
                    <td>@user.CreatedAt</td>
                    <td>@user.ServiceStartDate?.ToString("d")</td>
                </tr>
            }
        }
    </tbody>
</table>

<table class="table table-sm table-bordered">
    <thead>
        <tr>
            <th colspan="6" class="@Model.DeactivatedClass">Deactivated users: @Model.Deactivated.Count</th>
        </tr>
        <tr>
            <th>Username</th>
            <th>Name</th>
            <th>Email</th>
            <th>Job Title</th>
            <th>Created At</th>
            <th>Service start date</th>
        </tr>
    </thead>
    <tbody>
        @if (Model.Deactivated.Count == 0)
        {
            <tr><td colspan="6">No deactivated users.</tr>
        }
        else
        {
            @foreach (var user in Model.Deactivated)
            {
                <tr>
                    <td>@user.Username</td>
                    <td>@user.Name</td>
                    <td>@user.Email</td>
                    <td>@user.Title</td>
                    <td>@user.CreatedAt</td>
                    <td>@user.ServiceStartDate?.ToString("d")</td>
                </tr>
                @if(!string.IsNullOrEmpty(user.Notes))
                {
                    <tr class="table-warning">
                        <td>@user.Username</td>
                        <td colspan="5"><small><em>@user.Notes</em></small></td>
                    </tr>
                }
            }
        }
    </tbody>
</table>

<table class="table table-sm table-bordered">
    <thead>
        <tr>
            <th class="@Model.VerifiedClass">Verified/updated: @(Model.Verified.Count - Model.Deactivated.Count)</th>
        </tr>
    </thead>
</table>

<table class="table table-sm table-bordered">
    <thead>
        <tr>
            <th class="@Model.VacantClass">Vacant positions: @Model.VacantCount</th>
        </tr>
    </thead>
</table>
