@model Ocuda.Ops.Controllers.Areas.ContentManagement.ViewModels.Roster.IndexViewModel

<div class="d-flex justify-content-between">
    <h1>
        Rosters
    </h1>
    <div class="pt-2">
        <a class="btn btn-outline-primary"
           asp-controller="@RosterController.Name"
           asp-action="@nameof(RosterController.MapDivisions)">Map Divisions</a>
        <a class="btn btn-outline-primary"
           asp-controller="@RosterController.Name"
           asp-action="@nameof(RosterController.MapLocations)">Map Locations</a>
        <a class="btn btn-outline-dark"
           asp-controller="@Ocuda.Ops.Controllers.Areas.ContentManagement.HomeController.Name"
           asp-action="@nameof(Ocuda.Ops.Controllers.Areas.ContentManagement.HomeController.Index)">Back</a>
    </div>
</div>

<form asp-action="@nameof(RosterController.Upload)"
      method="post"
      role="form"
      enctype="multipart/form-data">
    <div class="form-group row my-2">
        <div class="col-12 col-lg-8 offset-lg-2">
            <div class="input-group">
                <div class="input-group-prepend">
                    <label class="btn btn-outline-secondary btn-file form-control">
                        <span class="far fa-file"></span> Select a File
                        <input type="file" asp-for="Roster" accept=".xls,.xlsx" hidden />
                    </label>
                </div>
                <input type="text" class="custom-file form-control" readonly id="selectedFile" />
                <div class="input-group-append">
                    <button type="submit"
                            class="btn btn-outline-success form-control"
                            aria-label="Confirm"
                            button-spinner>
                        <span class="fas fa-file-upload"></span>
                        Upload
                    </button>

                </div>
            </div>
            <div>
                <span asp-validation-for="Roster" class="text-danger"></span>
            </div>
        </div>
    </div>
</form>

@if (!(Model.RosterHeaders?.Count() > 1))
{
    <div class="alert alert-warning">No imported rosters found.</div>
}
else
{
    <div class="row">
        <div class="col-12 col-lg-8 offset-lg-2">
            <table class="table table-sm table-bordered table-hover table-striped">
                <thead>
                    <tr>
                        <th>Uploaded</th>
                        <th>Status</th>
                        <th>Imported By</th>
                        <th>Rows</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var roster in Model.RosterHeaders)
                    {
                        <tr>
                            <td class="align-middle">
                                @if (roster.IsImported || roster.IsDisabled)
                                {
                                    @roster.CreatedAt.ToString("g")
                                }
                                else
                                {
                                    <a asp-action="@nameof(RosterController.Changes)"
                           asp-route-rosterHeaderId="@roster.Id">
                                        @roster.CreatedAt.ToString("g")
                                    </a>
                                }
                            </td>
                            <td class="align-middle">
                                @roster.Status
                            </td>
                            <td class="align-middle">
                                <a asp-controller="@Ocuda.Ops.Controllers.ProfileController.Name"
                           asp-action="@nameof(Ocuda.Ops.Controllers.ProfileController.Index)"
                           asp-route-id="@roster.CreatedByUser.Username"
                           target="_blank">@roster.CreatedByUser.Name</a><br />
                            </td>
                            <td class="align-middle">
                                @roster.DetailCount
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
            <nav paginate="@Model"></nav>
        </div>
    </div>
}
