@model Ocuda.Ops.Controllers.Areas.ContentManagement.ViewModels.Roster.UnitMappingViewModel

<div class="row">
    <div class="col-sm-7">
        <h1>
            Roster
            <small class="text-muted">Unit Mapping</small>
        </h1>
    </div>
    <div class="col-sm-5">
        <a class="btn btn-outline-dark mt-2 mb-1 ml-2 float-right"
           asp-controller="@Ocuda.Ops.Controllers.Areas.ContentManagement.RosterController.Name"
           asp-action="@nameof(Ocuda.Ops.Controllers.Areas.ContentManagement.RosterController.Index)">Back</a>
        <button class="btn btn-outline-success mt-2 mb-1 mr-2 float-right"
                data-toggle="modal"
                data-target="#addMapModal">
            <span class="fas fa-plus-circle" aria-hidden="true"></span>
            Add Mapping
        </button>
    </div>
</div>

    @if (Model.UnitLocationMaps?.Count > 0)
{
    <div class="row">
        <div class="col-12">
            <table class="table table-sm table-bordered table-hover table-striped">
                <thead>
                    <tr>
                        <th>Unit</th>
                        <th>Location</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var map in Model.UnitLocationMaps)
                    {
                        <tr>
                            <td class="align-middle">@map.UnitId</td>
                            <td class="align-middle">@Model.GetLocationById(map.LocationId)</td>
                            <td class="align-middle">
                                <button type="button"
                                class="btn btn-outline-danger btn-sm"
                                data-toggle="modal"
                                data-target="#removeMapModal"
                                data-id="@map.UnitId"
                                data-location="@Model.GetLocationById(map.LocationId)"
                                title="Delete page">
                                    <span class="fas fa-times-circle" aria-hidden="true"></span>
                                </button>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
            <nav paginate="@Model"></nav>
        </div>
    </div>
}
else
{
    <div class="row mt-2">
        <div class="col-12 col-lg-6 offset-lg-3">
            <div class="alert alert-info">
                No mappings found.
            </div>
        </div>
    </div>
}

<form asp-action="@nameof(RosterController.AddMap)" method="post" role="form">
    <input type="hidden" value="@Model.CurrentPage" name="page" />
    <div modal
         id="addMapModal"
         name="Map"
         type="Ocuda.Utility.TagHelpers.ModalTypes.Add">
        <div class="form-group">
            <label for="unitId">Unit</label>
            <input type="number" class="form-control" name="unitId" required />
        </div>
        <div class="form-group">
            <label for="locationId">Location</label>
            <select name="locationId"
                    asp-items="Model.Locations"
                    class="form-control"></select>
        </div>
    </div>
</form>

<form asp-action="@nameof(RosterController.RemoveMap)" method="post" role="form">
    <input type="hidden" name="unitId" id="removeUnitId" />
    <input type="hidden" value="@Model.CurrentPage" name="page" />
    <div modal
         id="removeMapModal"
         name="Map"
         type="Ocuda.Utility.TagHelpers.ModalTypes.Delete">
    </div>
</form>

@section scripts {
<script type="text/javascript">
    $('#removeMapModal').on('show.bs.modal', function (event) {
        var caller = $(event.relatedTarget);
        $('#removeMapModal').find('.modal-text')
            .html('Are you sure you want to remove the mapping from unit <strong>'
                + caller.data('id') + '</strong> to location <strong>' + caller.data('location')
                + '</strong>?');
        $('#removeUnitId').val(caller.data('id'));
    })
</script>
}