@model Ocuda.Ops.Controllers.ViewModels.Roster.RosterChangesViewModel

@if (Model.NewEmployees.Count() == 0)
{
    <div class="alert alert-warning">No Employee Records Added</div>
}
else
{
    <h2>New Employees</h2>
    <table class="table table-sm table-bordered">
        <thead>
            <tr>
                <th>Employee ID</th>
                <th>Name</th>
                <th>Email</th>
                <th>Job Title</th>
                <th>&nbsp;</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var rosterEntry in Model.NewEmployees)
            {
                <tr>
                    <td>@rosterEntry.Id</td>
                    <td>@rosterEntry.Name</td>
                    <td>@rosterEntry.EmailAddress</td>
                    <td>@rosterEntry.JobTitle</td>
                    <td align="center">
                        <button type="button" class="btn btn-approve btn-xs" data-rosterid="@rosterEntry.Id">
                            <div class="btn-approve-0">Approve <span class="fa fa-spinner fa-pulse fa-fw d-none"></span></div>
                            <div class="btn-approve-1 d-none">Approved <span class="fa fa-check" aria-hidden="true"></span></div>
                        </button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

@if (Model.RemovedEmployees.Count() == 0)
{
    <div class="alert alert-warning">No Employee Records Removed</div>
}
else
{
    <h2>Removed Employees</h2>
    <table class="table table-sm table-bordered">
        <thead>
            <tr>
                <th>Employee ID</th>
                <th>Name</th>
                <th>Email</th>
                <th>Job Title</th>
                <th>&nbsp;</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var rosterEntry in Model.RemovedEmployees)
            {
                <tr>
                    <td>@rosterEntry.Id</td>
                    <td>@rosterEntry.Name</td>
                    <td>@rosterEntry.EmailAddress</td>
                    <td>@rosterEntry.JobTitle</td>
                    <td align="center">
                        <button type="button" class="btn btn-approve btn-xs" data-rosterid="@rosterEntry.Id">
                            <div class="btn-approve-0">Approve <span class="fa fa-spinner fa-pulse fa-fw d-none"></span></div>
                            <div class="btn-approve-1 d-none">Approved <span class="fa fa-check" aria-hidden="true"></span></div>
                        </button>
                    </td>
                </tr>
            }
        </tbody>
    </table>

}

@section scripts
    {
    <script>
            var approveUrl = "@(Url.Action("ApproveChange"))";

            $(".btn-approve").on("click", function (e) {
                var button = $(this);
                button.children(".btn-approve-0").children(".fa-spinner").removeClass("d-none");
                $.post(approveUrl, { rosterEntryId: button.data("rosterid") }, function (response) {
                    setTimeout(function () {
                        if (response.success) {
                            button.addClass("btn-success");
                            button.children(".btn-approve-0").addClass("d-none");
                            button.children(".btn-approve-1").removeClass("d-none");
                        }
                        else {
                            button.children(".btn-approve-0").children(".fa-spinner").addClass("d-none");
                            alert(response.message);
                        }
                    }, 500);
                });
            });
    </script>
}