@model Ocuda.Ops.Controllers.Areas.SiteManagement.ViewModels.Pages.LayoutDetailViewModel

<div class="row mb-2">
    <div class="col-sm-8">
        <h1>
            Page Layout
            <small class="text-muted">@Model.PageLayout.Name</small>
        </h1>
    </div>
    <div class="col-sm-4">
        <a class="btn btn-outline-dark mt-2 mb-1 ml-2 float-right"
           asp-action="@(nameof(PagesController.Layouts))"
           asp-route-id="@Model.PageLayout.PageHeaderId">Back</a>

        <button class="btn btn-outline-success mt-2 mb-1 mr-2 float-right"
                data-toggle="modal"
                data-target="#addModal">
            <span class="fas fa-plus-circle" aria-hidden="true"></span>
            Add Item
        </button>
        @if (!string.IsNullOrEmpty(Model.PreviewLink))
        {
            <form action="@Model.PreviewLink"
                  method="post"
                  role="form"
                  target="_blank">
                <input type="hidden" name="PreviewId" value="@Model.PageLayout.PreviewId" />
                <button class="btn btn-outline-info mt-2 mb-1 mr-2 float-right">
                    <span class="fas fa-file-alt"></span>
                    Preview
                </button>
            </form>
        }
    </div>
</div>

<form id="addForm" role="form">
    <input id="addLanguage" asp-for="LanguageId" type="hidden" />
    <input id="addLayout" asp-for="PageItem.PageLayoutId" value="@Model.PageLayoutId" type="hidden" />

    <div modal
         id="addModal"
         isLarge="true"
         name="Layout Item"
         type="Ocuda.Utility.TagHelpers.ModalTypes.Add">
        <div class="row form-group">
            <label class="col-form-label text-md-right col-md-3">Item Type</label>
            <div class="form-group-inner col-md-9">
                <select id="addType" class="form-control">
                    <option value="carousel">Carousel</option>
                    <option value="feature">Feature</option>
                    <option value="segment">Segment</option>
                    <option value="webslide">Webslide</option>
                </select>
            </div>
        </div>
        <div id="addCarouselFields">
            <input id="addCarouselTitle" asp-for="Carousel.CarouselText.Title" formgroup />
        </div>
        <div id="addFeatureFields" class="d-none">
            <input id="addFeatureName" asp-for="PageFeature.Name" formgroup disabled />
        </div>
        <div id="addSegmentFields" class="d-none">
            <input id="addSegmentName" asp-for="Segment.Name" formgroup disabled />
        </div>
        <div id="addWebslideFields" class="d-none">
            <input id="addWebslideName" asp-for="Webslide.Name" formgroup disabled />
        </div>
    </div>
</form>

<form asp-controller="@PagesController.Name"
      asp-action="@(nameof(PagesController.DeletePageItem))"
      method="post"
      role="form">
    <input id="deleteLanguage" asp-for="LanguageId" type="hidden" />
    <input id="deleteId" asp-for="PageItem.Id" type="hidden" />

    <div modal id="deleteModal"
         name="Layout Item"
         type="Ocuda.Utility.TagHelpers.ModalTypes.Delete"></div>
</form>

<form id="editFeatureForm" role="form">
    <input id="editFeatureLanguage" asp-for="LanguageId" type="hidden" />
    <input id="editFeatureItem" asp-for="PageItem.Id" type="hidden" />

    <div modal
         id="editFeatureModal"
         isLarge="true"
         name="Feature"
         type="Ocuda.Utility.TagHelpers.ModalTypes.Edit">
        <input id="editFeatureName" asp-for="PageFeature.Name" formgroup />
    </div>
</form>

<form id="editSegmentForm" role="form">
    <input id="editSegmentLanguage" asp-for="LanguageId" type="hidden" />
    <input id="editSegmentItem" asp-for="PageItem.Id" type="hidden" />

    <div modal
         id="editSegmentModal"
         isLarge="true"
         name="Segment"
         type="Ocuda.Utility.TagHelpers.ModalTypes.Edit">
        <input id="editSegmentName" asp-for="Segment.Name" formgroup />
    </div>
</form>

<form id="editWebslideForm" role="form">
    <input id="editWebslideLanguage" asp-for="LanguageId" type="hidden" />
    <input id="editWebslideItem" asp-for="PageItem.Id" type="hidden" />

    <div modal
         id="editWebslideModal"
         isLarge="true"
         name="Webslide"
         type="Ocuda.Utility.TagHelpers.ModalTypes.Edit">
        <input id="editWebslideName" asp-for="Webslide.Name" formgroup />
    </div>
</form>

<div class="row pt-2">
    <div class="col-12">
        <span class="d-none"><input asp-for="PageLayout.Name" formgroup readonly /></span>
        @if (Model.PageLayout.StartDate == null)
        {
            <div class="col-md-9 offset-md-3">
                <div class="alert alert-warning">
                    With no start date, this page will never be active.
                </div>
            </div>
        }
        <input asp-for="PageLayout.StartDate"
               value="@Model.PageLayout.StartDate"
               type="datetime"
               formgroup
               readonly />
        <select asp-for="SelectLanguage" asp-items="Model.LanguageList" formgroup></select>
    </div>
</div>

<div class="row pb-2">
    <div class="col-12 col-md-9 offset-md-3">
        <hr class="mt-2" />
    </div>
</div>

<div class="row pb-1">
    <div class="col-12">
        <form asp-action="@nameof(PagesController.LayoutDetail)" method="post" role="form">
            <input asp-for="PageLayoutText.PageLayoutId"
                   value="@Model.PageLayoutId"
                   type="hidden" />
            <input asp-for="PageLayoutText.LanguageId" value="@Model.LanguageId" type="hidden" />
            <input asp-for="PageLayoutText.Title"
                   value="@Model.PageLayout.PageLayoutText?.Title"
                   formgroup />

            <div class="row">
                <div class="offset-md-3 col-md-9">
                    <button type="submit"
                            class="btn btn-outline-success btn-lg"
                            button-spinner>
                        <span class="far fa-save"></span>
                        Save
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>

<div class="row mt-3">
    <div class="col-12">
        <table class="table table-sm table-bordered table-striped">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Type</th>
                    <th>Items</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                @if (Model.PageLayout.Items?.Count == 0)
                {
                    <tr>
                        <td colspan="4" class="align-middle">
                            <em style="font-size: larger; color: #666;">
                                Layout has no items.
                                <a href="#"
                                   class="text-success"
                                   data-toggle="modal"
                                   data-target="#addModal">
                                    <span class="fas fa-plus-circle" aria-hidden="true"></span>
                                    Add a layout item.
                                </a>
                            </em>
                        </td>
                    </tr>
                }
                else
                {
                    @foreach (var item in Model.PageLayout.Items)
                    {
                        <tr>
                            @if (item.CarouselId.HasValue)
                            {
                                <td class="align-middle">@item.Carousel.Name</td>
                                <td class="align-middle">Carousel</td>
                                <td class="align-middle">@item.Carousel.Items.Count</td>
                            }
                            else if (item.PageFeatureId.HasValue)
                            {
                                <td>@item.PageFeature.Name</td>
                                <td>Feature</td>
                                <td>@item.PageFeature.Items.Count</td>
                            }
                            else if (item.SegmentId.HasValue)
                            {
                                <td class="align-middle">@item.Segment.Name</td>
                                <td class="align-middle">Segment</td>
                                <td class="align-middle">&nbsp;</td>
                            }
                            else
                            {
                                <td>@item.Webslide.Name</td>
                                <td>Webslide</td>
                                <td>@item.Webslide.Items.Count</td>
                            }
                            <td class="align-middle">
                                <button type="button"
                                        class="btn btn-outline-primary changeSort decreaseSortButton"
                                        data-id="@item.Id"
                                        data-increase="false"
                                        data-item="true"
                                        disabled="@(item.Id == Model.PageLayout.Items.First().Id ? "disabled" : null)">
                                    <span class="fas fa-arrow-up" aria-hidden="true"></span>
                                </button>
                                <button class="btn btn-outline-primary changeSort increaseSortButton"
                                        data-id="@item.Id"
                                        data-increase="true"
                                        data-item="true"
                                        disabled="@(item.Id == Model.PageLayout.Items.Last().Id ? "disabled" : null)">
                                    <span class="fas fa-arrow-down" aria-hidden="true"></span>
                                </button>
                                @if (item.CarouselId.HasValue)
                                {
                                    <button type="button" class="btn btn-outline-primary invisible">
                                        <span class="fas fa-cog" aria-hidden="true"></span>
                                    </button>
                                    <a asp-controller="@CarouselsController.Name"
                                       asp-action="@(nameof(CarouselsController.Detail))"
                                       asp-route-id="@item.CarouselId.Value"
                                       class="btn btn-outline-primary"
                                       title="Edit carousel content">
                                        <span class="far fa-file-alt" aria-hidden="true"></span>
                                    </a>
                                }
                                else if (item.PageFeatureId.HasValue)
                                {
                                    <button type="button"
                                            class="btn btn-outline-primary"
                                            data-toggle="modal"
                                            data-target="#editFeatureModal"
                                            data-id="@item.Id"
                                            data-name="@item.PageFeature.Name"
                                            title="Edit feature">
                                        <span class="fas fa-cog" aria-hidden="true"></span>
                                    </button>
                                    <a asp-controller="@PageFeaturesController.Name"
                                       asp-action="@(nameof(PageFeaturesController.Detail))"
                                       asp-route-id="@item.PageFeatureId.Value"
                                       class="btn btn-outline-primary"
                                       title="Edit feature content">
                                        <span class="far fa-file-alt" aria-hidden="true"></span>
                                    </a>
                                }
                                else if (item.SegmentId.HasValue)
                                {
                                    <button type="button"
                                            class="btn btn-outline-primary"
                                            data-toggle="modal"
                                            data-target="#editSegmentModal"
                                            data-id="@item.Id"
                                            data-name="@item.Segment.Name"
                                            title="Edit segment name">
                                        <span class="fas fa-cog" aria-hidden="true"></span>
                                    </button>
                                    <a asp-controller="@SegmentsController.Name"
                                       asp-action="@(nameof(SegmentsController.Detail))"
                                       asp-route-id="@item.SegmentId.Value"
                                       class="btn btn-outline-primary"
                                       title="Edit segment content">
                                        <span class="far fa-file-alt" aria-hidden="true"></span>
                                    </a>
                                }
                                else if (item.WebslideId.HasValue)
                                {
                                    <button type="button"
                                            class="btn btn-outline-primary"
                                            data-toggle="modal"
                                            data-target="#editWebslideModal"
                                            data-id="@item.Id"
                                            data-name="@item.Webslide.Name"
                                            title="Edit webslide">
                                        <span class="fas fa-cog" aria-hidden="true"></span>
                                    </button>
                                    <a asp-controller="@WebslidesController.Name"
                                       asp-action="@(nameof(WebslidesController.Detail))"
                                       asp-route-id="@item.WebslideId.Value"
                                       class="btn btn-outline-primary"
                                       title="Edit webslide content">
                                        <span class="far fa-file-alt" aria-hidden="true"></span>
                                    </a>
                                }
                                <button type="button"
                                        class="btn btn-outline-danger"
                                        data-toggle="modal"
                                        data-target="#deleteModal"
                                        data-id="@item.Id"
                                        data-name="@(item.Carousel?.Name ?? item.PageFeature?.Name ?? item.Segment?.Name ?? item.Webslide?.Name)"
                                        data-carousel="@item.CarouselId"
                                        data-feature="@item.PageFeatureId"
                                        data-segment="@item.SegmentId"
                                        data-webslide="@item.WebslideId"
                                        title="Delete layout item">
                                    <span class="fas fa-times-circle" aria-hidden="true"></span>
                                </button>
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</div>

@section Scripts {
    <script>
        $("#SelectLanguage").on("change", function () {
            window.location.href = "@Url.Action(nameof(PagesController.LayoutDetail), new { id = Model.PageLayoutId})" + "?language=" + $(this).val();
        });

        $("#addType").on("change", function () {
            var type = $(this).val();

            if (type == "carousel") {
                $("#addFeatureFields").addClass("d-none").find("input, select").attr("disabled", "disabled");
                $("#addSegmentFields").addClass("d-none").find("input, select").attr("disabled", "disabled");
                $("#addWebslideFields").addClass("d-none").find("input, select").attr("disabled", "disabled");
                $("#addCarouselFields").removeClass("d-none").find("input").removeAttr("disabled");
            }
            else if (type == "feature") {
                $("#addCarouselFields").addClass("d-none").find("input").attr("disabled", "disabled");
                $("#addSegmentFields").addClass("d-none").find("input, select").attr("disabled", "disabled");
                $("#addWebslideFields").addClass("d-none").find("input, select").attr("disabled", "disabled");
                $("#addFeatureFields").removeClass("d-none").find("input, select").removeAttr("disabled");
            }
            else if (type == "segment") {
                $("#addCarouselFields").addClass("d-none").find("input").attr("disabled", "disabled");
                $("#addFeatureFields").addClass("d-none").find("input, select").attr("disabled", "disabled");
                $("#addWebslideFields").addClass("d-none").find("input, select").attr("disabled", "disabled");
                $("#addSegmentFields").removeClass("d-none").find("input, select").removeAttr("disabled");
            }
            else {
                $("#addCarouselFields").addClass("d-none").find("input").attr("disabled", "disabled");
                $("#addFeatureFields").addClass("d-none").find("input, select").attr("disabled", "disabled");
                $("#addSegmentFields").addClass("d-none").find("input, select").attr("disabled", "disabled");
                $("#addWebslideFields").removeClass("d-none").find("input").removeAttr("disabled");
            }
        });

        $("#addForm").submit(function (e) {
            e.preventDefault();
            var form = $(this);
            $.post("@(Url.Action(nameof(PagesController.CreatePageItem), PagesController.Name))",
                form.serialize(),
                function (response) {
                    if (response.success == true) {
                        location.href = response.url;
                    }
                    else {
                        alert(response.message);
                        ResetSpinners(form.find(".btn-spinner"));
                    }
                });
        });

        $("#deleteModal").on("show.bs.modal", function (e) {
            var button = $(e.relatedTarget);
            var id = button.data("id");
            var name = button.data("name");
            var carousel = button.data("carousel");
            var feature = button.data("feature");
            var segment = button.data("segment");
            var webslide = button.data("webslide");
            var modal = $(this);

            var type;
            if (carousel) {
                type = "carousel";
            }
            else if (feature) {
                type = "feature";
            }
            else if (segment) {
                type = "segment";
            }
            else if (webslide) {
                type = "webslide";
            }

            $("#deleteId").val(id);
            $("#deleteName").val(name);
            modal.find(".modal-text").text("Are you sure you want to delete the " + type +  " \"" + name + "\"?");
        });

        $("#editFeatureModal").on("show.bs.modal", function (e) {
            var button = $(e.relatedTarget);
            var id = button.data("id");
            var name = button.data("name");

            $("#editFeatureItem").val(id);
            $("#editFeatureName").val(name);
        });

        $("#editFeatureForm").submit(function (e) {
            e.preventDefault();
            var form = $(this);
            $.post("@(Url.Action(nameof(PagesController.EditPageItem), PagesController.Name))",
                form.serialize(),
                function (response) {
                if (response.success == true) {
                    location.href = response.url;
                }
                else {
                    alert(response.message);
                    ResetSpinners(form.find(".btn-spinner"));
                }
            });
        });

        $("#editSegmentModal").on("show.bs.modal", function (e) {
            var button = $(e.relatedTarget);
            var id = button.data("id");
            var name = button.data("name");

            $("#editSegmentItem").val(id);
            $("#editSegmentName").val(name);
        });

        $("#editSegmentForm").submit(function (e) {
            e.preventDefault();
            var form = $(this);
            $.post("@(Url.Action(nameof(PagesController.EditPageItem), PagesController.Name))",
                form.serialize(),
                function (response) {
                if (response.success == true) {
                    location.href = response.url;
                }
                else {
                    alert(response.message);
                    ResetSpinners(form.find(".btn-spinner"));
                }
            });
        });

        $("#editWebslideModal").on("show.bs.modal", function (e) {
            var button = $(e.relatedTarget);
            var id = button.data("id");
            var name = button.data("name");

            $("#editWebslideItem").val(id);
            $("#editWebslideName").val(name);
        });

        $("#editWebslideForm").submit(function (e) {
            e.preventDefault();
            var form = $(this);
            $.post("@(Url.Action(nameof(PagesController.EditPageItem), PagesController.Name))",
                form.serialize(),
                function (response) {
                if (response.success == true) {
                    location.href = response.url;
                }
                else {
                    alert(response.message);
                    ResetSpinners(form.find(".btn-spinner"));
                }
            });
        });

        $(".changeSort").on("click", function () {
            var button = $(this);
            var id = button.data("id");
            var increase = button.data("increase");
            var icon = button.children("span");
            if (icon.hasClass("fa-spinner") == false) {
                icon.removeClass("fa-arrow-up fa-arrow-down").addClass("fa-spinner fa-pulse");
                $.post("@Url.Action(nameof(PagesController.ChangeSort))",
                    { id, increase },
                    function (response) {
                        icon.removeClass("fa-spinner fa-pulse");
                        if (increase) {
                            icon.addClass("fa-arrow-down");
                        }
                        else {
                            icon.addClass("fa-arrow-up");
                        }
                        if (response.success) {
                            var row = button.closest("tr");
                            if (increase) {
                                var nextRow = row.next();
                                row.insertAfter(nextRow);
                                row.find(".decreaseSortButton").removeAttr("disabled");
                                if (row.next().length == 0) {
                                    row.find(".increaseSortButton").attr("disabled", "disabled");
                                }
                                nextRow.find(".increaseSortButton").removeAttr("disabled");
                                if (nextRow.prev().length == 0) {
                                    nextRow.find(".decreaseSortButton").attr("disabled", "disabled");
                                }
                            }
                            else {
                                var prevRow = row.prev();
                                row.insertBefore(prevRow);
                                row.find(".increaseSortButton").removeAttr("disabled");
                                if (row.prev().length == 0) {
                                    row.find(".decreaseSortButton").attr("disabled", "disabled");
                                }
                                prevRow.find(".decreaseSortButton").removeAttr("disabled");
                                if (prevRow.next().length == 0) {
                                    prevRow.find(".increaseSortButton").attr("disabled", "disabled");
                                }
                            }
                        }
                        else {
                            alert(response.message);
                        }
                });
            }
        });
    </script>
}