@model LayoutsViewModel

@using Ocuda.Ops.Controllers.Areas.SiteManagement.ViewModels.Pages

<div class="row mb-2">
    <div class="col-sm-6">
        <h1>
            Page Layouts
            <small class="text-muted">@Model.HeaderName</small>
        </h1>
    </div>
    <div class="col-sm-6">
        <a class="btn btn-outline-dark mt-2 mb-1 ml-2 float-end"
           asp-action="@(nameof(PagesController.Index))"
           asp-route-Type="@Model.HeaderType">Back</a>
        <button class="btn btn-outline-success mt-2 mb-1 mr-2 float-end"
                data-bs-toggle="modal"
                data-target="#addModal">
            <span class="fas fa-plus-circle" aria-hidden="true"></span>
            Add Layout
        </button>
    </div>
</div>

<form id="addForm" role="form">
    <input id="addHeader"
           asp-for="PageLayout.PageHeaderId"
           value="@Model.HeaderId"
           type="hidden" />

    <div modal
         id="addModal"
         isLarge="true"
         name="Page Layout"
         type="Ocuda.Utility.TagHelpers.ModalTypes.Add">
        <input id="addName" asp-for="PageLayout.Name" formgroup />
        <div class="form-group row">
            <label asp-for="PageLayout.StartDate"
                   class="col-form-label col-12 col-md-3 text-md-end"></label>
            <div class="form-group-inner col-12 col-md-5">
                <input asp-for="StartDate"
                       required
                       class="form-control"
                       type="date" />
            </div>
            <div class="form-group-inner col-12 col-md-4">
                <input asp-for="StartTime"
                       class="form-control"
                       required
                       step="60"
                       type="time" />
            </div>
        </div>
    </div>
</form>

<form asp-controller="@PagesController.Name"
      asp-action="@(nameof(PagesController.CloneLayout))">
    <div class="modal fade"
         id="cloneModal"
         data-backdrop="static"
         data-keyboard="false"
         tabindex="-1"
         aria-labelledby="cloneModalLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="cloneModalLabel">Clone layout</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <input id="cloneLayoutId" name="cloneLayoutId" type="hidden" />
                    <input id="clonePageHeaderId"
                           name="clonePageHeaderId"
                           type="hidden"
                           value="@Model.HeaderId" />
                    <div class="form-group">
                        <label for="clonedName">
                            Enter a name for the clone of the
                            <strong id="cloneLayoutName"></strong> layout:
                        </label>
                        <input id="clonedName" name="clonedName" class="form-control" />
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">
                        Cancel
                    </button>
                    <button type="submit" class="btn btn-outline-primary">
                        <span class="far fa-copy" aria-hidden="true"></span>
                        Clone layout
                    </button>
                </div>
            </div>
        </div>
    </div>
</form>

<form id="editForm" role="form">
    <input id="editId" asp-for="PageLayout.Id" type="hidden" />
    <div modal
         id="editModal"
         isLarge="true"
         name="Page Layout"
         type="Ocuda.Utility.TagHelpers.ModalTypes.Edit">
        <input id="editName" asp-for="PageLayout.Name" formgroup />
        <div class="form-group row">
            <label asp-for="PageLayout.StartDate"
                   class="col-form-label col-12 col-md-3 text-md-end"></label>
            <div class="form-group-inner col-12 col-md-5">
                <input asp-for="StartDate"
                       id="editStartDate"
                       required
                       class="form-control"
                       type="date" />
            </div>
            <div class="form-group-inner col-12 col-md-4">
                <input asp-for="StartTime"
                       id="editStartTime"
                       class="form-control"
                       required
                       step="60"
                       type="time" />
            </div>
        </div>
    </div>
</form>

<form asp-controller="@PagesController.Name"
      asp-action="@(nameof(PagesController.DeleteLayout))"
      method="post"
      role="form">
    <input id="deleteCurrentPage" asp-for="PaginateModel.CurrentPage" type="hidden" />
    <input id="deleteId" asp-for="PageLayout.Id" type="hidden" />
    <input id="deleteName" asp-for="PageLayout.Name" type="hidden" />
    <div modal id="deleteModal"
         name="Page"
         type="Ocuda.Utility.TagHelpers.ModalTypes.Delete"></div>
</form>

<div class="row">
    <div class="col-12">
        <span class="d-none"><input asp-for="HeaderName" formgroup readonly /></span>
        <input asp-for="HeaderStub" formgroup readonly />
        <input asp-for="HeaderType" formgroup readonly />
    </div>
</div>

<div class="row">
    <div class="col-12">
        <div>
            <table class="table table-sm table-bordered table-hover table-striped">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>
                            Start Date
                            <span class="fas fa-caret-down"></span>
                        </th>
                        <th>Items</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model.PageLayouts?.Count == 0)
                    {
                        <tr>
                            <td colspan="4">
                                <em style="font-size: larger; color: #666;">
                                    Page has no layouts.
                                    <a href="#"
                                       class="text-success"
                                       data-bs-toggle="modal"
                                       data-target="#addModal">
                                        <span class="fas fa-plus-circle" aria-hidden="true"></span>
                                        Add a page layout.
                                    </a>
                                </em>
                            </td>
                        </tr>
                    }
                    else
                    {
                        @foreach (var layout in Model.PageLayouts)
                        {
                            <tr class="@LayoutsViewModel.TableRow(layout)">
                                <td class="align-middle">
                                    <a asp-action="@nameof(PagesController.LayoutDetail)"
                                       asp-route-id="@layout.Id">
                                        @layout.Name
                                    </a>
                                </td>
                                <td class="align-middle">@layout.StartDate</td>
                                <td class="align-middle">@layout.Items.Count()</td>
                                <td class="align-middle">
                                    <button type="button"
                                            class="btn btn-outline-primary"
                                            data-bs-toggle="modal"
                                            data-target="#editModal"
                                            data-id="@layout.Id"
                                            data-name="@layout.Name"
                                            data-startdate="@layout.StartDate?.ToString("yyyy-MM-dd")"
                                            data-starttime="@layout.StartDate?.ToString("HH:mm")"
                                            title="Edit layout name and start date">
                                        <span class="fas fa-cog" aria-hidden="true"></span>
                                    </button>
                                    <a asp-action="@(nameof(PagesController.LayoutDetail))"
                                       asp-route-id="@layout.Id"
                                       class="btn btn-outline-primary"
                                       title="Edit content">
                                        <span class="far fa-file-alt" aria-hidden="true"></span>
                                    </a>
                                    @if (LayoutsViewModel.IsClonable(layout))
                                    {
                                        <button type="button"
                                                class="btn btn-outline-primary"
                                                data-id="@layout.Id"
                                                data-name="@layout.Name"
                                                data-bs-toggle="modal"
                                                data-target="#cloneModal"
                                                title="Clone layout">
                                            <span class="far fa-copy" aria-hidden="true"></span>
                                        </button>
                                    }
                                    <button type="button"
                                            class="btn btn-outline-danger"
                                            data-bs-toggle="modal"
                                            data-target="#deleteModal"
                                            data-id="@layout.Id"
                                            data-name="@layout.Name"
                                            title="Delete layout">
                                        <span class="fas fa-times-circle" aria-hidden="true"></span>
                                    </button>
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

<nav paginate="@Model.PaginateModel"></nav>

@section Scripts {
    <script>
        $("#addForm").submit(function (e) {
            e.preventDefault();
            var form = $(this);
            $.post("@(Url.Action(nameof(PagesController.CreateLayout), PagesController.Name))",
                form.serialize(),
                function (response) {
                    if (response.success == true) {
                        location.href = response.url;
                    }
                    else {
                        alert(response.message);
                        ResetSpinners(form.find(".btn-spinner"));
                    }
                });
        });

        $("#editModal").on("show.bs.modal", function (e) {
            var button = $(e.relatedTarget);
            $("#editId").val(button.data("id"));
            $("#editName").val(button.data("name"));
            $("#editStartDate").val(button.data("startdate"));
            $("#editStartTime").val(button.data("starttime"));
        });

        $("#editForm").submit(function (e) {
            e.preventDefault();
            var form = $(this);
            $.post("@(Url.Action(nameof(PagesController.EditLayout), PagesController.Name))",
                form.serialize(),
                function (response) {
                    if (response.success == true) {
                        location.reload();
                    }
                    else {
                        alert(response.message);
                        ResetSpinners(form.find(".btn-spinner"));
                    }
                });
        });

        $("#deleteModal").on("show.bs.modal", function (e) {
            var button = $(e.relatedTarget);
            var id = button.data("id");
            var name = button.data("name");
            var modal = $(this);
            $("#deleteId").val(id);
            $("#deleteName").val(name);
            modal.find(".modal-text").text("Are you sure you want to delete \"" + name + "\"?");
        });

        $("#cloneModal").on("show.bs.modal", function (e) {
            var button = $(e.relatedTarget);
            var id = button.data("id");
            var name = button.data("name");
            console.log(id);
            console.log(name);
            $("#cloneLayoutId").val(id);
            $("#cloneLayoutName").html(name);
        });
    </script>
}
