@model Ocuda.Ops.Controllers.Areas.SiteManagement.ViewModels.Pages.LayoutDetailViewModel

<div class="d-flex justify-content-between">
    <h1>
        Page Layout
        <small class="text-muted">@Model.PageLayout.Name</small>
    </h1>
    <div class="pt-2">
        @if (!string.IsNullOrEmpty(Model.PreviewLink))
        {
            <form action="@Model.PreviewLink"
              class="d-inline"
              method="post"
              role="form"
              target="_blank">
                <input type="hidden" name="PreviewId" value="@Model.PageLayout.PreviewId" />
                <button class="btn btn-outline-info">
                    <span class="fa-solid fa-file-lines"></span>
                    Preview
                </button>
            </form>
        }
        <button class="btn btn-outline-success"
                data-bs-toggle="modal"
                data-bs-target="#addModal">
            <span class="fa-solid fa-circle-plus" aria-hidden="true"></span>
            Add Item
        </button>
        <a class="btn btn-outline-dark ms-2"
           asp-action="@(nameof(PagesController.Layouts))"
           asp-route-id="@Model.PageLayout.PageHeaderId">Back</a>
    </div>
</div>

<form id="addForm" role="form">
    <input id="addLanguage" asp-for="LanguageId" type="hidden" />
    <input id="addLayout"
           asp-for="PageItem.PageLayoutId"
           value="@Model.PageLayoutId"
           type="hidden" />

    <div modal
         id="addModal"
         isLarge="true"
         name="Layout Item"
         type="Ocuda.Utility.TagHelpers.ModalTypes.Add">
        <div class="row mb-3">
            <label class="col-form-label text-md-end col-md-3">Item Type</label>
            <div class="mb-3-inner col-md-9">
                <select id="addType" class="form-control">
                    <option value="banner">Banner</option>
                    <option value="carousel">Carousel</option>
                    <option value="deck">Deck</option>
                    <option value="feature">Feature</option>
                    <option value="navBanner">Nav Banner</option>
                    <option value="segment">Segment</option>
                    <option value="webslide">Webslide</option>
                </select>
            </div>
        </div>
        <div id="addBannerFields">
            <input id="addBannerName" asp-for="BannerFeature.Name" formgroup />
        </div>
        <div id="addCarouselFields" class="d-none">
            <input id="addCarouselTitle" asp-for="Carousel.Name" formgroup disabled />
        </div>
        <div id="addDeckFields" class="d-none">
            <input id="addDeckName" asp-for="Deck.Name" formgroup disabled />
        </div>
        <div id="addFeatureFields" class="d-none">
            <input id="addFeatureName" asp-for="PageFeature.Name" formgroup disabled />
        </div>
        <div id="addNavBannerFields" class="d-none">
            <input id="addNavBannerName" asp-for="NavBanner.Name" formgroup disabled />
        </div>
        <div id="addSegmentFields" class="d-none">
            <input id="addSegmentName" asp-for="Segment.Name" formgroup disabled />
        </div>
        <div id="addWebslideFields" class="d-none">
            <input id="addWebslideName" asp-for="Webslide.Name" formgroup disabled />
        </div>
    </div>
</form>

<form asp-controller="@PagesController.Name"
      asp-action="@(nameof(PagesController.DeletePageItem))"
      method="post"
      role="form">
    <input id="deleteLanguage" asp-for="LanguageId" type="hidden" />
    <input id="deleteId" asp-for="PageItem.Id" type="hidden" />

    <div modal id="deleteModal"
         name="Layout Item"
         type="Ocuda.Utility.TagHelpers.ModalTypes.Delete"></div>
</form>

<form id="editBannerForm" role="form">
    <input id="editBannerLanguage" asp-for="LanguageId" type="hidden" />
    <input id="editBannerItem" asp-for="PageItem.Id" type="hidden" />

    <div modal
         id="editBannerModal"
         isLarge="true"
         name="Banner"
         type="Ocuda.Utility.TagHelpers.ModalTypes.Edit">
        <input id="editBannerName" asp-for="BannerFeature.Name" formgroup />
    </div>
</form>

<form id="editDeckForm" role="form">
    <input id="editDeckLanguage" asp-for="LanguageId" type="hidden" />
    <input id="editDeckItem" asp-for="PageItem.Id" type="hidden" />

    <div modal
         id="editDeckModal"
         isLarge="true"
         name="Deck"
         type="Ocuda.Utility.TagHelpers.ModalTypes.Edit">
        <input id="editDeckName" asp-for="Deck.Name" formgroup />
    </div>
</form>

<form id="editFeatureForm" role="form">
    <input id="editFeatureLanguage" asp-for="LanguageId" type="hidden" />
    <input id="editFeatureItem" asp-for="PageItem.Id" type="hidden" />

    <div modal
         id="editFeatureModal"
         isLarge="true"
         name="Feature"
         type="Ocuda.Utility.TagHelpers.ModalTypes.Edit">
        <input id="editFeatureName" asp-for="PageFeature.Name" formgroup />
    </div>
</form>

<form id="editNavBannerForm" role="form">
    <input id="editNavBannerLanguage" asp-for="LanguageId" type="hidden" />
    <input id="editNavBanner" asp-for="PageItem.Id" type="hidden" />

    <div modal
         id="editNavBannerModal"
         isLarge="true"
         name="NavBanner"
         type="Ocuda.Utility.TagHelpers.ModalTypes.Edit">
        <input id="editNavBannerName" asp-for="NavBanner.Name" formgroup />
    </div>
</form>

<form id="editSegmentForm" role="form">
    <input id="editSegmentLanguage" asp-for="LanguageId" type="hidden" />
    <input id="editSegmentItem" asp-for="PageItem.Id" type="hidden" />

    <div modal
         id="editSegmentModal"
         isLarge="true"
         name="Segment"
         type="Ocuda.Utility.TagHelpers.ModalTypes.Edit">
        <input id="editSegmentName" asp-for="Segment.Name" formgroup />
    </div>
</form>

<form id="editWebslideForm" role="form">
    <input id="editWebslideLanguage" asp-for="LanguageId" type="hidden" />
    <input id="editWebslideItem" asp-for="PageItem.Id" type="hidden" />

    <div modal
         id="editWebslideModal"
         isLarge="true"
         name="Webslide"
         type="Ocuda.Utility.TagHelpers.ModalTypes.Edit">
        <input id="editWebslideName" asp-for="Webslide.Name" formgroup />
    </div>
</form>

<div class="row pt-2">
    <div class="col-12">
        <span class="d-none"><input asp-for="PageLayout.Name" formgroup readonly /></span>
        @if (Model.PageLayout.StartDate == null)
        {
            <div class="col-md-9 offset-md-3">
                <div class="alert alert-warning">
                    With no start date, this page will never be active.
                </div>
            </div>
        }
        <input asp-for="PageLayout.StartDate"
               value="@Model.PageLayout.StartDate"
               type="datetime"
               formgroup
               readonly />
        <select asp-for="SelectLanguage" asp-items="Model.LanguageList" formgroup></select>
    </div>
</div>

<div class="row pb-2">
    <div class="col-12 col-md-9 offset-md-3">
        <hr class="mt-2" />
    </div>
</div>

<div class="row pb-1">
    <div class="col-12">
        <form asp-action="@nameof(PagesController.LayoutDetail)" method="post" role="form">
            <input asp-for="PageLayoutText.PageLayoutId"
                   value="@Model.PageLayoutId"
                   type="hidden" />
            <input asp-for="PageLayoutText.LanguageId" value="@Model.LanguageId" type="hidden" />
            <input asp-for="PageLayoutText.Title"
                   value="@Model.PageLayout.PageLayoutText?.Title"
                   formgroup />
            <select asp-for="PageLayoutText.IsTitleHidden"
                    class="form-control"
                    formgroup>
                <option value="false">Visible in a level 1 header at the top of the page</option>
                <option selected="@(Model.PageLayout.PageLayoutText?.IsTitleHidden == true ? true : false)"
                        value="true">Only visible to screen readers</option>
            </select>
            <div class="row">
                <div class="offset-md-3 col-md-9">
                    <button type="submit"
                            class="btn btn-outline-success btn-lg"
                            button-spinner>
                        <span class="fa-regular fa-floppy-disk"></span>
                        Save
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>

<div class="row mt-3">
    <div class="col-12">
        <table class="table table-sm table-bordered table-striped">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Type</th>
                    <th>Items</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                @if (Model.PageLayout.Items?.Count == 0)
                {
                    <tr>
                        <td colspan="4" class="align-middle">
                            <em style="font-size: larger; color: #666;">
                                Layout has no items.
                                <a href="#"
                               class="text-success"
                               data-bs-toggle="modal"
                               data-bs-target="#addModal">
                                    <span class="fa-solid fa-circle-plus" aria-hidden="true"></span>
                                    Add a layout item.
                                </a>
                            </em>
                        </td>
                    </tr>
                }
                else
                {
                    @foreach (var item in Model.PageLayout.Items)
                    {
                        <tr>
                            @if (item.BannerFeatureId.HasValue)
                            {
                                <td class="align-middle">@item.BannerFeature.Name</td>
                                <td class="align-middle">Banner</td>
                                <td class="align-middle">@item.BannerFeature.Items.Count</td>
                            }
                            else if (item.DeckId.HasValue)
                            {
                                <td class="align-middle">@item.Deck.Name</td>
                                <td class="align-middle">Deck</td>
                                <td class="align-middle">@item.Deck.Cards.Count</td>
                            }
                            else if (item.CarouselId.HasValue)
                            {
                                <td class="align-middle">@item.Carousel.Name</td>
                                <td class="align-middle">Carousel</td>
                                <td class="align-middle">@item.Carousel.Items.Count</td>
                            }
                            else if (item.NavBannerId.HasValue)
                            {
                                <td class="align-middle">@item.NavBanner.Name</td>
                                <td class="align-middle">Nav Banner</td>
                                <td></td>
                                //<td class="align-middle">@item.NavBanner.Items.Count</td>
                            }
                            else if (item.PageFeatureId.HasValue)
                            {
                                <td class="align-middle">@item.PageFeature.Name</td>
                                <td class="align-middle">Feature</td>
                                <td class="align-middle">@item.PageFeature.Items.Count</td>
                            }
                            else if (item.SegmentId.HasValue)
                            {
                                <td class="align-middle">@item.Segment.Name</td>
                                <td class="align-middle">Segment</td>
                                <td class="align-middle">&nbsp;</td>
                            }
                            else if (item.WebslideId.HasValue)
                            {
                                <td class="align-middle">@item.Webslide.Name</td>
                                <td class="align-middle">Webslide</td>
                                <td class="align-middle">@item.Webslide.Items.Count</td>
                            }
                            else
                            {
                                <td class="align-middle text-danger"><strong>Unknown Content</strong></td>
                                <td class="align-middle text-danger"><strong>Unknown</strong></td>
                                <td class="align-middle">&nbsp;</td>
                            }
                            <td class="align-middle">
                                <button type="button"
                                class="btn btn-outline-primary changeSort decreaseSortButton"
                                data-id="@item.Id"
                                data-increase="false"
                                data-item="true"
                                disabled="@(item.Id == Model.PageLayout.Items.First().Id ? "disabled" : null)">
                                    <span class="fa-solid fa-arrow-up fa-fw" aria-hidden="true"></span>
                                </button>
                                <button class="btn btn-outline-primary changeSort increaseSortButton"
                                data-id="@item.Id"
                                data-increase="true"
                                data-item="true"
                                disabled="@(item.Id == Model.PageLayout.Items.Last().Id ? "disabled" : null)">
                                    <span class="fa-solid fa-arrow-down fa-fw" aria-hidden="true"></span>
                                </button>
                                @if (item.BannerFeatureId.HasValue)
                                {
                                    <button type="button"
                                class="btn btn-outline-primary"
                                data-bs-toggle="modal"
                                data-bs-target="#editBannerModal"
                                data-id="@item.Id"
                                data-name="@item.BannerFeature.Name"
                                title="Edit banner name">
                                        <span class="fa-solid fa-gear fa-fw" aria-hidden="true"></span>
                                    </button>
                                    <a asp-controller="@ImageFeaturesController.Name"
                           asp-action="@(nameof(ImageFeaturesController.Detail))"
                           asp-route-id="@item.BannerFeatureId.Value"
                           asp-route-pageLayoutId=@Model.PageLayoutId
                           class="btn btn-outline-primary"
                           title="Edit banner content">
                                        <span class="fa-regular fa-file-lines fa-fw" aria-hidden="true"></span>
                                    </a>
                                }
                                else if (item.CarouselId.HasValue)
                                {
                                    <button type="button" class="btn btn-outline-primary invisible">
                                        <span class="fa-solid fa-gear fa-fw" aria-hidden="true"></span>
                                    </button>
                                    <a asp-controller="@CarouselsController.Name"
                           asp-action="@(nameof(CarouselsController.Detail))"
                           asp-route-id="@item.CarouselId.Value"
                           class="btn btn-outline-primary"
                           title="Edit carousel content">
                                        <span class="fa-regular fa-file-lines fa-fw" aria-hidden="true"></span>
                                    </a>
                                }
                                else if (item.DeckId.HasValue)
                                {
                                    <button type="button"
                                class="btn btn-outline-primary"
                                data-bs-toggle="modal"
                                data-bs-target="#editDeckModal"
                                data-id="@item.Id"
                                data-name="@item.Deck.Name"
                                title="Edit segment name">
                                        <span class="fa-solid fa-gear fa-fw" aria-hidden="true"></span>
                                    </button>
                                    <a asp-controller="@DecksController.Name"
                           asp-action="@(nameof(DecksController.Detail))"
                           asp-route-deckId="@item.DeckId.Value"
                           class="btn btn-outline-primary"
                           title="Edit deck content">
                                        <span class="fa-regular fa-file-lines fa-fw" aria-hidden="true"></span>
                                    </a>

                                }
                                else if (item.PageFeatureId.HasValue)
                                {
                                    <button type="button"
                                class="btn btn-outline-primary"
                                data-bs-toggle="modal"
                                data-bs-target="#editFeatureModal"
                                data-id="@item.Id"
                                data-name="@item.PageFeature.Name"
                                title="Edit feature">
                                        <span class="fa-solid fa-gear fa-fw" aria-hidden="true"></span>
                                    </button>
                                    <a asp-controller="@ImageFeaturesController.Name"
                           asp-action="@(nameof(ImageFeaturesController.Detail))"
                           asp-route-id="@item.PageFeatureId.Value"
                           asp-route-pageLayoutId=@Model.PageLayoutId
                           class="btn btn-outline-primary"
                           title="Edit feature content">
                                        <span class="fa-regular fa-file-lines fa-fw" aria-hidden="true"></span>
                                    </a>
                                }
                                else if (item.NavBannerId.HasValue)
                                {
                                    <button type="button"
                                            class="btn btn-outline-primary"
                                            data-bs-toggle="modal"
                                            data-bs-target="#editNavBannerModal"
                                            data-id="@item.Id"
                                            data-name="@item.NavBanner.Name"
                                            title="Edit NavBanner">
                                        <span class="fa-solid fa-gear fa-fw" aria-hidden="true"></span>
                                    </button>
                                    <a asp-controller="@NavBannerController.Name"
                                       asp-action="@(nameof(NavBannerController.Detail))"
                                       asp-route-id="@item.NavBannerId.Value"
                                       asp-route-pageLayoutId=@Model.PageLayoutId
                                       class="btn btn-outline-primary"
                                       title="Edit feature content">
                                        <span class="fa-regular fa-file-lines fa-fw" aria-hidden="true"></span>
                                    </a>
                                }
                                else if (item.SegmentId.HasValue)
                                {
                                    <button type="button"
                                class="btn btn-outline-primary"
                                data-bs-toggle="modal"
                                data-bs-target="#editSegmentModal"
                                data-id="@item.Id"
                                data-name="@item.Segment.Name"
                                title="Edit segment name">
                                        <span class="fa-solid fa-gear fa-fw" aria-hidden="true"></span>
                                    </button>
                                    <a asp-controller="@SegmentsController.Name"
                           asp-action="@(nameof(SegmentsController.Detail))"
                           asp-route-id="@item.SegmentId.Value"
                           class="btn btn-outline-primary"
                           title="Edit segment content">
                                        <span class="fa-regular fa-file-lines fa-fw" aria-hidden="true"></span>
                                    </a>
                                }
                                else if (item.WebslideId.HasValue)
                                {
                                    <button type="button"
                                class="btn btn-outline-primary"
                                data-bs-toggle="modal"
                                data-bs-target="#editWebslideModal"
                                data-id="@item.Id"
                                data-name="@item.Webslide.Name"
                                title="Edit webslide">
                                        <span class="fa-solid fa-gear fa-fw" aria-hidden="true"></span>
                                    </button>
                                    <a asp-controller="@ImageFeaturesController.Name"
                           asp-action="@(nameof(ImageFeaturesController.Detail))"
                           asp-route-id="@item.WebslideId.Value"
                           asp-route-pageLayoutId=@Model.PageLayoutId
                           class="btn btn-outline-primary"
                           title="Edit webslide content">
                                        <span class="fa-regular fa-file-lines fa-fw" aria-hidden="true"></span>
                                    </a>
                                }
                                <button type="button"
                                class="btn btn-outline-danger"
                                data-bs-toggle="modal"
                                data-bs-target="#deleteModal"
                                data-id="@item.Id"
                                data-name="@(item.BannerFeature?.Name ?? item.Carousel?.Name ?? item.Deck?.Name ?? item.NavBanner?.Name ?? item.PageFeature?.Name ?? item.Segment?.Name ?? item.Webslide?.Name)"
                                data-banner="@item.BannerFeatureId"
                                data-carousel="@item.CarouselId"
                                data-deck="@item.DeckId"
                                data-feature="@item.PageFeatureId"
                                data-navbanner="@item.NavBannerId"
                                data-segment="@item.SegmentId"
                                data-webslide="@item.WebslideId"
                                title="Delete layout item">
                                    <span class="fa-solid fa-circle-xmark fa-fw" aria-hidden="true"></span>
                                </button>
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</div>

@section Scripts {
    <script>
        function activateFields(itemType) {
            $("#addBannerFields").addClass("d-none").find("input, select").attr("disabled", "disabled");
            $("#addCarouselFields").addClass("d-none").find("input").attr("disabled", "disabled");
            $("#addDeckFields").addClass("d-none").find("input, select").attr("disabled", "disabled");
            $("#addFeatureFields").addClass("d-none").find("input, select").removeAttr("disabled");
            $("#addNavBannerFields").addClass("d-none").find("input, select").removeAttr("disabled");
            $("#addSegmentFields").addClass("d-none").find("input, select").attr("disabled", "disabled");
            $("#addWebslideFields").addClass("d-none").find("input, select").attr("disabled", "disabled");
            let itemTitleCase = itemType.charAt(0).toUpperCase() + itemType.slice(1);
            $("#add" + itemTitleCase + "Fields").removeClass("d-none").find("input, select").removeAttr("disabled");
        }

        $("#SelectLanguage").on("change", function () {
            window.location.href = "@Url.Action(nameof(PagesController.LayoutDetail), new { id = Model.PageLayoutId})" + "?language=" + $(this).val();
        });

        $("#addType").on("change", function () {
            activateFields($(this).val());
        });

        $("#addForm").submit(function (e) {
            e.preventDefault();
            let form = $(this);
            $.post("@Url.Action(nameof(PagesController.CreatePageItem), PagesController.Name)",
                form.serialize(),
                function (response) {
                    if (response.success == true) {
                        location.href = response.url;
                    }
                    else {
                        alert(response.message);
                        ResetSpinners(form.find(".btn-spinner"));
                    }
                });
        });

        $("#addModal").on("show.bs.modal", function (e) {
            activateFields($('#addType').val());
        });

        $("#deleteModal").on("show.bs.modal", function (e) {
            let button = $(e.relatedTarget);
            let id = button.data("id");
            let name = button.data("name");
            let banner = button.data("banner");
            let carousel = button.data("carousel");
            let deck = button.data("deck");
            let feature = button.data("feature");
            let navbanner = button.data("navbanner");
            let segment = button.data("segment");
            let webslide = button.data("webslide");
            let modal = $(this);
            let hasName = true;

            var type;
            if (banner) {
                type = "banner"
            }
            else if (carousel) {
                type = "carousel";
            }
            else if (deck) {
                type = "deck";
            }
            else if (feature) {
                type = "feature";
            }
            else if (navbanner) {
                type = "nav banner"
            }
            else if (segment) {
                type = "segment";
            }
            else if (webslide) {
                type = "webslide";
            } else {
                hasName = false;
                type = "unknown content"
            }

            $("#deleteId").val(id);
            $("#deleteName").val(name);
            if (hasName) {
                modal.find(".modal-text").text("Are you sure you want to delete the " + type + " \"" + name + "\"?");
            }
            else {
                modal.find(".modal-text").text("Are you sure you want to delete the " + type + "?");
            }
        });

        $("#editBannerModal").on("show.bs.modal", function (e) {
            let button = $(e.relatedTarget);
            let id = button.data("id");
            let name = button.data("name");

            $("#editBannerItem").val(id);
            $("#editBannerName").val(name);
        });

        function editItem(e) {
            e.preventDefault();
            let form = $(this);
            $.post("@(Url.Action(nameof(PagesController.EditPageItem), PagesController.Name))",
                form.serialize(),
                function (response) {
                    if (response.success == true) {
                        location.href = response.url;
                    }
                    else {
                        alert(response.message);
                        ResetSpinners(form.find(".btn-spinner"));
                    }
                });
        }

        $("#editBannerForm").submit(editItem);

        $("#editDeckModal").on("show.bs.modal", function (e) {
            let button = $(e.relatedTarget);
            let id = button.data("id");
            let name = button.data("name");

            $("#editDeckItem").val(id);
            $("#editDeckName").val(name);
        });

        $("#editDeckForm").submit(editItem);

        $("#editFeatureModal").on("show.bs.modal", function (e) {
            let button = $(e.relatedTarget);
            let id = button.data("id");
            let name = button.data("name");

            $("#editFeatureItem").val(id);
            $("#editFeatureName").val(name);
        });

        $("#editFeatureForm").submit(editItem);

        $("#editNavBannerModal").on("show.bs.modal", function (e) {
            let button = $(e.relatedTarget);
            let id = button.data("id");
            let name = button.data("name");

            $("#editNavBanner").val(id);
            $("#editNavBannerName").val(name);
        });

        $("#editNavBannerForm").submit(editItem);

        $("#editSegmentModal").on("show.bs.modal", function (e) {
            let button = $(e.relatedTarget);
            let id = button.data("id");
            let name = button.data("name");

            $("#editSegmentItem").val(id);
            $("#editSegmentName").val(name);
        });

        $("#editSegmentForm").submit(editItem);

        $("#editWebslideModal").on("show.bs.modal", function (e) {
            let button = $(e.relatedTarget);
            let id = button.data("id");
            let name = button.data("name");

            $("#editWebslideItem").val(id);
            $("#editWebslideName").val(name);
        });

        $("#editWebslideForm").submit(editItem);

        $(".changeSort").on("click", function () {
            let button = $(this);
            let id = button.data("id");
            let increase = button.data("increase");
            let icon = button.children("span");
            if (icon.hasClass("fa-spinner") == false) {
                icon.removeClass("fa-arrow-up fa-arrow-down").addClass("fa-spinner fa-pulse");
                $.post("@Url.Action(nameof(PagesController.ChangeSort))",
                    { id, increase },
                    function (response) {
                        icon.removeClass("fa-spinner fa-pulse");
                        if (increase) {
                            icon.addClass("fa-arrow-down");
                        }
                        else {
                            icon.addClass("fa-arrow-up");
                        }
                        if (response.success) {
                            var row = button.closest("tr");
                            if (increase) {
                                var nextRow = row.next();
                                row.insertAfter(nextRow);
                                row.find(".decreaseSortButton").removeAttr("disabled");
                                if (row.next().length == 0) {
                                    row.find(".increaseSortButton").attr("disabled", "disabled");
                                }
                                nextRow.find(".increaseSortButton").removeAttr("disabled");
                                if (nextRow.prev().length == 0) {
                                    nextRow.find(".decreaseSortButton").attr("disabled", "disabled");
                                }
                            }
                            else {
                                var prevRow = row.prev();
                                row.insertBefore(prevRow);
                                row.find(".increaseSortButton").removeAttr("disabled");
                                if (row.prev().length == 0) {
                                    row.find(".decreaseSortButton").attr("disabled", "disabled");
                                }
                                prevRow.find(".decreaseSortButton").removeAttr("disabled");
                                if (prevRow.next().length == 0) {
                                    prevRow.find(".increaseSortButton").attr("disabled", "disabled");
                                }
                            }
                        }
                        else {
                            alert(response.message);
                        }
                    });
            }
        });
    </script>
}