@model Ocuda.Ops.Controllers.Areas.SiteManagement.ViewModels.Volunteer.IndexViewModel

<div class="d-flex justify-content-between mb-2">
    <h1>
        Volunteer Forms
    </h1>
    <div class="pt-2">
        <a class="btn btn-outline-success"
           asp-action="@nameof(VolunteerController.AddForm)">
            <span class="fa-solid fa-circle-plus" aria-hidden="true"></span>
            Add form
        </a>
        <a class="btn btn-outline-dark"
           asp-controller="@Ocuda.Ops.Controllers.Areas.ContentManagement.HomeController.Name"
           asp-action="@(nameof(Ocuda.Ops.Controllers.Areas.ContentManagement.HomeController.Index))">Back</a>
    </div>
</div>

@if (!Model.VolunteerForms.Any())
{
    <div class="row">
        <div class="col">
            <div class="alert alert-warning">No volunteer forms found.</div>
        </div>
    </div>
}
else
{
    <table class="table table-sm table-bordered">
        <thead>
            <tr>
                <th>Name</th>
                <th>Status</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var form in Model.VolunteerForms)
            {
                <tr>
                    <td class="align-middle">
                        <a asp-action="@nameof(VolunteerController.Form)"
                           asp-route-Id="@form.FormId">
                            @form.TypeName
                        </a>
                    </td>
                    <td class="align-middle">
                        @if (form.IsDisabled)
                        {
                            <span class="text-danger fa-solid fw-fw fa-circle-minus"
                                  title="This form type is disabled."
                                  aria-hidden="true"></span>
                        }
                        else
                        {
                            <span class="text-success fa-regular fw-fw fa-circle-check"
                                  title="This form type is enabled."
                                  aria-hidden="true"></span>
                        }
                    </td>
                    <td class="align-middle">
                        @if (form.IsDisabled)
                        {
                            <form asp-controller="@VolunteerController.Name" 
                                  asp-action="@(nameof(VolunteerController.EnableForm))" 
                                  method="post" 
                                  role="form">
                                  <input type="hidden" name="id" value="@form.FormId">
                                <button type="submit"
                                        class="btn btn-outline-success">
                                    Enable form
                                </button>
                            </form>
                        }
                        else
                        {
                            <button type="button"
                                    class="btn btn-outline-danger"
                                    data-bs-toggle="modal"
                                    data-bs-target="#disableModal"
                                    data-id="@form.FormId"
                                    data-type="@Ocuda.Utility.TagHelpers.ModalTypes.Delete"
                                    data-formType="@form.TypeName">
                                Disable form
                            </button>
                        }
                    </td>
                </tr>

            }
        </tbody>
    </table>
    <nav paginate="@Model"></nav>
}

@if (Model.VolunteerForms.Any())
{
    <form asp-controller="@VolunteerController.Name" asp-action="@(nameof(VolunteerController.DisableForm))" method="post" role="form">
        <input id="deleteCurrentPage" asp-for="CurrentPage" type="hidden" />

        <input id="deleteId" name="id" type="hidden" />
        <input id="deleteType" type="hidden" />
        <div modal
             id="disableModal"
             name="Form"
             type="Ocuda.Utility.TagHelpers.ModalTypes.Delete">
            <div id="dependentWarnings" class="d-none"></div>
        </div>
    </form>
}

@section scripts {
    <script>
        $("#addForm").submit(function (e) {
            e.preventDefault();
            var form = $(this);
            $.post("@(Url.Action(nameof(VolunteerController.AddForm), VolunteerController.Name))",
                form.serialize(),
                function (response) {
                    if (response.success == true) {
                        location.href = response.url;
                    }
                    else {
                        alert(response.message);
                        ResetSpinners(form.find(".btn-spinner"));
                    }
                });
        });

        $("#disableModal").on("show.bs.modal", function (e) {
            var button = $(e.relatedTarget);

            var id = button.data("id");
            var formType = button.data("formtype");

            var modal = $(this);

            $("#deleteId").val(id);
            $("#deleteType").val(formType);

            modal.find(".modal-text").text("Are you sure you want to disable \"" + formType + "\"?");

            var dependentWarning = modal.find("#dependentWarnings");

            dependentWarning.addClass("d-none");
        });
    </script>
}