@model Ocuda.Ops.Controllers.Areas.SiteManagement.ViewModels.Categories.IndexViewModel

<div class="row mb-2">
    <div class="col-sm-6">
        <h1>
            Categories
        </h1>
    </div>
    <div class="col-sm-6">
        <a class="btn btn-outline-dark mt-2 mb-1 ms-2 float-end"
           asp-controller="@Ocuda.Ops.Controllers.Areas.SiteManagement.HomeController.Name"
           asp-action="@(nameof(Ocuda.Ops.Controllers.Areas.SiteManagement.HomeController.Index))">Back</a>

        <button class="btn btn-outline-success mt-2 mb-1 me-2 float-end"
                data-bs-toggle="modal"
                data-target="#addModal">
            <span class="fas fa-plus-circle" aria-hidden="true"></span>
            Add Category
        </button>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <div>
            <table class="table table-sm table-bordered">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Languages</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var category in Model.Categories)
                    {
                        <tr>
                            <td class="align-middle">
                                <a asp-action="@(nameof(CategoriesController.Details))" asp-route-id="@category.Id">
                                    @category.Name
                                </a>
                            </td>
                            <td class="align-middle">@string.Join(", ", category.CategoryLanguages)</td>
                            <td class="align-middle">
                                <button type="button"
                                        class="btn btn-outline-primary"
                                        data-bs-toggle="modal"
                                        data-target="#editModal"
                                        data-id="@category.Id"
                                        data-name="@category.Name"
                                        data-class="@category.Class"
                                        title="Edit Category">
                                    <span class="fas fa-cog" aria-hidden="true"></span>
                                </button>
                                <a asp-controller="@CategoriesController.Name"
                                   asp-action="@(nameof(CategoriesController.Details))"
                                   asp-route-id="@category.Id"
                                   class="btn btn-outline-primary"
                                   title="Edit category content">
                                    <span class="far fa-file-alt" aria-hidden="true"></span>
                                </a>
                                <button type="button"
                                        class="btn btn-outline-danger"
                                        data-bs-toggle="modal"
                                        data-target="#deleteModal"
                                        data-id="@category.Id"
                                        data-name="@category.Name"
                                        data-emedia="@string.Join("|", category.CategoryEmedias)">
                                    <span class="fas fa-minus-circle" aria-hidden="true"></span>
                                </button>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

<nav paginate="@Model.PaginateModel"></nav>

<form id="addForm" role="form">
    <div modal
         id="addModal"
         isLarge="true"
         name="Category"
         type="Ocuda.Utility.TagHelpers.ModalTypes.Add">
        <input id="addName" asp-for="Category.Name" formgroup />
        <input id="addClass" asp-for="Category.Class" formgroup />
    </div>
</form>

<form id="editForm" role="form">
    <input id="editCategory" asp-for="Category.Id" type="hidden" />

    <div modal
         id="editModal"
         isLarge="true"
         name="Category"
         type="Ocuda.Utility.TagHelpers.ModalTypes.Edit">
        <input id="editName" asp-for="Category.Name" formgroup />
        <input id="editClass" asp-for="Category.Class" formgroup />
    </div>
</form>

<form asp-controller="@CategoriesController.Name" asp-action="@(nameof(CategoriesController.DeleteCategory))" method="post" role="form">
    <input id="deleteCurrentPage" asp-for="PaginateModel.CurrentPage" type="hidden" />

    <input id="deleteId" asp-for="Category.Id" type="hidden" />
    <input id="deleteName" asp-for="Category.Name" type="hidden" />

    <div modal
         id="deleteModal"
         name="Category"
         type="Ocuda.Utility.TagHelpers.ModalTypes.Delete">
        <div id="dependentWarnings" class="d-none"></div>
    </div>
</form>

@section scripts {
    <script>
        $("#addForm").submit(function (e) {
            e.preventDefault();
            var form = $(this);
            $.post("@(Url.Action(nameof(CategoriesController.CreateCategory), CategoriesController.Name))",
                form.serialize(),
                function (response) {
                    if (response.success == true) {
                        location.href = response.url;
                    }
                    else {
                        alert(response.message);
                        ResetSpinners(form.find(".btn-spinner"));
                    }
                });
        });

        $("#editModal").on("show.bs.modal", function (e) {
            var button = $(e.relatedTarget);
            var id = button.data("id");
            var name = button.data("name");
            var categoryClass = button.data("class");

            $("#editCategory").val(id);
            $("#editName").val(name);
            $("#editClass").val(categoryClass);
        });

        $("#editForm").submit(function (e) {
            e.preventDefault();
            var form = $(this);
            $.post("@(Url.Action(nameof(CategoriesController.EditCategory), CategoriesController.Name))",
                form.serialize(),
                function (response) {
                if (response.success == true) {
                    location.reload();
                }
                else {
                    alert(response.message);
                    ResetSpinners(form.find(".btn-spinner"));
                }
            });
        });

        $("#deleteModal").on("show.bs.modal", function (e) {
            var button = $(e.relatedTarget);

            var id = button.data("id");
            var name = button.data("name");
            var emedia = button.data("emedia");

            var modal = $(this);

            $("#deleteId").val(id);
            $("#deleteName").val(name);

            modal.find(".modal-text").text("Are you sure you want to delete \"" + name + "\"?");

            var dependentWarning = modal.find("#dependentWarnings");

            if (emedia) {
                dependentWarning.text("").removeClass("d-none");

                var emedias = emedia.toString().split("|");

                dependentWarning.append("<div>The following <strong>emedia</strong> use this category:</div>");
                dependentWarning.append("<ul id=\"emediaDependents\"></ul>");

                var emediaDependents = dependentWarning.find("#emediaDependents");

                $.each(emedias, function (index, value) {
                    emediaDependents.append("<li>" + value + "</li>")
                });
            }
            else {
                dependentWarning.addClass("d-none");
            }
        });
    </script>
}