@model Ocuda.Promenade.Controllers.ViewModels.Podcasts.EpisodeViewModel

<div class="row">
    <div class="col-12">
            <h1 class="h1-link">
                <a href="@Url.Action(nameof(PodcastsController.Podcast), new { stub = Model.Podcast.Stub})"
                    class="h6">
                    Podcast - @Model.Podcast.Title
                </a>
            </h1>
        <h2 class="mb-2 lead h2 podcast-title"><strong>@Model.PodcastItem.Title</strong></h2>
        <div class="mb-2">
            <em>
                Episode @Model.PodcastItem.Episode,
                published @Model.PodcastItem.PublishDate.Value.ToLongDateString().
            </em>
        </div>
        <audio controls class="mb-2">
            <source src="@Model.PodcastItem.MediaUrl" type="@Model.PodcastItem.MediaType" />
        </audio>
        <p>@Model.PodcastItem.Description</p>
        <div><em>Keywords: @Model.PodcastItem.Keywords</em></div>
    </div>
</div>
