@model Ocuda.Promenade.Controllers.ViewModels.Podcasts.EpisodeViewModel

<div class="row">
    <div class="col-12">
        <h1 class="mb-2">@Model.PodcastItem.Title</h1>
        <div class="mb-4">
            <em>
                <a href="@Url.Action(nameof(PodcastsController.Podcast), new { stub = Model.Podcast.Stub})">@Localizer[Promenade.PodcastTitle, Model.Podcast.Title]</a>.
                @Localizer[Promenade.PodcastEpisodePublished, Model.PodcastItem.Episode, Model.PodcastItem.PublishDate.Value.ToLongDateString()]
            </em>
        </div>
        <audio id="player" controls class="mb-2 w-100">
            <source src="@Model.PodcastItem.MediaUrl" type="@Model.PodcastItem.MediaType" />
        </audio>
        <p>@Model.PodcastItem.Description</p>
        <div><em>@Localizer[Promenade.KeywordsItem, Model.PodcastItem.Keywords]</em></div>
    </div>
</div>

@if (!string.IsNullOrWhiteSpace(Context.Items[Ocuda.Promenade.Controllers.ItemKey.GoogleAnalyticsTrackingCode] as string))
{
    <script>
        var player = document.getElementById("player");
        player.addEventListener("play", function () {
            gtag('event', 'Podcast play', {
                'event_category': '@Model.Podcast.Title',
                'event_label': '@Model.PodcastItem.Episode.Value'
            });
        });
    </script>
 } 