@model Ocuda.Promenade.Controllers.ViewModels.Podcasts.PodcastViewModel

@section metadata {
    <link rel="alternate"
          type="application/rss+xml"
          title="@Model.Podcast.Title"
          href="@Model.RSSUrl" />
}

<div class="row">
    <div class="col-6 col-md-3 mx-auto mb-2">
        <img class="img-thumbnail img-fluid"
             src="@(Model.Podcast.ImageThumbnailUrl ?? Model.Podcast.ImageUrl)"
             alt="@Model.Podcast.Title" />
    </div>
    <div class="col-12 col-md-9">
        <h1>@Model.Podcast.Title Podcast</h1>
        <p>@Model.Podcast.Description</p>
        <div class="row">
            <div class="col-12">
                <span class="sr-only">@Localizer[Promenade.PodcastListenOn]</span>
                @foreach (var directoryInfo in Model.PodcastDirectoryInfos)
                {
                    <a href="@directoryInfo.Url"
                       class="btn btn-outline-secondary mt-1"
                       target="_blank">@directoryInfo.PodcastDirectory.Name</a>
                }
                <a href="@Url.Action(nameof(PodcastsController.RSS), new { stub = Model.Podcast.Stub })"
                   target="_blank"
                   class="btn btn-outline-secondary mt-1"><span class="fas fa-rss-square"></span> RSS</a>
            </div>
        </div>
    </div>
</div>
<hr aria-hidden="true" />

@foreach (var item in Model.PodcastItems)
{
    <div class="row">
        <div class="col-12">
            <div class="row">
                <div class="col-12 col-lg-6 col-xl-7">
                    <h2 class="mb-2">
                        <a href="@Url.Action(nameof(PodcastsController.Episode), new { podcastStub = Model.Podcast.Stub, episodeStub = item.Stub})">
                            @item.Title
                        </a>
                    </h2>
                    <div class="mb-2"><em>@Localizer[Promenade.PodcastEpisodePublished, item.Episode, item.PublishDate.Value.ToLongDateString()]</em></div>
                </div>
                <div class="col-12 col-lg-6 col-xl-5 text-right">
                    <audio controls class="mb-2 w-100" data-episode="@item.Episode.Value">
                        <source src="@item.MediaUrl" type="@item.MediaType" />
                    </audio>
                </div>
            </div>
        </div>
        <div class="col-12">
            <p>@item.Description</p>
        </div>
    </div>
    <hr aria-hidden="true" />
}

@if (Model.PaginateModel.MaxPage > 1)
{
    <div class="row justify-content-center mt-4">
        <div class="col-auto">
            <paginate paginateModel="@Model.PaginateModel"></paginate>
        </div>
    </div>
}
@if (Context.Items.ContainsKey(Ocuda.Promenade.Controllers.ItemKey.GoogleAnalyticsTrackingCode))
{
    <script>
        var players = document.getElementsByTagName("audio");
        for (var index = 0; index < players.length; index++) {
            var episode = players[index].getAttribute("data-episode");
            players[index].addEventListener("play", function () {
                gtag('event', 'Podcast play', {
                    'event_category': '@Html.Raw(Model.Podcast.Title.Replace("'", "\\'"))',
                    'event_label': episode
                });
            });
        }
    </script>
}