@model Ocuda.Ops.Controllers.ViewModels.Staff.SearchViewModel

<div class="row mb-2">
    <div class="col-sm-6">
        <h1>
            Staff
        </h1>
    </div>
    <div class="col-sm-6">
        <a class="btn btn-outline-dark mt-2 mb-1 ms-2 float-end"
           asp-area=""
           asp-controller="@Ocuda.Ops.Controllers.HomeController.Name"
           asp-action="@nameof(Ocuda.Ops.Controllers.HomeController.Index)">Back</a>
    </div>
</div>

<form method="get" role="form">
    @if (Model.CurrentPage > 1)
    {
        <input type="hidden" name="page" value="Model.CurrentPage" />
    }
    <div class="row mb-3">
        <div class="col-12">
            <div class="input-group">
                <span class="input-group-text">Search:</span>
                <input asp-for="SearchText"
                       type="text"
                       class="form-control"
                       aria-label="Search text" />
                <select asp-items="@(new SelectList(Model.Locations.OrderBy(x => x.Value), "Key", "Value"))" 
                        name="AssociatedLocation" 
                        class="form-select"
                        asp-for="@Model.AssociatedLocation">
                    <option value="0">All Locations</option>
                </select>
                <a class="btn btn-outline-secondary"
                   asp-action=@nameof(Ocuda.Ops.Controllers.StaffController.Index)>
                    Clear
                </a>
                <button class="btn btn-outline-success"
                        id="goSearch">
                    Go
                </button>           
            </div>
        </div>
    </div>
</form>

@if (Model.Users.Count() > 0)
{
    <div class="row">
        <div class="col-12">
            <table class="table table-sm table-bordered table-hover table-striped">
                <thead>
                    <tr>
                        <th class="oc-staff-picture-column">Picture</th>
                        <th>Name</th>
                        <th>Title</th>
                        <th>Location</th>
                        <th>Contact</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var user in Model.Users)
                    {
                        <tr>
                            <td class="align-middle oc-staff-picture-row">
                                @if (!string.IsNullOrEmpty(user.PictureFilename))
                                {
                                    <a asp-action="@nameof(ProfileController.Index)"
                                       asp-controller="@ProfileController.Name"
                                       asp-route-id="@user.Username">
                                        <img src="@Url.Action(nameof(ProfileController.Picture), ProfileController.Name,  new { id =  user.Username })"
                                             class="img-fluid rounded mx-auto d-block img-thumbnail oc-staff-index-picture">
                                    </a>
                                }
                                else
                                {
                                    @:&nbsp;
                                }
                            </td>
                            <td class="align-middle">
                                <a asp-action="@nameof(ProfileController.Index)"
                                   asp-controller="@ProfileController.Name"
                                   asp-route-id="@user.Username">
                                    @user.Name
                                    @if (!string.IsNullOrEmpty(user.Nickname) && !user.Name.StartsWith(user.Nickname))
                                    {
                                        @:(@user.Nickname)
                                    }
                                </a>
                            </td>
                            <td class="align-middle">@user.Title</td>
                            <td class="align-middle">
                                @if (user.AssociatedLocation.HasValue && Model.Locations.ContainsKey(user.AssociatedLocation.Value))
                                {
                                    @Model.Locations[user.AssociatedLocation.Value]
                                }
                                else
                                {
                                    <em class="text-muted">None assigned</em>
                                }
                            </td>
                            <td class="align-middle">
                                @if (!string.IsNullOrEmpty(user.Email))
                                {
                                    <a href="mailto:@user.Email">@user.Email</a>
                                }
                                <br>
                                @user.Phone
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
    <nav paginate="@Model"></nav>
}
else
{
    <div class="alert alert-warning">No staff members found.</div>
}
