@model Ocuda.Ops.Controllers.ViewModels.Pages.PageListViewModel

@if (Model.Pages.Count() == 0)
{
    <div class="alert alert-warning">No Pages Found</div>
}
else
{
    <table class="table table-sm table-bordered link-table">
        <thead>
            <tr>
                <th>Title</th>
                <th>Author</th>
                <th>Date</th>
                <th>Draft</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var ocPage in Model.Pages)
            {
            <tr>
                <td class="rowlink-parent">
                    <a asp-action="View" asp-route-id="@ocPage.Id" class="rowlink">
                        @ocPage.Title
                    </a>
                </td>
                <td>@ocPage.CreatedBy</td>
                <td>@ocPage.CreatedAt</td>
                <td>@ocPage.IsDraft</td>
            </tr>
            }
        </tbody>
    </table>

    @if (Model.PaginateModel.MaxPage > 1)
    {
        <paginate paginateModel="@Model.PaginateModel"></paginate>
    }
}

@section scripts
    {
    <script>
        $(document).ready(function () {
            $('.rowlink-parent').each(function () {
                $(this).children('a.rowlink').height($(this).height() + 12);
            });
        });
        $(window).resize(function () {
            $('.rowlink-parent').each(function () {
                $(this).children('a.rowlink').height($(this).height() + 12);
            });
        });
    </script>
}