@model Ocuda.Ops.Controllers.Areas.SiteManagement.ViewModels.Podcasts.DetailsViewModel

<div class="row mb-2">
    <div class="col-sm-6">
        <h1>
            Podcast Details
            <small class="text-muted">@Model.Podcast.Title</small>
        </h1>
    </div>
    <div class="col-sm-6">
        <a class="btn btn-outline-dark mt-2 mb-1 float-end"
           asp-action="@nameof(PodcastsController.Index)"
           asp-controller="@PodcastsController.Name">Back</a>
    </div>
</div>

<div class="row">
    <div class="col">
        <div class="row mb-3">
            <div class="col-md-3 text-end">
                <label asp-for="Podcast.Title"></label>
            </div>
            <div class="col-md-9">
                @Model.Podcast.Title
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-md-3 text-end">
                <label asp-for="Podcast.EpisodeCount"></label>
            </div>
            <div class="col-md-9">
                @Model.Podcast.EpisodeCount
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-md-3 text-end">
                <label asp-for="Podcast.Stub"></label>
            </div>
            <div class="col-md-9">
                @if (string.IsNullOrEmpty(Model.PromenadeUrl))
                {
                    @Model.Podcast.Stub
                }
                else
                {
                    <a href="@(Model.PromenadeUrl + "/podcasts/" + Model.Podcast.Stub)"
                       target="_blank">@Model.Podcast.Stub</a>
                }
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-md-3 text-end">
                <label asp-for="Podcast.Subtitle"></label>
            </div>
            <div class="col-md-9">
                @Model.Podcast.Subtitle
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-md-3 text-end">
                <label asp-for="Podcast.Copyright"></label>
            </div>
            <div class="col-md-9">
                @Model.Podcast.Copyright
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-md-3 text-end">
                <label asp-for="Podcast.Author"></label>
            </div>
            <div class="col-md-9">
                @Model.Podcast.Author
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-md-3 text-end">
                <label asp-for="Podcast.Description"></label>
            </div>
            <div class="col-md-9">
                @Model.Podcast.Description
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-md-3 text-end">
                <label asp-for="Podcast.Category"></label>
            </div>
            <div class="col-md-9">
                @Model.Podcast.Category
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-md-3 text-end">
                <label asp-for="Podcast.OwnerName"></label>
            </div>
            <div class="col-md-9">
                @Model.Podcast.OwnerName
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-md-3 text-end">
                <label asp-for="Podcast.OwnerEmail"></label>
            </div>
            <div class="col-md-9">
                <a href="mailto:@Model.Podcast.OwnerEmail">@Model.Podcast.OwnerEmail</a>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-md-3 text-end">
                <label asp-for="Podcast.ImageThumbnailUrl"></label>
            </div>
            <div class="col-md-9">
                @Model.Podcast.ImageThumbnailUrl
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-md-3 text-end">
                <label asp-for="Podcast.ImageUrl"></label>
            </div>
            <div class="col-md-9">
                @Model.Podcast.ImageUrl
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-md-3 text-end">
                <label asp-for="Podcast.Language"></label>
            </div>
            <div class="col-md-9">
                @Model.Podcast.Language
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-md-3 text-end">
                <label asp-for="Podcast.IsExplicit"></label>
            </div>
            <div class="col-md-9">
                @if (Model.Podcast.IsExplicit)
                {
                    <span class="text-success fas fa-check-circle" title="True"></span>
                }
                else
                {
                    <span class="text-danger fas fa-times-circle" title="False"></span>
                }
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-md-3 text-end">
                <label asp-for="Podcast.IsSerial"></label>
            </div>
            <div class="col-md-9">
                @if (Model.Podcast.IsSerial)
                {
                    <span class="text-success fas fa-check-circle" title="True"></span>
                }
                else
                {
                    <span class="text-danger fas fa-times-circle" title="False"></span>
                }
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-md-3 text-end">
                <label asp-for="Podcast.IsBlocked"></label>
            </div>
            <div class="col-md-9">
                @if (Model.Podcast.IsBlocked)
                {
                    <span class="text-success fas fa-check-circle" title="True"></span>
                }
                else
                {
                    <span class="text-danger fas fa-times-circle" title="False"></span>
                }
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-md-3 text-end">
                <label asp-for="Podcast.IsCompleted"></label>
            </div>
            <div class="col-md-9">
                @if (Model.Podcast.IsCompleted)
                {
                    <span class="text-success fas fa-check-circle" title="True"></span>
                }
                else
                {
                    <span class="text-danger fas fa-times-circle" title="False"></span>
                }
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-md-3 text-end">
                <label asp-for="Podcast.IsHidden"></label>
            </div>
            <div class="col-md-9">
                @if (Model.Podcast.IsHidden)
                {
                    <span class="text-success fas fa-check-circle" title="True"></span>
                }
                else
                {
                    <span class="text-danger fas fa-times-circle" title="False"></span>
                }
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-md-3 text-end">
                <label asp-for="Podcast.IsDeleted"></label>
            </div>
            <div class="col-md-9">
                @if (Model.Podcast.IsDeleted)
                {
                    <span class="text-success fas fa-check-circle" title="True"></span>
                }
                else
                {
                    <span class="text-danger fas fa-times-circle" title="False"></span>
                }
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-md-3 text-end">
                <label asp-for="Podcast.UpdatedAt"></label>
            </div>
            <div class="col-md-9">
                @Model.Podcast.UpdatedAt.ToShortDateString()
            </div>
        </div>
    </div>
</div>
