@model Ocuda.Ops.Controllers.Areas.SiteManagement.ViewModels.SiteSettings.IndexViewModel

<form asp-controller="SiteSettings" asp-action="@(nameof(SiteSettingsController.Update))"
      method="post" role="form">
    <input asp-for="SiteSetting.Id" type="hidden" />
    <div modal id="editModal" name="Site Setting" type="Ocuda.Utility.TagHelpers.ModalTypes.Edit">
        <div class="row align-items-center">
            <div class="col-md-4">
                <label id="editName" class="col-form-label"></label>
            </div>
            <div class="col-md-8">
                <select id="editValueBool"
                        asp-for="SiteSetting.Value"
                        class="form-control d-none valueInput"
                        disabled="disabled">
                    <option value="false">No</option>
                    <option value="true">Yes</option>
                </select>
                <input id="editValueInt"
                       asp-for="SiteSetting.Value"
                       type="number"
                       class="form-control d-none valueInput"
                       disabled="disabled" />
                <input id="editValueString"
                       asp-for="SiteSetting.Value"
                       class="form-control d-none valueInput"
                       disabled="disabled" />
                <span id="editValidation"
                      asp-validation-for="SiteSetting.Value"
                      class="text-danger"></span>
            </div>
        </div>
    </div>
</form>

<div class="row">
    <div class="col-12">
        <a class="btn btn-outline-dark float-end"
           asp-controller="@(HomeController.Name)"
           asp-action="@(nameof(HomeController.Index))">
            <span class="fa fa-backward"></span>
            Back
        </a>
        <h1>Site Settings</h1>
    </div>
</div>

@if (Model.SiteSettingsByCategory.Count() == 0)
{
    <div class="alert alert-warning">No Site Settings Found</div>
}
else
{
    @foreach (var category in Model.SiteSettingsByCategory.Keys)
    {
        <div class="row my-3">
            <div class="col-12">
                <div class="card">
                    <div class="card-header lead fw-bold">
                        @category
                    </div>
                    <div class="card-body">
                        @foreach (var setting in Model.SiteSettingsByCategory[category])
                        {
                            <div class="mb-3 row">
                                <label asp-for="@setting.Name" class="col-md-3 col-form-label text-md-end">
                                    @setting.Name
                                    <span class="far fa-question-circle ms-1" title="@setting.Description"
                                          data-bs-toggle="tooltip" data-placement="top"></span>
                                </label>
                                <div class="d-flex col-md-9">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <button type="button"
                                                    class="btn btn-info"
                                                    data-bs-toggle="modal"
                                                    data-target="#editModal"
                                                    data-key="@setting.Id"
                                                    data-name="@setting.Name"
                                                    data-value="@setting.Value"
                                                    data-type="@setting.Type">
                                                <span class="fa fa-pencil-alt" aria-hidden="true"></span>
                                            </button>
                                        </div>
                                        @if (setting.Type == Ocuda.Utility.Models.SiteSettingType.Bool)
                                        {
                                            <select class="form-control" asp-for="@setting.Value" disabled>
                                                <option value="false">No</option>
                                                <option value="true">Yes</option>
                                            </select>
                                        }
                                        else
                                        {
                                            <input class="form-control" asp-for="@setting.Value" disabled />
                                        }
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    }
}

@section scripts {
    <script>
        $(function () {
            $('[data-bs-toggle="tooltip"]').tooltip()
        })

        $("#editModal").on("show.bs.modal", function (e) {
            var button = $(e.relatedTarget);
            var key = button.data("key");
            var name = button.data("name");
            var value = button.data("value");
            var type = button.data("type");
            var modal = $(this);

            $("#SiteSetting_Id").val(key);
            $("#editName").text(name);

            $(".valueInput").addClass("d-none").attr("disabled", "disabled");
            if (type == "Bool") {
                $("#editValueBool").removeAttr("disabled").removeClass("input-validation-error d-none").val(value);
            }
            else if (type == "Int") {
                $("#editValueInt").removeAttr("disabled").removeClass("input-validation-error d-none").val(value);
            }
            else {
                $("#editValueString").removeAttr("disabled").removeClass("input-validation-error d-none").val(value);
            }

            $("#editValidation").children().remove();
        });
    </script>
}
