@model Ocuda.Promenade.Controllers.ViewModels.Emedias.EmediaViewModel

@section metadata {
    <socialcard card="@Model.SocialCard"></socialcard>
}

<div modal id="infoModal"></div>

@foreach (var group in Model.GroupedEmedia)
{
    if (!string.IsNullOrWhiteSpace(group.Segment?.SegmentText?.Text))
    {
        <div class="row">
            <div class="col-12">
                @Html.Raw(group.Segment.SegmentText.Text)
            </div>
        </div>
    }
    if (group.Emedias.Any())
    {
        <div class="row">
            @foreach (var emedia in group.Emedias)
            {
                <div class="col-12 col-md-4 d-flex mb-4">
                    <div class="card flex-fill w-100">
                        <div class="card-header">
                            <a aria-label="@emedia.Name (opens new window)" href="@emedia.RedirectUrl" target="_blank">@emedia.Name</a>
                            @if (!string.IsNullOrEmpty(emedia.EmediaText?.Details))
                            {
                                <span class="fas fa-question-circle fa-pull-right"
                                      style="cursor: pointer;"
                                      data-target="#infoModal"
                                      data-toggle="modal"
                                      data-name="@emedia.Name"
                                      data-details="@emedia.EmediaText.Details">
                                </span>
                            }
                        </div>
                        <div class="card-body">
                            @Html.Raw(emedia.EmediaText?.Description)
                        </div>
                        <div class="card-footer">
                            @foreach (var category in emedia.Categories)
                            {
                                <span class="badge @category.Class">@category.CategoryText?.Text</span>
                            }
                        </div>
                    </div>
                </div>
            }
        </div>
    }
}

@section scripts {
    <script>
        $("#infoModal").on("show.bs.modal", function (e) {
            var button = $(e.relatedTarget);
            var modal = $(this);
            var name = button.data("name");
            var details = button.data("details");
            modal.find(".modal-title").text(name);
            modal.find(".modal-body").html(details);
        });
    </script>
}
