@model Ocuda.Promenade.Controllers.ViewModels.Emedias.EmediaViewModel

@section metadata {
    <socialcard card="@Model.SocialCard"></socialcard>
}

@foreach (var group in Model.GroupedEmedia)
{
    if (group.Segment?.SegmentText != null)
    {
        if (!string.IsNullOrWhiteSpace(group.Segment.SegmentText.Header))
        {
            <div class="row">
                <div class="col-12">
                    <h1>@group.Segment.SegmentText.Header</h1>
                </div>
            </div>
        }
        if (!string.IsNullOrWhiteSpace(group.Segment.SegmentText.Text))
        {
            <div class="row">
                <div class="col-12">
                    @Html.Raw(group.Segment.SegmentText.Text)
                </div>
            </div>
        }
    }
    if (group.Emedias.Any())
    {
        <div class="row">
            @foreach (var emedia in group.Emedias)
            {
                <div class="col-12 col-md-4 d-flex mb-4">
                    <div class="card flex-fill w-100">
                        <div class="card-header">
                            <a aria-label="@Localizer[Promenade.NewWindowItem, emedia.Name]"
                               href="@emedia.RedirectUrl"
                               target="_blank"><h2 class="fs-6 d-inline btn-link">@emedia.Name</h2></a>
                            @if (!string.IsNullOrEmpty(emedia.EmediaText?.Details))
                            {
                                <a href="#"
                                   class="emedia-help fa-pull-right"
                                   data-bs-target="#infoModal"
                                   data-bs-toggle="modal"
                                   data-name="@Localizer[Promenade.HelpItem, emedia.Name]"
                                   data-details="@emedia.EmediaText.Details"
                                   title="@Localizer[Promenade.HelpItem, emedia.Name]">
                                    <span class="fas fa-question-circle"></span>
                                </a>
                            }
                        </div>
                        <div class="card-body">
                            @Html.Raw(emedia.EmediaText?.Description)
                        </div>
                        <div class="card-footer">
                            <span class="sr-only">@Localizer[Promenade.OffersItem, emedia.Name]</span>
                            @foreach (var category in emedia.Categories)
                            {
                                <span class="badge @category.Class">@category.CategoryText?.Text</span>
                            }
                        </div>
                    </div>
                </div>
            }
        </div>
    }
}

<div modal id="infoModal"></div>

@section scripts {
    <script>
        $("#infoModal").on("show.bs.modal", function (e) {
            let button = $(e.relatedTarget);
            $(this).find(".modal-title").text(button.data("name"));
            $(this).find(".modal-body").html(button.data("details"));
        });
    </script>
}