@model Ocuda.Promenade.Controllers.ViewModels.Services.EmployeeCardViewModel

@if (!string.IsNullOrEmpty(Model.Segment?.Header))
{
	<div class="row">
		<div class="col-12">
			<h2>@Model.Segment.Header</h2>
		</div>
	</div>
}

@if (!string.IsNullOrEmpty(Model.Segment?.Text))
{
	<div class="row">
		<div class="col-12">
			@Html.Raw(Model.Segment.Text)
		</div>
	</div>
}

<div class="row mt-4">
	<div class="col-12">
		<form method="post"
			  role="form"
			  asp-action="@nameof(ServicesController.EmployeeCard)"
			  asp-controller="@ServicesController.Name"
			  asp-route-culture="">
			<div class="row mb-3">
				<label class="col-form-label text-md-end col-md-3 pt-0">@Localizer[Promenade.EmployeeCardRenewLabel]</label>
				<div class="col-md-9">
					<div class="form-check form-check-inline">
						<label class="form-check-label" for="ExistingCardYes">@Localizer[Promenade.LabelYes]</label>
						<input asp-for="CardRequest.ExistingAccount" id="ExistingAccountYes" class="form-check-input" type="radio" value="true" />
					</div>
					<div class="form-check form-check-inline">
						<label class="form-check-label" for="ExistingCardNo">@Localizer[Promenade.LabelNo]</label>
						<input asp-for="CardRequest.ExistingAccount" id="ExistingAccountNo" class="form-check-input" type="radio" value="false" />
					</div>
					<em>@Localizer[Promenade.EmployeeCardRenewInfo]</em>
				</div>
			</div>
			<div id="cardNumberInputContainer" class="row mb-3 @(ViewData.ModelState["CardRequest.ExistingAccount"]?.AttemptedValue == "true" ? "" : "d-none")">
				<label asp-for="CardRequest.CardNumber" class="col-form-label text-md-end col-md-3"></label>
				<div class="col-md-9">
					<input asp-for="CardRequest.CardNumber" class="form-control" />
					<span asp-validation-for="CardRequest.CardNumber" class="validation-message text-danger"></span>
				</div>
			</div>

			<hr class="col-md-9 offset-md-3" />

			<div class="row mb-1">
				<label class="form-label text-md-end col-md-3"><strong>@Localizer[Promenade.EmployeeCardPersonalLabel]</strong></label>
			</div>

			<input asp-for="CardRequest.FirstName" formgroup />
			<input asp-for="CardRequest.LastName" formgroup />
			<input asp-for="CardRequest.BirthDate" formgroup />
			<input asp-for="CardRequest.Email" formgroup />
			<input asp-for="CardRequest.Phone" formgroup />

			<div class="row mb-1">
				<label class="form-label text-md-end col-md-3"><strong>@Localizer[Promenade.EmployeeCardAddressLabel]</strong></label>
				<div class="col-md-9">
					<em>@Localizer[Promenade.EmployeeCardAddressInfo]</em>
				</div>
			</div>

			<input asp-for="CardRequest.StreetAddress" formgroup />
			<input asp-for="CardRequest.City" formgroup />
			<input asp-for="CardRequest.ZipCode" formgroup />

			<div class="row mb-1">
				<label class="form-label text-md-end col-md-3"><strong>@Localizer[Promenade.EmployeeCardEmployeeLabel]</strong></label>
			</div>

			<input asp-for="CardRequest.EmployeeNumber" formgroup />
			<input asp-for="CardRequest.Department" formgroup />


			<button type="submit"
					class="btn btn-outline-success m-2 btn-lg float-end">
				<span class="fa-regular fa-circle-check"></span>
				@Localizer[Promenade.ButtonSubmit]
			</button>
		</form>
	</div>
</div>

@section scripts
{
	<script>
		$('input[name="CardRequest.ExistingAccount"]').on('change', function() {
			if ($(this).val() == "true") {
				$('#cardNumberInputContainer').removeClass('d-none');
			}
			else {
				$('#cardNumberInputContainer').addClass('d-none');
			}
		});
	</script>
}