@model Ocuda.Ops.Controllers.Areas.SiteManagement.ViewModels.Group.GroupViewModel
<div class="container">
    <div class="row">
        <div class="modal fade" 
             id="deleteModal" 
             tabindex="-1" 
             role="dialog" 
             aria-labelledby="deleteModalLabel">
            <div class="modal-dialog" role="document">
                <form asp-action="@nameof(GroupsController.DeleteGroup)" 
                      method="post" 
                      role="form" 
                      style="display:inline">
                    <input asp-for="Group.Id" type="hidden" />
                    <input asp-for="Group.GroupType" type="hidden" />
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title" id="deleteModalLabel">Delete Group</h4>
                            <button type="button"
                                    class="btn-close"
                                    data-bs-dismiss="modal"
                                    aria-label="Close">
                                <span class="visually-hidden" aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <span class="fa fa-exclamation-triangle" aria-hidden="true"></span>
                            <span id="modal-text"></span>
                        </div>
                        <div class="modal-footer">
                            <button type="button" 
                                    class="btn btn-default" 
                                    data-bs-dismiss="modal" 
                                    style="margin-right: 1em;">
                                Cancel
                            </button>
                            <button type="submit" 
                                    class="btn btn-danger pull-right" 
                                    aria-label="Confirm"
                                    button-spinner>
                                Delete
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="row">
        <div>
            <div class="card">
                <div class="card-header">
                    <span class="h5">Groups</span>
                    <a asp-action="@nameof(GroupsController.CreateGroup)"
                       class="text-success float-end">
                        <span class="fas fa-plus-circle fa-lg"></span>
                    </a>
                </div>
                @if (Model.AllGroups.Count() == 0)
                {
                            <div class="alert alert-warning">No Groups found.</div>
                }
                else
                {
                            <div class="card-body">
                                <table class="table table-sm table-bordered link-table">
                                    <thead>
                                        <tr>
                                            <th>GroupType</th>
                                            <th>Stub</th>
                                            <th>Location Region?</th>
                                            <th>SubscriptionUrl</th>
                                            <th>&nbsp;</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                @foreach (var group in Model.AllGroups)
                                {
                                                    <tr>
                                                        <td class="td-class">
                                                            <a asp-action="@nameof(GroupsController.Groups)" asp-route-groupStub="@group.Stub" class="rowlink">
                                                @group.GroupType
                                                            </a>
                                                        </td>
                                                        <td>@group.Stub</td>
                                                        <td class="text-center" style="vertical-align:middle;">
                                            @if (group.IsLocationRegion)
                                            {
                                                
                                                <text><span class="fas fa-check"></span></text>
                                            
                                            }
                                                        </td>
                                                        <td>@group.SubscriptionUrl</td>
                                                        <td class="on-top gra-mc-icon">
                                                            <button type="button"
                                                    class="btn btn-link text-danger"
                                                    data-bs-toggle="modal"
                                                    data-bs-target="#deleteModal"
                                                    data-id="@group.Id"
                                                    data-name="@group.GroupType">
                                                                <span class="far fa-times-circle fa-lg"
                                                      aria-hidden="true"></span>
                                                            </button>
                                                        </td>
                                                    </tr>
                                }
                                    </tbody>
                                </table>
                        @if (Model.PaginateModel.MaxPage > 1)
                        {
                                            <div class="card-footer">                
                                <nav paginate="@Model.PaginateModel"></nav>
                                            </div>
                        }
                            </div>
                }
            </div>
        </div>
    </div>
</div>

@section scripts
    {
    <script>
        $("#deleteModal").on("show.bs.modal", function (e) {
            var button = $(e.relatedTarget);
            var id = button.data("id");
            var name = button.data("name");
            var modal = $(this);
            modal.find("#modal-text").text("Are you sure you want to delete the Group \"" + name + "\"?");
            modal.find("#Group_Id").val(id);
            modal.find("#Group_GroupType").val(name);
        });

        $(window).on("load", function () {
            $(".td-class").each(function () {
                $(this).children("a.rowlink").height($(this).height() + 11);
            });
        });
        $(window).resize(function () {
            $(".td-class").each(function () {
                $(this).children("a.rowlink").height($(this).height() + 11);
            });
        });
    </script>
}
