@model Ocuda.Ops.Controllers.ViewModels.Profile.IndexViewModel

<form asp-controller="Profile" asp-action="@(nameof(ProfileController.EditNickname))" method="post" role="form">
    <input id="editId" asp-for="User.Id" type="hidden" />
    <input id="editUsername" asp-for="User.Username" type="hidden" />
    <div modal id="editModal" name="Nickname" type="Ocuda.Utility.TagHelpers.ModalTypes.Edit">
        <input id="editName" asp-for="User.Nickname" formgroup />
    </div>
</form>

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3 text-sm-right font-weight-bold">Name</div>
        <div class="col-sm-9">@Model.User.Name</div>
    </div>

    <div class="row">
        <div class="col-sm-3 text-sm-right font-weight-bold">Nickname</div>
        <div class="col-sm-9">
            @(Model.User.Nickname ?? "None")
            @if (Model.CanEdit)
            {
                <button type="button"
                        class="fa fa-pencil-alt"
                        data-toggle="modal"
                        data-target="#editModal"
                        data-id="@Model.User.Id"
                        data-nickname="@Model.User.Nickname"></button>
            }
        </div>
    </div>

    <div class="row">
        <div class="col-sm-3 text-sm-right font-weight-bold">Title</div>
        <div class="col-sm-9">@Model.User.Title</div>
    </div>

    <div class="row">
        <div class="col-sm-3 text-sm-right font-weight-bold">Supervisor</div>
        <div class="col-sm-9">
            @if (Model.User.Supervisor?.Name == null)
            {
                @:None
            }
            else
            {
                <a href="@Url.Action("Index", "Profile", new { id = Model.User.Supervisor.Username})">@Model.User.Supervisor.Name</a>
            }
        </div>
    </div>

    @if (Model.DirectReports != null && Model.DirectReports.Count > 0)
    {
        <div class="row">
            <div class="col-sm-3 text-sm-right font-weight-bold">Direct reports</div>
            <div class="col-sm-9">
                @foreach (var directReport in Model.DirectReports)
                {
                    @if (string.IsNullOrEmpty(directReport.Username))
                    {
                        @directReport.Name<br />
                    }
                    else
                    {
                        <a href="@Url.Action("Index", "Profile", new { id = directReport.Username })">@directReport.Name</a><br />
                    }
                }
            </div>
        </div>

    }

    <div class="row">
        <div class="col-sm-3 text-sm-right font-weight-bold">Email</div>
        <div class="col-sm-9"><a href="mailto:@Model.User.Email">@Model.User.Email</a></div>
    </div>

    <div class="row">
        <div class="col-sm-3 text-sm-right font-weight-bold">Phone</div>
        <div class="col-sm-9">@Model.User.Phone</div>
    </div>
</div>

@section scripts
    {
    <script>
        $("#editModal").on("show.bs.modal", function (e) {
            var button = $(e.relatedTarget);
            var id = button.data("id");
            var nickname = button.data("nickname");
            var modal = $(this);
            $("#editId").val(id);
            modal.find("#editName").val(nickname);
        });
    </script>
}