@model Ocuda.Ops.Controllers.ViewModels.Profile.IndexViewModel

@if (Model.CanEdit)
{
    <form asp-action="@(nameof(ProfileController.EditNickname))"
          method="post"
          role="form">
        <input id="editId" asp-for="User.Id" type="hidden" />
        <input id="editUsername" asp-for="User.Username" type="hidden" />
        <div modal id="editModal" name="Nickname" type="Ocuda.Utility.TagHelpers.ModalTypes.Edit">
            <input id="editName" asp-for="User.Nickname" formgroup />
        </div>
    </form>

    <form asp-action="@(nameof(ProfileController.UnsetManualLocation))"
          method="post"
          role="form">
        <div modal id="unsetModal" name="Manually-set Location Flag" type="Ocuda.Utility.TagHelpers.ModalTypes.Delete">
            <input name="userId" value="@Model.User.Id" type="hidden" />
            This associated location has been set manually. Do you want to delete this manual
            override so the associated location is set automatically in the future?
        </div>
    </form>

    <form asp-action="@(nameof(ProfileController.UpdateLocation))"
          method="post"
          role="form">
        <input name="userId" value="@Model.User.Id" type="hidden" />
        <div modal
             modal-header="Update associated location"
             id="editLocationModal"
             name="Location"
             type="Ocuda.Utility.TagHelpers.ModalTypes.Edit">
            <p>
                If you regularly work in multiple locations you can use this form to change which
                location you associate with by default. If you do not regularly work in multiple
                locations, the system will keep your location up-to-date automatically.
            </p>
            <select name="locationId"
                    id="locationList"
                    asp-items="Model.Locations"
                    class="form-control"></select>
        </div>
    </form>
}

@if (Model.CanUpdatePicture)
{
    <form asp-action="@nameof(ProfileController.RemovePicture)"
          method="post"
          role="form">
        <input name="userId" value="@Model.User.Id" type="hidden" />
        <input name="username" value="@Model.User.Username" type="hidden" />
        <div modal
             id="removePictureModal"
             name="Remove picture"
             modal-header="Remove picture"
             type="Ocuda.Utility.TagHelpers.ModalTypes.Delete">
            Remove the picture associated with this profile?
        </div>
    </form>
}

<div class="container-fluid">
    <div class="row">
        @if (!string.IsNullOrEmpty(Model.PicturePath))
        {
            <div class="col-12 col-md-6 order-md-1 mb-2">
                <img src="@Model.PicturePath"
                     class="img-fluid rounded mx-auto d-block img-thumbnail oc-profile-picture">
            </div>
        }
        <div class="col-12 col-md-6">
            <div class="card mb-2">
                <div class="card-header">
                    <span class="h5 fw-bold">@Model.User.Name</span>
                </div>
                <div class="card-body p-0">
                    <table class="table table-sm mb-0">
                        <tr>
                            <th class="align-middle">Nickname</th>
                            <td class="align-middle">
                                @(Model.User.Nickname ?? "None")
                                @if (Model.CanEdit)
                                {
                                    <a href="#"
                                       class="float-end pe-2"
                                       data-bs-toggle="modal"
                                       data-bs-target="#editModal"
                                       data-id="@Model.User.Id"
                                       data-nickname="@Model.User.Nickname"
                                       title="Update nickname">
                                        <span class="fa-solid fa-xs fa-pencil"></span>
                                    </a>
                                }
                            </td>
                        </tr>
                        <tr>
                            <th class="align-middle">Email</th>
                            <td class="align-middle"><a href="mailto:@Model.User.Email">@Model.User.Email</a></td>
                        </tr>
                        <tr>
                            <th class="align-middle">Phone</th>
                            <td class="align-middle">@Model.User.Phone</td>
                        </tr>
                        @if (!string.IsNullOrEmpty(Model.User.Mobile))
                        {
                            <tr>
                                <th class="align-middle">Mobile</th>
                                <td class="align-middle">@Model.User.Mobile</td>
                            </tr>
                        }
                        <tr>
                            <th class="align-middle">Title</th>
                            <td class="align-middle">@Model.User.Title</td>
                        </tr>
                        @if (!string.IsNullOrEmpty(Model.User.Description) && Model.User.Title != Model.User.Description)
                        {
                            <tr>
                                <th class="align-middle">Description</th>
                                <td class="align-middle">@Model.User.Description</td>
                            </tr>
                        }
                        @if (!string.IsNullOrEmpty(Model.User.Department))
                        {
                            <tr>
                                <th class="align-middle">Department</th>
                                <td class="align-middle">@Model.User.Department</td>
                            </tr>
                        }
                        <tr>
                            <th class="align-middle">Associated location</th>
                            <td class="align-middle">
                                @if (Model.User.AssociatedLocation.HasValue)
                                {
                                    @Model.GetLocationById(Model.User.AssociatedLocation.Value)
                                    @if (Model.CanEdit)
                                    {
                                        <a href="#"
                                           class="float-end pe-2"
                                           data-bs-toggle="modal"
                                           data-bs-target="#editLocationModal"
                                           data-id="@Model.User.Id"
                                           data-locationid="@Model.User.AssociatedLocation.Value"
                                           title="Update location">
                                            <span class="fa-solid fa-xs fa-pencil"></span>
                                        </a>
                                        @if (Model.User.AssociatedLocationManuallySet)
                                        {
                                            <a href="#"
                                               class="float-end pe-3"
                                               data-bs-toggle="modal"
                                               data-bs-target="#unsetModal"
                                               data-id="@Model.User.Id"
                                               title="Manually set">
                                                <span class="fa-solid fa-wrench fa-xs"></span>
                                            </a>
                                        }
                                    }
                                }
                                else
                                {
                                    @if (Model.CanEdit)
                                    {
                                        <button class="btn btn-sm btn-outline-primary"
                                                data-bs-toggle="modal"
                                                data-bs-target="#editLocationModal"
                                                data-id="@Model.User.Id">
                                            Choose a location
                                        </button>
                                    }
                                    else
                                    {
                                        @:None assigned
                                    }
                                }
                            </td>
                        </tr>
                        <tr>
                            <th class="align-middle">Supervisor</th>
                            <td class="align-middle">
                                @if (Model.User.Supervisor?.Name == null)
                                {
                                    @:None
                                }
                                else
                                {
                                    <a asp-controller="@ProfileController.Name"
                                       asp-action="@nameof(ProfileController.Index)"
                                       asp-route-id="@Model.User.Supervisor.Username">@Model.User.Supervisor.Name</a>
                                }
                            </td>
                        </tr>
                        @if (Model.DirectReports != null && Model.DirectReports.Count > 0)
                        {

                            <tr>
                                <th class="align-top">Direct reports</th>
                                <td>
                                    @foreach (var directReport in Model.DirectReports)
                                    {
                                        @if (string.IsNullOrEmpty(directReport.Username))
                                        {
                                            @directReport.Name

                                            <br />
                                        }
                                        else
                                        {
                                            <a asp-controller="@ProfileController.Name"
                                               asp-action="@nameof(ProfileController.Index)"
                                               asp-route-id="@directReport.Username">@directReport.Name</a>

                                            <br />
                                        }
                                    }
                                </td>
                            </tr>
                        }
                        @if (Model.User.ServiceStartDate.HasValue)
                        {
                            <tr>
                                <th class="align-middle">Start date</th>
                                <td class="align-middle">@Model.User.ServiceStartDate.Value.ToShortDateString()</td>
                            </tr>
                        }
                        <tr>
                            <th class="align-middle">Last seen</th>
                            <td class="align-middle">@Model.User.LastSeen</td>
                        </tr>
                        @if (Model.UserViewingSelf)
                        {
                            <tr>
                                <th class="align-middle">Authenticated at</th>
                                <td class="align-middle">
                                    @Model.AuthenticatedAt
                                    <a asp-action="@nameof(Ocuda.Ops.Controllers.Areas.Authentication.HomeController.Logout)"
                                       asp-area="@Ocuda.Ops.Controllers.Areas.Authentication.HomeController.Area"
                                       asp-controller="@Ocuda.Ops.Controllers.Areas.Authentication.HomeController.Name"
                                       class="float-end p-0 me-2 btn btn-link"
                                       title="Reauthenticate">
                                        <span class="fa-solid fa-xs fa-rotate-right"></span>
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <th class="align-middle">Authentication information</th>
                                <td class="align-middle">@Model.AuthenticationInformation</td>
                            </tr>
                        }
                        @if (Model.RelatedTitleClassifications?.Any() == true)
                        {
                            <tr>
                                <th class="align-middle table-light" colspan="2">Related staff</th>
                            </tr>
                            @foreach (var key in Model.RelatedTitleClassifications.Keys)
                            {
                                <tr>
                                    <th class="align-middle">&ndash; @key.Name</th>
                                    <td class="align-middle">
                                        @foreach (var user in Model.RelatedTitleClassifications[key])
                                        {
                                            @if (string.IsNullOrEmpty(user.Username))
                                            {
                                                @user.Name
                                                <br />
                                            }
                                            else
                                            {
                                                <a asp-controller="@ProfileController.Name"
                                                   asp-action="@nameof(ProfileController.Index)"
                                                   asp-route-id="@user.Username">@user.Name</a>
                                                <br />
                                            }
                                        }
                                    </td>
                                </tr>
                            }
                        }
                        @if (Model.CanUpdatePicture)
                        {
                            <tr>
                                <th class="align-middle">Update photo</th>
                                <td class="align-middle">
                                    <a asp-action="@nameof(ProfileController.UpdatePicture)"
                                       asp-route-id="@Model.User.Id"
                                       class="btn btn-sm btn-outline-primary">Upload new picture...</a>
                                    @if (!string.IsNullOrEmpty(Model.PicturePath))
                                    {
                                        <a href="#"
                                           class="btn btn-sm btn-outline-danger ms-2"
                                           data-bs-toggle="modal"
                                           data-bs-target="#removePictureModal"
                                           data-id="@Model.User.Id"
                                           data-username="@Model.User.Username"
                                           title="Remove picture">
                                            Remove picture
                                        </a>
                                    }
                                </td>
                            </tr>
                        }
                    </table>
                </div>
            </div>
        </div>

        @if (Model?.Permissions?.Count() > 0)
        {
            <div class="col-12 col-md-6 order-md-1">
                <div class="card mb-2">
                    <div class="card-header">
                        <span class="h5">Permission Groups</span>
                    </div>
                    <div class="card-body p-0">
                        <ul class="list-group list-group-flush">
                            @foreach (var permission in Model.Permissions)
                            {
                                if (permission == "Site manager")
                                {
                                    <li class="list-group-item p-2 fw-bold">
                                        @permission
                                        <span class="fa-regular fa-xs fa-star" style="color: gold;"></span>
                                    </li>
                                }
                                else
                                {
                                    <li class="list-group-item p-2">@permission</li>
                                }
                            }
                        </ul>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

@section scripts
{
    <script>
        $("#editModal").on("show.bs.modal", function (e) {
            var button = $(e.relatedTarget);
            var id = button.data("id");
            var nickname = button.data("nickname");
            var modal = $(this);
            $("#editId").val(id);
            modal.find("#editName").val(nickname);
        });
        $("#editLocationModal").on("show.bs.modal", function (e) {
            var sender = $(e.relatedTarget);
            var locationId = sender.data("locationid");
            if (locationId) {
                $("#locationList").val(locationId)
            }
        });
    </script>
}
