@model Ocuda.Ops.Controllers.Areas.SiteManagement.ViewModels.Carousels.DetailViewModel

<form id="editCarouselTextForm" asp-controller="@CarouselsController.Name" asp-action="@nameof(CarouselsController.EditCarouselText)">
    <input id="editCarouselTextLanguage" asp-for="LanguageId" type="hidden" />
    <input id="editCarouselTextId" asp-for="Carousel.Id" type="hidden" />

    <div modal id="editCarouselTextModal" isLarge="true" name="Carousel Text" type="Ocuda.Utility.TagHelpers.ModalTypes.Edit">
        <input id="editCarouselTextTitle" asp-for="CarouselText.Title" value="@Model.Carousel.CarouselText?.Title" formgroup />
    </div>
</form>

<form id="addCarouselItemForm">
    <input id="addCarouselItemLanguage" asp-for="LanguageId" type="hidden" />
    <input id="addCarouselItemCarouselId" asp-for="CarouselItem.CarouselId" value="@Model.Carousel.Id" type="hidden" />

    <div modal id="addCarouselItemModal" isLarge="true" name="Carousel Item" type="Ocuda.Utility.TagHelpers.ModalTypes.Add">
        <input id="addCarouselItemName" asp-for="CarouselItem.Name" formgroup />
    </div>
</form>

<form asp-action="@(nameof(CarouselsController.DeleteCarouselItem))" method="post" role="form">
    <input id="deleteItemCarousel" asp-for="Carousel.Id" type="hidden" />
    <input id="deleteItemLanguage" asp-for="LanguageId" type="hidden" />


    <input id="deleteItemId" asp-for="CarouselItem.Id" type="hidden" />
    <input id="deleteItemName" asp-for="CarouselItem.Name" type="hidden" />

    <div modal id="deleteItemModal" name="Carousel Item" type="Ocuda.Utility.TagHelpers.ModalTypes.Delete"></div>
</form>

<form id="addItemButtonModal">
    <input id="addCarouselItemLanguage" asp-for="LanguageId" type="hidden" />
    <input id="addCarouselItemCarouselId" asp-for="CarouselItem.CarouselId" value="@Model.Carousel.Id" type="hidden" />

    <div modal id="addCarouselItemModal" isLarge="true" name="Carousel Item" type="Ocuda.Utility.TagHelpers.ModalTypes.Add">
        <input id="addCarouselItemName" asp-for="CarouselItem.Name" formgroup />
    </div>
</form>

<div class="row pt-1">
    <div class="col-12">
        <input asp-for="Carousel.Name" formgroup readonly />
        <select asp-for="SelectLanguage" asp-items="Model.LanguageList" formgroup></select>
    </div>
</div>

<div class="row pb-1">
    <div class="col-12 col-md-9 offset-md-3">
        <hr />
    </div>
</div>

<div class="row pb1">
    <div class="col-12 col-md-9 offset-md-3">
        <button class="btn btn-outline-secondary text-dark"
                data-toggle="modal"
                data-target="#addCarouselItemModal">
            Add item
        </button>
    </div>
</div>

<div class="row">
    <div class="col-12">
        @foreach (var item in Model.Carousel.Items)
        {
            <div class="accordion" id="accordion@(item.Id)">
                <div class="card">
                    <div class="card-header d-flex" id="heading@(item.Id)">
                        <div class="h2 mb-0 flex-grow-1">
                            <button class="btn btn-link btn-block text-left"
                                    type="button"
                                    data-toggle="collapse"
                                    data-target="#collapse@(item.Id)"
                                    aria-controls="collapse@(item.Id)"
                                    aria-expanded="@(Model.FocusItemId == item.Id ? "true" : "false")">
                                @item.Name
                            </button>
                        </div>
                        <div>
                            <button class="btn btn-sm btn-secondary changeSort decreaseSortButton"
                                    data-id="@item.Id"
                                    data-increase="false"
                                    disabled="@(item.Id == Model.Carousel.Items.First().Id ? "disabled" : null)">
                                <span class="fas fa-arrow-up"></span>
                            </button>
                            <button class="btn btn-sm btn-secondary changeSort increaseSortButton"
                                    data-id="@item.Id"
                                    data-increase="true"
                                    disabled="@(item.Id == Model.Carousel.Items.Last().Id ? "disabled" : null)">
                                <span class="fas fa-arrow-down"></span>
                            </button>
                            <button class="btn btn-sm btn-danger"
                                    data-toggle="modal"
                                    data-target="#deleteItemModal"
                                    data-id="@item.Id"
                                    data-name="@item.Name">
                                <span class="fas fa-times"></span>
                            </button>
                        </div>
                    </div>
                    <div id="collapse@(item.Id)"
                         class="collapse @(Model.FocusItemId == item.Id ? "show" : null)"
                         data-parent="#accordion@(item.Id)"
                         aria-labelledby="heading@(item.Id)">
                        <form asp-controller="@CarouselsController.Name" asp-action="@nameof(CarouselsController.EditCarouselItemText)">
                            <input id="carouselItem@(item.Id)Carousel" asp-for="CarouselId" type="hidden" />

                            <input id="carouselItem@(item.Id)Id" asp-for="CarouselItemText.CarouselItemId" value="@item.Id" type="hidden" />
                            <input id="carouselItem@(item.Id)Language" asp-for="CarouselItemText.LanguageId" value="@(item.CarouselItemText?.LanguageId ?? Model.LanguageId)" type="hidden" />

                            <input id="carouselItem@(item.Id)Label" asp-for="CarouselItemText.Label" value="@item.CarouselItemText?.Label" formgroup />
                            <input id="carouselItem@(item.Id)ImageUrl" asp-for="CarouselItemText.ImageUrl" value="@item.CarouselItemText?.ImageUrl" formgroup />
                            <input id="carouselItem@(item.Id)Title" asp-for="CarouselItemText.Title" value="@item.CarouselItemText?.Title" formgroup />
                            <input id="carouselItem@(item.Id)Description" asp-for="CarouselItemText.Description" value="@item.CarouselItemText?.Description" formgroup />
                            <button type="submit" class="btn btn-success" button-spinner>
                                Save
                            </button>
                        </form>
                        <hr />
                        <button class="btn btn-outline-secondary text-dark"
                                data-toggle="modal"
                                data-target="#addItemButtonModal">
                            Add button
                        </button>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

@section scripts {
    <script>

        @if (Model.FocusItemId.HasValue)
        {
            <text>
            $(function () {
                var focusAccordion = $("#accordion@(Model.FocusItemId.Value)");
                if (focusAccordion.length > 0) {
                    $("#accordion@(Model.FocusItemId.Value)")[0].scrollIntoView();
                }
            });
            </text>

        }

        $("#addCarouselItemForm").submit(function (e) {
            e.preventDefault();
            var form = $(this);
            $.post("@(Url.Action(nameof(CarouselsController.AddCarouselItem), CarouselsController.Name))",
                form.serialize(),
                function (response) {
                if (response.success == true) {
                    location.href = response.url;
                }
                else {
                    alert(response.message);
                    ResetSpinners(form.find(".btn-spinner"));
                }
            });
        });

        $("#deleteItemModal").on("show.bs.modal", function (e) {
            var button = $(e.relatedTarget);
            var id = button.data("id");
            var name = button.data("name");
            var modal = $(this);
            $("#deleteItemId").val(id);
            $("#deleteItemName").val(name);
            modal.find(".modal-text").text("Are you sure you want to delete \"" + name + "\"?");
        });

        $(".changeSort").on("click", function () {
            var button = $(this);
            var id = button.data("id");
            var increase = button.data("increase");
            var icon = button.children("span");
            if (icon.hasClass("fa-spinner") == false) {
                icon.removeClass("fa-arrow-up fa-arrow-down").addClass("fa-spinner fa-pulse");
                $.post("@Url.Action(nameof(CarouselsController.ChangeItemSort))",
                    { id, increase },
                    function (response) {
                        icon.removeClass("fa-spinner fa-pulse");
                        if (increase) {
                            icon.addClass("fa-arrow-down");
                        }
                        else {
                            icon.addClass("fa-arrow-up");
                        }
                        if (response.success) {
                            var item = button.parents(".accordion");
                            if (increase) {
                                nextItem = item.next();
                                item.insertAfter(nextItem);
                                item.find(".decreaseSortButton").removeAttr("disabled");
                                if (item.next().length == 0) {
                                    item.find(".increaseSortButton").attr("disabled", "disabled");
                                }
                                nextItem.find(".increaseSortButton").removeAttr("disabled");
                                if (nextItem.prev().length == 0) {
                                    nextItem.find(".decreaseSortButton").attr("disabled", "disabled");
                                }
                            }
                            else {
                                prevItem = item.prev();
                                item.insertBefore(prevItem);
                                item.find(".increaseSortButton").removeAttr("disabled");
                                if (item.prev().length == 0) {
                                    item.find(".decreaseSortButton").attr("disabled", "disabled");
                                }
                                prevItem.find(".decreaseSortButton").removeAttr("disabled");
                                if (prevItem.next().length == 0) {
                                    prevItem.find(".increaseSortButton").attr("disabled", "disabled");
                                }
                            }
                        }
                });
            }
        });
    </script>
} 