@model Ocuda.Ops.Controllers.Areas.SiteManagement.ViewModels.Carousels.DetailViewModel

<form id="editCarouselTextForm" asp-controller="@CarouselsController.Name" asp-action="@nameof(CarouselsController.EditCarouselText)">
    <input id="editCarouselTextCarousel" asp-for="Carousel.Id" type="hidden" />
    <input id="editCarouseLanguage" asp-for="LanguageId" type="hidden" />

    <div modal id="editCarouselTextModal" isLarge="true" name="Carousel Text" type="Ocuda.Utility.TagHelpers.ModalTypes.Edit">
        <input id="editCarouselTextTitle" asp-for="CarouselText.Title" value="@Model.Carousel.CarouselText?.Title" formgroup />
    </div>
</form>

<form id="addCarouselItemForm">
    <input id="addCarouselItemLanguage" asp-for="LanguageId" type="hidden" />
    <input id="addCarouselItemCarouselId" asp-for="CarouselItem.CarouselId" value="@Model.Carousel.Id" type="hidden" />

    <div modal id="addCarouselItemModal" isLarge="true" name="Carousel Item" type="Ocuda.Utility.TagHelpers.ModalTypes.Add">
        <input id="addCarouselItemName" asp-for="CarouselItem.Name" formgroup />
    </div>
</form>

<div class="row pt-1">
    <div class="col-12">
        <input asp-for="Carousel.Name" formgroup readonly />
        <select asp-for="SelectLanguage" asp-items="Model.LanguageList" formgroup></select>
    </div>
</div>

<div class="row pb-1">
    <div class="col-12 col-md-9 offset-md-3">
        <hr />
    </div>
</div>

<div class="row pb1">
    <div class="col-12 col-md-9 offset-md-3">
        <button class="btn btn-outline-secondary text-dark"
                data-toggle="modal"
                data-target="#addCarouselItemModal">
            Add item
        </button>
    </div>
</div>

<div class="row">
    <div class="col-12">
        @foreach (var item in Model.Carousel.Items)
        {
            <div class="accordion" id="accordion@(item.Id)">
                <div class="card">
                    <div class="card-header" id="heading@(item.Id)">
                        <h2 class="mb-0">
                            <button class="btn btn-link btn-block text-left"
                                    type="button"
                                    data-toggle="collapse"
                                    data-target="#collapse@(item.Id)"
                                    aria-controls="collapse@(item.Id)"
                                    aria-expanded="@(Model.FocusItemId == item.Id ? "true" : "false")">
                                @item.Name
                                </button>
                            </h2>
                        </div>
                        <div id="collapse@(item.Id)"
                             class="collapse @(Model.FocusItemId == item.Id ? "show" : null)"
                             data-parent="#accordion@(item.Id)"
                             aria-labelledby="heading@(item.Id)">
                            <form>
                                <input id="carouselItem@(item.Id)Label" asp-for="CarouselItemText.Label" value="@item.CarouselItemText?.Label" formgroup />
                                <input id="carouselItem@(item.Id)ImageUrl" asp-for="CarouselItemText.ImageUrl" value="@item.CarouselItemText?.ImageUrl" formgroup />
                                <input id="carouselItem@(item.Id)Title" asp-for="CarouselItemText.Title" value="@item.CarouselItemText?.Title" formgroup />
                                <input id="carouselItem@(item.Id)Description" asp-for="CarouselItemText.Description" value="@item.CarouselItemText?.Description" formgroup />
                                <button type="submit" class="btn btn-success" button-spinner>
                                    Save
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            }
    </div>
</div>

@section scripts {
    <script>
        $("#addCarouselItemForm").submit(function (e) {
            e.preventDefault();
            var form = $(this);
            $.post("@(Url.Action(nameof(CarouselsController.AddCarouselItem), CarouselsController.Name))",
                form.serialize(),
                function (response) {
                    if (response.success == true) {
                        location.href = response.url;
                    }
                    else {
                        alert(response.message);
                        ResetSpinners(form.find(".btn-spinner"));
                    }
                });
        });
    </script>
} 