@model Ocuda.Ops.Controllers.Areas.SiteManagement.ViewModels.Products.PermissionsViewModel

<div class="row mb-2">
    <div class="col-sm-6">
        <h1>
            Product Permissions
            <small class="text-muted">@Model.ProductName</small>
        </h1>
    </div>
    <div class="col-sm-6">
        <a class="btn btn-outline-dark mt-2 mb-1 float-right"
           asp-action="@(nameof(ProductsController.Index))">Back</a>
    </div>
</div>

<div class="row pt-1">
    <div class="col-12">
        <input asp-for="ProductName" formgroup readonly />
        <input asp-for="Slug" formgroup readonly />
    </div>
</div>

<div class="row pt-1">
    <div class="col-12 col-sm-6">
        <div class="card">
            <div class="card-header px-3">
                Available Groups
            </div>
            <ul class="list-group list-group-flush">
                @if (Model.AvailableGroups?.Count > 0)
                {
                    foreach (var availableGroup in Model.AvailableGroups)
                    {
                        <li class="list-group-item px-3 py-2">
                            <form asp-controller="@ProductsController.Name"
                          asp-action="@nameof(ProductsController.AddPermissionGroup)"
                          asp-route-productId="@Model.ProductId"
                          asp-route-permissionGroupId="@availableGroup.Key">
                                <span class="d-inline-block mt-1">@availableGroup.Value</span>
                                <button class="btn btn-outline-success float-right">
                                    <span class="fa fa-plus-circle"></span>
                                </button>
                            </form>
                        </li>
                    }
                }
                else
                {
                    <li class="list-group-item">No groups available.</li>
                }
            </ul>
        </div>
    </div>
    <div class="col-12 col-sm-6">
        <div class="card">
            <div class="card-header px-3">
                Assigned Groups
            </div>
            <ul class="list-group list-group-flush">
                @if (Model.AssignedGroups?.Count > 0)
                {
                    foreach (var availableGroup in Model.AssignedGroups)
                    {
                        <li class="list-group-item px-3 py-2">
                            <form asp-controller="@ProductsController.Name"
                          asp-action="@nameof(ProductsController.RemovePermissionGroup)"
                          asp-route-productId="@Model.ProductId"
                          asp-route-permissionGroupId="@availableGroup.Key">
                                <span class="d-inline-block mt-1">@availableGroup.Value</span>
                                <button class="btn btn-outline-danger float-right">
                                    <span class="fa fa-minus-circle"></span>
                                </button>
                            </form>
                        </li>
                    }
                }
                else
                {
                    <li class="list-group-item">No groups assigned.</li>
                }
            </ul>
        </div>
    </div>
</div>
