@model Ocuda.Ops.Controllers.Areas.SiteManagement.ViewModels.Products.UploadViewModel

<div class="row mb-2">
    <div class="col-sm-6">
        <h1>
            Upload @Model.UploadType Sheet
            <small class="text-muted">@Model.Product.Name</small>
        </h1>
    </div>
    <div class="col-sm-6">
        <a asp-controller="@ProductsController.Name"
           asp-action="@nameof(ProductsController.Product)"
           asp-route-productSlug="@Model.Product.Slug"
           class="btn btn-outline-dark mt-2 mb-1 ml-2 float-right">Back</a>
        <a asp-controller="@ProductsController.Name"
           asp-action="@nameof(ProductsController.UploadDistribution)"
           asp-route-productSlug="@Model.Product.Slug"
           class="btn btn-outline-info mt-2 mb-1 mr-2 float-right">
            <span class="fas fa-file-upload"></span>
            Upload Distribution
        </a>
        <a asp-controller="@ProductsController.Name"
           asp-action="@nameof(ProductsController.UploadReplenishment)"
           asp-route-productSlug="@Model.Product.Slug"
           class="btn btn-outline-success mt-2 mb-1 mr-2 float-right">
            <span class="fas fa-file-upload"></span>
            Upload Replenishment
        </a>
    </div>
</div>

<form asp-action="@nameof(ProductsController.Verify)"
      asp-route-productSlug="@Model.Product.Slug"
      method="post"
      role="form"
      enctype="multipart/form-data">
      <input asp-for="IsReplenishment" type="hidden" value="@Model.IsReplenishment" />
    <div class="form-group row">
        <label asp-for="Inventory"
               class="col-md-3 col-form-label text-md-right">Upload @Model.UploadType Sheet</label>
        <div class="col-md-9">
            <div class="input-group">
                <div class="input-group-prepend">
                    <label class="btn btn-outline-secondary btn-file form-control">
                        <span class="far fa-file-excel"></span>
                        Select Excel File
                        <input type="file" asp-for="Inventory" accept=".xls,.xlsx" hidden />
                    </label>
                </div>
                <div class="custom-file">
                    <input type="text" class="form-control" readonly id="selectedFile" />
                </div>
            </div>
            <div>
                <span asp-validation-for="Inventory" class="text-danger"></span>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="offset-md-3 col-md-9">
            <button type="submit"
                    class="btn btn-outline-primary"
                    aria-label="Confirm"
                    button-spinner>
                Upload
            </button>
        </div>
    </div>
</form>