@model Ocuda.Ops.Controllers.Areas.Admin.ViewModels.Sections.IndexViewModel

<form asp-controller="Sections" asp-action="@(nameof(SectionsController.Delete))" method="post" role="form">
    <input id="deleteCurrentPage" asp-for="PaginateModel.CurrentPage" type="hidden" />
    <input id="deleteName" asp-for="Section.Name" type="hidden" />
    <input id="deleteId" asp-for="Section.Id" type="hidden" />
    <div modal id="deleteModal" name="Section" type="Ocuda.Utility.TagHelpers.ModalTypes.Delete"></div>
</form>

<div class="mb-2">
    <a class="btn btn-outline-secondary text-dark" asp-action="@(nameof(SectionsController.Create))">Add New Section</a>
</div>

@if (Model.Sections.Count() == 0)
{
    <div class="alert alert-warning">No Sections Found</div>
}
else
{
    <table class="table table-sm table-bordered link-table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Path</th>
                <th>Icon</th>
                <th>Sort Order</th>
                <th>&nbsp;</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var sec in Model.Sections)
            {
            <tr>
                <td class="rowlink-parent">
                    <a asp-action="@(nameof(SectionsController.Edit))" asp-route-id="@sec.Id" class="rowlink">@sec.Name</a>
                </td>
                <td>@(string.IsNullOrWhiteSpace(sec.Path) ? "null" : sec.Path)</td>
                @if (string.IsNullOrWhiteSpace(sec.Icon))
                {
                    <td>No Icon</td>
                }
                else
                {
                    <td><span class="fa @sec.Icon"></span> @sec.Icon</td>
                }
                <td>@sec.SortOrder</td>
                <td align="center" class="on-top">
                    @if (string.IsNullOrWhiteSpace(sec.Path))
                    {
                        <button type="button" class="btn btn-secondary" disabled>
                            <span class="fa fa-times" aria-hidden="true"></span>
                        </button>
                    }
                    else
                    {
                        <button type="button"
                                class="btn btn-danger"
                                data-toggle="modal"
                                data-target="#deleteModal"
                                data-id="@sec.Id"
                                data-sectionname="@sec.Name">
                            <span class="fa fa-times" aria-hidden="true"></span>
                        </button>
                    }
                </td>
            </tr>
            }
        </tbody>
    </table>

    @if (Model.PaginateModel.MaxPage > 1)
    {
        <paginate paginateModel="@Model.PaginateModel"></paginate>
    }
}

@section scripts
    {
    <script>
        $(document).ready(function () {
            $('.rowlink-parent').each(function () {
                $(this).children('a.rowlink').height($(this).height() + 12);
            });
        });
        $(window).resize(function () {
            $('.rowlink-parent').each(function () {
                $(this).children('a.rowlink').height($(this).height() + 12);
            });
        });

        $("#deleteModal").on("show.bs.modal", function (e) {
            var button = $(e.relatedTarget);
            var id = button.data("id");
            var sectionname = button.data("sectionname");
            var modal = $(this);
            $("#deleteName").val(sectionname);
            $("#deleteId").val(id);
            modal.find(".modal-text").text(" Are you sure you want to delete \"" + sectionname + "\"?");
        });
    </script>
}