@using Ocuda.Promenade.Controllers;
@model Ocuda.Promenade.Controllers.ViewModels.DigitalLibrary.DigitalLibraryViewModel

<nav class="mb-2">
    @if (!string.IsNullOrEmpty(Model.ButtonGrouped))
    {
        <a asp-action="@nameof(DigitalLibraryController.Index)"
           auto-active
           class="btn btn-outline-primary mb-2">@Model.ButtonGrouped</a>
    }
    @if (!string.IsNullOrEmpty(Model.ButtonAll))
    {
        <a asp-action="@nameof(DigitalLibraryController.All)"
           auto-active
           class="btn btn-outline-primary mb-2">@Model.ButtonAll</a>
    }
    @if (Model.SlugsSubjects?.Count > 0)
    {
        @foreach (var slugSubject
            in Model.SlugsSubjects.OrderBy(_ => _.Value))
        {
            <a asp-action="@nameof(DigitalLibraryController.Subject)"
               asp-route-subject="@slugSubject.Key"
               class="btn btn-outline-primary mb-2 @Model.IsActive(slugSubject.Key)">@slugSubject.Value</a>
        }
    }
</nav>