<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData[Ocuda.Utility.Keys.ViewData.Title]</title>
    @RenderSection("metadata", required: false)
    @if (Context.Items[Ocuda.i18n.LocalizationItemKey.HrefLang] != null)
    {
        @foreach (var item in ((IDictionary<string, string>)Context.Items[Ocuda.i18n.LocalizationItemKey.HrefLang]))
        {
            <link rel="alternate" hreflang="@item.Key" href="@item.Value" />
        }
    }
    @{
        var googleAnalyticsTrackingCode = Context.Items[Ocuda.Promenade.Controllers.ItemKey.GoogleAnalyticsTrackingCode] as string;
        if (!string.IsNullOrEmpty(googleAnalyticsTrackingCode))
        {
            <!-- Global site tag (gtag.js) - Google Analytics -->
            <script async src="https://www.googletagmanager.com/gtag/js?id=@googleAnalyticsTrackingCode"></script>
            <script>
                window.dataLayer = window.dataLayer || [];
                function gtag() { dataLayer.push(arguments); }
                gtag('js', new Date());
                gtag('config', '@googleAnalyticsTrackingCode');
            </script>
        }
    }
    <link rel="stylesheet" href="~/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/styles.min.css" />
    @if (Context.Items.ContainsKey(ItemKey.ExternalCSS))
    {
        foreach (var cssUrl in (List<string>)Context.Items[ItemKey.ExternalCSS])
        {
            <link rel="stylesheet" href="@cssUrl" />
        }
    }
    @RenderSection("Styles", required: false)
    <link rel="manifest" href="/manifest.webmanifest">
    <link rel="icon" href="/favicon.ico" sizes="any">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/apple-touch-icon.png">
</head>
<body>
    <a aria-label="Skip to main content" href="#mainContent" class="visually-hidden"></a>
    <div class="container-fluid prom-content">
        <header>
            <div class="row prom-nav-top py-2 p-sm-0 d-print-none" aria-label="Top" role="navigation">
                @{
                    var topNavigation = Context.Items[Ocuda.Promenade.Controllers.ItemKey.TopNavigation]
                    as Ocuda.Promenade.Models.Entities.Navigation;
                    var currentUiCulture = System.Globalization.CultureInfo.CurrentCulture;
                    var l10nLinks = Context.Items[Ocuda.i18n.LocalizationItemKey.L10n] as IDictionary<string, string>;
                    var bannerImage = Context.Items[Ocuda.Promenade.Controllers.ItemKey.BannerImage] as string;

                    if (topNavigation?.Navigations.Count() > 0 || l10nLinks?.Count() > 1)
                    {
                        if (l10nLinks?.Count() > 1)
                        {
                            <div class="col-12 @(topNavigation?.Navigations.Count() == 0 ? "" : "col-sm-4") d-flex justify-content-center justify-content-sm-start">
                                @if (!string.IsNullOrEmpty(bannerImage))
                                {
                                    <span role="banner" aria-label="@Localizer[Promenade.VisitHomePage]">
                                        <a asp-action="Index"
                                           asp-controller="Home"
                                           asp-area=""
                                           asp-route-culture="">
                                            <img src="@bannerImage"
                                                 alt="@Context.Items[Ocuda.Promenade.Controllers.ItemKey.BannerImageAlt]"
                                                 class="img-fluid mx-auto prom-logo" />
                                        </a>
                                    </span>
                                }

                            </div>
                        }
                        if (topNavigation?.Navigations.Count() > 0)
                        {

                            var currentLang = currentUiCulture.Parent.Name ?? currentUiCulture.Name;
                            var languages = l10nLinks.ToArray();
                            string currentL10 = languages.LastOrDefault().Value.Contains(currentLang)
                            ? languages.LastOrDefault().Value
                            : languages.FirstOrDefault().Value;

                            <ul class="col-12 @(l10nLinks?.Count() > 1 ? "col-sm-8" : "") d-flex justify-content-around justify-content-sm-end align-items-center m-0 prom-right-nav">
                                <li class="d-none d-sm-block p-0">
                                    <div class="btn-group btn-toggle border border-2 border-primary rounded">
                                        <a href="@languages[0].Value">
                                            <div style="border-radius: 0 6px 6px 0" class="btn btn-md border-0 @(languages[0].Value == currentL10 ? "btn-primary bg-primary active" : "bg-transparent")">
                                                @languages[0].Key
                                            </div>
                                        </a>
                                        <a href="@languages[1].Value">
                                            <div style="border-radius: 6px 0 0 6px" class="btn btn-md border-0 @(languages[1].Value == currentL10 ? "btn-primary bg-primary active" : "bg-transparent")">
                                                @languages[1].Key
                                            </div>
                                        </a>

                                    </div>
                                </li>
                                <li class="d-sm-none nav-item prom-nav-top-button bg-primary">
                                    <a href="@(languages[0].Value == currentL10 ? languages[1].Value : languages[0].Value)"
                                       class="nav-link d-flex align-items-center">
                                        <span class="fa-solid fa-comment prom-fa-space"></span>
                                        <span class="">@currentUiCulture.Parent.DisplayName</span>
                                    </a>
                                </li>

                                @foreach (var item in topNavigation.Navigations)
                                {
                                    if (item.ChangeToLinkWhenExtraSmall || item.Navigations.Count() == 0)
                                    {
                                        <li class="nav-item prom-nav-top-button @(item.Navigations.Count() == 0 ? null : "prom-nav-link")">
                                            @if (string.IsNullOrEmpty(item.NavigationText.Label)
                                       && !string.IsNullOrEmpty(item.Icon)
                                       && !string.IsNullOrEmpty(item.NavigationText.Title))
                                            {
                                                <a title="@item.NavigationText.Title"
                                                   aria-label="@item.NavigationText.Title"
                                                   href="@(string.IsNullOrEmpty(item.NavigationText.Link) ? "#" : item.NavigationText.Link)"
                                                   class="nav-link">
                                                    <span class="@item.Icon"></span>
                                                </a>
                                            }
                                            else
                                            {
                                                <a href="@(string.IsNullOrEmpty(item.NavigationText.Link) ? "#" : item.NavigationText.Link)"
                                                   class="nav-link @(item.NavigationText.Label == null ? null : "d-flex align-items-center")">
                                                    @if (!string.IsNullOrEmpty(item.Icon))
                                                    {
                                                        <span class="@item.Icon @(item.NavigationText.Label == null ? null : "prom-fa-space")"></span>
                                                    }
                                                    @if (!string.IsNullOrEmpty(item.NavigationText.Label))
                                                    {
                                                        <span class="@(item.HideTextWhenExtraSmall ? "hidden-xxs" : null)">@item.NavigationText.Label</span>
                                                    }
                                                </a>
                                            }
                                        </li>
                                    }
                                    if (item.Navigations.Count() > 0)
                                    {
                                        <li role="presentation"
                                            class="dropdown prom-nav-top-button @(item.ChangeToLinkWhenExtraSmall ? "prom-dropdown-swap-link" : null)">
                                            <a class="nav-link dropdown-toggle @(item.NavigationText.Label == null ? null : "d-flex align-items-center")"
                                               data-bs-toggle="dropdown"
                                               href="#"
                                               role="button"
                                               aria-haspopup="true"
                                               aria-expanded="false">
                                                @if (!string.IsNullOrEmpty(item.Icon))
                                                {
                                                    <span class="@item.Icon @(item.NavigationText.Label == null ? null : "prom-fa-space")"></span>
                                                }
                                                @if (!string.IsNullOrEmpty(item.NavigationText.Label))
                                                {
                                                    <span class="@(item.HideTextWhenExtraSmall ? "hidden-xxs" : null)">@item.NavigationText.Label</span>
                                                }
                                            </a>
                                            <ul class="dropdown-menu dropdown-menu-end prom-nav-dropdown">
                                                @foreach (var subItem in item.Navigations)
                                                {
                                                    <li>
                                                        @if (string.IsNullOrEmpty(subItem.NavigationText.Label)
                                                   && !string.IsNullOrEmpty(subItem.Icon)
                                                   && !string.IsNullOrEmpty(subItem.NavigationText.Title))
                                                        {
                                                            <a href="@subItem.NavigationText.Link"
                                                               class="dropdown-item"
                                                               title="@subItem.NavigationText.Title"
                                                               aria-label="@subItem.NavigationText.Title">
                                                                <span class="@subItem.Icon"></span>
                                                            </a>
                                                        }
                                                        else
                                                        {
                                                            <a href="@subItem.NavigationText.Link"
                                                               class="dropdown-item">
                                                                @if (!string.IsNullOrEmpty(subItem.Icon))
                                                                {
                                                                    <span class="@subItem.Icon"></span>
                                                                }
                                                                @subItem.NavigationText.Label
                                                            </a>
                                                        }
                                                    </li>
                                                }
                                            </ul>
                                        </li>
                                    }
                                }
                            </ul>
                        }
                    }
                }
            </div>
            @{
                var middleNavigation = Context.Items[Ocuda.Promenade.Controllers.ItemKey.MiddleNavigation] as Ocuda.Promenade.Models.Entities.Navigation;
                if (middleNavigation?.Navigations.Count() > 0)
                {
                    <div class="row">
                        <div class="d-flex prom-nav-middle-parent p-0">
                            <div class="prom-nav-middle navbar navbar-dark navbar-expand-sm p-0 d-print-none w-100" aria-label="bottom" role="navigation">
                                <button class="navbar-toggler nav-link dropdown-toggle border-0 border-bottom border-white w-100 py-3 text-center collapsed" style="box-shadow: none;" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                                    <span class="text-white">Menu</span>
                                    <span class="caret"></span>
                                </button>
                                <div class="row collapse navbar-collapse" id="navbarSupportedContent">
                                <ul class="row g-0 flex-column flex-sm-row align-items-stretch nav nav-pills mx-auto" style="max-width: 740px;">
                                    @foreach (var item in middleNavigation.Navigations)
                                    {
                                        <li role="presentation"
                                            class="nav-item prom-nav-link col-12 col-sm-2 @(item.Navigations.Count() > 0 ? "dropdown" : "")">
                                            <a class="nav-link col-12 @(item.Navigations.Count() > 0 ? "dropdown-toggle" : "")"
                                               data-bs-toggle="dropdown"
                                               href="#"
                                               role="button"
                                               aria-haspopup="true"
                                               aria-expanded="false"><span class="nav-link-icon @(item.Icon != null ? item.Icon : null)"></span><span class="nav-link-text">@item.NavigationText.Label</span><span class="caret"></span></a>
                                            @if (item.Navigations.Count() > 0)
                                            {
                                                <ul class="dropdown-menu prom-nav-dropdown w-100">
                                                    @foreach (var subItem in item.Navigations)
                                                    {
                                                        <li class="border border-1 border-white border-top-0">
                                                            @if (string.IsNullOrEmpty(subItem.NavigationText.Label)
                                                       && !string.IsNullOrEmpty(subItem.Icon)
                                                       && !string.IsNullOrEmpty(subItem.NavigationText.Title))
                                                            {
                                                                <a href="@subItem.NavigationText.Link"
                                                                   target="@(item.TargetNewWindow ? "_blank" : null)"
                                                                   class="dropdown-item"
                                                                   title="@subItem.NavigationText.Title"
                                                                   aria-label="@subItem.NavigationText.Title">
                                                                    <span class="@subItem.Icon"></span>
                                                                </a>
                                                            }
                                                            else
                                                            {
                                                                <a href="@subItem.NavigationText.Link"
                                                                   target="@(item.TargetNewWindow ? "_blank" : null)"
                                                                   class="dropdown-item">
                                                                    @if (!string.IsNullOrEmpty(subItem.Icon))
                                                                    {
                                                                        <span class="@subItem.Icon"></span>
                                                                    }
                                                                    @subItem.NavigationText.Label
                                                                </a>
                                                            }
                                                        </li>
                                                    }
                                                </ul>

                                            }
                                        </li>
                                    }
                                </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            }
            <div class="row prom-top-searchbar d-none d-sm-block">
                <div style="max-width: 740px" class="mx-auto d-block my-2">
                    <div class="input-group home-catalog-search">
                        <div class="d-flex align-items-center dropdown">
                            <a class="nav-link dropdown-toggle btn border border-secondary p-2 rounded-4"
                               data-bs-toggle="dropdown"
                               href="#"
                               role="button"
                               aria-haspopup="true"
                               aria-expanded="false">
                                <span class="nav-link-text">Search the Website</span>
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu prom-nav-dropdown">
                                <li>
                                    <a href="#" class="dropdown-item">
                                        Search the Website <!-- TODO: These are not functional and should not have hard coded strings -->
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="dropdown-item">
                                        Search the Catalog <!-- TODO: These are not functional and should not have hard coded strings -->
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <input type="text"
                               id="textboxTerm"
                               onkeypress="return ProcessInput(event)"
                               class="form-control rounded mx-3"
                               placeholder="Search the catalog"
                               title="Search the catalog" />
                        <div class="input-group-append d-flex align-items-center justify-content-center">
                            <button class="btn search-button rounded-circle"
                                    type="button"
                                    onclick="DoKeywordSearch();">
                                <span class="fas fa-search"></span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <div class="row prom-content-container">
            @{
                var leftNavigation = Context.Items[Ocuda.Promenade.Controllers.ItemKey.LeftNavigation] as Ocuda.Promenade.Models.Entities.Navigation;
                leftNavigation = null; //TODO: REMOVE THIS WHEN FINISHED
                int leftNavigationSectionNumber = 0;
                int leftNavigationFeaturetteNumber = 0;
            }
            <div class="col-12 @(leftNavigation?.Navigations.Count() > 0 ? "col-sm-9 col-lg-10 order-sm-last" : null) d-print-inline-block prom-body-content-container"
                 role="main" id="mainContent">
                <div class="prom-body-content">
                    @RenderBody()
                </div>
            </div>
            @if (leftNavigation?.Navigations.Count() > 0)
            {
                <div role="complementary"
                     class="col-12 col-sm-3 col-lg-2 order-sm-first prom-leftnav-container d-print-none">

                    <div class="prom-leftnav">
                        <div class="accordion" id="prom-leftnav-accordion">
                            @foreach (var item in leftNavigation.Navigations)
                            {
                                if (item?.Navigations?.Count() > 0)
                                {
                                    leftNavigationSectionNumber++;
                                    <div class="accordion-item">
                                        <h2 class="accordion-header"
                                            id="left-navigation-heading-@leftNavigationSectionNumber">
                                            <button class="accordion-button collapsed"
                                                    type="button"
                                                    data-bs-toggle="collapse"
                                                    data-bs-target="#left-navigation-@leftNavigationSectionNumber"
                                                    aria-expanded="false"
                                                    aria-controls="left-navigation-@leftNavigationSectionNumber">
                                                @item.NavigationText.Label
                                            </button>
                                        </h2>
                                        <div id="left-navigation-@leftNavigationSectionNumber"
                                             class="accordion-collapse collapse"
                                             aria-labelledby="left-navigation-heading-@leftNavigationSectionNumber"
                                             data-bs-parent="#prom-leftnav-accordion">
                                            <div class="accordion-body">
                                                <ul>
                                                    @foreach (var subItem in item.Navigations)
                                                    {
                                                        <li>
                                                            @if (string.IsNullOrEmpty(subItem.NavigationText.Label)
                                                           && !string.IsNullOrEmpty(subItem.Icon)
                                                           && !string.IsNullOrEmpty(subItem.NavigationText.Title))
                                                            {
                                                                <a href="@subItem.NavigationText.Link"
                                                                   target="@(subItem.TargetNewWindow ? "_blank" : null)"
                                                                   title="@subItem.NavigationText.Title"
                                                                   aria-label="@(subItem.TargetNewWindow ? Localizer[Promenade.NewWindow] : null)">
                                                                    <span class="@subItem.Icon"></span>
                                                                </a>
                                                            }
                                                            else
                                                            {
                                                                <a href="@subItem.NavigationText.Link"
                                                                   target="@(subItem.TargetNewWindow ? "_blank" : null)"
                                                                   aria-label="@(subItem.TargetNewWindow ? Localizer[Promenade.NewWindowItem, subItem.NavigationText.Label] : null)">
                                                                    @subItem.NavigationText.Label
                                                                </a>
                                                            }
                                                        </li>
                                                    }
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                }
                                else
                                {
                                    leftNavigationFeaturetteNumber++;
                                    <div class="d-grid">
                                        <a href="@item.NavigationText.Link"
                                           class="btn btn-secondary prom-leftnav-featurette-button prom-leftnav-featurette-button-@leftNavigationFeaturetteNumber">@item.NavigationText.Label</a>
                                    </div>
                                }
                            }
                        </div>
                    </div>
                </div>
            }
        </div>
        <footer class="row d-print-none" role="contentinfo">
            <div class="col-12 col-md-3 prom-footer-contact text-center">
                <div class="row flex-md-column mx-auto w-100" style="max-width: 740px">
                    <div class="col-12 col-sm-4 col-md-12 py-2 footer-contact">
                        <!-- TODO: Fix this hardcoded string -->
                        Contact Us
                    </div>
                    <div class="col-12 col-sm-4 col-md-12 py-2 footer-contact">
                        @if (!string.IsNullOrEmpty(Context.Items[Ocuda.Promenade.Controllers.ItemKey.MainPhoneNumber]?.ToString()))
                        {
                            <a href="tel:+1-@(@Context.Items[Ocuda.Promenade.Controllers.ItemKey.MainPhoneNumber])">
                                @Context.Items[Ocuda.Promenade.Controllers.ItemKey.MainPhoneNumber]
                            </a>
                        }
                    </div>
                    <div class="col-12 col-sm-4 col-md-12 py-2 footer-contact">
                        <ul aria-label="@Localizer[Promenade.ConnectSocialMedia]"
                            class="nav d-inline-flex justify-content-center prom-nav-footer-social">

                            @if (!string.IsNullOrEmpty(Context.Items[Ocuda.Promenade.Controllers.ItemKey.SocialFacebookUrl]?.ToString()))
                            {
                                <li>
                                    <a href="@Context.Items[Ocuda.Promenade.Controllers.ItemKey.SocialFacebookUrl]"
                                       class="prom-leftnav-social-link"
                                       target="_blank"
                                       title="@Localizer[Promenade.ConnectSocialOn, "Facebook"]"
                                       aria-label="@Localizer[Promenade.NewWindow]"><span class="fa-brands fa-facebook"></span></a>
                                    <span>&nbsp;</span>
                                </li>
                            }
                            @if (!string.IsNullOrEmpty(Context.Items[Ocuda.Promenade.Controllers.ItemKey.SocialInstagramUrl]?.ToString()))
                            {
                                <li>
                                    <a href="@Context.Items[Ocuda.Promenade.Controllers.ItemKey.SocialInstagramUrl]"
                                       class="prom-leftnav-social-link"
                                       target="_blank"
                                       title="@Localizer[Promenade.ConnectSocialOn, "Instagram"]"
                                       aria-label="@Localizer[Promenade.NewWindow]"><span class="fa-brands fa-instagram"></span></a>
                                    <span>&nbsp;</span>
                                </li>
                            }
                            @if (!string.IsNullOrEmpty(Context.Items[Ocuda.Promenade.Controllers.ItemKey.SocialTikTokUrl]?.ToString()))
                            {
                                <li>
                                    <a href="@Context.Items[Ocuda.Promenade.Controllers.ItemKey.SocialTikTokUrl]"
                                       class="prom-leftnav-social-link"
                                       target="_blank"
                                       title="@Localizer[Promenade.ConnectSocialOn, "TikTok"]"
                                       aria-label="@Localizer[Promenade.NewWindow]"><span class="fa-brands fa-tiktok"></span></a>
                                    <span>&nbsp;</span>
                                </li>
                            }
                            @if (!string.IsNullOrEmpty(Context.Items[Ocuda.Promenade.Controllers.ItemKey.SocialTwitterUrl]?.ToString()))
                            {
                                <li>
                                    <a href="@Context.Items[Ocuda.Promenade.Controllers.ItemKey.SocialTwitterUrl]"
                                       class="prom-leftnav-social-link"
                                       target="_blank"
                                       title="@Localizer[Promenade.ConnectSocialOn, "Twitter"]"
                                       aria-label="@Localizer[Promenade.NewWindow]"><span class="fa-brands fa-twitter"></span></a>
                                    <span>&nbsp;</span>
                                </li>
                            }
                            @if (!string.IsNullOrEmpty(Context.Items[Ocuda.Promenade.Controllers.ItemKey.SocialYoutubeUrl]?.ToString()))
                            {
                                <li>
                                    <a href="@Context.Items[Ocuda.Promenade.Controllers.ItemKey.SocialYoutubeUrl]"
                                       class="prom-leftnav-social-link"
                                       target="_blank"
                                       title="@Localizer[Promenade.ConnectSocialOn, "YouTube"]"
                                       aria-label="@Localizer[Promenade.NewWindow]"><span class="fa-brands fa-youtube"></span></a>
                                </li>
                            }
                        </ul>
                    </div>
                </div>
            </div>

            @{
                var footerNavigation = Context.Items[Ocuda.Promenade.Controllers.ItemKey.FooterNavigation] as Ocuda.Promenade.Models.Entities.Navigation;
                var footerImage = Context.Items[Ocuda.Promenade.Controllers.ItemKey.BannerImageAlt] as string;
            }

            <div class="col-12 col-md-9 d-flex mx-auto justify-content-between align-items-center g-0 py-2" style="max-width: 740px">
                @if (!string.IsNullOrEmpty(footerImage))
                {
                    <div class="col-6 col-sm-3 d-flex justify-content-center">
                        <div role="banner" aria-label="@Localizer[Promenade.VisitHomePage]">
                            <a asp-action="Index"
                               asp-controller="Home"
                               asp-area=""
                               asp-route-culture="">
                                <img src="@footerImage"
                                     alt="@Context.Items[Ocuda.Promenade.Controllers.ItemKey.BannerImageAlt]"
                                     class="img-fluid mx-auto prom-logo" />
                            </a>
                        </div>
                    </div>
                }
                @if (footerNavigation?.Navigations.Count() > 0)
                {
                    <ul class="col-6 col-sm-9 footer-navigation-list m-0 ps-3 px-sm-4 px-xl-5">
                        @foreach (var item in footerNavigation.Navigations)
                        {
                            <li class="mb-1">
                                @if (string.IsNullOrEmpty(item.NavigationText.Label)
                               && !string.IsNullOrEmpty(item.Icon)
                               && !string.IsNullOrEmpty(item.NavigationText.Title))
                                {
                                    <a href="@item.NavigationText.Link"
                                       title="@item.NavigationText.Title"
                                       aria-label="@item.NavigationText.Title">
                                        <span class="@item.Icon"></span>
                                    </a>
                                }
                                else
                                {
                                    <a href="@item.NavigationText.Link">
                                        @if (!string.IsNullOrEmpty(item.Icon))
                                        {
                                            <span class="@item.Icon @(item.NavigationText.Label == null ? null : "prom-fa-space")"></span>
                                        }
                                        <span class="prom-footer-link-text">@item.NavigationText.Label</span>
                                    </a>
                                }
                            </li>
                        }
                    </ul>
                }
            </div>
        </footer>
    </div>
    <script src="~/js/scripts.min.js" asp-append-version="true"></script>
    <script src="~/js/bootstrap.min.js" asp-append-version="true"></script>
    @if (Context.Items.ContainsKey(ItemKey.ExternalJS))
    {
        foreach (var jsUrl in (List<string>)Context.Items[ItemKey.ExternalJS])
        {
            <script src="@jsUrl"></script>
        }
    }
    @RenderSection("Scripts", required: false)
</body>
</html>

<script language="javascript">
    String.prototype.trim = function () {
        return this.replace(/^\s*|\s*$/g, "");
    };
    function ProcessInput(e) {
        if (window.event)
            // IE
            keyNum = e.keyCode;
        else if (e.which)
            // Netscape/Firefox/Opera
            keyNum = e.which;
        if (keyNum == 13) {
            e.returnValue = false;
            e.cancelBubble = true;
            DoKeywordSearch();
            return false;
        }
        return true;
    }
    function DoKeywordSearch() {
        if (document.getElementById("textboxTerm").value.trim() != "")
            window.location =
                "https://catalog.mcldaz.org/view.aspx?keyword=" +
                escape(document.getElementById("textboxTerm").value);
        else document.getElementById("textboxTerm").focus();
    }

    document.getElementById("textboxTerm").focus();
</script>