<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData[Ocuda.Utility.Keys.ViewData.Title]</title>
    @RenderSection("metadata", required: false)
    @if (Context.Items[Ocuda.i18n.LocalizationItemKey.HrefLang] != null)
    {
        @foreach (var item in ((IDictionary<string, string>)Context.Items[Ocuda.i18n.LocalizationItemKey.HrefLang]))
        {
            <link rel="alternate" hreflang="@item.Key" href="@item.Value" />
        }
    }
    @{
        var googleAnalyticsTrackingCode = Context.Items[Ocuda.Promenade.Controllers.ItemKey.GoogleAnalyticsTrackingCode] as string;
        if (!string.IsNullOrEmpty(googleAnalyticsTrackingCode))
        {
            <!-- Global site tag (gtag.js) - Google Analytics -->
            <script async src="https://www.googletagmanager.com/gtag/js?id=@googleAnalyticsTrackingCode"></script>
            <script>
                window.dataLayer = window.dataLayer || [];
                function gtag() { dataLayer.push(arguments); }
                gtag('js', new Date());
                gtag('config', '@googleAnalyticsTrackingCode');
            </script>
        }
    }
    <link rel="stylesheet" href="~/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/styles.min.css" />
    @if (Context.Items.ContainsKey(ItemKey.ExternalCSS))
    {
        foreach (var cssUrl in (List<string>)Context.Items[ItemKey.ExternalCSS])
        {
            <link rel="stylesheet" href="@cssUrl" />
        }
    }
    @RenderSection("Styles", required: false)
    <link rel="manifest" href="/manifest.webmanifest">
    <link rel="icon" href="/favicon.ico" sizes="any">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/apple-touch-icon.png">
</head>
<body>
    <a aria-label="Skip to main content" href="#mainContent" class="sr-only"></a>
    <div class="container-fluid prom-content">
        <header>
            <div class="row prom-nav-top d-print-none" aria-label="Top" role="navigation">
                @{
                    var topNavigation = Context.Items[Ocuda.Promenade.Controllers.ItemKey.TopNavigation]
                    as Ocuda.Promenade.Models.Entities.Navigation;
                    var currentUiCulture = System.Globalization.CultureInfo.CurrentCulture;
                    var l10nLinks = Context.Items[Ocuda.i18n.LocalizationItemKey.L10n] as IDictionary<string, string>;
                    if (topNavigation?.Navigations.Count() > 0 || l10nLinks?.Count() > 1)
                    {
                        if (l10nLinks?.Count() > 1)
                        {
                            <div class="@(topNavigation?.Navigations.Count() == 0 ? "col-12" : "col-3")">
                                <div class="dropdown">
                                    <button class="btn btn-outline-dark btn-sm dropdown-toggle prom-language-dropdown"
                                    type="button"
                                    id="languageDropdown"
                                    data-bs-toggle="dropdown"
                                    aria-haspopup="true" aria-expanded="true">
                                        @(currentUiCulture.Parent.NativeName ?? currentUiCulture.NativeName) <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu" role="list">
                                        @foreach (var l10nItem in l10nLinks)
                                        {
                                            <li>
                                                <a href="@l10nItem.Value"
                                       class="dropdown-item">@l10nItem.Key</a>
                                            </li>
                                        }
                                    </ul>
                                </div>
                            </div>
                        }
                        if (topNavigation?.Navigations.Count() > 0)
                        {
                            <ul class="@(l10nLinks?.Count() > 1 ? "col-9" : "col-12") prom-right-nav">
                                @foreach (var item in topNavigation.Navigations)
                                {
                                    if (item.ChangeToLinkWhenExtraSmall || item.Navigations.Count() == 0)
                                    {
                                        <li class="nav-item @(item.Navigations.Count() == 0 ? null : "prom-nav-link")">
                                            @if (string.IsNullOrEmpty(item.NavigationText.Label)
                                       && !string.IsNullOrEmpty(item.Icon)
                                       && !string.IsNullOrEmpty(item.NavigationText.Title))
                                            {
                                                <a title="@item.NavigationText.Title"
                               aria-label="@item.NavigationText.Title"
                               href="@(string.IsNullOrEmpty(item.NavigationText.Link) ? "#" : item.NavigationText.Link)"
                               class="nav-link">
                                                    <span class="@item.Icon"></span>
                                                </a>
                                            }
                                            else
                                            {
                                                <a href="@(string.IsNullOrEmpty(item.NavigationText.Link) ? "#" : item.NavigationText.Link)"
                               class="nav-link @(item.NavigationText.Label == null ? null : "d-flex align-items-center")">
                                                    @if (!string.IsNullOrEmpty(item.Icon))
                                                    {
                                                        <span class="@item.Icon @(item.NavigationText.Label == null ? null : "prom-fa-space")"></span>
                                                    }
                                                    @if (!string.IsNullOrEmpty(item.NavigationText.Label))
                                                    {
                                                        <span class="@(item.HideTextWhenExtraSmall ? "hidden-xxs" : null)">@item.NavigationText.Label</span>
                                                    }
                                                </a>
                                            }
                                        </li>
                                    }
                                    if (item.Navigations.Count() > 0)
                                    {
                                        <li role="presentation"
                            class="dropdown @(item.ChangeToLinkWhenExtraSmall ? "prom-dropdown-swap-link" : null)">
                                            <a class="nav-link dropdown-toggle @(item.NavigationText.Label == null ? null : "d-flex align-items-center")"
                               data-bs-toggle="dropdown"
                               href="#"
                               role="button"
                               aria-haspopup="true"
                               aria-expanded="false">
                                                @if (!string.IsNullOrEmpty(item.Icon))
                                                {
                                                    <span class="@item.Icon @(item.NavigationText.Label == null ? null : "prom-fa-space")"></span>
                                                }
                                                @if (!string.IsNullOrEmpty(item.NavigationText.Label))
                                                {
                                                    <span class="@(item.HideTextWhenExtraSmall ? "hidden-xxs" : null)">@item.NavigationText.Label</span>
                                                }
                                            </a>
                                            <ul class="dropdown-menu dropdown-menu-end prom-nav-dropdown">
                                                @foreach (var subItem in item.Navigations)
                                                {
                                                    <li>
                                                        @if (string.IsNullOrEmpty(subItem.NavigationText.Label)
                                                   && !string.IsNullOrEmpty(subItem.Icon)
                                                   && !string.IsNullOrEmpty(subItem.NavigationText.Title))
                                                        {
                                                            <a href="@subItem.NavigationText.Link"
                                       class="dropdown-item"
                                       title="@subItem.NavigationText.Title"
                                       aria-label="@subItem.NavigationText.Title">
                                                                <span class="@subItem.Icon"></span>
                                                            </a>
                                                        }
                                                        else
                                                        {
                                                            <a href="@subItem.NavigationText.Link"
                                       class="dropdown-item">
                                                                @if (!string.IsNullOrEmpty(subItem.Icon))
                                                                {
                                                                    <span class="@subItem.Icon"></span>
                                                                }
                                                                @subItem.NavigationText.Label
                                                            </a>
                                                        }
                                                    </li>
                                                }
                                            </ul>
                                        </li>
                                    }
                                }
                            </ul>
                        }
                    }
                }
            </div>
            @{
                var middleNavigation = Context.Items[Ocuda.Promenade.Controllers.ItemKey.MiddleNavigation] as Ocuda.Promenade.Models.Entities.Navigation;
                if (middleNavigation?.Navigations.Count() > 0)
                {
                    <div class="row d-flex justify-content-between align-items-center prom-nav-middle-parent">
                        <div class="prom-nav-middle d-print-none" aria-label="bottom" role="navigation">
                            <ul class="nav nav-pills">
                                @foreach (var item in middleNavigation.Navigations)
                                {
                                    if (item.ChangeToLinkWhenExtraSmall || item.Navigations.Count() == 0)
                                    {
                                        <li role="presentation" class="nav-item prom-nav-link p-0 m-1">
                                            @if (string.IsNullOrEmpty(item.NavigationText.Label)
                                       && !string.IsNullOrEmpty(item.Icon)
                                       && !string.IsNullOrEmpty(item.NavigationText.Title))
                                            {
                                                <a href="@item.NavigationText.Link"
                                   class="nav-link prom-nav-link p-1"
                                   title="@item.NavigationText.Title"
                                   aria-label="@item.NavigationText.Title">
                                                    <span class="@item.Icon"></span>
                                                </a>
                                            }
                                            else
                                            {
                                                <a href="@item.NavigationText.Link"
                                   class="nav-link prom-nav-link p-1">@item.NavigationText.Label</a>
                                            }
                                        </li>
                                    }
                                    if (item.Navigations.Count() > 0)
                                    {
                                        <li role="presentation"
                                class="nav-item dropdown p-0 m-1 @(item.ChangeToLinkWhenExtraSmall ? "prom-dropdown-swap-link" : null)">
                                            <a class="nav-link dropdown-toggle p-1"
                                   data-bs-toggle="dropdown"
                                   href="#"
                                   role="button"
                                   aria-haspopup="true"
                                   aria-expanded="false"><span class="nav-link-icon @(item.Icon != null ? item.Icon : null)"></span><span class="nav-link-text">@item.NavigationText.Label</span><span class="caret"></span></a>
                                            <ul class="dropdown-menu prom-nav-dropdown">
                                                @foreach (var subItem in item.Navigations)
                                                {
                                                    <li>
                                                        @if (string.IsNullOrEmpty(subItem.NavigationText.Label)
                                                   && !string.IsNullOrEmpty(subItem.Icon)
                                                   && !string.IsNullOrEmpty(subItem.NavigationText.Title))
                                                        {
                                                            <a href="@subItem.NavigationText.Link"
                                           target="@(item.TargetNewWindow ? "_blank" : null)"
                                           class="dropdown-item"
                                           title="@subItem.NavigationText.Title"
                                           aria-label="@subItem.NavigationText.Title">
                                                                <span class="@subItem.Icon"></span>
                                                            </a>
                                                        }
                                                        else
                                                        {
                                                            <a href="@subItem.NavigationText.Link"
                                           target="@(item.TargetNewWindow ? "_blank" : null)"
                                           class="dropdown-item">
                                                                @if (!string.IsNullOrEmpty(subItem.Icon))
                                                                {
                                                                    <span class="@subItem.Icon"></span>
                                                                }
                                                                @subItem.NavigationText.Label
                                                            </a>
                                                        }
                                                    </li>
                                                }
                                            </ul>
                                        </li>
                                    }
                                }
                            </ul>
                        </div>
                        <div class="d-none d-sm-block mr-2" style="font-size: 1.25rem;">
                            <ul aria-label="@Localizer[Promenade.ConnectSocialMedia]"
                            class="nav d-inline-flex justify-content-center prom-nav-middle-social">
                                @if (!string.IsNullOrEmpty(Context.Items[Ocuda.Promenade.Controllers.ItemKey.SocialFacebookUrl].ToString()))
                                {
                                    <li>
                                        <a href="@Context.Items[Ocuda.Promenade.Controllers.ItemKey.SocialFacebookUrl]"
                                   class="prom-leftnav-social-link"
                                   target="_blank"
                                   title="@Localizer[Promenade.ConnectSocialOn, "Facebook"]"
                                   aria-label="@Localizer[Promenade.NewWindow]"><span class="fab fa-facebook"></span></a>
                                        <span>&nbsp;</span>
                                    </li>
                                }
                                @if (!string.IsNullOrEmpty(Context.Items[Ocuda.Promenade.Controllers.ItemKey.SocialInstagramUrl].ToString()))
                                {
                                    <li>
                                        <a href="@Context.Items[Ocuda.Promenade.Controllers.ItemKey.SocialInstagramUrl]"
                                   class="prom-leftnav-social-link"
                                   target="_blank"
                                   title="@Localizer[Promenade.ConnectSocialOn, "Instagram"]"
                                   aria-label="@Localizer[Promenade.NewWindow]"><span class="fab fa-instagram"></span></a>
                                        <span>&nbsp;</span>
                                    </li>
                                }
                                @if (!string.IsNullOrEmpty(Context.Items[Ocuda.Promenade.Controllers.ItemKey.SocialTikTokUrl].ToString()))
                                {
                                    <li>
                                        <a href="@Context.Items[Ocuda.Promenade.Controllers.ItemKey.SocialTikTokUrl]"
                                   class="prom-leftnav-social-link"
                                   target="_blank"
                                   title="@Localizer[Promenade.ConnectSocialOn, "TikTok"]"
                                   aria-label="@Localizer[Promenade.NewWindow]"><span class="fab fa-tiktok"></span></a>
                                        <span>&nbsp;</span>
                                    </li>
                                }
                                @if (!string.IsNullOrEmpty(Context.Items[Ocuda.Promenade.Controllers.ItemKey.SocialTwitterUrl].ToString()))
                                {
                                    <li>
                                        <a href="@Context.Items[Ocuda.Promenade.Controllers.ItemKey.SocialTwitterUrl]"
                                   class="prom-leftnav-social-link"
                                   target="_blank"
                                   title="@Localizer[Promenade.ConnectSocialOn, "Twitter"]"
                                   aria-label="@Localizer[Promenade.NewWindow]"><span class="fab fa-twitter"></span></a>
                                        <span>&nbsp;</span>
                                    </li>
                                }
                                @if (!string.IsNullOrEmpty(Context.Items[Ocuda.Promenade.Controllers.ItemKey.SocialYoutubeUrl].ToString()))
                                {
                                    <li>
                                        <a href="@Context.Items[Ocuda.Promenade.Controllers.ItemKey.SocialYoutubeUrl]"
                                   class="prom-leftnav-social-link"
                                   target="_blank"
                                   title="@Localizer[Promenade.ConnectSocialOn, "YouTube"]"
                                   aria-label="@Localizer[Promenade.NewWindow]"><span class="fab fa-youtube"></span></a>
                                    </li>
                                }
                            </ul>
                        </div>
                    </div>
                }
            }
        </header>
        <div class="row prom-content-container">
            @{
                var bannerImage = Context.Items[Ocuda.Promenade.Controllers.ItemKey.BannerImage] as string;
                var leftNavigation = Context.Items[Ocuda.Promenade.Controllers.ItemKey.LeftNavigation] as Ocuda.Promenade.Models.Entities.Navigation;
                int leftNavigationSectionNumber = 0;
                int leftNavigationFeaturetteNumber = 0;
            }
            @if (!string.IsNullOrEmpty(bannerImage))
            {
                <div class="col-12 d-sm-none mt-3" role="banner" aria-label="@Localizer[Promenade.VisitHomePage]">
                    <a asp-action="Index"
                   asp-controller="Home"
                   asp-area=""
                   asp-route-culture="">
                        <img src="@bannerImage"
                         alt="@Context.Items[Ocuda.Promenade.Controllers.ItemKey.BannerImageAlt]"
                         class="img-fluid mx-auto d-block prom-logo" />
                    </a>
                </div>
                <div class="col-12 d-block d-sm-none text-center prom-leftnav-social">
                    <ul aria-label="@Localizer[Promenade.ConnectSocialMedia]"
                    class="nav d-inline-flex justify-content-center">
                        @if (!string.IsNullOrEmpty(Context.Items[Ocuda.Promenade.Controllers.ItemKey.SocialFacebookUrl].ToString()))
                        {
                            <li>
                                <a href="@Context.Items[Ocuda.Promenade.Controllers.ItemKey.SocialFacebookUrl]"
                           class="prom-leftnav-social-link"
                           target="_blank"
                           title="@Localizer[Promenade.ConnectSocialOn, "Facebook"]"
                           aria-label="@Localizer[Promenade.NewWindow]"><span class="fab fa-facebook"></span></a>
                                <span>&nbsp;</span>
                            </li>
                        }
                        @if (!string.IsNullOrEmpty(Context.Items[Ocuda.Promenade.Controllers.ItemKey.SocialInstagramUrl].ToString()))
                        {
                            <li>
                                <a href="@Context.Items[Ocuda.Promenade.Controllers.ItemKey.SocialInstagramUrl]"
                           class="prom-leftnav-social-link"
                           target="_blank"
                           title="@Localizer[Promenade.ConnectSocialOn, "Instagram"]"
                           aria-label="@Localizer[Promenade.NewWindow]"><span class="fab fa-instagram"></span></a>
                                <span>&nbsp;</span>
                            </li>
                        }
                        @if (!string.IsNullOrEmpty(Context.Items[Ocuda.Promenade.Controllers.ItemKey.SocialTikTokUrl].ToString()))
                        {
                            <li>
                                <a href="@Context.Items[Ocuda.Promenade.Controllers.ItemKey.SocialTikTokUrl]"
                           class="prom-leftnav-social-link"
                           target="_blank"
                           title="@Localizer[Promenade.ConnectSocialOn, "TikTok"]"
                           aria-label="@Localizer[Promenade.NewWindow]"><span class="fab fa-tiktok"></span></a>
                                <span>&nbsp;</span>
                            </li>
                        }
                        @if (!string.IsNullOrEmpty(Context.Items[Ocuda.Promenade.Controllers.ItemKey.SocialTwitterUrl].ToString()))
                        {
                            <li>
                                <a href="@Context.Items[Ocuda.Promenade.Controllers.ItemKey.SocialTwitterUrl]"
                           class="prom-leftnav-social-link"
                           target="_blank"
                           title="@Localizer[Promenade.ConnectSocialOn, "Twitter"]"
                           aria-label="@Localizer[Promenade.NewWindow]"><span class="fab fa-twitter"></span></a>
                                <span>&nbsp;</span>
                            </li>
                        }
                        @if (!string.IsNullOrEmpty(Context.Items[Ocuda.Promenade.Controllers.ItemKey.SocialYoutubeUrl].ToString()))
                        {
                            <li>
                                <a href="@Context.Items[Ocuda.Promenade.Controllers.ItemKey.SocialYoutubeUrl]"
                           class="prom-leftnav-social-link"
                           target="_blank"
                           title="@Localizer[Promenade.ConnectSocialOn, "YouTube"]"
                           aria-label="@Localizer[Promenade.NewWindow]"><span class="fab fa-youtube"></span></a>
                            </li>
                        }
                    </ul>
                </div>
            }
            <div class="col-12 @(leftNavigation?.Navigations.Count() > 0 ? "col-sm-9 col-lg-10 order-sm-last" : null) d-print-inline-block prom-body-content-container"
                 role="main" id="mainContent">
                <div class="prom-body-content">
                    @RenderBody()
                </div>
            </div>
            @if (leftNavigation?.Navigations.Count() > 0)
            {
                <div role="complementary"
                 class="col-12 col-sm-3 col-lg-2 order-sm-first prom-leftnav-container d-print-none">
                    @if (!string.IsNullOrEmpty(bannerImage))
                    {
                        <div class="d-none d-sm-block" role="banner" aria-label="@Localizer[Promenade.VisitHomePage]">
                            <a asp-action="Index"
                       asp-controller="Home"
                       asp-area=""
                       asp-route-culture="">
                                <img src="@bannerImage"
                             alt="@Context.Items[Ocuda.Promenade.Controllers.ItemKey.BannerImageAlt]"
                             class="img-fluid mx-auto d-block prom-logo" />
                            </a>
                        </div>
                    }

                    <div class="prom-leftnav">
                        @foreach (var item in leftNavigation.Navigations)
                        {
                            if (item?.Navigations?.Count() > 0)
                            {
                                leftNavigationSectionNumber++;
                                <div class="prom-leftnav-section">
                                    <a class="prom-leftnav-header collapsed d-block text-decoration-none"
                           data-bs-toggle="collapse"
                           href="#left-navigation-@leftNavigationSectionNumber"
                           role="button"
                           aria-expanded="false"
                           aria-controls="left-navigation-@leftNavigationSectionNumber">
                                        @item.NavigationText.Label
                                    </a>
                                    <div class="row prom-leftnav-content collapse"
                             id="left-navigation-@leftNavigationSectionNumber">
                                        <ul>
                                            @foreach (var subItem in item.Navigations)
                                            {
                                                <li>
                                                    @if (string.IsNullOrEmpty(subItem.NavigationText.Label)
                                                   && !string.IsNullOrEmpty(subItem.Icon)
                                                   && !string.IsNullOrEmpty(subItem.NavigationText.Title))
                                                    {
                                                        <a href="@subItem.NavigationText.Link"
                                       target="@(subItem.TargetNewWindow ? "_blank" : null)"
                                       title="@subItem.NavigationText.Title"
                                       aria-label="@(subItem.TargetNewWindow ? Localizer[Promenade.NewWindow] : null)">
                                                            <span class="@subItem.Icon"></span>
                                                        </a>
                                                    }
                                                    else
                                                    {
                                                        <a href="@subItem.NavigationText.Link"
                                       target="@(subItem.TargetNewWindow ? "_blank" : null)"
                                       aria-label="@(subItem.TargetNewWindow ? Localizer[Promenade.NewWindowItem, subItem.NavigationText.Label] : null)">
                                                            @subItem.NavigationText.Label
                                                        </a>
                                                    }
                                                </li>
                                            }
                                        </ul>
                                    </div>
                                </div>
                            }
                            else
                            {
                                leftNavigationFeaturetteNumber++;
                                <a href="@item.NavigationText.Link"
                       class="btn btn-secondary btn-block prom-leftnav-featurette-button prom-leftnav-featurette-button-@leftNavigationFeaturetteNumber">@item.NavigationText.Label</a>
                            }
                        }
                    </div>
                </div>
            }
        </div>
        @{
            var footerNavigation = Context.Items[Ocuda.Promenade.Controllers.ItemKey.FooterNavigation] as Ocuda.Promenade.Models.Entities.Navigation;
            if (footerNavigation?.Navigations.Count() > 0)
            {
                <footer class="row d-print-none" role="contentinfo">
                    <div class="col-12">
                        @foreach (var item in footerNavigation.Navigations)
                        {
                            <div>
                                @if (string.IsNullOrEmpty(item.NavigationText.Label)
                           && !string.IsNullOrEmpty(item.Icon)
                           && !string.IsNullOrEmpty(item.NavigationText.Title))
                                {
                                    <a href="@item.NavigationText.Link"
                           title="@item.NavigationText.Title"
                           aria-label="@item.NavigationText.Title">
                                        <span class="@item.Icon"></span>
                                    </a>
                                }
                                else
                                {
                                    <a href="@item.NavigationText.Link"
                           class="@(item.NavigationText.Label == null ? null : "d-flex align-items-center")">
                                        @if (!string.IsNullOrEmpty(item.Icon))
                                        {
                                            <span class="@item.Icon @(item.NavigationText.Label == null ? null : "prom-fa-space")"></span>
                                        }
                                        <span class="prom-footer-link-text">@item.NavigationText.Label</span>
                                    </a>
                                }
                            </div>
                        }
                    </div>
                </footer>
            }
        }
    </div>
    <script src="~/js/scripts.min.js" asp-append-version="true"></script>
    <script src="~/js/bootstrap.min.js" asp-append-version="true"></script>
    @if (Context.Items.ContainsKey(ItemKey.ExternalJS))
    {
        foreach (var jsUrl in (List<string>)Context.Items[ItemKey.ExternalJS])
        {
            <script src="@jsUrl"></script>
        }
    }
    @RenderSection("Scripts", required: false)
</body>
</html>