@{
    var bannerImage = Context.Items[Ocuda.Promenade.Controllers.ItemKey.BannerImage] as string;
    var catalogSearchLink = Context.Items[Ocuda.Promenade.Controllers.ItemKey.CatalogSearchLink] as string;
    var currentUiCulture = System.Globalization.CultureInfo.CurrentCulture;
    var footerImage = Context.Items[Ocuda.Promenade.Controllers.ItemKey.FooterImage] as string;
    var footerNavigation = Context.Items[Ocuda.Promenade.Controllers.ItemKey.FooterNavigation] as Ocuda.Promenade.Models.Entities.Navigation;
    var hrefLang = Context.Items[Ocuda.i18n.LocalizationItemKey.HrefLang] as IDictionary<string, string>;
    var googleAnalyticsTrackingCode = Context.Items[Ocuda.Promenade.Controllers.ItemKey.GoogleAnalyticsTrackingCode] as string;
    var l10nLinks = Context.Items[Ocuda.i18n.LocalizationItemKey.L10n] as IDictionary<string, string>;
    var middleNavigation = Context.Items[Ocuda.Promenade.Controllers.ItemKey.MiddleNavigation] as Ocuda.Promenade.Models.Entities.Navigation;
    var topNavigation = Context.Items[Ocuda.Promenade.Controllers.ItemKey.TopNavigation] as Ocuda.Promenade.Models.Entities.Navigation;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData[Ocuda.Utility.Keys.ViewData.Title]</title>
    @RenderSection("metadata", required: false)
    @foreach (var lang in hrefLang)
    {
        <link rel="alternate" hreflang="@lang.Key" href="@lang.Value" />
    }
    @if (!string.IsNullOrEmpty(googleAnalyticsTrackingCode))
    {
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=@googleAnalyticsTrackingCode"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag() { dataLayer.push(arguments); }
            gtag('js', new Date());
            gtag('config', '@googleAnalyticsTrackingCode');
        </script>
    }
    <link rel="stylesheet" href="~/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/styles.min.css" />
    @if (Context.Items.ContainsKey(ItemKey.ExternalCSS))
    {
        foreach (var cssUrl in (List<string>)Context.Items[ItemKey.ExternalCSS])
        {
            <link rel="stylesheet" href="@cssUrl" />
        }
    }
    @RenderSection("Styles", required: false)
    <link rel="manifest" href="/manifest.webmanifest">
    <link rel="icon" href="/favicon.ico" sizes="any">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/apple-touch-icon.png">
</head>
<body>
    <a aria-label="Skip to main content" href="#mainContent" class="visually-hidden"></a>
    <div class="container-fluid prom-content">
        <div class="everything-except-footer">
            <header>
                <div class="row prom-nav-top py-sm-2 d-print-none" aria-label="Top" role="navigation">
                    @if (topNavigation?.Navigations.Count() > 0 || l10nLinks?.Count() > 1)
                    {
                        if (l10nLinks?.Count() > 1)
                        {
                            <div class="col-12 @(topNavigation?.Navigations.Count() == 0 ? "" : "col-sm-4") mb-2 mb-sm-0 ps-sm-0 ps-md-3 d-flex justify-content-center justify-content-sm-start">
                                @if (!string.IsNullOrEmpty(bannerImage))
                                {
                                    <span role="banner" aria-label="@Localizer[Promenade.VisitHomePage]">
                                        <a asp-action="Index"
                                           asp-controller="Home"
                                           asp-area=""
                                           asp-route-culture="">
                                            <img src="@bannerImage"
                                                 alt="@Context.Items[Ocuda.Promenade.Controllers.ItemKey.BannerImageAlt]"
                                                 class="img-fluid mx-auto prom-logo" />
                                        </a>
                                    </span>
                                }

                            </div>
                        }
                        if (topNavigation?.Navigations.Count() > 0)
                        {
                            <ul class="@(l10nLinks?.Count() > 1 ? "col-sm-8" : "") mb-0 pe-sm-0 pe-md-3 d-flex justify-content-around justify-content-sm-end align-items-center prom-right-nav px-0">
                                <li class="d-none d-sm-block p-0">
                                    <div class="btn-group btn-toggle border border-2 border-prom-primary rounded">
                                        @foreach (var cultureName in l10nLinks.Keys)
                                        {
                                            <a href="@hrefLang[cultureName]">
                                                <div class="btn btn-md border-0 @(currentUiCulture.Name == cultureName ? "btn-primary bg-prom-primary active" : "bg-transparent")"
                                                     style="@(cultureName == l10nLinks.First().Key ? "border-radius: 0 6px 6px 0" : "border-radius: 6px 0 0 6px")">
                                                    @l10nLinks[cultureName]
                                                </div>
                                            </a>
                                        }
                                    </div>
                                </li>
                                <li class="d-sm-none nav-item prom-nav-top-button bg-prom-primary">
                                    <a href="@hrefLang[l10nLinks.FirstOrDefault(_ => _.Key != currentUiCulture.Name).Key]"
                                       class="nav-link d-flex align-items-center">
                                        <span class="fa-solid fa-comment prom-fa-space"></span>
                                        <span>@currentUiCulture.Parent.DisplayName</span>
                                    </a>
                                </li>
                                @foreach (var item in topNavigation.Navigations)
                                {

                                    <li class="nav-item prom-nav-top-button ms-sm-2 ms-md-3">
                                        @if (string.IsNullOrEmpty(item.NavigationText.Label) && !string.IsNullOrEmpty(item.Icon) && !string.IsNullOrEmpty(item.NavigationText.Title))
                                        {
                                            <a title="@item.NavigationText.Title"
                                               aria-label="@item.NavigationText.Title"
                                               href="@(string.IsNullOrEmpty(item.NavigationText.Link) ? "#" : item.NavigationText.Link)"
                                               class="nav-link">
                                                <span class="@item.Icon"></span>
                                            </a>
                                        }
                                        else
                                        {
                                            <a href="@(string.IsNullOrEmpty(item.NavigationText.Link) ? "#" : item.NavigationText.Link)"
                                               class="nav-link @(item.NavigationText.Label == null ? null : "d-flex align-items-center")">
                                                @if (!string.IsNullOrEmpty(item.Icon))
                                                {
                                                    <span class="@item.Icon @(item.NavigationText.Label == null ? null : "prom-fa-space")"></span>
                                                }
                                                @if (!string.IsNullOrEmpty(item.NavigationText.Label))
                                                {
                                                    <span>@item.NavigationText.Label</span>
                                                }
                                            </a>
                                        }
                                    </li>
                                }
                            </ul>
                        }
                    }

                </div>
                @if (middleNavigation?.Navigations.Count() > 0)
                {
                    <div class="row">
                        <div class="d-flex prom-nav-middle-parent p-0 px-lg-2">
                            <div class="prom-nav-middle navbar navbar-dark navbar-expand-sm p-0 px-lg-2 d-print-none w-100" aria-label="bottom" role="navigation">
                                <button class="navbar-toggler nav-link dropdown-toggle border-0 p-3 border-bottom border-top border-white w-100 py-3 text-center collapsed"
                                        style="box-shadow: none;"
                                        type="button"
                                        data-bs-toggle="collapse"
                                        data-bs-target="#navbarSupportedContent"
                                        aria-controls="navbarSupportedContent"
                                        aria-expanded="false"
                                        aria-label="Toggle navigation">
                                    <span class="text-white nav-link-text">Menu</span>
                                    <span class="caret"></span>
                                </button>
                                <div class="collapse navbar-collapse px-lg-2" id="navbarSupportedContent">
                                    <ul class="flex-column flex-sm-row align-items-stretch nav nav-pills px-lg-1 col-12 col-lg-10 offset-lg-1">
                                        @foreach (var item in middleNavigation.Navigations)
                                        {
                                            <li role="presentation"
                                                class="nav-item prom-nav-link col-12 col-sm-2 @(item.Navigations.Count() > 0 ? "dropdown" : "")">
                                                @if (item.Navigations.Count() > 0)
                                                {
                                                    <a class="nav-link middle-nav-dropdown col-12 p-3 p-sm-1 @(item.Navigations.Count() > 0 ? "dropdown-toggle" : "")"
                                                       data-bs-toggle="dropdown"
                                                       href="@item.NavigationText.Link"
                                                       role="button"
                                                       aria-haspopup="true"
                                                       aria-expanded="false">
                                                        <span class="nav-link-icon @(item.Icon != null ? item.Icon : null)"></span><span class="nav-link-text">@item.NavigationText.Label</span><span class="caret"></span>
                                                    </a>
                                                    <ul class="dropdown-menu prom-nav-dropdown w-100">
                                                        @foreach (var subItem in item.Navigations)
                                                        {
                                                            <li class="border border-1 border-white border-top-0">
                                                                @if (string.IsNullOrEmpty(subItem.NavigationText.Label) && !string.IsNullOrEmpty(subItem.Icon) && !string.IsNullOrEmpty(subItem.NavigationText.Title))
                                                                {
                                                                    <a href="@subItem.NavigationText.Link"
                                                                       target="@(item.TargetNewWindow ? "_blank" : null)"
                                                                       class="dropdown-item"
                                                                       title="@subItem.NavigationText.Title"
                                                                       aria-label="@subItem.NavigationText.Title">
                                                                        <span class="@subItem.Icon"></span>
                                                                    </a>
                                                                }
                                                                else
                                                                {
                                                                    <a href="@subItem.NavigationText.Link"
                                                                       target="@(item.TargetNewWindow ? "_blank" : null)"
                                                                       class="dropdown-item">
                                                                        @if (!string.IsNullOrEmpty(subItem.Icon))
                                                                        {
                                                                            <span class="@subItem.Icon"></span>
                                                                        }
                                                                        @subItem.NavigationText.Label
                                                                    </a>
                                                                }
                                                            </li>
                                                        }
                                                    </ul>
                                                }
                                                else
                                                {
                                                    <a class="nav-link col-12 p-3 p-sm-1"
                                                       href="@item.NavigationText.Link"
                                                       role="button">
                                                        <span class="nav-link-icon @(item.Icon != null ? item.Icon : null)"></span><span class="nav-link-text">@item.NavigationText.Label</span>
                                                    </a>
                                                }
                                            </li>
                                        }
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                }
                @if (!string.IsNullOrEmpty(catalogSearchLink))
                {
                    <div class="row prom-top-searchbar py-2">
                        <div class="mx-auto d-block prom-catalog-search">
                            <div class="input-group gap-3 home-catalog-search">
                                <div class="d-flex flex-grow-1">
                                    <input type="text"
                                           id="textboxTerm"
                                           onkeypress="return ProcessInput(event)"
                                           class="form-control rounded py-3 py-sm-2"
                                           placeholder="@Localizer[Promenade.SearchTheCatalog]"
                                           title="@Localizer[Promenade.Search]" />
                                </div>
                                <div class="input-group-append d-flex align-items-center justify-content-center">
                                    <button class="btn search-button rounded-circle"
                                            type="button"
                                            onclick="DoKeywordSearch();"
                                            title="@Localizer[Promenade.Search]">
                                        <span class="fas fa-search"></span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </header>
            <div class="row prom-content-container">
                <div class="col-12 d-print-inline-block prom-body-content-container"
                     role="main" id="mainContent">
                    <div class="prom-body-content">
                        @RenderBody()
                    </div>
                </div>
            </div>
        </div>
        <footer class="row d-print-none" role="contentinfo">
            <div class="col-12 col-md-3 prom-footer-contact text-center">
                <div class="row flex-md-column mx-auto w-100">
                    <div class="col-12 col-sm-4 col-md-12 py-2 footer-contact">
                        @if (!string.IsNullOrEmpty(Context.Items[Ocuda.Promenade.Controllers.ItemKey.ContactLink]?.ToString()))
                        {
                            <a href="@Context.Items[Ocuda.Promenade.Controllers.ItemKey.ContactLink]">
                                @Localizer[Promenade.ContactUs]
                            </a>
                        }
                        else
                        {
                            @:&nbsp;
                        }
                    </div>
                    <div class="col-12 col-sm-4 col-md-12 py-2 footer-contact">
                        @if (!string.IsNullOrEmpty(Context.Items[Ocuda.Promenade.Controllers.ItemKey.Telephone]?.ToString()))
                        {
                            <a href="tel:+1-@Context.Items[Ocuda.Promenade.Controllers.ItemKey.Telephone]">
                                @Context.Items[Ocuda.Promenade.Controllers.ItemKey.Telephone]
                            </a>
                        }
                        else
                        {
                            @:&nbsp;
                        }
                    </div>
                    <div class="col-12 col-sm-4 col-md-12 py-2 footer-contact">
                        <ul aria-label="@Localizer[Promenade.ConnectSocialMedia]"
                            class="nav d-inline-flex justify-content-center prom-nav-footer-social">

                            @if (!string.IsNullOrEmpty(Context.Items[Ocuda.Promenade.Controllers.ItemKey.SocialFacebookUrl]?.ToString()))
                            {
                                <li>
                                    <a href="@Context.Items[Ocuda.Promenade.Controllers.ItemKey.SocialFacebookUrl]"
                                       class="prom-leftnav-social-link"
                                       target="_blank"
                                       title="@Localizer[Promenade.ConnectSocialOn, "Facebook"]"
                                       aria-label="@Localizer[Promenade.NewWindow]"><span class="fa-brands fa-facebook"></span></a>
                                    <span>&nbsp;</span>
                                </li>
                            }
                            @if (!string.IsNullOrEmpty(Context.Items[Ocuda.Promenade.Controllers.ItemKey.SocialInstagramUrl]?.ToString()))
                            {
                                <li>
                                    <a href="@Context.Items[Ocuda.Promenade.Controllers.ItemKey.SocialInstagramUrl]"
                                       class="prom-leftnav-social-link"
                                       target="_blank"
                                       title="@Localizer[Promenade.ConnectSocialOn, "Instagram"]"
                                       aria-label="@Localizer[Promenade.NewWindow]"><span class="fa-brands fa-instagram"></span></a>
                                    <span>&nbsp;</span>
                                </li>
                            }
                            @if (!string.IsNullOrEmpty(Context.Items[Ocuda.Promenade.Controllers.ItemKey.SocialTikTokUrl]?.ToString()))
                            {
                                <li>
                                    <a href="@Context.Items[Ocuda.Promenade.Controllers.ItemKey.SocialTikTokUrl]"
                                       class="prom-leftnav-social-link"
                                       target="_blank"
                                       title="@Localizer[Promenade.ConnectSocialOn, "TikTok"]"
                                       aria-label="@Localizer[Promenade.NewWindow]"><span class="fa-brands fa-tiktok"></span></a>
                                    <span>&nbsp;</span>
                                </li>
                            }
                            @if (!string.IsNullOrEmpty(Context.Items[Ocuda.Promenade.Controllers.ItemKey.SocialTwitterUrl]?.ToString()))
                            {
                                <li>
                                    <a href="@Context.Items[Ocuda.Promenade.Controllers.ItemKey.SocialTwitterUrl]"
                                       class="prom-leftnav-social-link"
                                       target="_blank"
                                       title="@Localizer[Promenade.ConnectSocialOn, "Twitter"]"
                                       aria-label="@Localizer[Promenade.NewWindow]"><span class="fa-brands fa-x-twitter"></span></a>
                                    <span>&nbsp;</span>
                                </li>
                            }
                            @if (!string.IsNullOrEmpty(Context.Items[Ocuda.Promenade.Controllers.ItemKey.SocialYoutubeUrl]?.ToString()))
                            {
                                <li>
                                    <a href="@Context.Items[Ocuda.Promenade.Controllers.ItemKey.SocialYoutubeUrl]"
                                       class="prom-leftnav-social-link"
                                       target="_blank"
                                       title="@Localizer[Promenade.ConnectSocialOn, "YouTube"]"
                                       aria-label="@Localizer[Promenade.NewWindow]"><span class="fa-brands fa-youtube"></span></a>
                                </li>
                            }
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-9 d-flex mx-auto justify-content-between align-items-center g-0 py-2" style="max-width: 740px">
                <div class="col-6 col-sm-3 d-flex justify-content-center">
                    @if (!string.IsNullOrEmpty(footerImage))
                    {
                        <div role="banner" aria-label="@Localizer[Promenade.VisitHomePage]">
                            <a asp-action="Index"
                               asp-controller="Home"
                               asp-area=""
                               asp-route-culture="">
                                <img src="@footerImage"
                                     alt="@Context.Items[Ocuda.Promenade.Controllers.ItemKey.FooterImageAlt]"
                                     class="img-fluid mx-auto prom-logo" />
                            </a>
                        </div>
                    }
                </div>
                @if (footerNavigation?.Navigations.Count() > 0)
                {
                    <ul class="col-6 col-sm-9 footer-navigation-list m-0 ps-3 px-sm-4 px-xl-5">
                        @foreach (var item in footerNavigation.Navigations)
                        {
                            <li class="mb-1">
                                @if (string.IsNullOrEmpty(item.NavigationText.Label)
                                                        && !string.IsNullOrEmpty(item.Icon)
                                                        && !string.IsNullOrEmpty(item.NavigationText.Title))
                                {
                                    <a href="@item.NavigationText.Link"
                                       title="@item.NavigationText.Title"
                                       aria-label="@item.NavigationText.Title">
                                        <span class="@item.Icon"></span>
                                    </a>
                                }
                                else
                                {
                                    <a href="@item.NavigationText.Link">
                                        @if (!string.IsNullOrEmpty(item.Icon))
                                        {
                                            <span class="@item.Icon @(item.NavigationText.Label == null ? null : "prom-fa-space")"></span>
                                        }
                                        <span class="prom-footer-link-text">@item.NavigationText.Label</span>
                                    </a>
                                }
                            </li>
                        }
                    </ul>
                }
            </div>
        </footer>
    </div>
    <script src="~/js/scripts.min.js" asp-append-version="true"></script>
    <script src="~/js/bootstrap.min.js" asp-append-version="true"></script>
    @if (Context.Items.ContainsKey(ItemKey.ExternalJS))
    {
        foreach (var jsUrl in (List<string>)Context.Items[ItemKey.ExternalJS])
        {
            <script src="@jsUrl"></script>
        }
    }
    @RenderSection("Scripts", required: false)
    @if (!string.IsNullOrEmpty(catalogSearchLink))
    {
        <script language="javascript">
            String.prototype.trim = function () {
                return this.replace(/^\s*|\s*$/g, "");
            };
            function ProcessInput(e) {
                if (window.event)
                    // IE
                    keyNum = e.keyCode;
                else if (e.which)
                    // Netscape/Firefox/Opera
                    keyNum = e.which;
                if (keyNum == 13) {
                    e.returnValue = false;
                    e.cancelBubble = true;
                    DoKeywordSearch();
                    return false;
                }
                return true;
            }
            function DoKeywordSearch() {
                if (document.getElementById("textboxTerm").value.trim() != "")
                    window.location =
                        "@catalogSearchLink" +
                        escape(document.getElementById("textboxTerm").value);
                else document.getElementById("textboxTerm").focus();
            }

            document.querySelectorAll('.middle-nav-dropdown').forEach(nav => {
                nav.addEventListener('click', e => e.preventDefault());
            });

            document.getElementById("textboxTerm").focus();
        </script>
    }
</body>
</html>