@model Ocuda.Promenade.Controllers.ViewModels.Shared.PageLayoutViewModel

@section metadata {
    <link rel="canonical" href="@Model.CanonicalUrl" />
    <socialcard card="@Model.PageLayout.SocialCard"></socialcard>
}

@if (Model.HasCarousels)
{
    <div class="modal prom-modal-details"
         id="prom-carousel-modal-details"
         tabindex="-1"
         role="dialog">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">
                        <span class="modal-content-title"></span>
                    </h5>
                    <button type="button"
                            class="btn-close"
                            data-bs-dismiss="modal"
                            aria-label="Close">
                    </button>
                </div>
                <div class="modal-body">
                    <img class="modal-content-image mx-auto d-block mb-4" />
                    <p class="modal-content-description mx-4 mb-1"></p>
                </div>
                <div class="modal-footer" style="justify-content: center;">
                    <span class="modal-content-footer"></span>
                </div>
            </div>
        </div>
    </div>
}

@if (Model.PageLayout.IsPreview)
{
    <div class="row">
        <div class="col-12 col-md-6 offset-md-3">
            <div class="alert alert-info prom-alert">
                <p>
                    You are viewing a preview of how this page will
                    @(Model.PageLayout.StartDate == null
                        ? "appear."
                        : $"appear as of {Model.PageLayout.StartDate}.")
                </p>
            </div>
        </div>
    </div>
}

@if (!string.IsNullOrWhiteSpace(Model.PageLayout.PageLayoutText?.Title))
{
    <h1 class="@Model.PageHeaderClasses">@Model.PageLayout.PageLayoutText.Title</h1>
}

@foreach (var item in Model.PageLayout.Items)
{
    if (item.NavBannerId.HasValue)
    {
        <div class="row">
            <div class="col-12">
                <div class="row">
                    <div class="col-12">
                        <div class="mb-4">
                            <div class="row g-0">
                                <div class="col-12 col-lg-7">
                                    <img class="img-fluid" 
                                         src="@item.NavBanner.NavBannerImage.ImagePath" 
                                         alt="@item.NavBanner.NavBannerImage.ImageAltText" />
                                </div>
                                <div class="col-12 col-lg-5 p-2 gap-2 fs-5 text-bold" style="background:lightgray; box-sizing: border-box">
                                    <div class="banner-link-grid-container gap-2 h-100">
                                        @foreach (var link in item.NavBanner.NavBannerLinks)
                                        {
                                            <a class="banner-link-href h-100" href="@link.Link">
                                                <div class="d-flex align-items-center justify-content-center py-4 py-lg-1 gap-2 h-100" style="background:white">
                                                    <span class="@link.Icon mb-1 banner-link-icon"></span>
                                                    <span class="text-bold banner-link-text">@link.Text.Text</span>
                                                </div>
                                            </a>
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }

    if (item.BannerFeatureId.HasValue)
    {
        <div class="row">
            <div class="col-12">
                @foreach (var bannerItem in item.BannerFeature.Items)
                {
                    if ((bannerItem?.ImageFeatureItemText?.Link ?? "#") != "#")
                    {
                        <a href="@bannerItem.ImageFeatureItemText.Link">
                            <img src="@bannerItem.ImageFeatureItemText.Filepath"
                                 alt="@bannerItem.ImageFeatureItemText.AltText"
                                 class="img-fluid mt-2 mb-3 d-block mx-auto">
                        </a>
                    }
                    else
                    {
                        <img src="@bannerItem.ImageFeatureItemText.Filepath"
                             class="img-fluid mt-2 mb-3 d-block mx-auto"
                             alt="@bannerItem.ImageFeatureItemText.AltText" />
                    }
                    break; // only one banner
                }
            </div>
        </div>
    }
    else if (item.DeckId.HasValue && item.CardDetails?.Count() > 0)
    {
        <div class="row">
            @foreach (var card in item.CardDetails)
            {
                <div class="col-12 col-sm-6 col-md-4 mb-3">
                    <div class="card h-100">
                        @if (!string.IsNullOrEmpty(card.Filename))
                        {
                            @if (!string.IsNullOrEmpty(card.Link))
                            {
                                <a href="@card.Link">
                                    <img class="card-img-top"
                                         alt="@card.AltText"
                                         src="@card.ImagePath" />
                                </a>
                            }
                            else
                            {
                                <img class="card-img-top"
                                     alt="@card.AltText"
                                     src="@card.ImagePath" />
                            }
                        }
                        <div class="card-body">
                            @if (!string.IsNullOrEmpty(card.Header))
                            {
                                if (!string.IsNullOrEmpty(card.Link))
                                {
                                    <div class="card-title h5"><a href="@card.Link">@card.Header</a></div>
                                }
                                else
                                {
                                    <div class="card-title h5">@card.Header</div>
                                }
                            }
                            <p class="card-text">@Html.Raw(card.Text)</p>
                        </div>
                        @if (!string.IsNullOrEmpty(card.Footer))
                        {
                            <div class="card-footer prom-card-footer">
                                @Html.Raw(card.Footer)
                            </div>
                        }
                    </div>
                </div>
            }
        </div>
    }
    else if (item.CarouselId.HasValue)
    {
        <div class="row mb-4" aria-hidden="true">
            <div class="col-12">
                <div class="card">
                    @if (!string.IsNullOrEmpty(item.Carousel.CarouselText?.Title))
                    {
                        <div class="card-header h3">@item.Carousel.CarouselText.Title</div>
                    }
                    <div class="card-body">
                        <div class="prom-carousel">
                            @foreach (var carouselItem in item.Carousel.Items)
                            {
                                <div>
                                    <a href="@Url.Action(nameof(HomeController.CarouselItem), new { stub = Model.Stub, id = carouselItem.Id })"
                                       class="prom-carousel-modal"
                                       data-title="@carouselItem.CarouselItemText.Title"
                                       data-img="@carouselItem.CarouselItemText.ImageUrl"
                                       data-description="@carouselItem.CarouselItemText.Description"
                                    @foreach (var button in carouselItem.Buttons)
                                    {
                                        <text>data-button-@button.Order='{"Sort":"@button.Order","Button":"@button.LabelText.Text","Link":"@button.Url"}' </text>
                                    }>
                                                    <img src="@carouselItem.CarouselItemText.ImageUrl" /><p>@carouselItem.CarouselItemText.Label</p>
                                                </a>
                                </div>
                            }
                        </div>
                    </div>
                    @if (!string.IsNullOrEmpty(item.Carousel.CarouselText?.Footer))
                    {
                        <div class="card-footer prom-card-footer">
                            @Html.Raw(item.Carousel.CarouselText.Footer)
                        </div>
                    }
                </div>
            </div>
        </div>
        <div class="visually-hidden">
            @if (!string.IsNullOrEmpty(item.Carousel.CarouselText?.Title))
            {
                <h2>@item.Carousel.CarouselText.Title</h2>
            }
            <ul>
                @foreach (var carouselItem in item.Carousel.Items)
                {
                    <li>
                        <a href="@Url.Action(nameof(HomeController.CarouselItem), new { stub = Model.Stub, id = carouselItem.Id })">
                            @carouselItem.CarouselItemText.Title
                        </a>
                    </li>
                }
            </ul>
        </div>
    }
    else if (item.PageFeatureId.HasValue)
    {
        <div class="row mb-3">
            <div class="col-12 mb-2">
                <div style="max-width: 740px; background-color: lightgray" class="mx-auto d-block p-2">
                    <div class="row g-2">
                        @{
                            int count = 0;
                        }
                        @foreach (var featureItem in item.PageFeature.Items)
                        {
                            <div class="col-xs-12 col-sm-6 col-md-3">
                                @if (!string.IsNullOrEmpty(featureItem.ImageFeatureItemText.FileContent))
                                {
                                    <a href="@featureItem.ImageFeatureItemText.Link" class="d-block prom-tile">
                                        <svg viewBox="0 0 200 200" class="d-block mx-auto">
                                            @Html.Raw(featureItem.ImageFeatureItemText.FileContent)
                                        </svg>
                                        <p class="px-2 mb-0">@featureItem.ImageFeatureItemText.AltText</p>
                                    </a>
                                }
                                else
                                {
                                    <a href="@featureItem.ImageFeatureItemText.Link">
                                        <img src="@featureItem.ImageFeatureItemText.Filepath"
                                             alt="@featureItem.ImageFeatureItemText.AltText"
                                             class="img-fluid mx-auto d-block"
                                             style="width: 182px;" />
                                    </a>
                                }
                            </div>
                            count++;
                            if (count >= Model.PageFeatureTemplate?.ItemsToDisplay)
                            {
                                break;
                            }
                        }
                    </div>
                </div>
            </div>
        </div>
    }
    else if (item.SegmentId.HasValue && item.SegmentText != null)
    {
        <div class="row">
            <div class="col-12">
                @if (!string.IsNullOrWhiteSpace(item.SegmentText.Header))
                {
                    <h2>@item.SegmentText.Header</h2>
                }
                @Html.Raw(item.SegmentText.Text)
            </div>
        </div>
    }
    else if (item.WebslideId.HasValue)
    {
        <div class="row">
            <div class="col-12">
                <div id="carouselControls"
                     class="carousel slide mx-auto d-block mb-4 col-lg-10 offset-lg-1"
                     data-bs-ride="carousel"
                     aria-hidden="true">
                    <div class="carousel-inner">
                        @foreach (var webslideItem in item.Webslide.Items)
                        {
                            <div class="carousel-item @(webslideItem == item.Webslide.Items.First() ? "active" : null)">
                                <a href="@webslideItem.ImageFeatureItemText.Link">
                                    <img class="d-block w-100"
                                         src="@webslideItem.ImageFeatureItemText.Filepath"
                                         alt="@webslideItem.ImageFeatureItemText.AltText" />
                                </a>
                            </div>
                        }
                    </div>
                    <button class="carousel-control-prev"
                            type="button"
                            data-bs-target="#carouselControls"
                            data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next"
                            type="button"
                            data-bs-target="#carouselControls"
                            data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>
        </div>
        <ul class="visually-hidden">
            @foreach (var webslideItem in item.Webslide.Items)
            {
                <li>
                    <a href="@webslideItem.ImageFeatureItemText.Link">
                        @webslideItem.ImageFeatureItemText.AltText
                    </a>
                </li>
            }
        </ul>
    }
}