@model Ocuda.Ops.Controllers.Areas.SiteManagement.ViewModels.ImageFeatures.DetailViewModel

<div class="d-flex justify-content-between mb-2">
    <h1>
        Image Feature
        <small class="text-muted">@Model.ImageFeature.Name</small>
    </h1>
    <div class="pt-2">
        <button class="btn btn-outline-success"
                data-bs-toggle="modal"
                data-target="#addItemModal">
            <span class="fas fa-plus-circle" aria-hidden="true"></span>
            Add Item
        </button>
        <a asp-controller="@PagesController.Name"
           asp-action="@nameof(PagesController.LayoutDetail)"
           asp-route-id="@Model.PageLayoutId"
           class="btn btn-outline-dark">Back</a>
    </div>
</div>

<form id="addItemForm" role="form">
    <input id="addItemLanguage" asp-for="LanguageId" type="hidden" />
    <input id="addItemFeatureId"
           asp-for="ImageFeatureItem.ImageFeatureId"
           value="@Model.ImageFeatureId"
           type="hidden" />
    <div modal
         data-backdrop="static"
         data-keyboard="false"
         id="addItemModal"
         isLarge="true"
         name="Item"
         type="Ocuda.Utility.TagHelpers.ModalTypes.Add">
        <input id="addItemName" asp-for="ImageFeatureItem.Name" formgroup />
        <div class="mb-3 row">
            <label asp-for="ImageFeatureItem.StartDate"
                   class="col-form-label col-12 col-md-3 text-md-end"></label>
            <div class="mb-3-inner col-12 col-md-5">
                <input asp-for="ImageFeatureStartDate"
                       class="form-control"
                       type="date" />
            </div>
            <div class="mb-3-inner col-12 col-md-4">
                <input asp-for="ImageFeatureStartTime"
                       class="form-control"
                       step="60"
                       type="time" />
            </div>
        </div>
        <div class="mb-3 row">
            <label asp-for="ImageFeatureItem.EndDate"
                   class="col-form-label col-12 col-md-3 text-md-end"></label>
            <div class="mb-3-inner col-12 col-md-5">
                <input asp-for="ImageFeatureEndDate"
                       class="form-control"
                       type="date" />
            </div>
            <div class="mb-3-inner col-12 col-md-4">
                <input asp-for="ImageFeatureEndTime"
                       class="form-control"
                       step="60"
                       type="time" />
            </div>
        </div>
    </div>
</form>

<form id="editItemForm" role="form">
    <input id="editFeatureItem" asp-for="ImageFeatureItem.Id" type="hidden" />
    <input id="editFeatureLanguage" asp-for="LanguageId" type="hidden" />

    <div modal
         data-backdrop="static"
         data-keyboard="false"
         id="editItemModal"
         isLarge="true"
         name="Segment"
         type="Ocuda.Utility.TagHelpers.ModalTypes.Edit">
        <input id="editItemName" asp-for="ImageFeatureItem.Name" formgroup />
        <div class="mb-3 row">
            <label asp-for="ImageFeatureItem.StartDate"
                   class="col-form-label col-12 col-md-3 text-md-end"></label>
            <div class="mb-3-inner col-12 col-md-5">
                <input asp-for="ImageFeatureStartDate"
                       class="form-control"
                       id="editItemStartDate"
                       type="date" />
            </div>
            <div class="mb-3-inner col-12 col-md-4">
                <input asp-for="ImageFeatureStartTime"
                       class="form-control"
                       id="editItemStartTime"
                       step="60"
                       type="time" />
            </div>
        </div>
        <div class="mb-3 row">
            <label asp-for="ImageFeatureItem.EndDate"
                   class="col-form-label col-12 col-md-3 text-md-end"></label>
            <div class="mb-3-inner col-12 col-md-5">
                <input asp-for="ImageFeatureEndDate"
                       class="form-control"
                       id="editItemEndDate"
                       type="date" />
            </div>
            <div class="mb-3-inner col-12 col-md-4">
                <input asp-for="ImageFeatureEndTime"
                       class="form-control"
                       id="editItemEndTime"
                       step="60"
                       type="time" />
            </div>
        </div>
    </div>
</form>

<form asp-action="@(nameof(ImageFeaturesController.DeleteImageFeatureItem))" method="post" role="form">
    <input id="deleteItemFeature" asp-for="ImageFeatureId" type="hidden" />
    <input id="deleteItemLanguage" asp-for="LanguageId" type="hidden" />
    <input id="deleteItemId" asp-for="ImageFeatureItem.Id" type="hidden" />
    <input id="deleteItemName" asp-for="ImageFeatureItem.Name" type="hidden" />
    <div modal
         data-backdrop="static"
         data-keyboard="false"
         id="deleteItemModal"
         name="Item"
         type="Ocuda.Utility.TagHelpers.ModalTypes.Delete"></div>
</form>

<div class="row pt-1">
    <div class="col-12">
        <select asp-for="SelectLanguage" asp-items="Model.LanguageList" formgroup></select>
    </div>
</div>

@if (Model.ImageFeatureTemplate != null)
{
    <div class="row mb-2">
        <div class="col-12">
            <div class="accordion" id="accordionTemplate">
                <div class="card">
                    <div class="card-header bg-info text-white">
                        <div class="card-title h5 mb-0"
                         data-bs-toggle="collapse"
                         data-target="#accordionTemplateContent"
                         aria-expanded="false"
                         aria-controls="accordionTemplateContent">
                            Template: @Model.ImageTemplateDescription
                        </div>
                    </div>
                    <div id="accordionTemplateContent" class="collapse" data-parent="#accordionTemplate">
                        <div class="card-body">
                            <form asp-action="@nameof(ImageFeaturesController.UpdateTemplate)">
                                <input type="hidden" asp-for="PageLayoutId">
                                <input type="hidden" asp-for="ImageFeatureId">
                                <input type="hidden" asp-for="ImageFeatureTemplate.Id">
                                <input type="hidden"
                                   asp-for="ImageFeatureTemplate.Name"
                                   value="@Model.ImageFeature.Name">
                                <div class="row">
                                    <div class="col-12">
                                        <input disabled="@Model.EditTemplateDisabled"
                                           asp-for="ImageFeatureTemplate.MaximumFileSizeBytes" formgroup>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-12">
                                        <input disabled="@Model.EditTemplateDisabled"
                                           asp-for="ImageFeatureTemplate.Width" formgroup>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-12">
                                        <input disabled="@Model.EditTemplateDisabled"
                                           asp-for="ImageFeatureTemplate.Height" formgroup>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-12">
                                        <input disabled="@Model.EditTemplateDisabled"
                                           asp-for="ImageFeatureTemplate.ItemsToDisplay" formgroup>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-5 offset-md-3">
                                        <input type="submit" class="btn btn-outline-success" value="Update Template">
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

<div class="row mt-4">
    <div class="col-12">
        @if (Model.ImageFeature.Items?.Count == 0)
        {
            <div class="alert alert-dark">
                <em>This feature has no items.</em>
            </div>
        }
        else
        {
            foreach (var item in Model.ImageFeature.Items)
            {
                <div class="accordion mt-2" id="accordion@(item.Id)">
                    <div class="card">
                        <div class="card-header d-flex" id="heading@(item.Id)">
                            <div class="card-title h5 mb-0 flex-grow-1"
                         data-bs-toggle="collapse"
                         data-target="#collapse@(item.Id)"
                         aria-controls="collapse@(item.Id)"
                         aria-expanded="@(Model.FocusItemId == item.Id ? "true" : "false")">
                                <span id="disclosure@(item.Id)"
                              class="fas fa-caret-right me-1"></span>
                                @item.Name &ndash;
                                @if (!(item.StartDate > Model.CurrentDateTime) && !(item.EndDate < Model.CurrentDateTime))
                                {
                                    <span style="color:green;">Active</span>
                                }
                                else
                                {
                                    <span style="color:red;">Inactive</span>
                                }
                            </div>
                            <div>
                                <button class="btn btn-sm btn-outline-primary changeSort decreaseSortButton"
                                data-id="@item.Id"
                                data-increase="false"
                                disabled="@(item.Id == Model.ImageFeature.Items.First().Id ? "disabled" : null)">
                                    <span class="fas fa-arrow-up"></span>
                                </button>
                                <button class="btn btn-sm btn-outline-primary changeSort increaseSortButton"
                                data-id="@item.Id"
                                data-increase="true"
                                disabled="@(item.Id == Model.ImageFeature.Items.Last().Id ? "disabled" : null)">
                                    <span class="fas fa-arrow-down"></span>
                                </button>
                                <button type="button"
                                class="btn btn-sm btn-outline-primary"
                                data-bs-toggle="modal"
                                data-target="#editItemModal"
                                data-id="@item.Id"
                                data-name="@item.Name"
                                data-startdate="@item.StartDate?.ToString("yyyy-MM-dd")"
                                data-starttime="@item.StartDate?.ToString("HH:mm")"
                                data-enddate="@item.EndDate?.ToString("yyyy-MM-dd")"
                                data-endtime="@item.EndDate?.ToString("HH:mm")"
                                title="Edit item details">
                                    <span class="fas fa-cog" aria-hidden="true"></span>
                                </button>
                                <button class="btn btn-sm btn-outline-danger"
                                data-bs-toggle="modal"
                                data-target="#deleteItemModal"
                                data-id="@item.Id"
                                data-name="@item.Name">
                                    <span class="fas fa-minus-circle"></span>
                                </button>
                            </div>
                        </div>
                        <div id="collapse@(item.Id)"
                     class="collapse @(Model.FocusItemId == item.Id ? "show" : null)"
                     data-parent="#accordion@(item.Id)"
                     aria-labelledby="heading@(item.Id)">
                            <div class="card-body">
                                @if (Model.FocusItemId == item.Id && !string.IsNullOrWhiteSpace(Model.ItemErrorMessage))
                                {
                                    <div class="row">
                                        <div class="col-12 col-md-6 offset-md-3">
                                            <div class="alert alert-danger">@Model.ItemErrorMessage</div>
                                        </div>
                                    </div>
                                }
                                <form asp-controller="@ImageFeaturesController.Name"
                              asp-action="@nameof(ImageFeaturesController.EditImageFeatureItemText)"
                              enctype="multipart/form-data">
                                    <input id="featureItem@(item.Id)Feature"
                                   asp-for="ImageFeatureId"
                                   type="hidden" />
                                    <input id="featureItem@(item.Id)Id"
                                   asp-for="ImageFeatureItemText.ImageFeatureItemId"
                                   value="@item.Id"
                                   type="hidden" />
                                    <input id="featureItem@(item.Id)Language"
                                   asp-for="ImageFeatureItemText.LanguageId"
                                   value="@(item.ImageFeatureItemText?.LanguageId ?? Model.LanguageId)"
                                   type="hidden" />
                                    <div class="row mb-3">
                                        <label class="col-form-label text-md-end col-md-3" asp-for="ItemImage">
                                            Image
                                            <span class="fas fa-asterisk fa-xs d-inline-block ms-2 text-danger oc-required-field-marker"></span>
                                        </label>
                                        <div class="col-md-9">
                                            <div class="input-group">
                                                <div class="input-group-prepend">
                                                    <label class="btn btn-outline-secondary btn-file form-control">
                                                        <span class="far fa-file"></span> Select a File
                                                        <input type="file"
                                                       asp-for="ItemImage"
                                                       accept="@Model.AcceptImageExtensions"
                                                       hidden />
                                                    </label>
                                                </div>
                                                <div class="custom-file">
                                                    <input type="text" class="form-control" value="@item.ImageFeatureItemText?.Filename" readonly id="selectedFile" />
                                                </div>
                                            </div>
                                            <span asp-validation-for="ItemImage" class="validation-message text-danger"></span>
                                        </div>
                                    </div>
                                    <input id="featureItem@(item.Id)Link"
                                   asp-for="ImageFeatureItemText.Link"
                                   value="@item.ImageFeatureItemText?.Link"
                                   formgroup />
                                    <input id="featureItem@(item.Id)AltText"
                                   asp-for="ImageFeatureItemText.AltText"
                                   value="@item.ImageFeatureItemText?.AltText"
                                   formgroup />
                                    <div class="row">
                                        <div class="offset-md-3 col-md-9">
                                            <button type="submit"
                                            class="btn btn-outline-success"
                                            button-spinner>
                                                <span class="far fa-save"></span>
                                                Save
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            }
        }
    </div>
</div>

@section scripts {
    <script>
        @if (Model.FocusItemId.HasValue)
        {
            <text>
                $(function () {
                    var focusAccordion = $("#accordion@(Model.FocusItemId.Value)");
                    if (focusAccordion.length > 0) {
                        $("#accordion@(Model.FocusItemId.Value)")[0].scrollIntoView();
                    }
                });
            </text>
        }

            $("#SelectLanguage").on("change", function () {
                window.location.href = "@Url.Action(nameof(ImageFeaturesController.Detail), new { id = Model.ImageFeatureId})" + "?language=" + $(this).val();
            });

        $("#addItemForm").submit(function (e) {
            e.preventDefault();
            var form = $(this);
            $.post("@(Url.Action(nameof(ImageFeaturesController.AddImageFeatureItem), ImageFeaturesController.Name))",
                form.serialize(),
                function (response) {
                    if (response.success == true) {
                        location.href = response.url;
                    }
                    else {
                        alert(response.message);
                        ResetSpinners(form.find(".btn-spinner"));
                    }
                });
        });

        $("#editItemModal").on("show.bs.modal", function (e) {
            var button = $(e.relatedTarget);

            $("#editFeatureItem").val(button.data("id"));
            $("#editItemName").val(button.data("name"));
            $("#editItemStartDate").val(button.data("startdate"));
            $("#editItemStartTime").val(button.data("starttime"));
            $("#editItemEndDate").val(button.data("enddate"));
            $("#editItemEndTime").val(button.data("endtime"));
        });

        $("#editItemForm").submit(function (e) {
            e.preventDefault();
            var form = $(this);
            $.post("@(Url.Action(nameof(ImageFeaturesController.EditImageFeatureItem), ImageFeaturesController.Name))",
                form.serialize(),
                function (response) {
                    if (response.success == true) {
                        location.href = response.url;
                    }
                    else {
                        alert(response.message);
                        ResetSpinners(form.find(".btn-spinner"));
                    }
                });
        });

        $("#deleteItemModal").on("show.bs.modal", function (e) {
            var button = $(e.relatedTarget);
            var id = button.data("id");
            var name = button.data("name");
            var modal = $(this);
            $("#deleteItemId").val(id);
            $("#deleteItemName").val(name);
            modal.find(".modal-text").text("Are you sure you want to delete \"" + name + "\"?");
        });

        $(".changeSort").on("click", function () {
            var button = $(this);
            var id = button.data("id");
            var increase = button.data("increase");
            var icon = button.children("span");
            if (icon.hasClass("fa-spinner") == false) {
                icon.removeClass("fa-arrow-up fa-arrow-down").addClass("fa-spinner fa-pulse");
                $.post("@Url.Action(nameof(ImageFeaturesController.ChangeSort))",
                    { id, increase },
                    function (response) {
                        icon.removeClass("fa-spinner fa-pulse");
                        if (increase) {
                            icon.addClass("fa-arrow-down");
                        }
                        else {
                            icon.addClass("fa-arrow-up");
                        }
                        if (response.success) {
                            var row = button.parents(".accordion");

                            if (increase) {
                                var nextRow = row.next();
                                row.insertAfter(nextRow);
                                row.find(".decreaseSortButton").removeAttr("disabled");
                                if (row.next().length == 0) {
                                    row.find(".increaseSortButton").attr("disabled", "disabled");
                                }
                                nextRow.find(".increaseSortButton").removeAttr("disabled");
                                if (nextRow.prev().length == 0) {
                                    nextRow.find(".decreaseSortButton").attr("disabled", "disabled");
                                }
                            }
                            else {

                                var prevRow = row.prev();
                                row.insertBefore(prevRow);
                                row.find(".increaseSortButton").removeAttr("disabled");
                                if (row.prev().length == 0) {
                                    row.find(".decreaseSortButton").attr("disabled", "disabled");
                                }
                                prevRow.find(".decreaseSortButton").removeAttr("disabled");
                                if (prevRow.next().length == 0) {
                                    prevRow.find(".increaseSortButton").attr("disabled", "disabled");
                                }
                            }
                        }
                        else {
                            alert(response.message);
                        }
                    });
            }
        });

        @foreach (var item in Model.ImageFeature.Items)
        {
            <text>
                $('#collapse@(item.Id)').on('show.bs.collapse', function () {
                    $('#disclosure@(item.Id)').addClass('rotate90');
                });
            $('#collapse@(item.Id)').on('hide.bs.collapse', function () {
                $('#disclosure@(item.Id)').removeClass('rotate90');
            });
            </text>
            @if (Model.FocusItemId == item.Id)
            {
                @:$('#disclosure@(item.Id)').addClass('rotate90');
            }
        }
    </script>
}
