@using Ocuda.Ops.Controllers.Areas.ContentManagement

<div class="justify-content-center d-flex align-items-center flex-wrap">
    <div class="col-xs-12 col-sm-4 space-above">
        <div class="card">
            <div class="card-header">
                <h3>@ExternalResourcesController.Name</h3>
            </div>
            <div class="card-body mx-auto">
                <a asp-area="@ExternalResourcesController.Area"
                   asp-controller="@ExternalResourcesController.Name"
                   asp-action="@nameof(ExternalResourcesController.Index)"
                   class="btn btn-info">View @ExternalResourcesController.Name</a>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-sm-4 space-above">
        <div class="card">
            <div class="card-header">
                <h3>@RosterController.Name</h3>
            </div>
            <div class="card-body mx-auto">
                <a asp-area="@RosterController.Area"
                   asp-controller="@RosterController.Name"
                   asp-action="@nameof(RosterController.Upload)"
                   class="btn btn-info">View @RosterController.Name</a>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-sm-4 space-above">
        <div class="card">
            <div class="card-header">
                <h3>@SectionController.Name</h3>
            </div>
            <div class="card-body mx-auto">
                <a asp-area="@SectionController.Area"
                   asp-controller="@SectionController.Name"
                   asp-action="@nameof(SectionController.Index)"
                   class="btn btn-info">View @SectionController.Name</a>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-sm-4 space-above">
        <div class="card">
            <div class="card-header">
                <h3>@SiteSettingsController.Name</h3>
            </div>
            <div class="card-body mx-auto">
                <a asp-area="@SiteSettingsController.Area"
                   asp-controller="@SiteSettingsController.Name"
                   asp-action="@nameof(SiteSettingsController.Index)"
                   class="btn btn-info">View @SiteSettingsController.Name</a>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-sm-4 space-above">
        <div class="card">
            <div class="card-header">
                <h3>@UsersController.Name</h3>
            </div>
            <div class="card-body mx-auto">
                <a asp-area="@UsersController.Area"
                   asp-controller="@UsersController.Name"
                   asp-action="@nameof(UsersController.Metadata)"
                   class="btn btn-info">View @UsersController.Name</a>
            </div>
        </div>
    </div>
</div>