@model Ocuda.Ops.Controllers.Areas.Admin.ViewModels.Files.DetailViewModel

<form asp-action="@Model.Action" method="post" role="form" enctype="multipart/form-data">
    <input asp-for="@Model.AcceptedFileExtensions" type="hidden" />
    <input asp-for="@Model.Category" type="hidden" />
    <input asp-for="@Model.Category.Id" type="hidden" />
    <input asp-for="@Model.MaxThumbnailCount" type="hidden" />
    <input asp-for="@Model.SectionId" type="hidden" />
    <input asp-for="@Model.ThumbnailRequired" type="hidden" />

    @if (Model.Action == nameof(FilesController.Edit))
    {
        <input asp-for="File.Id" type="hidden" />
    }

    <input asp-for="@Model.Category.Name" formgroup readonly="readonly" />

    <div class="form-group row">
        <label asp-for="File" class="col-md-3 col-form-label text-md-right pb-0">Upload a File</label>
        <div class="col-md-9">
            <div class="input-group">
                <div class="input-group-prepend">
                    <label class="btn btn-outline-secondary form-control mb-0">
                        <span class="fa fa-file-medical"></span> Select a File
                        <input type="file" asp-for="FileData" id="fileUpload" 
                               accept="@Model.AcceptedFileExtensions" hidden/>
                    </label>
                </div>
                <div class="custom-file">
                    <input type="text" class="form-control" readonly id="selectedFile" />
                </div>
            </div>
            <div>
                <span asp-validation-for="File" class="text-danger"></span>
            </div>
        </div>
    </div>

    <input asp-for="File.Name" formgroup />
    <input asp-for="File.Description" formgroup />

    @if (Model.Action == nameof(FilesController.Edit))
    {
        <div class="form-group row">
            <label class="col-md-3 col-form-label text-md-right">Current File</label>
            <div class="col-md-9">
                <a class="btn btn-info form-vertical-alignment" target="_blank"
                   asp-action="ViewPrivateFile" asp-route-id="@Model.File.Id">View File</a>
            </div>
        </div>
    }

    <select class="w-auto" asp-for="File.IsFeatured" formgroup>
        <option value="false">No</option>
        <option value="true">Yes</option>
    </select>

    <div class="form-group row d-none" id="thumbnailInputRow">
        <label class="col-md-3 col-form-label text-md-right">Thumbnails</label>
        <div class="col-md-9">
            <div id="thumbnailInputList">
                @if (Model?.File?.Thumbnails != null)
                {
                    <div class="card-deck mb-2">
                        @foreach(var thumbnail in Model.File.Thumbnails)
                        {
                            <div class="thumbnail-input">
                                <div class="card">
                                    <div class="card-body">
                                        <div class="d-flex h-100 justify-content-center align-items-center">
                                            <img src="@thumbnail.Url" />
                                            <input name ="ThumbnailIds" value="@thumbnail.Id" type="hidden" />
                                        </div>
                                    </div>
                                    <div class="card-footer p-0">
                                        <label class="m-0 w-100 btn btn-outline-danger btn-thumbnail-remove disabled">
                                            <span class="fa fa-minus-circle"></span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                }
                @* Thumbnail Inputs are inserted here *@
            </div>
            <label id="addThumbnail" class=" btn btn-thumbnail-add btn-info form-control w-auto">
                <span class="fa fa-plus-circle"></span> Additional Thumbnail
            </label>
            <div class="container row">
                <span asp-validation-for="ThumbnailFiles" class="text-danger"></span>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="offset-md-3 col-md-9">
            <a class="btn btn-outline-secondary text-dark" asp-action="@(nameof(FilesController.Index))">Cancel</a>
            <button type="submit" class="btn btn-success btn-spinner" aria-label="Confirm">
                <span class="fa fa-save" aria-hidden="true"></span>
                Save
                <span class="fa fa-spinner fa-pulse fa-fw d-none"></span>
            </button>
        </div>
    </div>
</form>


@* Thumbnail Input Template *@
<div id="thumbnailInput" class="d-none" hidden>
    <div class="thumbnail-input">
        <div class="input-group">
            <div class="input-group-prepend">
                <label class="btn btn-outline-secondary form-control">
                    <span class="fa fa-file-medical"></span>
                    <input class="btn-thumbnail" name="ThumbnailFiles" type="file" hidden />
                </label>
            </div>
            <div class="custom-file">
                <input type="text" class="form-control" readonly />
            </div>
            <div class="input-group-append">
                <label class="btn btn-outline-secondary btn-thumbnail-remove disabled">
                    <span class="fa fa-minus-circle"></span>
                </label>
            </div>
        </div>
    </div>
</div>

@section scripts {
    <script>
        var maxThumbnailCount = @(Model.MaxThumbnailCount);
        thumbnailRequired = $("#ThumbnailRequired").val();

        //Toggle Thumbnail Input Row
        $(document).ready(function () {
            toggleThumbnailInputRow();
            checkThumbnailButtons();
        });

        function toggleThumbnailInputRow() {
            if (thumbnailRequired == "True") {
                var thumbnailCount = $("#thumbnailInputList").find(".thumbnail-input").length;
                if (thumbnailCount < 1) {
                    addThumbnailInput();
                }
                $("#thumbnailInputRow").removeClass("d-none");
            }
            else {
                $("#thumbnailInputRow").addClass("d-none");
            }
        }

        //Add Thumbnail Input
        $(document).on("click", ".btn-thumbnail-add", function () {
            addThumbnailInput();
        });

        function addThumbnailInput() {
            var input = $("#thumbnailInput").find(".thumbnail-input");
            $(input).clone().appendTo("#thumbnailInputList");
            checkThumbnailButtons();
        }

        //Remove Thumbnail Input
        $(document).on("click", ".btn-thumbnail-remove", function (e) {
            var isDisabled = $(e.currentTarget).hasClass("disabled");
            if (isDisabled != true) {
                removeThumbnailInput(e);
            }
        });

        function removeThumbnailInput(e) {
            var thumbnailInput = $(e.target).parents(".thumbnail-input");
            thumbnailInput.remove();
            checkThumbnailButtons();
        }

        //Check Thumbnail Buttons
        function checkThumbnailButtons() {
            var thumbnailCount = $("#thumbnailInputList").find(".thumbnail-input").length;

            if (thumbnailCount <= 1) {
                $(".btn-thumbnail-remove").addClass("btn-outline-secondary disabled");
                $(".btn-thumbnail-remove").removeClass("btn-outline-danger");
            }
            else {
                $(".btn-thumbnail-remove").addClass("btn-outline-danger");
                $(".btn-thumbnail-remove").removeClass("btn-outline-secondary disabled");
            }

            if (thumbnailCount >= maxThumbnailCount) {
                $(".btn-thumbnail-add").addClass("d-none");
            }
            else {
                $(".btn-thumbnail-add").removeClass("d-none");
            }
        }
    </script>
}