@model Ocuda.Ops.Controllers.Areas.Admin.ViewModels.Files.IndexViewModel

<form id="addForm" role="form">
    <input asp-for="@Model.FileLibrary.SectionId" value="@Model.SectionId" type="hidden" />
    <input id="addCurrentPage" asp-for="PaginateModel.CurrentPage" type="hidden" />
    <div modal id="addModal" name="File Library" type="Ocuda.Utility.TagHelpers.ModalTypes.Add">
        <input id="addName" asp-for="FileLibrary.Name" formgroup />
        <select id="addFileTypes" asp-for="FileTypeIds" multiple="multiple" formgroup>
            @foreach (var fileType in Model.FileTypes)
            {
                <option value="@fileType.Id">@fileType.Extension</option>
            }
        </select>
    </div>
</form>

<form id="editForm" role="form">
    <input id="editCurrentPage" asp-for="PaginateModel.CurrentPage" type="hidden" />
    <input id="editId" asp-for="FileLibrary.Id" type="hidden" />
    <div modal id="editModal" name="File Library" type="Ocuda.Utility.TagHelpers.ModalTypes.Edit">
        <input id="editName" asp-for="FileLibrary.Name" formgroup />
        <select id="editFileTypes" asp-for="FileTypeIds" multiple="multiple" formgroup>
            @foreach (var fileType in Model.FileTypes)
            {
                <option value="@fileType.Id">@fileType.Extension</option>
            }
        </select>
    </div>
</form>

<form id="deleteForm" asp-controller="Files" asp-action="@(nameof(FilesController.DeleteLibrary))" role="form">
    <input id="deleteCurrentPage" asp-for="PaginateModel.CurrentPage" type="hidden" />
    <input id="deleteId" asp-for="FileLibrary.Id" type="hidden" />
    <input id="deleteName" asp-for="FileLibrary.Name" type="hidden" />
    <div modal id="deleteModal" name="File Library" type="Ocuda.Utility.TagHelpers.ModalTypes.Delete"></div>
</form>

<div class="mb-2">
    <button class="btn btn-outline-secondary text-dark"
            data-toggle="modal"
            data-target="#addModal">
        Add New File Library
    </button>
</div>

@if (Model.Libraries.Count() == 0)
{
    <div class="alert alert-warning">No File Libraries Found</div>
}
else
{
    <table class="table table-sm table-bordered link-table">
        <thead>
            <tr>
                <th>Library</th>
                <th>&nbsp;</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var library in Model.Libraries)
                {
            <tr>
                <td class="rowlink-parent">
                    <a asp-action="@(nameof(FilesController.Library))" asp-route-id="@library.Id" class="rowlink">
                        @library.Name
                    </a>
                </td>
                <td align="center" class="on-top">
                    <button type="button"
                            class="btn btn-info btn-xs"
                            data-toggle="modal"
                            data-target="#editModal"
                            data-id="@library.Id"
                            data-library="@library.Name">
                        <span class="fa fa-pencil-alt" aria-hidden="true"></span>
                    </button>
                    <button type="button"
                            class="btn btn-danger btn-xs"
                            data-toggle="modal"
                            data-target="#deleteModal"
                            data-id="@library.Id"
                            data-library="@library.Name">
                        <span class="fa fa-times" aria-hidden="true"></span>
                    </button>
                </td>
            </tr>
                }
        </tbody>
    </table>

    if (Model.PaginateModel.MaxPage > 1)
    {
        <paginate paginateModel="@Model.PaginateModel"></paginate>
    }
}

@section scripts {
    <script>
        $(document).ready(function () {
            $('.rowlink-parent').each(function () {
                $(this).children('a.rowlink').height($(this).height() + 12);
            });
        });
        $(window).resize(function () {
            $('.rowlink-parent').each(function () {
                $(this).children('a.rowlink').height($(this).height() + 12);
            });
        });

        $('#addFileTypes, #editFileTypes').multiselect({
            maxHeight: 200,
            includeSelectAllOption: true,
            selectedClass: 'multiselect-selected'
        });

        $("#addForm").submit(function (e) {
            e.preventDefault();
            var form = $(this);
            $.post("@(Url.Action(nameof(FilesController.CreateLibrary), "Files"))",
                form.serialize(),
                function (response) {
                    if (response.success == true) {
                        location.reload();
                    }
                    else {
                        alert(response.message);
                        ResetSpinners();
                    }

                });
        });

        $("#editForm").submit(function (e) {
            e.preventDefault();
            var form = $(this);

            $.post("@(Url.Action(nameof(FilesController.EditLibrary), "Files"))",
                form.serialize(),
                function (response) {
                    if (response.success == true) {
                        location.reload();
                    }
                    else {
                        alert(response.message);
                        ResetSpinners();
                    }
                });
        });

        $("#editModal").on("show.bs.modal", function (e) {
            var button = $(e.relatedTarget);
            var id = button.data("id");
            var library = button.data("library");
            var thumbnail = button.data("thumbnail");
            var editFileTypes = $('#editFileTypes');
            var modal = $(this);
            $("#editId").val(id);
            modal.find("#editName").val(library);
            modal.find("#editThumbnail").val(thumbnail);
            editFileTypes.multiselect('deselectAll', false);
            editFileTypes.multiselect('updateButtonText');

            var inputs = editFileTypes.parent(".multiselect-native-select").find("input");
            $.each(inputs, function (index) {
                var input = $(inputs[index]);
                input.prop("disabled", false);
                input.parent("li").removeClass("disabled");
            });

            $.post("@(Url.Action(nameof(FilesController.GetLibraryFileTypes), "Files"))",
                { libraryId: id },
                function (response) {
                    if (response.success == true) {
                        editFileTypes.multiselect('select', response.fileTypeIds);
                        var typesInUse = response.fileTypeIdsInUse;
                        $.each(typesInUse, function (index) {
                            var input = editFileTypes.parent(".multiselect-native-select")
                                .find(".multiselect-selected")
                                .find("input[value=\"" + typesInUse[index] + "\"]");
                            input.prop("disabled", true);
                            input.parent("li").addClass("disabled");
                         });
                    }
                    else {
                        alert(response.message);
                    }
                });

        });

        $("#deleteModal").on("show.bs.modal", function (e) {
            var button = $(e.relatedTarget);
            var id = button.data("id");
            var library = button.data("library");
            var modal = $(this);
            $("#deleteName").val(library);
            $("#deleteId").val(id);
            modal.find(".modal-text").text(" Are you sure you want to delete \"" + library + "\"?");
        });
    </script>
}
