<div class="row mb-2">
    <div class="col-12">
        <ul class="nav nav-pills">
            <li class="nav-item">
                <a asp-action="@nameof(DigitalDisplaysController.Index)"
                   class="nav-link"
                   ActiveBy
                   routeKey="Action"
                   value="@nameof(DigitalDisplaysController.Index),@nameof(DigitalDisplaysController.DisplayAssets)">
                    @nameof(DigitalDisplaysController.Index)
                </a>
            </li>
            @if (Context.User?.HasClaim(ClaimType.SiteManager, ClaimType.SiteManager) == true)
            {
                <li class="nav-item">
                    <a asp-action="@nameof(DigitalDisplaysController.Sets)"
                       class="nav-link"
                       ActiveBy
                       routeKey="Action"
                       value="@nameof(DigitalDisplaysController.Sets)">
                        @nameof(DigitalDisplaysController.Sets)
                    </a>
                </li>
            }
            <li class="nav-item">
                <a asp-action="@nameof(DigitalDisplaysController.Assets)"
                   class="nav-link"
                   ActiveBy
                   routeKey="Action"
                   value="@nameof(DigitalDisplaysController.Assets)">
                    @nameof(DigitalDisplaysController.Assets)
                </a>
            </li>
        </ul>
    </div>
</div>

