@using Ocuda.Ops.Controllers.Areas.SiteManagement.ViewModels.ImageOptimizer
@model ImageOptimizerViewModel;

<div class="row mb-2">
    <div class="col-sm-7">
        <h1>Image Optimizer</h1>
    </div>
    <div class="col-sm-5">
        <a class="btn btn-outline-dark mt-2 mb-1 ms-2 float-end"
           asp-controller="@Ocuda.Ops.Controllers.Areas.SiteManagement.HomeController.Name"
           asp-action="@(nameof(Ocuda.Ops.Controllers.Areas.SiteManagement.HomeController.Index))">Back</a>
    </div>
</div>


<div class="row mb-2">
    <div id="uploadingMessagePlaceholder"></div>
    <div class="col-12">
        <p>Upload an image here to optimize it and have a smaller image downloaded.</p>
        <form id="optimizer-form" method="post"
              asp-action="@nameof(ImageOptimizerController.Index)"
              asp-controller="@ImageOptimizerController.Name"
              enctype="multipart/form-data">
            <div class="mb-3">
                <label asp-for="@Model.FormFile">Select an image:</label>
                <input class="form-control optimizer-input"
                       type="file"
                       asp-for="@Model.FormFile"
                       accept="image/png, image/jpeg" />
            </div>
            <div class="mb-3">
                <label asp-for="@Model.TargetFormat">Output image format:</label>
                <select class="form-select optimizer-input"
                        asp-for="@Model.TargetFormat"
                        asp-items="@ImageOptimizerViewModel.Formats"></select>
                <div id="formatHelpBlock" class="form-text">
                    Auto will test both JPEG and PNG and send the smaller file of the two.
                </div>
            </div>
            <button class="btn btn-success"
                    button-spinner
                    id="submit-button"
                    type="submit" disabled>
                Submit
            </button>
        </form>
    </div>
</div>

<script>
    const submitButton = document.querySelector('#submit-button');
    const imageInput = document.querySelector('#FormFile');

    const appendAlert = (message, type) => {
        const wrapper = document.createElement('div')
        let alertId = getAlertId()
        wrapper.className = 'col-8 offset-2'
        wrapper.innerHTML = [
            `<div class="alert alert-${type} alert-dismissible fade show" role="alert" id="${alertId}">`,
            `   <div>${message}</div>`,
            '   <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>',
            '</div>'
        ].join('')
        setTimeout(closeAlert.bind(null, alertId), 2000);
        document.getElementById('uploadingMessagePlaceholder').append(wrapper)
    }

    function getAlertId() {
        return Math.random().toString(16).slice(2);
    }

    function closeAlert(alertId) {
        let alert = bootstrap.Alert.getOrCreateInstance('#' + alertId);
        alert.close();
    }

    document.querySelectorAll('.optimizer-input').forEach(input => {
        input.addEventListener('change', () => {
            submitButton.disabled = !imageInput.value;
        })
    });

    document.querySelector('#optimizer-form').addEventListener('submit', () => {
        appendAlert(`Uploading <strong>${imageInput.files[0].name}</strong>, the optimized image will download to your computer.`, 'primary')
        setTimeout(ResetSpinners, 2000);
    });
</script>