@model Ocuda.Promenade.Controllers.ViewModels.CardRenewal.JuvenileViewModel

@if (Model?.SegmentText != null)
{
	if (!string.IsNullOrEmpty(Model.SegmentText.Header))
	{
		<h1 class="prom-title">@Model.SegmentText.Header</h1>
	}
	@Html.Raw(Model.SegmentText.Text)
}
else
{
	<h1 class="prom-title">@Localizer[Promenade.RenewYourLibraryCard]</h1>
	<p>@Localizer[Promenade.CardRenewalJuvenile]</p>
}

<div class="row">
	<div class="col-12">
		<form method="post"
			  role="form"
			  asp-controller="@CardRenewalController.Name"
			  asp-action="@nameof(CardRenewalController.Juvenile)"
			  asp-route-culture="">
			<input asp-for="GuardianName" type="text" formgroup />
			<input asp-for="GuardianBarcode" type="text" formgroup />
			<div>
				<button type="submit"
						class="btn btn-outline-dark m-2 btn-lg float-end">
					@Localizer[Promenade.ButtonNext]
					<span class="fa-solid fa-chevron-right"></span>
				</button>
			</div>
		</form>
	</div>
</div>
