@model Ocuda.Ops.Controllers.Areas.SiteManagement.ViewModels.Emedia.DetailsViewModel

@section styles {
    <link rel="stylesheet" href="~/css/md.min.css" asp-append-version="true" />
}

<div class="row mb-2">
    <div class="col-sm-6">
        <h1>
            Emedia
            <small class="text-muted">@Model.Emedia.Name</small>
        </h1>
    </div>
    <div class="col-sm-6">
        <a asp-action="@(nameof(EmediaController.GroupDetails))"
           asp-route-id="@Model.Emedia.GroupId"
           class="btn btn-outline-dark mt-2 mb-1 ms-2 float-end">Back</a>
    </div>
</div>

<div class="row pt-3">
    <div class="col-12">
        <input asp-for="Emedia.Group.Name"
               formgroup
               hide-required="true"
               label-name="Group"
               readonly />
        <input asp-for="Emedia.RedirectUrl"
               formgroup
               hide-required="true"
               readonly />
        <div class="row mb-3">
            <label class="col-form-label text-md-end col-md-3" for="CategorySelection">Categories</label>
            <div class="mb-3-inner col-md-9">
                <div class="input-group">
                    <button class="btn btn-outline-primary"
                            type="button"
                            data-bs-toggle="modal"
                            data-bs-target="#categoryModal">
                        <span class="fa-solid fa-pencil"></span>
                    </button>
                    <input asp-for="CategorySelection" value="@Model.CategorySelectionText" class="form-control" readonly />
                </div>
            </div>
        </div>
        <select asp-for="SelectedLanguage" asp-items="Model.LanguageList" formgroup></select>
    </div>
</div>

<div class="row pb-3">
    <div class="col-12 col-md-9 offset-md-3">
        <hr />
    </div>
</div>

<form asp-action="@nameof(EmediaController.Details)" method="post" role="form">
    <input asp-for="EmediaText.EmediaId" value="@Model.Emedia.Id" type="hidden" />
    <input asp-for="EmediaText.LanguageId" value="@Model.LanguageId" type="hidden" />
    <input asp-for="LanguageId" type="hidden" />

    <textarea asp-for="EmediaText.Description" formgroup></textarea>

    <div class="mb-3 row">
        <div class="col-md-3 text-md-end">
            <label asp-for="EmediaText.Details" class="col-form-label"></label>
        </div>
        <div class="mb-3-inner col-md-9">
            <textarea asp-for="EmediaText.Details" markdown-editor></textarea>
            <span asp-validation-for="EmediaText.Details"
                  class="validation-message text-danger"></span>
        </div>
    </div>

    <div class="row">
        <div class="offset-md-3 col-md-9">
            <button type="submit"
                    class="btn btn-outline-success btn-lg"
                    buttonspinner>
                <span class="fa-regular fa-floppy-disk"></span>
                Save
            </button>
        </div>
    </div>
</form>

<form id="categoryForm" role="form">
    <input asp-for="Emedia.Id" type="hidden" />

    <div modal
         id="categoryModal"
         name="Categories"
         type="ModalTypes.Edit">

        @foreach (var category in Model.CategoryList)
        {
            <div>
                <input id="@($"category{category.Id}")"
                       class="categorySelector"
                       data-id="@category.Id"
                       type="checkbox"
                       checked="@(Model.CategorySelection?.Contains(category.Id) == true ? "checked" : null)" />
                <label for="@($"category{category.Id}")">
                    @category.Name
                </label>
            </div>
        }
    </div>
</form>

@section scripts {
    <script src="~/js/md.min.js" asp-append-version="true"></script>

    <script>
        var editor = new Markdown.Editor($("#EmediaText_Details"), { allowUploads: true });
        editor.run();

        var emediaDetailsUrl
            = "@Url.Action(nameof(EmediaController.Details), new { id = Model.Emedia.Id})";

        $("#SelectedLanguage").on("change", function () {
            window.location.href = emediaDetailsUrl + "?language=" + $(this).val();
        });

        $("#categoryForm").submit(function (e) {
            e.preventDefault();

            var id = @Model.Emedia.Id;
            var categories = $(".categorySelector:checked")
                .map(function () { return $(this).data("id"); })
                .get();

            $.post("@Url.Action(nameof(EmediaController.ChangeCategories), EmediaController.Name)",
                { id, categories },
                function (response) {
                    if (response.success == true) {
                        location.reload();
                    }
                    else {
                        alert(response.message);
                        ResetSpinners($(this).find(".btn-spinner"));
                    }
                });
        });
    </script>
}