@model Ocuda.Ops.Controllers.Areas.SiteManagement.ViewModels.Emedia.EmediaViewModel

@section styles {
    <link rel="stylesheet" href="~/css/md.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/iconpicker.min.css" asp-append-version="true" />
}

<div class="row">
    <div class="col-12">
        <h1>Edit Emedia</h1>
    </div>
</div>

<form method="post"
      asp-action="@(nameof(EmediaController.EditEmedia))"
      role="form"
      id="emediaform"
      display="inline">
    <input asp-for="Emedia.Id"
           value="@Model.Emedia.Id"
           type="hidden" />
    <input asp-for="Emedia.Stub"
           value="@Model.Emedia.Stub"
           type="hidden" />
    <input asp-for="Emedia.Name"
           value="@Model.Emedia.Name"
           formgroup
           autocomplete="off" />
    <input asp-for="Emedia.RedirectUrl"
           value="@Model.Emedia.RedirectUrl"
           formgroup
           autocomplete="off" />
    <select id="categoryIds" 
            multiple="multiple" 
            asp-for="CategoryIds" 
            asp-items="Model.SelectionEmediaCategories" 
            class="hidden"
            size="7"
            formgroup>
    </select>
    <div class="form-group row">
        <div class="col-md-9 offset-md-3">
            <a class="btn btn-secondary"
               asp-action="@nameof(EmediaController.Index)">Return to Emedia</a>
            <button type="submit" class="btn btn-primary">Save</button>
        </div>
    </div>
</form>

@section scripts{
    <script src="~/js/iconpicker.min.js" asp-append-version="true"></script>
    <script src="~/js/md.min.js" asp-append-version="true"></script>
    <script>
        $("#emediaform").submit(function (event) {
            $("#Emedia_Stub").val($("#Emedia_Name").val().toLowerCase().replace(/[^a-zA-Z0-9]/g, '').replace(/ /g, "-"));
        });

        $(document).ready(function () {
            var editorDetails = new Markdown.Editor($("#Emedia_Details"), { allowUploads: false });
            editorDetails.run();
            var editorDescr = new Markdown.Editor($("#Emedia_Description"), { allowUploads: false });
            editorDescr.run();
            @foreach (var id in Model.CategoryIds)
                {
                    @:$('#category-@id').click();
                }
        });
    </script>
}