@model Ocuda.Ops.Controllers.Areas.SiteManagement.ViewModels.Home.IndexViewModel
@using Ocuda.Ops.Controllers.Areas.SiteManagement

<h1>Web Site management</h1>

@if (!Model.HasPermissions)
{
    <div class="row">
        <div class="col-12 col-md-6 offset-md-3">
            <div class="alert alert-warning">
                It appears that you do not have any Web Site management permissions.
                Please contact your system administrator for more information.
            </div>
        </div>
    </div>
}

<div class="justify-content-center d-flex flex-wrap">
    @if (Model.IsSiteManager)
    {
        <div class="col-12 col-md-4 my-2">
            <div class="card">
                <div class="card-header lead font-weight-bold">
                    @CarouselsController.Name
                </div>
                <div class="card-body">
                    <a asp-area="@CarouselsController.Area"
                       asp-controller="@CarouselsController.Name"
                       asp-action="@nameof(CarouselsController.Index)"
                       class="btn btn-outline-info mt-1">@CarouselsController.Name</a>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-4 my-2">
            <div class="card">
                <div class="card-header lead font-weight-bold">
                    @CategoriesController.Name
                </div>
                <div class="card-body">
                    <a asp-area="@CategoriesController.Area"
                       asp-controller="@CategoriesController.Name"
                       asp-action="@nameof(CategoriesController.Index)"
                       class="btn btn-outline-info mt-1">@CategoriesController.Name</a>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-4 my-2">
            <div class="card">
                <div class="card-header lead font-weight-bold">
                    @EmediaController.Name
                </div>
                <div class="card-body">
                    <a asp-area="@EmediaController.Area"
                       asp-controller="@EmediaController.Name"
                       asp-action="@nameof(EmediaController.Index)"
                       class="btn btn-outline-info mt-1">@EmediaController.Name</a>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-4 my-2">
            <div class="card">
                <div class="card-header lead font-weight-bold">
                    @LocationsController.Name
                </div>
                <div class="card-body">
                    <a asp-area="@LocationsController.Area"
                       asp-controller="@LocationsController.Name"
                       asp-action="@nameof(LocationsController.Index)"
                       class="btn btn-outline-info mt-1">@LocationsController.Name</a>
                    <a asp-area="@GroupsController.Area"
                       asp-controller="@GroupsController.Name"
                       asp-action="@nameof(GroupsController.Index)"
                       class="btn btn-outline-info mt-1 ">@GroupsController.Name</a>

                    <a asp-area="@FeaturesController.Area"
                       asp-controller="@FeaturesController.Name"
                       asp-action="@nameof(FeaturesController.Index)"
                       class="btn btn-outline-info mt-1">@FeaturesController.Name</a>
                </div>
            </div>
        </div>
    }
    @if (Model.IsSiteManager || Model.HasPagePermissions)
    {
        <div class="col-12 col-md-4 my-2">
            <div class="card">
                <div class="card-header lead font-weight-bold">
                    @PagesController.Name
                </div>
                <div class="card-body">
                    <a asp-area="@PagesController.Area"
                       asp-controller="@PagesController.Name"
                       asp-action="@nameof(PagesController.Index)"
                       class="btn btn-outline-info mt-1">View @PagesController.Name</a>
                </div>
            </div>
        </div>
    }
    @if (Model.IsSiteManager || Model.HasPodcastPermissions)
    {
        <div class="col-12 col-md-4 my-2">
            <div class="card">
                <div class="card-header lead font-weight-bold">
                    @PodcastsController.Name
                </div>
                <div class="card-body">
                    <a asp-area="@PodcastsController.Area"
                       asp-controller="@PodcastsController.Name"
                       asp-action="@nameof(PodcastsController.Index)"
                       class="btn btn-outline-info mt-1">View @PodcastsController.Name</a>
                </div>
            </div>
        </div>
    }
    @if (Model.IsSiteManager)
    {
        <div class="col-12 col-md-4 my-2">
            <div class="card">
                <div class="card-header lead font-weight-bold">
                    @ScheduleController.Name
                </div>
                <div class="card-body">
                    <a asp-area="@ScheduleController.Area"
                       asp-controller="@ScheduleController.Name"
                       asp-action="@nameof(ScheduleController.Limits)"
                       class="btn btn-outline-info mt-1">View @ScheduleController.Name</a>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-4 my-2">
            <div class="card">
                <div class="card-header lead font-weight-bold">
                    @SegmentsController.Name
                </div>
                <div class="card-body">
                    <a asp-area="@SegmentsController.Area"
                       asp-controller="@SegmentsController.Name"
                       asp-action="@nameof(SegmentsController.Index)"
                       class="btn btn-outline-info mt-1">View @SegmentsController.Name</a>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-4 my-2">
            <div class="card">
                <div class="card-header lead font-weight-bold">
                    Site Settings
                </div>
                <div class="card-body">
                    <a asp-area="@ExternalResourcesController.Area"
                       asp-controller="@ExternalResourcesController.Name"
                       asp-action="@nameof(ExternalResourcesController.Index)"
                       class="btn btn-outline-info mt-1">External Resources</a>
                    <a asp-area="@SiteSettingsController.Area"
                       asp-controller="@SiteSettingsController.Name"
                       asp-action="@nameof(SiteSettingsController.Index)"
                       class="btn btn-outline-info mt-1">Site Settings</a>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-4 my-2">
            <div class="card">
                <div class="card-header lead font-weight-bold">
                    Social Cards
                </div>
                <div class="card-body">
                    <a asp-area="@SocialCardsController.Area"
                       asp-controller="@SocialCardsController.Name"
                       asp-action="@nameof(SocialCardsController.Index)"
                       class="btn btn-outline-info mt-1">View Social Cards</a>
                </div>
            </div>
        </div>
    }
</div>