@model Ocuda.Ops.Controllers.Areas.Services.ViewModels.EmployeeCard.DetailsViewModel

<form asp-controller="@EmployeeCardController.Name"
	  asp-action="@nameof(EmployeeCardController.Details)"
	  method="post"
	  role="form">
	<input asp-for="CardRequest.Id" type="hidden" />

	<div class="d-flex flex-wrap justify-content-between mb-2">
		<h1 class="mb-0">
			Employee Card Request
			<small class="text-muted">#@Model.CardRequest.Id</small>
		</h1>
		<div>
			<button name="Action"
					value="@DetailsViewModel.SubmitType.CreateCard"
					type="submit"
					class="btn btn-outline-primary align-top mt-2">
				<div>
					<span class="fa fa-credit-card fa-fw"></span>
					Create Polaris Account
				</div>
				<div>and Send Email</div>
			</button>
			<button name="Action"
					value="@DetailsViewModel.SubmitType.ProcessWithEmail"
					type="submit"
					class="btn btn-outline-secondary align-top mt-2">
				<div>
					<span class="fa fa-circle-check fa-fw"></span>
					Mark Processed
				</div>
				<div>and Send Email</div>
			</button>
			<button name="Action"
					value="@DetailsViewModel.SubmitType.ProcessNoEmail"
					type="submit"
					class="btn btn-outline-warning align-top mt-2">
				<div>
					<span class="fa fa-circle-xmark fa-fw"></span>
					Mark Processed
				</div>
				<div>and DO NOT Send Email</div>
			</button>
			<button name="Action"
					value="@DetailsViewModel.SubmitType.SaveNotes"
					type="submit"
					class="btn btn-outline-info align-top mt-2">
				<span class="fa fa-comment fa-fw"></span>
				Save Notes
			</button>
			<a class="btn btn-outline-dark align-top mt-2"
			   asp-controller="@EmployeeCardController.Name"
			   asp-action="@(nameof(EmployeeCardController.Index))"
			   asp-route-processed="@Model.CardRequest.ProcessedAt.HasValue">Back</a>
		</div>
	</div>

	<div class="row">
		<h4 class="col-md-3 text-md-end">Account Details</h4>
	</div>
	<div class="row mt-2">
		<div class="col-md-3 text-md-end"><strong>Renewing?</strong></div>
		<div class="col-md-9">@(Model.CardRequest.ExistingAccount ? "Yes" : "No")</div>
	</div>
	<div class="row mt-2">
		@if (Model.CardRequest.ProcessedAt.HasValue)
		{
			<div class="col-md-3 text-md-end"><strong>Library Card #</strong></div>
			<div class="col-md-9">@Model.CardRequest.CardNumber</div>
		}
		else
		{
			<input asp-for="CardRequest.CardNumber" formgroup label-class="col-md-3 fw-bold" />
		}
	</div>
	<div class="row mt-3">
		<div class="col-md-3 text-md-end"><strong>Last Name</strong></div>
		<div class="col-md-9">@Model.CardRequest.LastName</div>
	</div>
	<div class="row mt-2">
		<div class="col-md-3 text-md-end"><strong>First Name</strong></div>
		<div class="col-md-9">@Model.CardRequest.FirstName</div>
	</div>
	<div class="row mt-4">
		<div class="col-md-3 text-md-end"><strong>Address</strong></div>
		<div class="col-md-9">@Model.CardRequest.StreetAddress</div>
	</div>
	<div class="row mt-2">
		<div class="col-md-9 offset-md-3">@Model.CardRequest.City</div>
	</div>
	<div class="row mt-2">
		<div class="col-md-9 offset-md-3">@Model.CardRequest.ZipCode</div>
	</div>
	<div class="row mt-4">
		<div class="col-md-3 text-md-end"><strong>Email</strong></div>
		<div class="col-md-9">@Model.CardRequest.Email</div>
	</div>
	<div class="row mt-2">
		<div class="col-md-3 text-md-end"><strong>Phone Number</strong></div>
		<div class="col-md-9">@Model.CardRequest.Phone</div>
	</div>
	<div class="row mt-2">
		<div class="col-md-3 text-md-end"><strong>Birth Date</strong></div>
		<div class="col-md-9">@Model.CardRequest.BirthDate</div>
	</div>
	<div class="row mt-4">
		<div class="col-md-3 text-md-end"><strong>Department</strong></div>
		<div class="col-md-9">@Model.CardRequest.Department</div>
	</div>
	<div class="row mt-2">
		<div class="col-md-3 text-md-end"><strong>Employee #</strong></div>
		<div class="col-md-9">@Model.CardRequest.EmployeeNumber</div>
	</div>

	<div class="row mt-4">
		<h4 class="col-md-3 text-md-end">Request notes</h4>
	</div>
	<div class="row mt-2">
		<div class="col-md-3 text-md-end">
			<label asp-for="CardRequest.Notes" class="form-label fw-bold mb-0"></label>
			<div><em>(Not saved in Polaris)</em></div>
		</div>
		<div class="col-md-9">
			<textarea asp-for="CardRequest.Notes" class="form-control" rows="3"></textarea>
			<span asp-validation-for="CardRequest.Notes" class="text-danger"></span>
		</div>
	</div>
</form>