@model Ocuda.Ops.Controllers.Areas.ContentManagement.ViewModels.ApplicationPermissions.DetailViewModel

<div class="row mb-2">
    <div class="col-sm-7">
        <h1>Application Permissions</h1>
    </div>
    <div class="col-sm-5">
        <a class="btn btn-outline-dark mt-2 mb-1 ml-2 float-end"
           asp-action="@(nameof(ApplicationPermissionsController.Index))">Back</a>
    </div>
</div>

<div class="row pt-1">
    <div class="col-12">
        <input asp-for="ApplicationPermission.Name" formgroup readonly />
        <input asp-for="ApplicationPermission.Info" formgroup readonly />
    </div>
</div>

<div class="row pt-1">
    <div class="col-12 col-sm-6">
        <div class="card">
            <div class="card-header">
                Available Groups
            </div>
            <ul class="list-group list-group-flush">
                @if (Model.AvailableGroups?.Count > 0)
                {
                    foreach (var availableGroup in Model.AvailableGroups)
                    {
                        <li class="list-group-item">
                            <form asp-area="@ApplicationPermissionsController.Area"
                                  asp-controller="@ApplicationPermissionsController.Name"
                                  asp-action="@(nameof(ApplicationPermissionsController.AddPermissionGroup))">
                                <input asp-for="ApplicationPermission.Id" type="hidden" />
                                <input asp-for="PermissionGroupId" value="@availableGroup.Id" type="hidden" />
                                @availableGroup.PermissionGroupName
                                <button class="btn btn-outline-success float-end">
                                    <span class="fas fa-fw fa-plus-circle"></span>
                                </button>
                            </form>
                        </li>
                    }
                }
                else
                {
                    <li class="list-group-item">No groups available.</li>
                }
            </ul>
        </div>
    </div>
    <div class="col-12 col-sm-6">
        <div class="card">
            <div class="card-header">
                Assigned Groups
            </div>
            <ul class="list-group list-group-flush">
                @if (Model.AssignedGroups?.Count > 0)
                {
                    foreach (var assignedGroup in Model.AssignedGroups)
                    {
                        <li class="list-group-item">
                            <form asp-controller="@ApplicationPermissionsController.Name"
                                  asp-action="@(nameof(ApplicationPermissionsController.RemovePermissionGroup))">
                                <input asp-for="ApplicationPermission.Id" type="hidden" />
                                <input asp-for="PermissionGroupId" value="@assignedGroup.Id" type="hidden" />
                                @assignedGroup.PermissionGroupName
                                <button class="btn btn-outline-danger float-end">
                                    <span class="fas fa-fw fa-minus-circle"></span>
                                </button>
                            </form>
                        </li>
                    }
                }
                else
                {
                    <li class="list-group-item">No groups assigned.</li>
                }
            </ul>
        </div>
    </div>
</div>