@model Ocuda.Ops.Controllers.Areas.ContentManagement.ViewModels.ApplicationPermissions.IndexViewModel

<div class="row mb-2">
    <div class="col-sm-7">
        <h1>Application Permissions</h1>
    </div>
    <div class="col-sm-5">
        <a class="btn btn-outline-dark mt-2 mb-1 ms-2 float-end"
           asp-controller="@Ocuda.Ops.Controllers.Areas.ContentManagement.HomeController.Name"
           asp-action="@(nameof(Ocuda.Ops.Controllers.Areas.ContentManagement.HomeController.Index))">Back</a>
    </div>
</div>

<table class="table table-sm table-bordered table-striped">
    <thead>
        <tr>
            <th>Permission Name </th>
            <th>Assigned Groups</th>
            <th>&nbsp;</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var permission in Model.ApplicationPermissions)
        {
            <tr>
                <td class="align-middle">
                    @permission.Data.Name
                    <span class="far fa-question-circle"
                          title="@permission.Data.Info"
                          data-bs-toggle="tooltip"
                          data-placement="top">
                    </span>
                </td>
                <td class="align-middle">@permission.Count</td>
                <td align="center">
                    <a asp-action="@(nameof(ApplicationPermissionsController.Detail))"
                       asp-route-id="@permission.Data.Id"
                       title="Add permission groups"
                       class="btn btn-outline-primary">
                        <span class="fas fa-fw fa-user-plus" aria-hidden="true"></span>
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>

@section Scripts
{
    <script>
        $(function () {
            $('[data-bs-toggle="tooltip"]').tooltip()
        })
    </script>
}