@model Ocuda.Ops.Controllers.ViewModels.Posts.IndexViewModel


@if (Model.Posts.Count() == 0)
{
    <div class="alert alert-warning">No Blog Posts Found</div>
}
else
{
    <div class="oc-blog">
        @foreach (var post in Model.Posts)
        {
            <div class="card">
                @if (post.IsPinned)
                {
                    <a class="card-link flex-grow-1"
                       asp-controller="Posts"
                       asp-action="@nameof(PostsController.Display)"
                       asp-route-id="@post.Stub">
                        <div class="card-header oc-pinned d-flex">
                            <h1 class="card-title">@post.Title</h1>
                            <span class="card-title fa fa-thumbtack ml-auto align-self-center"></span>
                        </div>
                    </a>
                }
                else
                {
                    <a class="card-link flex-grow-1"
                       asp-controller="Posts"
                       asp-action="@nameof(PostsController.Display)"
                       asp-route-id="@post.Stub">
                        <div class="card-header d-flex">
                            <h1 class="card-title">@post.Title</h1>
                        </div>
                    </a>
                }
                <div class="card-body">
                    @Html.Raw(post.Content)
                </div>
                <div class="card-footer d-flex">
                    <div class="flex-grow-1 mr-2">
                        Posted by
                        <a asp-controller="Profile"
                           asp-action="@nameof(ProfileController.Index)"
                           asp-route-id="@post.CreatedByUsername">
                            @post.CreatedByName
                        </a>
                    </div>
                    @post.CreatedAt.ToString("MM/dd/yyyy hh:mm tt")
                </div>
            </div>
        }

        @if (Model.PaginateModel.MaxPage > 1)
        {
            <paginate paginateModel="@Model.PaginateModel"></paginate>
        }
    </div>
}
